## **Problem Statement: Predicting Malaysia's Unemployment Trends**
## **Group 35**

###1. Jonathan Siew Zunxian (23004944/1)
###2. Goh Shu Hui (23004975/1)
###3. Adam bin Razali (22002146/2)
###4. Lam Xiao Jun (23004915/1)
###5. Cynthia Ong Ka (23004897/1)
###6. Syivhanii A/P Selvarajan (23004904/1)

Datasets Link: https://drive.google.com/drive/folders/1CsSmV0nswg1Q4viAECAu8_HfkQZ9enzP?usp=sharing

In [ ]:
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('pdf', 'svg')

<ipython-input-3-d867fd071f7d>:2: DeprecationWarning: `set_matplotlib_formats` is deprecated since IPython 7.23, directly use `matplotlib_inline.backend_inline.set_matplotlib_formats()`
  set_matplotlib_formats('pdf', 'svg')

In [ ]:
# Line Wrapping in Collaboratory Google results

from IPython.display import HTML, display

def set_css():
  display(HTML('''
  <style>
    pre {
        white-space: pre-wrap;
    }
  </style>
  '''))
get_ipython().events.register('pre_run_cell', set_css)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
!pip install scikeras

Collecting scikeras
  Downloading scikeras-0.13.0-py3-none-any.whl (26 kB)
Collecting keras>=3.2.0 (from scikeras)
  Downloading keras-3.3.3-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 6.2 MB/s eta 0:00:00
Collecting scikit-learn>=1.4.2 (from scikeras)
  Downloading scikit_learn-1.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.3/13.3 MB 63.5 MB/s eta 0:00:00
Requirement already satisfied: absl-py in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (1.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (1.25.2)
Requirement already satisfied: rich in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (13.7.1)
Collecting namex (from keras>=3.2.0->scikeras)
  Downloading namex-0.0.8-py3-none-any.whl (5.8 kB)
Requirement already satisfied: h5py in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (3.9.0)
Collecting optree (from keras>=3.2.0->scikeras)
  Downloading optree-0.11.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (311 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 311.2/311.2 kB 35.1 MB/s eta 0:00:00
Requirement already satisfied: ml-dtypes in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (0.2.0)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.4.2->scikeras) (1.11.4)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.4.2->scikeras) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.4.2->scikeras) (3.5.0)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from optree->keras>=3.2.0->scikeras) (4.11.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras>=3.2.0->scikeras) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras>=3.2.0->scikeras) (2.16.1)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.2.0->scikeras) (0.1.2)
Installing collected packages: namex, optree, scikit-learn, keras, scikeras
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.2.2
    Uninstalling scikit-learn-1.2.2:
      Successfully uninstalled scikit-learn-1.2.2
  Attempting uninstall: keras
    Found existing installation: keras 2.15.0
    Uninstalling keras-2.15.0:
      Successfully uninstalled keras-2.15.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.15.0 requires keras<2.16,>=2.15.0, but you have keras 3.3.3 which is incompatible.
Successfully installed keras-3.3.3 namex-0.0.8 optree-0.11.0 scikeras-0.13.0 scikit-learn-1.5.0

## Step 1: Organizing the Datasets (Jonathan+Shu Hui+Adam)

Datasets Source

1. Malaysian Bureau of Labour Statistics (MBLS)
2. Ministry of Economy Malaysia
3. Department of Statistics Malaysia (DOSM)
4. Malaysia Informative Data Center (MysIDC)

### (D1) Exploring 1982 to 2022 Labour Force Survey_year_Overall Unemployment Rate.csv (Jonathan+Shu Hui+Adam)

In [ ]:
labour_force_survey_unemployment_stats=pd.read_csv("/content/1982 to 2022 Labour Force Survey_year_Overall Unemployment Rate.csv")
print (labour_force_survey_unemployment_stats.head())

         date      lf  lf_employed  lf_unemployed  lf_outside  p_rate  \
0  1982-01-01  5431.4       5249.0          182.4      2944.6    64.8
1  1983-01-01  5671.8       5457.0          214.9      2969.4    65.6
2  1984-01-01  5862.5       5566.7          295.8      3119.6    65.3
3  1985-01-01  5990.1       5653.4          336.8      3124.9    65.7
4  1986-01-01  6222.1       5760.1          461.9      3188.3    66.1

   ep_ratio  u_rate
0      62.7     3.4
1      63.2     3.8
2      62.0     5.0
3      62.0     5.6
4      61.2     7.4

In [ ]:
labour_force_survey_unemployment_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           39 non-null     object
 1   lf             39 non-null     float64
 2   lf_employed    39 non-null     float64
 3   lf_unemployed  39 non-null     float64
 4   lf_outside     39 non-null     float64
 5   p_rate         39 non-null     float64
 6   ep_ratio       39 non-null     float64
 7   u_rate         39 non-null     float64
dtypes: float64(7), object(1)
memory usage: 2.6+ KB

| Name in Dataset | Variable          | Definition                                                                                             |
|-----------------|-------------------|--------------------------------------------------------------------------------------------------------|
| date (Date)     | Date              | The date in YYYY-MM-DD format, with MM-DD set to 01-01 since the data is at annual frequency           |
| lf (Float)      | Labour Force Size | The number (in thousands) of employed and unemployed individuals. This figure also represents the number of people participating in the labour force. |
| lf_employed (Float) | Employed Persons | The number (in thousands) of people who worked at least one hour for pay, profit or family gain, in thousands of people |
| lf_unemployed (Float) | Unemployed Persons | The number (in thousands) of people who did not work but were looking for work or available to work |
| lf_outside (Float) | Persons outside Labour Force | The number (in thousands) of people not classified as employed or unemployed, including housewives, students, early retired, disabled persons and those not interested in looking for a job |
| u_rate (Float) | Unemployment Rate | Ratio of unemployed to labour force size |
| p_rate (Float) | Participation Rate | Ratio of the labour force size to the working-age (15-64) population |
| ep_ratio (Float) | Employment-Population Ratio | Ratio of the number of employed people to the working-age (15-64) population |

In [ ]:
# Rename the 'date' column to 'year'
labour_force_survey_unemployment_stats.rename(columns={'date': 'Year'}, inplace=True)

# Convert 'year' column to datetime and extract the year
labour_force_survey_unemployment_stats['Year'] = pd.to_datetime(labour_force_survey_unemployment_stats['Year']).dt.year

In [ ]:
labour_force_survey_unemployment_stats.head()

,Year,lf,lf_employed,lf_unemployed,lf_outside,p_rate,ep_ratio,u_rate
0,1982,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4
1,1983,5671.8,5457.0,214.9,2969.4,65.6,63.2,3.8
2,1984,5862.5,5566.7,295.8,3119.6,65.3,62.0,5.0
3,1985,5990.1,5653.4,336.8,3124.9,65.7,62.0,5.6
4,1986,6222.1,5760.1,461.9,3188.3,66.1,61.2,7.4

Adding the word `national` to the relevant features to get better understanding of the data

In [ ]:
labour_force_survey_unemployment_stats.rename(columns={"lf": "national_lf ('000) (D1)"}, inplace=True)
labour_force_survey_unemployment_stats.rename(columns={"lf_employed": "national_lf_employed ('000) (D1)"}, inplace=True)
labour_force_survey_unemployment_stats.rename(columns={"lf_unemployed": "national_lf_unemployed ('000) (D1)"}, inplace=True)
labour_force_survey_unemployment_stats.rename(columns={"lf_outside": "national_lf_outside ('000) (D1)"}, inplace=True)
labour_force_survey_unemployment_stats.rename(columns={"p_rate": "national_p_rate (%) (D1)"}, inplace=True)
labour_force_survey_unemployment_stats.rename(columns={"ep_ratio": "national_ep_ratio (%) (D1)"}, inplace=True)
labour_force_survey_unemployment_stats.rename(columns={"u_rate": "national_u_rate (%) (D1)"}, inplace=True)

In [ ]:
labour_force_survey_unemployment_stats.head()

,Year,national_lf ('000) (D1),national_lf_employed ('000) (D1),national_lf_unemployed ('000) (D1),national_lf_outside ('000) (D1),national_p_rate (%) (D1),national_ep_ratio (%) (D1),national_u_rate (%) (D1)
0,1982,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4
1,1983,5671.8,5457.0,214.9,2969.4,65.6,63.2,3.8
2,1984,5862.5,5566.7,295.8,3119.6,65.3,62.0,5.0
3,1985,5990.1,5653.4,336.8,3124.9,65.7,62.0,5.6
4,1986,6222.1,5760.1,461.9,3188.3,66.1,61.2,7.4

In [ ]:
labour_force_survey_unemployment_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 8 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Year                                39 non-null     int32
 1   national_lf ('000) (D1)             39 non-null     float64
 2   national_lf_employed ('000) (D1)    39 non-null     float64
 3   national_lf_unemployed ('000) (D1)  39 non-null     float64
 4   national_lf_outside ('000) (D1)     39 non-null     float64
 5   national_p_rate (%) (D1)            39 non-null     float64
 6   national_ep_ratio (%) (D1)          39 non-null     float64
 7   national_u_rate (%) (D1)            39 non-null     float64
dtypes: float64(7), int32(1)
memory usage: 2.4 KB

### (D2) Exploring  1.1.1.1 Gross Domestic Product and Gross National Income at Current Prices 1947 – 2023 Malaysia_dataset.csv (Jonathan)

In [ ]:
gdp_current_stats=pd.read_excel("/content/1.1.1.1 Gross Domestic Product and Gross National Income at Current Prices 1947 – 2023 Malaysia_dataset.xlsx", sheet_name='dataset')
print (gdp_current_stats.head())

       Price type  Year GDP (RM Million) GNI  (RM Million)  \
0  Current Prices  1947             3531              3511
1  Current Prices  1948             3619              3580
2  Current Prices  1949             3550              3400
3  Current Prices  1950             5345              4765
4  Current Prices  1951             7520              6840

  GDP per capita (RM) GNI per capita (RM) Status Data
0                 719                 715           f
1                 726                 718           f
2                 699                 669           f
3                1023                 912           f
4                1409                1282           f

In [ ]:
gdp_current_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price type           77 non-null     object
 1   Year                 77 non-null     int64
 2   GDP (RM Million)     77 non-null     object
 3   GNI  (RM Million)    77 non-null     object
 4   GDP per capita (RM)  77 non-null     object
 5   GNI per capita (RM)  77 non-null     object
 6   Status Data          77 non-null     object
dtypes: int64(1), object(6)
memory usage: 4.3+ KB

In [ ]:
gdp_current_stats.rename(columns={'GDP (RM Million)': 'National GDP (RM Million) (D2)'}, inplace=True)
gdp_current_stats.rename(columns={'Price type': 'Price type (D2)'}, inplace=True)

I am retaining Price type, Year and National GDP (RM Million) for our model as the other features are not relevant for our predictive model

In [ ]:
gdp_current_stats_new = gdp_current_stats.drop(columns=['GNI  (RM Million)', 'GDP per capita (RM)', 'GNI per capita (RM)', 'Status Data'])

# To see the changes, print the first few rows of the DataFrame
print(gdp_current_stats_new.head(100))

   Price type (D2)  Year National GDP (RM Million) (D2)
0   Current Prices  1947                           3531
1   Current Prices  1948                           3619
2   Current Prices  1949                           3550
3   Current Prices  1950                           5345
4   Current Prices  1951                           7520
..             ...   ...                            ...
72  Current Prices  2019                        1512738
73  Current Prices  2020                        1418491
74  Current Prices  2021                        1548898
75  Current Prices  2022                        1791358
76  Current Prices  2023                        1822647

[77 rows x 3 columns]

In [ ]:
gdp_current_stats_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Price type (D2)                 77 non-null     object
 1   Year                            77 non-null     int64
 2   National GDP (RM Million) (D2)  77 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.9+ KB

In [ ]:
# Check which rows contain '..'
invalid_rows = gdp_current_stats_new['National GDP (RM Million) (D2)'] == '..'
print("Invalid rows:", gdp_current_stats_new[invalid_rows])

# Remove these rows
gdp_current_stats_new = gdp_current_stats_new[~invalid_rows]

Invalid rows:   Price type (D2)  Year National GDP (RM Million) (D2)
7  Current Prices  1954                             ..

In [ ]:
# Display the DataFrame to verify removal
print(gdp_current_stats_new)

   Price type (D2)  Year National GDP (RM Million) (D2)
0   Current Prices  1947                           3531
1   Current Prices  1948                           3619
2   Current Prices  1949                           3550
3   Current Prices  1950                           5345
4   Current Prices  1951                           7520
..             ...   ...                            ...
72  Current Prices  2019                        1512738
73  Current Prices  2020                        1418491
74  Current Prices  2021                        1548898
75  Current Prices  2022                        1791358
76  Current Prices  2023                        1822647

[76 rows x 3 columns]

In [ ]:
# Ensure that the 'Year' columns are of the same data type
gdp_current_stats_new['National GDP (RM Million) (D2)'] = gdp_current_stats_new['National GDP (RM Million) (D2)'].astype(int)

In [ ]:
# Calculate the GDP growth rate
gdp_current_stats_new['national_gdp_growth (%) (D2)'] = gdp_current_stats_new['National GDP (RM Million) (D2)'].pct_change() * 100

In [ ]:
gdp_current_stats_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76 entries, 0 to 76
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Price type (D2)                 76 non-null     object
 1   Year                            76 non-null     int64
 2   National GDP (RM Million) (D2)  76 non-null     int64
 3   national_gdp_growth (%) (D2)    75 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 3.0+ KB

In [ ]:
gdp_current_stats_new.head(76)

,Price type (D2),Year,National GDP (RM Million) (D2),national_gdp_growth (%) (D2)
0,Current Prices,1947,3531,NaN
1,Current Prices,1948,3619,2.492212
2,Current Prices,1949,3550,-1.906604
3,Current Prices,1950,5345,50.563380
4,Current Prices,1951,7520,40.692236
...,...,...,...,...
72,Current Prices,2019,1512738,4.488175
73,Current Prices,2020,1418491,-6.230226
74,Current Prices,2021,1548898,9.193361
75,Current Prices,2022,1791358,15.653710
76,Current Prices,2023,1822647,1.746664

In [ ]:
# Ensure that the 'Year' columns are of the same data type
gdp_current_stats_new['Year'] = gdp_current_stats_new['Year'].astype(int)
labour_force_survey_unemployment_stats['Year'] = labour_force_survey_unemployment_stats['Year'].astype(int)

In [ ]:
# Merge the datasets on 'Year'
merged_df_labour_force_gdp_current_stats= pd.merge(gdp_current_stats_new, labour_force_survey_unemployment_stats, on='Year', how='inner')

# Check the merged DataFrame
print(merged_df_labour_force_gdp_current_stats)

   Price type (D2)  Year  National GDP (RM Million) (D2)  \
0   Current Prices  1982                           62599
1   Current Prices  1983                           70444
2   Current Prices  1984                           79550
3   Current Prices  1985                           77470
4   Current Prices  1986                           71594
5   Current Prices  1987                           81085
6   Current Prices  1988                           92370
7   Current Prices  1989                          105233
8   Current Prices  1990                          119081
9   Current Prices  1992                          150682
10  Current Prices  1993                          172194
11  Current Prices  1995                          222473
12  Current Prices  1996                          253732
13  Current Prices  1997                          281795
14  Current Prices  1998                          283243
15  Current Prices  1999                          300764
16  Current Prices  2000                          356401
17  Current Prices  2001                          352579
18  Current Prices  2002                          383213
19  Current Prices  2003                          418769
20  Current Prices  2004                          474048
21  Current Prices  2005                          543578
22  Current Prices  2006                          596784
23  Current Prices  2007                          665340
24  Current Prices  2008                          769949
25  Current Prices  2009                          712857
26  Current Prices  2010                          821434
27  Current Prices  2011                          911733
28  Current Prices  2012                          971252
29  Current Prices  2013                         1018614
30  Current Prices  2014                         1106443
31  Current Prices  2015                         1176941
32  Current Prices  2016                         1249698
33  Current Prices  2017                         1372309
34  Current Prices  2018                         1447760
35  Current Prices  2019                         1512738
36  Current Prices  2020                         1418491
37  Current Prices  2021                         1548898
38  Current Prices  2022                         1791358

    national_gdp_growth (%) (D2)  national_lf ('000) (D1)  \
0                       8.654297                   5431.4
1                      12.532149                   5671.8
2                      12.926580                   5862.5
3                      -2.614708                   5990.1
4                      -7.584872                   6222.1
5                      13.256697                   6456.8
6                      13.917494                   6637.0
7                      13.925517                   6779.4
8                      13.159370                   7000.2
9                      11.513869                   7319.0
10                     14.276423                   7700.1
11                     13.819637                   7893.1
12                     14.050694                   8616.0
13                     11.060095                   8784.0
14                      0.513849                   8883.6
15                      6.185855                   9151.5
16                     18.498557                   9556.1
17                     -1.072388                   9699.4
18                      8.688549                   9886.2
19                      9.278391                  10239.6
20                     13.200356                  10346.2
21                     14.667291                  10413.4
22                      9.788108                  10628.9
23                     11.487573                  10889.5
24                     15.722638                  11028.1
25                     -7.415037                  11315.3
26                     15.231246                  12303.9
27                     10.992849                  12740.7
28                      6.528117                  13221.7
29                      4.876386                  13980.5
30                      8.622403                  14263.6
31                      6.371589                  14518.0
32                      6.181873                  14667.8
33                      9.811250                  14980.1
34                      5.498106                  15280.3
35                      4.488175                  15581.6
36                     -6.230226                  15667.7
37                      9.193361                  15797.2
38                     15.653710                  16022.1

    national_lf_employed ('000) (D1)  national_lf_unemployed ('000) (D1)  \
0                             5249.0                               182.4
1                             5457.0                               214.9
2                             5566.7                               295.8
3                             5653.4                               336.8
4                             5760.1                               461.9
5                             5983.9                               472.9
6                             6157.2                               479.8
7                             6390.9                               388.5
8                             6685.0                               315.2
9                             7047.8                               271.2
10                            7383.4                               316.8
11                            7645.0                               248.1
12                            8399.3                               216.8
13                            8569.2                               214.9
14                            8599.6                               284.0
15                            8837.8                               313.7
16                            9269.2                               286.9
17                            9357.0                               342.4
18                            9542.6                               343.5
19                            9869.7                               369.8
20                            9979.5                               366.6
21                           10045.4                               368.1
22                           10275.4                               353.6
23                           10538.1                               351.4
24                           10659.6                               368.5
25                           10897.3                               418.0
26                           11899.5                               404.4
27                           12351.5                               389.2
28                           12820.5                               401.2
29                           13545.4                               435.1
30                           13852.6                               411.1
31                           14067.7                               450.3
32                           14163.7                               504.1
33                           14476.8                               503.3
34                           14776.0                               504.3
35                           15073.4                               508.2
36                           14956.7                               711.0
37                           15064.2                               733.0
38                           15391.7                               630.4

    national_lf_outside ('000) (D1)  national_p_rate (%) (D1)  \
0                            2944.6                      64.8
1                            2969.4                      65.6
2                            3119.6                      65.3
3                            3124.9                      65.7
4                            3188.3                      66.1
5                            3246.1                      66.5
6                            3301.5                      66.8
7                            3463.5                      66.2
8                            3519.7                      66.5
9                            3783.6                      65.9
10                           3874.9                      66.5
11                           4297.7                      64.7
12                           4379.0                      66.3
13                           4605.1                      65.6
14                           4934.0                      64.3
15                           5098.4                      64.2
16                           5065.1                      65.4
17                           5239.9                      64.9
18                           5473.8                      64.4
19                           5458.6                      65.2
20                           5730.5                      64.4
21                           6048.2                      63.3
22                           6205.1                      63.1
23                           6330.1                      63.2
24                           6575.7                      62.6
25                           6665.7                      62.9
26                           7023.0                      63.7
27                           7023.3                      64.5
28                           6927.4                      65.6
29                           6781.2                      67.3
30                           6821.0                      67.6
31                           6869.9                      67.9
32                           6987.6                      67.7
33                           7065.0                      68.0
34                           7094.4                      68.3
35                           7103.5                      68.7
36                           7225.5                      68.4
37                           7221.4                      68.6
38                           7110.2                      69.3

    national_ep_ratio (%) (D1)  national_u_rate (%) (D1)
0                         62.7                       3.4
1                         63.2                       3.8
2                         62.0                       5.0
3                         62.0                       5.6
4                         61.2                       7.4
5                         61.7                       7.3
6                         62.0                       7.2
7                         62.4                       5.7
8                         63.6                       4.5
9                         63.5                       3.7
10                        63.8                       4.1
11                        62.7                       3.1
12                        64.6                       2.5
13                        64.0                       2.4
14                        62.2                       3.2
15                        62.0                       3.4
16                        63.4                       3.0
17                        62.6                       3.5
18                        62.1                       3.5
19                        62.9                       3.6
20                        62.1                       3.5
21                        61.0                       3.5
22                        61.0                       3.3
23                        61.2                       3.2
24                        60.6                       3.3
25                        60.6                       3.7
26                        61.6                       3.3
27                        62.5                       3.1
28                        63.6                       3.0
29                        65.2                       3.1
30                        65.7                       2.9
31                        65.8                       3.1
32                        65.4                       3.4
33                        65.7                       3.4
34                        66.0                       3.3
35                        66.4                       3.3
36                        65.3                       4.5
37                        65.4                       4.6
38                        66.5                       3.9

In [ ]:
merged_df_labour_force_gdp_current_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 11 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Price type (D2)                     39 non-null     object
 1   Year                                39 non-null     int64
 2   National GDP (RM Million) (D2)      39 non-null     int64
 3   national_gdp_growth (%) (D2)        39 non-null     float64
 4   national_lf ('000) (D1)             39 non-null     float64
 5   national_lf_employed ('000) (D1)    39 non-null     float64
 6   national_lf_unemployed ('000) (D1)  39 non-null     float64
 7   national_lf_outside ('000) (D1)     39 non-null     float64
 8   national_p_rate (%) (D1)            39 non-null     float64
 9   national_ep_ratio (%) (D1)          39 non-null     float64
 10  national_u_rate (%) (D1)            39 non-null     float64
dtypes: float64(8), int64(2), object(1)
memory usage: 3.5+ KB

### (D3) Exploring 1982 to 2021 3. Labour Force Statistics, Malaysia, Annual - Highest certificate and state.csv (Jonathan)

In [ ]:
labour_force_highestCert_state_stats=pd.read_csv("/content/1982 to 2021 3. Labour Force Statistics, Malaysia, Annual - Highest certificate and state.csv")
print (labour_force_highestCert_state_stats.head(1000))

     Year       Highest certificate obtained     State Labour Force ('000)  \
0    1982                              Total  Malaysia            5,431.40
1    1982           UPSR/UPSRA or equivalent  Malaysia                   -
2    1982  PT3/PMR/SRP/LCE/SRA or equivalent  Malaysia               502.4
3    1982                  SPM or equivalent  Malaysia                 671
4    1982                 STPM or equivalent  Malaysia                52.9
..    ...                                ...       ...                 ...
995  1987                        Certificate     Sabah                   -
996  1987                            Diploma     Sabah                 5.1
997  1987                             Degree     Sabah                 8.1
998  1987              Religious certificate     Sabah                 0.3
999  1987                     No certificate     Sabah               254.2

    Employed persons ('000)
0                  5,249.00
1                         -
2                     469.2
3                     619.7
4                      49.8
..                      ...
995                       -
996                     4.7
997                     7.8
998                     0.2
999                   229.8

[1000 rows x 5 columns]

In [ ]:
labour_force_highestCert_state_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6770 entries, 0 to 6769
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          6770 non-null   int64
 1   Highest certificate obtained  6770 non-null   object
 2   State                         6770 non-null   object
 3   Labour Force ('000)           6761 non-null   object
 4   Employed persons ('000)       6744 non-null   object
dtypes: int64(1), object(4)
memory usage: 264.6+ KB

In [ ]:
labour_force_highestCert_state_stats.rename(columns={"Highest certificate obtained": "Highest certificate obtained (D3)"}, inplace=True)
labour_force_highestCert_state_stats.rename(columns={"Labour Force ('000)": "Labour Force ('000) (D3)"}, inplace=True)
labour_force_highestCert_state_stats.rename(columns={"Employed persons ('000)": "Employed persons ('000) (D3)"}, inplace=True)

In [ ]:
labour_force_highestCert_state_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6770 entries, 0 to 6769
Data columns (total 5 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Year                               6770 non-null   int64
 1   Highest certificate obtained (D3)  6770 non-null   object
 2   State                              6770 non-null   object
 3   Labour Force ('000) (D3)           6761 non-null   object
 4   Employed persons ('000) (D3)       6744 non-null   object
dtypes: int64(1), object(4)
memory usage: 264.6+ KB

In [ ]:
# Filter out rows where 'Highest Certificate Obtained' is 'Total'
labour_force_highestCert_state_stats_filtered = labour_force_highestCert_state_stats[labour_force_highestCert_state_stats['Highest certificate obtained (D3)'] != 'Total']

In [ ]:
# Display the first few rows to ensure 'Total' rows are removed
print(labour_force_highestCert_state_stats_filtered.head(6770))

      Year  Highest certificate obtained (D3)           State  \
1     1982           UPSR/UPSRA or equivalent        Malaysia
2     1982  PT3/PMR/SRP/LCE/SRA or equivalent        Malaysia
3     1982                  SPM or equivalent        Malaysia
4     1982                 STPM or equivalent        Malaysia
5     1982                        Certificate        Malaysia
...    ...                                ...             ...
6765  2021                        Certificate  W.P. Putrajaya
6766  2021                            Diploma  W.P. Putrajaya
6767  2021                             Degree  W.P. Putrajaya
6768  2021                     No certificate  W.P. Putrajaya
6769  2021                     Not applicable  W.P. Putrajaya

     Labour Force ('000) (D3) Employed persons ('000) (D3)
1                           -                            -
2                       502.4                        469.2
3                         671                        619.7
4                        52.9                         49.8
5                           -                            -
...                       ...                          ...
6765                      1.9                          1.9
6766                      8.6                          8.5
6767                     10.3                         10.2
6768                      0.6                          0.6
6769                        -                            -

[6153 rows x 5 columns]

In [ ]:
# Check if there are any 'Total' left
print(labour_force_highestCert_state_stats_filtered[labour_force_highestCert_state_stats_filtered['Highest certificate obtained (D3)'] == 'Total'])

Empty DataFrame
Columns: [Year, Highest certificate obtained (D3), State, Labour Force ('000) (D3), Employed persons ('000) (D3)]
Index: []

Using Pivot Table to transform the dataset

In [ ]:
labour_force_highestCert_state_stats_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6153 entries, 1 to 6769
Data columns (total 5 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Year                               6153 non-null   int64
 1   Highest certificate obtained (D3)  6153 non-null   object
 2   State                              6153 non-null   object
 3   Labour Force ('000) (D3)           6144 non-null   object
 4   Employed persons ('000) (D3)       6127 non-null   object
dtypes: int64(1), object(4)
memory usage: 288.4+ KB

In [ ]:
# Creating a pivot table
pivot_labour_force_highestCert_state_stats_filtered = pd.pivot_table(labour_force_highestCert_state_stats_filtered,
                          values=["Labour Force ('000) (D3)", "Employed persons ('000) (D3)"],
                          index=['Year', 'State'],
                          columns="Highest certificate obtained (D3)",
                          aggfunc='sum')

In [ ]:
# Reset index to turn MultiIndex into columns
pivot_labour_force_highestCert_state_stats_filtered.reset_index(inplace=True)

In [ ]:
# Display the pivot table
pivot_labour_force_highestCert_state_stats_filtered.head(7000)

                                   Year              State  \
Highest certificate obtained (D3)
0                                  1982              Johor
1                                  1982              Kedah
2                                  1982           Kelantan
3                                  1982           Malaysia
4                                  1982             Melaka
..                                  ...                ...
612                                2021           Selangor
613                                2021         Terengganu
614                                2021  W.P. Kuala Lumpur
615                                2021        W.P. Labuan
616                                2021     W.P. Putrajaya

                                  Employed persons ('000) (D3)                 \
Highest certificate obtained (D3)                  Certificate Degree Diploma
0                                                            -    7.4    17.9
1                                                            -    3.3     9.7
2                                                            -    3.1     7.4
3                                                            -   91.1     137
4                                                            -    2.8     5.6
..                                                         ...    ...     ...
612                                                       60.6  577.5   328.3
613                                                       20.3     63    48.4
614                                                         15  289.2     122
615                                                        1.5    7.4     6.4
616                                                        1.9   10.2     8.5

                                                                 \
Highest certificate obtained (D3) No certificate Not applicable
0                                          410.8           69.2
1                                          239.6           75.6
2                                          144.9           98.2
3                                       3,052.00          821.8
4                                          105.7           17.1
..                                           ...            ...
612                                         29.9           26.8
613                                         12.1           14.4
614                                         11.5           18.7
615                                          0.4            2.6
616                                          0.6              -

                                                                     \
Highest certificate obtained (D3) PT3/PMR/SRP/LCE/SRA or equivalent
0                                                              51.7
1                                                              25.4
2                                                              22.5
3                                                             469.2
4                                                              12.3
..                                                              ...
612                                                           350.5
613                                                            38.8
614                                                            49.8
615                                                             3.7
616                                                               1

                                                                           \
Highest certificate obtained (D3) Religious certificate SPM or equivalent
0                                                   1.4              68.3
1                                                   1.8              31.8
2                                                   0.7              25.8
3                                                   7.9             619.7
4                                                   0.2              21.5
..                                                  ...               ...
612                                                 NaN          1,530.30
613                                                 NaN             243.6
614                                                 NaN             286.3
615                                                 NaN                18
616                                                 NaN              14.2

                                   ... Labour Force ('000) (D3)         \
Highest certificate obtained (D3)  ...              Certificate Degree
0                                  ...                        -    7.8
1                                  ...                        -    3.5
2                                  ...                        -    3.2
3                                  ...                        -   93.8
4                                  ...                        -    2.9
..                                 ...                      ...    ...
612                                ...                     62.5  601.4
613                                ...                     20.9   65.6
614                                ...                     15.3  296.9
615                                ...                      1.7    7.6
616                                ...                      1.9   10.3

                                                                         \
Highest certificate obtained (D3) Diploma No certificate Not applicable
0                                    17.9          419.7           70.2
1                                     9.8          245.1           76.2
2                                     7.5          149.8           99.7
3                                     138       3,135.40          829.5
4                                     5.6            108           17.3
..                                    ...            ...            ...
612                                 342.9           36.3             29
613                                  51.7           12.4           14.8
614                                 125.5           13.9           19.5
615                                   6.4            0.6            2.6
616                                   8.6            0.6              -

                                                                     \
Highest certificate obtained (D3) PT3/PMR/SRP/LCE/SRA or equivalent
0                                                              55.5
1                                                              28.1
2                                                                25
3                                                             502.4
4                                                              13.4
..                                                              ...
612                                                           377.4
613                                                            39.9
614                                                            53.5
615                                                             4.2
616                                                               1

                                                                           \
Highest certificate obtained (D3) Religious certificate SPM or equivalent
0                                                   1.4              76.6
1                                                   1.8              36.9
2                                                   0.7                32
3                                                   7.9               671
4                                                   0.2              24.5
..                                                  ...               ...
612                                                 NaN          1,595.30
613                                                 NaN             253.8
614                                                 NaN             302.7
615                                                 NaN              19.9
616                                                 NaN              14.4


Highest certificate obtained (D3) STPM or equivalent UPSR/UPSRA or equivalent
0                                                  4                        -
1                                                2.3                        -
2                                                1.7                        -
3                                               52.9                        -
4                                                  2                        -
..                                               ...                      ...
612                                            436.9                    195.2
613                                             11.3                     18.1
614                                             39.5                     26.6
615                                              1.6                      3.4
616                                              0.8                      0.2

[617 rows x 22 columns]

In [ ]:
pivot_labour_force_highestCert_state_stats_filtered.columns

MultiIndex([(                        'Year', ...),
            (                       'State', ...),
            ('Employed persons ('000) (D3)', ...),
            ('Employed persons ('000) (D3)', ...),
            ('Employed persons ('000) (D3)', ...),
            ('Employed persons ('000) (D3)', ...),
            ('Employed persons ('000) (D3)', ...),
            ('Employed persons ('000) (D3)', ...),
            ('Employed persons ('000) (D3)', ...),
            ('Employed persons ('000) (D3)', ...),
            ('Employed persons ('000) (D3)', ...),
            ('Employed persons ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...)],
           names=[None, 'Highest certificate obtained (D3)'])

In [ ]:
# Print column names
pivot_labour_force_highestCert_state_stats_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 617 entries, 0 to 616
Data columns (total 22 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   (Year, )                                                           617 non-null    int64
 1   (State, )                                                          617 non-null    object
 2   (Employed persons ('000) (D3), Certificate)                        617 non-null    object
 3   (Employed persons ('000) (D3), Degree)                             617 non-null    object
 4   (Employed persons ('000) (D3), Diploma)                            617 non-null    object
 5   (Employed persons ('000) (D3), No certificate)                     617 non-null    object
 6   (Employed persons ('000) (D3), Not applicable)                     617 non-null    object
 7   (Employed persons ('000) (D3), PT3/PMR/SRP/LCE/SRA or equivalent)  617 non-null    object
 8   (Employed persons ('000) (D3), Religious certificate)              600 non-null    object
 9   (Employed persons ('000) (D3), SPM or equivalent)                  617 non-null    object
 10  (Employed persons ('000) (D3), STPM or equivalent)                 617 non-null    object
 11  (Employed persons ('000) (D3), UPSR/UPSRA or equivalent)           617 non-null    object
 12  (Labour Force ('000) (D3), Certificate)                            617 non-null    object
 13  (Labour Force ('000) (D3), Degree)                                 617 non-null    object
 14  (Labour Force ('000) (D3), Diploma)                                617 non-null    object
 15  (Labour Force ('000) (D3), No certificate)                         617 non-null    object
 16  (Labour Force ('000) (D3), Not applicable)                         617 non-null    object
 17  (Labour Force ('000) (D3), PT3/PMR/SRP/LCE/SRA or equivalent)      617 non-null    object
 18  (Labour Force ('000) (D3), Religious certificate)                  600 non-null    object
 19  (Labour Force ('000) (D3), SPM or equivalent)                      617 non-null    object
 20  (Labour Force ('000) (D3), STPM or equivalent)                     617 non-null    object
 21  (Labour Force ('000) (D3), UPSR/UPSRA or equivalent)               617 non-null    object
dtypes: int64(1), object(21)
memory usage: 106.2+ KB

In [ ]:
# Save to CSV if needed
pivot_labour_force_highestCert_state_stats_filtered.to_csv("output_pivot_labour_force_highestCert_state_stats_filtered.csv", index=False)

I need to filter out the columns where the state is Malaysia as Malaysia is a country, not a state. However, I would like to transform the figures for Malaysia to be columns so that I can see the real picture of the country also as well as the respective states

In [ ]:
states_df=pivot_labour_force_highestCert_state_stats_filtered

In [ ]:
# If your DataFrame is multi-indexed, you might need to use:
malaysia_df = states_df[states_df[('State', '')] == 'Malaysia']

In [ ]:
malaysia_df.head(1000)

                                   Year     State  \
Highest certificate obtained (D3)
3                                  1982  Malaysia
18                                 1983  Malaysia
33                                 1984  Malaysia
49                                 1985  Malaysia
65                                 1986  Malaysia
81                                 1987  Malaysia
97                                 1988  Malaysia
113                                1989  Malaysia
129                                1990  Malaysia
145                                1992  Malaysia
161                                1993  Malaysia
177                                1995  Malaysia
193                                1996  Malaysia
209                                1997  Malaysia
225                                1998  Malaysia
241                                1999  Malaysia
257                                2000  Malaysia
273                                2001  Malaysia
289                                2002  Malaysia
305                                2003  Malaysia
321                                2004  Malaysia
337                                2005  Malaysia
353                                2006  Malaysia
369                                2007  Malaysia
385                                2008  Malaysia
401                                2009  Malaysia
417                                2010  Malaysia
433                                2011  Malaysia
450                                2012  Malaysia
467                                2013  Malaysia
484                                2014  Malaysia
501                                2015  Malaysia
518                                2016  Malaysia
535                                2017  Malaysia
552                                2018  Malaysia
569                                2019  Malaysia
586                                2020  Malaysia
603                                2021  Malaysia

                                  Employed persons ('000) (D3)            \
Highest certificate obtained (D3)                  Certificate    Degree
3                                                            -      91.1
18                                                           -      86.6
33                                                           -     109.7
49                                                           -     120.2
65                                                           -     128.7
81                                                           -     139.1
97                                                           -       146
113                                                          -     148.8
129                                                          -     165.8
145                                                          -     210.2
161                                                          -       227
177                                                          -     256.7
193                                                          -     310.6
209                                                          -     341.7
225                                                          -     370.5
241                                                          -     407.4
257                                                          -     471.3
273                                                          -     533.9
289                                                          -     603.2
305                                                          -     655.2
321                                                          -     711.1
337                                                          -     733.5
353                                                          -     805.3
369                                                      241.6     784.9
385                                                        205     874.1
401                                                      234.4  1,003.80
417                                                      270.5  1,162.20
433                                                      299.6  1,219.00
450                                                      300.1  1,314.40
467                                                      286.9  1,351.90
484                                                      340.9  1,537.60
501                                                      353.1  1,679.50
518                                                      347.5  1,755.20
535                                                      351.6  1,874.40
552                                                      381.9  1,924.00
569                                                      370.8  2,033.50
586                                                      472.4  2,117.70
603                                                      299.9  2,324.00

                                                                           \
Highest certificate obtained (D3)   Diploma No certificate Not applicable
3                                       137       3,052.00          821.8
18                                    135.3       3,165.20          806.7
33                                    139.8       3,066.10          821.8
49                                    150.8       3,156.90          785.7
65                                    163.1       3,193.70          750.1
81                                      165       3,277.10          743.3
97                                    167.3       3,408.80          714.5
113                                   188.4       3,443.20          706.4
129                                   216.8       3,580.20          654.2
145                                   242.9       3,190.60          645.3
161                                   244.1       3,407.00          615.6
177                                   306.4       3,106.30            666
193                                   369.1       3,702.00          662.4
209                                   417.6       3,573.90          621.9
225                                   434.9       3,510.40          603.5
241                                   446.2       3,432.10          584.9
257                                   535.1       3,480.50          521.8
273                                   564.5       3,382.20          484.4
289                                   648.9       3,253.10          509.6
305                                     717       3,251.90          474.8
321                                   767.9       3,204.90          472.1
337                                   840.7       2,949.40          466.8
353                                     831       3,012.50            393
369                                   743.3       2,888.90            447
385                                   786.1       1,402.40          474.7
401                                   908.8       1,123.50            426
417                                   957.3       1,146.10          435.9
433                                1,059.90       1,097.40          400.7
450                                1,048.70       1,104.40          399.3
467                                1,187.00       1,096.70          416.4
484                                1,268.40       1,009.90          382.5
501                                1,376.20          879.6          430.7
518                                1,350.80          794.2          376.1
535                                1,394.60          704.7          379.1
552                                1,474.60          653.8          399.6
569                                1,520.20          579.9          439.1
586                                1,632.00          353.4          336.1
603                                1,460.50            470            510

                                                                     \
Highest certificate obtained (D3) PT3/PMR/SRP/LCE/SRA or equivalent
3                                                             469.2
18                                                            496.8
33                                                            555.9
49                                                              532
65                                                            523.1
81                                                            578.2
97                                                            555.3
113                                                           570.6
129                                                           570.1
145                                                           918.6
161                                                           904.6
177                                                        1,067.90
193                                                        1,047.40
209                                                        1,113.10
225                                                        1,162.50
241                                                        1,201.70
257                                                        1,235.30
273                                                        1,256.50
289                                                        1,321.90
305                                                        1,353.50
321                                                        1,363.60
337                                                        1,415.80
353                                                        1,418.90
369                                                        1,453.10
385                                                        1,505.40
401                                                        1,509.20
417                                                        1,692.20
433                                                        1,765.80
450                                                        1,873.60
467                                                        1,943.10
484                                                        1,928.90
501                                                        1,936.70
518                                                        1,933.30
535                                                        1,959.60
552                                                        1,816.50
569                                                        1,805.80
586                                                        1,543.30
603                                                        1,378.90

                                                                           \
Highest certificate obtained (D3) Religious certificate SPM or equivalent
3                                                   7.9             619.7
18                                                 10.7             698.3
33                                                  6.7             799.7
49                                                  9.5             826.9
65                                                  8.4             905.4
81                                                  7.1             968.4
97                                                  9.1          1,041.80
113                                                 4.1          1,187.50
129                                                 3.1          1,347.80
145                                                   -          1,610.60
161                                                   -          1,757.00
177                                                   -          1,968.40
193                                                   -          2,052.10
209                                                   -          2,223.50
225                                                   -          2,249.40
241                                                   -          2,493.70
257                                                   -          2,740.40
273                                                   -          2,847.90
289                                                   -          2,919.00
305                                                   -          3,117.50
321                                                   -          3,164.90
337                                                   -          3,348.90
353                                                   -          3,512.80
369                                                   -          3,655.30
385                                                   -          3,862.30
401                                                   -          3,970.60
417                                                   -          4,337.70
433                                                   -          4,541.70
450                                                   -          4,704.30
467                                                   -          5,003.00
484                                                   -          5,208.80
501                                                   -          5,157.10
518                                                   -          5,408.30
535                                                   0          5,708.70
552                                                   -          5,971.90
569                                                   -          6,195.10
586                                                   -          6,488.60
603                                                 NaN          6,722.40

                                   ... Labour Force ('000) (D3)            \
Highest certificate obtained (D3)  ...              Certificate    Degree
3                                  ...                        -      93.8
18                                 ...                        -      90.2
33                                 ...                        -     114.4
49                                 ...                        -     126.6
65                                 ...                        -       136
81                                 ...                        -     147.2
97                                 ...                        -     152.4
113                                ...                        -     155.9
129                                ...                        -     169.3
145                                ...                        -       215
161                                ...                        -     232.3
177                                ...                        -     262.4
193                                ...                        -     315.1
209                                ...                        -     347.1
225                                ...                        -     382.5
241                                ...                        -     420.4
257                                ...                        -     486.2
273                                ...                        -     552.8
289                                ...                        -     625.4
305                                ...                        -     681.2
321                                ...                        -     733.8
337                                ...                        -     758.8
353                                ...                        -     836.4
369                                ...                    255.3     812.8
385                                ...                    220.7     901.8
401                                ...                    251.7  1,034.60
417                                ...                    285.2  1,196.70
433                                ...                    316.4  1,262.80
450                                ...                    314.3  1,352.00
467                                ...                    304.4  1,396.90
484                                ...                    356.7  1,592.10
501                                ...                    370.7  1,740.40
518                                ...                    366.1  1,829.00
535                                ...                    370.6  1,941.10
552                                ...                    400.6  2,002.80
569                                ...                    386.7  2,106.90
586                                ...                    493.6  2,209.10
603                                ...                    317.6  2,416.30

                                                                           \
Highest certificate obtained (D3)   Diploma No certificate Not applicable
3                                       138       3,135.40          829.5
18                                    137.1       3,274.40          818.6
33                                    143.1       3,209.20          841.4
49                                    155.2       3,322.10          805.2
65                                    168.7       3,429.80          771.5
81                                      173       3,515.40          768.7
97                                    173.7       3,645.70          730.9
113                                   196.7       3,626.80          725.5
129                                   222.2       3,720.40          668.5
145                                   246.8       3,309.90          659.8
161                                   248.2       3,546.80          626.5
177                                   310.4       3,195.50          676.8
193                                   374.9       3,790.60          673.8
209                                   424.5       3,647.90          632.5
225                                     447       3,608.00          612.9
241                                   463.7       3,532.70          592.5
257                                     553       3,564.20          531.8
273                                   582.3       3,477.30          494.1
289                                   674.3       3,338.70          523.2
305                                   747.8       3,335.00          488.2
321                                   809.2       3,291.10          483.2
337                                   878.4       3,025.70          476.3
353                                   865.6       3,079.30          403.7
369                                   768.8       2,957.50          455.2
385                                   812.6       1,426.30          488.9
401                                   940.9       1,151.20          438.9
417                                   990.7       1,168.70          452.4
433                                1,098.10       1,115.90          418.2
450                                1,086.50       1,123.60          415.5
467                                1,234.30       1,116.00          433.6
484                                1,321.40       1,025.00          393.8
501                                1,427.50          893.6          445.3
518                                1,408.60          813.5          386.1
535                                1,465.50          721.2          390.1
552                                1,535.50          666.5          415.8
569                                1,590.20          595.4          451.4
586                                1,715.80          378.7          355.4
603                                1,528.40          500.4          546.5

                                                                     \
Highest certificate obtained (D3) PT3/PMR/SRP/LCE/SRA or equivalent
3                                                             502.4
18                                                            528.7
33                                                            605.2
49                                                            587.7
65                                                            590.4

In [ ]:
# If your DataFrame is multi-indexed, you might need to use:
states_df = states_df[states_df[('State', '')] != 'Malaysia']

In [ ]:
states_df.head(1000)

                                   Year              State  \
Highest certificate obtained (D3)
0                                  1982              Johor
1                                  1982              Kedah
2                                  1982           Kelantan
4                                  1982             Melaka
5                                  1982    Negeri Sembilan
..                                  ...                ...
612                                2021           Selangor
613                                2021         Terengganu
614                                2021  W.P. Kuala Lumpur
615                                2021        W.P. Labuan
616                                2021     W.P. Putrajaya

                                  Employed persons ('000) (D3)                 \
Highest certificate obtained (D3)                  Certificate Degree Diploma
0                                                            -    7.4    17.9
1                                                            -    3.3     9.7
2                                                            -    3.1     7.4
4                                                            -    2.8     5.6
5                                                            -    3.4     7.4
..                                                         ...    ...     ...
612                                                       60.6  577.5   328.3
613                                                       20.3     63    48.4
614                                                         15  289.2     122
615                                                        1.5    7.4     6.4
616                                                        1.9   10.2     8.5

                                                                 \
Highest certificate obtained (D3) No certificate Not applicable
0                                          410.8           69.2
1                                          239.6           75.6
2                                          144.9           98.2
4                                          105.7           17.1
5                                          145.7           20.3
..                                           ...            ...
612                                         29.9           26.8
613                                         12.1           14.4
614                                         11.5           18.7
615                                          0.4            2.6
616                                          0.6              -

                                                                     \
Highest certificate obtained (D3) PT3/PMR/SRP/LCE/SRA or equivalent
0                                                              51.7
1                                                              25.4
2                                                              22.5
4                                                              12.3
5                                                              15.7
..                                                              ...
612                                                           350.5
613                                                            38.8
614                                                            49.8
615                                                             3.7
616                                                               1

                                                                           \
Highest certificate obtained (D3) Religious certificate SPM or equivalent
0                                                   1.4              68.3
1                                                   1.8              31.8
2                                                   0.7              25.8
4                                                   0.2              21.5
5                                                   0.3                22
..                                                  ...               ...
612                                                 NaN          1,530.30
613                                                 NaN             243.6
614                                                 NaN             286.3
615                                                 NaN                18
616                                                 NaN              14.2

                                   ... Labour Force ('000) (D3)         \
Highest certificate obtained (D3)  ...              Certificate Degree
0                                  ...                        -    7.8
1                                  ...                        -    3.5
2                                  ...                        -    3.2
4                                  ...                        -    2.9
5                                  ...                        -    3.4
..                                 ...                      ...    ...
612                                ...                     62.5  601.4
613                                ...                     20.9   65.6
614                                ...                     15.3  296.9
615                                ...                      1.7    7.6
616                                ...                      1.9   10.3

                                                                         \
Highest certificate obtained (D3) Diploma No certificate Not applicable
0                                    17.9          419.7           70.2
1                                     9.8          245.1           76.2
2                                     7.5          149.8           99.7
4                                     5.6            108           17.3
5                                     7.4          148.6           20.4
..                                    ...            ...            ...
612                                 342.9           36.3             29
613                                  51.7           12.4           14.8
614                                 125.5           13.9           19.5
615                                   6.4            0.6            2.6
616                                   8.6            0.6              -

                                                                     \
Highest certificate obtained (D3) PT3/PMR/SRP/LCE/SRA or equivalent
0                                                              55.5
1                                                              28.1
2                                                                25
4                                                              13.4
5                                                                17
..                                                              ...
612                                                           377.4
613                                                            39.9
614                                                            53.5
615                                                             4.2
616                                                               1

                                                                           \
Highest certificate obtained (D3) Religious certificate SPM or equivalent
0                                                   1.4              76.6
1                                                   1.8              36.9
2                                                   0.7                32
4                                                   0.2              24.5
5                                                   0.3              23.9
..                                                  ...               ...
612                                                 NaN          1,595.30
613                                                 NaN             253.8
614                                                 NaN             302.7
615                                                 NaN              19.9
616                                                 NaN              14.4


Highest certificate obtained (D3) STPM or equivalent UPSR/UPSRA or equivalent
0                                                  4                        -
1                                                2.3                        -
2                                                1.7                        -
4                                                  2                        -
5                                                1.8                        -
..                                               ...                      ...
612                                            436.9                    195.2
613                                             11.3                     18.1
614                                             39.5                     26.6
615                                              1.6                      3.4
616                                              0.8                      0.2

[579 rows x 22 columns]

In [ ]:
# Save to CSV if needed
states_df.to_csv("States_df.csv", index=False)

In [ ]:
# Assuming the 'Year' column is part of a MultiIndex and adjusting accordingly
# First, let's ensure the structure of the 'Year' reference
print(states_df.columns)  # This will show the exact tuple required for 'Year'

MultiIndex([(                        'Year', ...),
            (                       'State', ...),
            ('Employed persons ('000) (D3)', ...),
            ('Employed persons ('000) (D3)', ...),
            ('Employed persons ('000) (D3)', ...),
            ('Employed persons ('000) (D3)', ...),
            ('Employed persons ('000) (D3)', ...),
            ('Employed persons ('000) (D3)', ...),
            ('Employed persons ('000) (D3)', ...),
            ('Employed persons ('000) (D3)', ...),
            ('Employed persons ('000) (D3)', ...),
            ('Employed persons ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...),
            (    'Labour Force ('000) (D3)', ...)],
           names=[None, 'Highest certificate obtained (D3)'])

In [ ]:
# Step 1: Drop the 'State (D3)' column if it's not needed for merging
malaysia_df_renamed = malaysia_df.drop([('State', '')], axis=1)

# Step 2: Rename the remaining columns, excluding 'Year'
# Prepare a dictionary that modifies each column name except for 'Year'
columns_to_rename = {(col[0], col[1]): f"national_{col[0]}_{col[1]}" for col in malaysia_df_renamed.columns if col[0] != 'Year'}

# Use the rename method with level=0 to ensure the renaming applies to the correct level of the MultiIndex
malaysia_df_renamed = malaysia_df_renamed.rename(columns=columns_to_rename, level=0)
# # Ensure the 'Year' column is correctly prepared for merging
# malaysia_df_renamed[('Year', '')] = malaysia_df[('Year', '')]

# # Step 2: Merge DataFrames
# # Merge on 'Year', ensuring to use the correct tuple for MultiIndex if 'Year' is part of a MultiIndex
# result_df = pd.merge(states_df, malaysia_df_renamed, on=('Year', ''), how='left')

In [ ]:
columns_to_rename

{("Employed persons ('000) (D3)",
  'Certificate'): "national_Employed persons ('000) (D3)_Certificate",
 ("Employed persons ('000) (D3)",
  'Degree'): "national_Employed persons ('000) (D3)_Degree",
 ("Employed persons ('000) (D3)",
  'Diploma'): "national_Employed persons ('000) (D3)_Diploma",
 ("Employed persons ('000) (D3)",
  'No certificate'): "national_Employed persons ('000) (D3)_No certificate",
 ("Employed persons ('000) (D3)",
  'Not applicable'): "national_Employed persons ('000) (D3)_Not applicable",
 ("Employed persons ('000) (D3)",
  'PT3/PMR/SRP/LCE/SRA or equivalent'): "national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent",
 ("Employed persons ('000) (D3)",
  'Religious certificate'): "national_Employed persons ('000) (D3)_Religious certificate",
 ("Employed persons ('000) (D3)",
  'SPM or equivalent'): "national_Employed persons ('000) (D3)_SPM or equivalent",
 ("Employed persons ('000) (D3)",
  'STPM or equivalent'): "national_Employed persons ('000) (D3)_STPM or equivalent",
 ("Employed persons ('000) (D3)",
  'UPSR/UPSRA or equivalent'): "national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent",
 ("Labour Force ('000) (D3)",
  'Certificate'): "national_Labour Force ('000) (D3)_Certificate",
 ("Labour Force ('000) (D3)",
  'Degree'): "national_Labour Force ('000) (D3)_Degree",
 ("Labour Force ('000) (D3)",
  'Diploma'): "national_Labour Force ('000) (D3)_Diploma",
 ("Labour Force ('000) (D3)",
  'No certificate'): "national_Labour Force ('000) (D3)_No certificate",
 ("Labour Force ('000) (D3)",
  'Not applicable'): "national_Labour Force ('000) (D3)_Not applicable",
 ("Labour Force ('000) (D3)",
  'PT3/PMR/SRP/LCE/SRA or equivalent'): "national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent",
 ("Labour Force ('000) (D3)",
  'Religious certificate'): "national_Labour Force ('000) (D3)_Religious certificate",
 ("Labour Force ('000) (D3)",
  'SPM or equivalent'): "national_Labour Force ('000) (D3)_SPM or equivalent",
 ("Labour Force ('000) (D3)",
  'STPM or equivalent'): "national_Labour Force ('000) (D3)_STPM or equivalent",
 ("Labour Force ('000) (D3)",
  'UPSR/UPSRA or equivalent'): "national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent"}

In [ ]:
# Define a renaming function that applies only to certain levels of a MultiIndex
def rename_columns(col):
    if col[0].startswith("Employed persons") or col[0].startswith("Labour Force"):
        return ('national_' + col[0], col[1])
    return col

# Apply the renaming function to each column index
new_columns = [rename_columns(col) for col in malaysia_df_renamed.columns]

# Assign the new column names back to the DataFrame
malaysia_df_renamed.columns = pd.MultiIndex.from_tuples(new_columns)

# Verify the new column names
print(malaysia_df_renamed.columns)

MultiIndex([(                                 'Year', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...)],
           )

In [ ]:
# Display the new column names to verify
malaysia_df_renamed.columns

MultiIndex([(                                 'Year', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...)],
           )

In [ ]:
malaysia_df_renamed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, 3 to 603
Data columns (total 21 columns):
 #   Column                                                                      Non-Null Count  Dtype
---  ------                                                                      --------------  -----
 0   (Year, )                                                                    38 non-null     int64
 1   (national_Employed persons ('000) (D3), Certificate)                        38 non-null     object
 2   (national_Employed persons ('000) (D3), Degree)                             38 non-null     object
 3   (national_Employed persons ('000) (D3), Diploma)                            38 non-null     object
 4   (national_Employed persons ('000) (D3), No certificate)                     38 non-null     object
 5   (national_Employed persons ('000) (D3), Not applicable)                     38 non-null     object
 6   (national_Employed persons ('000) (D3), PT3/PMR/SRP/LCE/SRA or equivalent)  38 non-null     object
 7   (national_Employed persons ('000) (D3), Religious certificate)              37 non-null     object
 8   (national_Employed persons ('000) (D3), SPM or equivalent)                  38 non-null     object
 9   (national_Employed persons ('000) (D3), STPM or equivalent)                 38 non-null     object
 10  (national_Employed persons ('000) (D3), UPSR/UPSRA or equivalent)           38 non-null     object
 11  (national_Labour Force ('000) (D3), Certificate)                            38 non-null     object
 12  (national_Labour Force ('000) (D3), Degree)                                 38 non-null     object
 13  (national_Labour Force ('000) (D3), Diploma)                                38 non-null     object
 14  (national_Labour Force ('000) (D3), No certificate)                         38 non-null     object
 15  (national_Labour Force ('000) (D3), Not applicable)                         38 non-null     object
 16  (national_Labour Force ('000) (D3), PT3/PMR/SRP/LCE/SRA or equivalent)      38 non-null     object
 17  (national_Labour Force ('000) (D3), Religious certificate)                  37 non-null     object
 18  (national_Labour Force ('000) (D3), SPM or equivalent)                      38 non-null     object
 19  (national_Labour Force ('000) (D3), STPM or equivalent)                     38 non-null     object
 20  (national_Labour Force ('000) (D3), UPSR/UPSRA or equivalent)               38 non-null     object
dtypes: int64(1), object(20)
memory usage: 6.5+ KB

In [ ]:
malaysia_df_renamed.head(1000)

     Year national_Employed persons ('000) (D3)                      \
                                    Certificate    Degree   Diploma
3    1982                                     -      91.1       137
18   1983                                     -      86.6     135.3
33   1984                                     -     109.7     139.8
49   1985                                     -     120.2     150.8
65   1986                                     -     128.7     163.1
81   1987                                     -     139.1       165
97   1988                                     -       146     167.3
113  1989                                     -     148.8     188.4
129  1990                                     -     165.8     216.8
145  1992                                     -     210.2     242.9
161  1993                                     -       227     244.1
177  1995                                     -     256.7     306.4
193  1996                                     -     310.6     369.1
209  1997                                     -     341.7     417.6
225  1998                                     -     370.5     434.9
241  1999                                     -     407.4     446.2
257  2000                                     -     471.3     535.1
273  2001                                     -     533.9     564.5
289  2002                                     -     603.2     648.9
305  2003                                     -     655.2       717
321  2004                                     -     711.1     767.9
337  2005                                     -     733.5     840.7
353  2006                                     -     805.3       831
369  2007                                 241.6     784.9     743.3
385  2008                                   205     874.1     786.1
401  2009                                 234.4  1,003.80     908.8
417  2010                                 270.5  1,162.20     957.3
433  2011                                 299.6  1,219.00  1,059.90
450  2012                                 300.1  1,314.40  1,048.70
467  2013                                 286.9  1,351.90  1,187.00
484  2014                                 340.9  1,537.60  1,268.40
501  2015                                 353.1  1,679.50  1,376.20
518  2016                                 347.5  1,755.20  1,350.80
535  2017                                 351.6  1,874.40  1,394.60
552  2018                                 381.9  1,924.00  1,474.60
569  2019                                 370.8  2,033.50  1,520.20
586  2020                                 472.4  2,117.70  1,632.00
603  2021                                 299.9  2,324.00  1,460.50

                                                                     \
    No certificate Not applicable PT3/PMR/SRP/LCE/SRA or equivalent
3         3,052.00          821.8                             469.2
18        3,165.20          806.7                             496.8
33        3,066.10          821.8                             555.9
49        3,156.90          785.7                               532
65        3,193.70          750.1                             523.1
81        3,277.10          743.3                             578.2
97        3,408.80          714.5                             555.3
113       3,443.20          706.4                             570.6
129       3,580.20          654.2                             570.1
145       3,190.60          645.3                             918.6
161       3,407.00          615.6                             904.6
177       3,106.30            666                          1,067.90
193       3,702.00          662.4                          1,047.40
209       3,573.90          621.9                          1,113.10
225       3,510.40          603.5                          1,162.50
241       3,432.10          584.9                          1,201.70
257       3,480.50          521.8                          1,235.30
273       3,382.20          484.4                          1,256.50
289       3,253.10          509.6                          1,321.90
305       3,251.90          474.8                          1,353.50
321       3,204.90          472.1                          1,363.60
337       2,949.40          466.8                          1,415.80
353       3,012.50            393                          1,418.90
369       2,888.90            447                          1,453.10
385       1,402.40          474.7                          1,505.40
401       1,123.50            426                          1,509.20
417       1,146.10          435.9                          1,692.20
433       1,097.40          400.7                          1,765.80
450       1,104.40          399.3                          1,873.60
467       1,096.70          416.4                          1,943.10
484       1,009.90          382.5                          1,928.90
501          879.6          430.7                          1,936.70
518          794.2          376.1                          1,933.30
535          704.7          379.1                          1,959.60
552          653.8          399.6                          1,816.50
569          579.9          439.1                          1,805.80
586          353.4          336.1                          1,543.30
603            470            510                          1,378.90

                                                                ...  \
    Religious certificate SPM or equivalent STPM or equivalent  ...
3                     7.9             619.7               49.8  ...
18                   10.7             698.3               57.4  ...
33                    6.7             799.7               66.6  ...
49                    9.5             826.9               70.7  ...
65                    8.4             905.4               87.5  ...
81                    7.1             968.4              105.6  ...
97                    9.1          1,041.80              111.3  ...
113                   4.1          1,187.50              141.7  ...
129                   3.1          1,347.80              146.8  ...
145                     -          1,610.60              229.2  ...
161                     -          1,757.00                228  ...
177                     -          1,968.40              267.5  ...
193                     -          2,052.10              254.9  ...
209                     -          2,223.50              277.2  ...
225                     -          2,249.40              268.1  ...
241                     -          2,493.70              271.2  ...
257                     -          2,740.40              284.5  ...
273                     -          2,847.90              283.5  ...
289                     -          2,919.00              285.8  ...
305                     -          3,117.50                298  ...
321                     -          3,164.90              294.4  ...
337                     -          3,348.90              290.1  ...
353                     -          3,512.80              301.5  ...
369                     -          3,655.30              323.9  ...
385                     -          3,862.30                340  ...
401                     -          3,970.60              354.8  ...
417                     -          4,337.70              358.9  ...
433                     -          4,541.70              373.2  ...
450                     -          4,704.30              380.8  ...
467                     -          5,003.00              391.6  ...
484                     -          5,208.80              405.7  ...
501                     -          5,157.10                410  ...
518                     -          5,408.30                424  ...
535                     0          5,708.70              419.7  ...
552                     -          5,971.90              425.6  ...
569                     -          6,195.10              455.5  ...
586                     -          6,488.60              497.8  ...
603                   NaN          6,722.40              738.2  ...

    national_Labour Force ('000) (D3)                                     \
                          Certificate    Degree   Diploma No certificate
3                                   -      93.8       138       3,135.40
18                                  -      90.2     137.1       3,274.40
33                                  -     114.4     143.1       3,209.20
49                                  -     126.6     155.2       3,322.10
65                                  -       136     168.7       3,429.80
81                                  -     147.2       173       3,515.40
97                                  -     152.4     173.7       3,645.70
113                                 -     155.9     196.7       3,626.80
129                                 -     169.3     222.2       3,720.40
145                                 -       215     246.8       3,309.90
161                                 -     232.3     248.2       3,546.80
177                                 -     262.4     310.4       3,195.50
193                                 -     315.1     374.9       3,790.60
209                                 -     347.1     424.5       3,647.90
225                                 -     382.5       447       3,608.00
241                                 -     420.4     463.7       3,532.70
257                                 -     486.2       553       3,564.20
273                                 -     552.8     582.3       3,477.30
289                                 -     625.4     674.3       3,338.70
305                                 -     681.2     747.8       3,335.00
321                                 -     733.8     809.2       3,291.10
337                                 -     758.8     878.4       3,025.70
353                                 -     836.4     865.6       3,079.30
369                             255.3     812.8     768.8       2,957.50
385                             220.7     901.8     812.6       1,426.30
401                             251.7  1,034.60     940.9       1,151.20
417                             285.2  1,196.70     990.7       1,168.70
433                             316.4  1,262.80  1,098.10       1,115.90
450                             314.3  1,352.00  1,086.50       1,123.60
467                             304.4  1,396.90  1,234.30       1,116.00
484                             356.7  1,592.10  1,321.40       1,025.00
501                             370.7  1,740.40  1,427.50          893.6
518                             366.1  1,829.00  1,408.60          813.5
535                             370.6  1,941.10  1,465.50          721.2
552                             400.6  2,002.80  1,535.50          666.5
569                             386.7  2,106.90  1,590.20          595.4
586                             493.6  2,209.10  1,715.80          378.7
603                             317.6  2,416.30  1,528.40          500.4

                                                                            \
    Not applicable PT3/PMR/SRP/LCE/SRA or equivalent Religious certificate
3            829.5                             502.4                   7.9
18           818.6                             528.7                    11
33           841.4                             605.2                     7
49           805.2                             587.7                   9.8
65           771.5                             590.4                   8.5
81           768.7                               643                   7.4
97           730.9                             621.2                   9.3
113          725.5                             625.3                   4.1
129          668.5                             615.4                   3.1
145          659.8                             962.3                     -
161          626.5                             963.2                     -
177          676.8                          1,114.20                     -
193          673.8                          1,085.70                     -
209          632.5                          1,149.80                     -
225          612.9                          1,213.30                     -
241          592.5                          1,257.50                     -
257          531.8                          1,280.60                     -
273          494.1                          1,315.30                     -
289          523.2                          1,369.90                     -
305          488.2                          1,407.30                     -
321          483.2                          1,415.90                     -
337          476.3                          1,460.20                     -
353          403.7                          1,464.80                     -
369          455.2                          1,494.90                     -
385          488.9                          1,550.20                     -
401          438.9                          1,563.70                     -
417          452.4                          1,743.50                     -
433          418.2                          1,812.00                     -
450          415.5                          1,916.40                     -
467          433.6                          1,991.80                     -
484          393.8                          1,973.00                     -
501          445.3                          1,979.10                     -
518          386.1                          1,981.50                     -
535          390.1                          2,010.40                     -
552          415.8                          1,863.40                     -
569          451.4                          1,853.40                     -
586          355.4                          1,600.30                     -
603          546.5                          1,448.30                   NaN


    SPM or equivalent STPM or equivalent UPSR/UPSRA or equivalent
3                 671               52.9                        -
18              750.1               61.7                        -
33              869.4               72.3                        -
49              905.2               77.9                        -
65           1,017.80               99.3                        -
81           1,081.40              120.5                        -
97           1,173.80                127                        -
113          1,289.90                155                        -
129          1,443.50              157.6                        -
145          1,683.70              241.2                        -
161          1,842.40              240.6                        -
177          2,051.20              276.9                        -
193          2,112.80              262.5                        -
209          2,295.70              286.5                        -
225          2,340.60              278.9                        -
241          2,602.70              281.4                        -
257          2,845.60              294.2                        -
273          2,978.90              294.4                        -
289          3,055.40              298.2                        -
305          3,269.10              309.2                        -
321          3,307.60              304.7                        -
337          3,503.70              310.1                        -
353          3,658.80                320                        -
369          3,801.90              342.9                        -
385          4,020.40              359.2                 1,248.00
401          4,150.50              372.7                 1,411.00
417          4,508.40              375.6                 1,582.70
433          4,694.50              387.7                 1,635.10
450          4,881.50              395.9                 1,736.00
467          5,180.20              409.5                 1,913.70
484          5,375.80              422.9                 1,802.90
501          5,345.60              430.1                 1,885.60
518          5,631.40              441.6                 1,810.10
535          5,925.00              437.4                 1,719.00
552          6,185.80              444.3                 1,765.60
569          6,413.20              474.7                 1,709.60
586          6,801.60              527.2                 1,586.00
603          7,051.10              775.7                 1,212.80

[38 rows x 21 columns]

In [ ]:
# Resetting index if 'Year' is part of MultiIndex
malaysia_df_renamed_reset = malaysia_df_renamed.reset_index()
states_df_reset = states_df.reset_index()

# Merge based on 'Year'
merged_df = pd.merge(states_df_reset, malaysia_df_renamed_reset, on='Year', how='left')

<ipython-input-55-b27d13924add>:6: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  merged_df = pd.merge(states_df_reset, malaysia_df_renamed_reset, on='Year', how='left')

In [ ]:
merged_df.head(1000)

    index_x  Year              State Employed persons ('000) (D3)         \
                                                      Certificate Degree
0         0  1982              Johor                            -    7.4
1         1  1982              Kedah                            -    3.3
2         2  1982           Kelantan                            -    3.1
3         4  1982             Melaka                            -    2.8
4         5  1982    Negeri Sembilan                            -    3.4
..      ...   ...                ...                          ...    ...
574     612  2021           Selangor                         60.6  577.5
575     613  2021         Terengganu                         20.3     63
576     614  2021  W.P. Kuala Lumpur                           15  289.2
577     615  2021        W.P. Labuan                          1.5    7.4
578     616  2021     W.P. Putrajaya                          1.9   10.2

                                                                             \
    Diploma No certificate Not applicable PT3/PMR/SRP/LCE/SRA or equivalent
0      17.9          410.8           69.2                              51.7
1       9.7          239.6           75.6                              25.4
2       7.4          144.9           98.2                              22.5
3       5.6          105.7           17.1                              12.3
4       7.4          145.7           20.3                              15.7
..      ...            ...            ...                               ...
574   328.3           29.9           26.8                             350.5
575    48.4           12.1           14.4                              38.8
576     122           11.5           18.7                              49.8
577     6.4            0.4            2.6                               3.7
578     8.5            0.6              -                                 1

                           ... national_Labour Force ('000) (D3)            \
    Religious certificate  ...                       Certificate    Degree
0                     1.4  ...                                 -      93.8
1                     1.8  ...                                 -      93.8
2                     0.7  ...                                 -      93.8
3                     0.2  ...                                 -      93.8
4                     0.3  ...                                 -      93.8
..                    ...  ...                               ...       ...
574                   NaN  ...                             317.6  2,416.30
575                   NaN  ...                             317.6  2,416.30
576                   NaN  ...                             317.6  2,416.30
577                   NaN  ...                             317.6  2,416.30
578                   NaN  ...                             317.6  2,416.30

                                                                               \
      Diploma No certificate Not applicable PT3/PMR/SRP/LCE/SRA or equivalent
0         138       3,135.40          829.5                             502.4
1         138       3,135.40          829.5                             502.4
2         138       3,135.40          829.5                             502.4
3         138       3,135.40          829.5                             502.4
4         138       3,135.40          829.5                             502.4
..        ...            ...            ...                               ...
574  1,528.40          500.4          546.5                          1,448.30
575  1,528.40          500.4          546.5                          1,448.30
576  1,528.40          500.4          546.5                          1,448.30
577  1,528.40          500.4          546.5                          1,448.30
578  1,528.40          500.4          546.5                          1,448.30

                                                                \
    Religious certificate SPM or equivalent STPM or equivalent
0                     7.9               671               52.9
1                     7.9               671               52.9
2                     7.9               671               52.9
3                     7.9               671               52.9
4                     7.9               671               52.9
..                    ...               ...                ...
574                   NaN          7,051.10              775.7
575                   NaN          7,051.10              775.7
576                   NaN          7,051.10              775.7
577                   NaN          7,051.10              775.7
578                   NaN          7,051.10              775.7


    UPSR/UPSRA or equivalent
0                          -
1                          -
2                          -
3                          -
4                          -
..                       ...
574                 1,212.80
575                 1,212.80
576                 1,212.80
577                 1,212.80
578                 1,212.80

[579 rows x 44 columns]

In [ ]:
# Save to CSV if needed
merged_df.to_csv("D3_merged.csv", index=False)

In [ ]:
merged_df.columns

MultiIndex([(                              'index_x', ...),
            (                                 'Year', ...),
            (                                'State', ...),
            (         'Employed persons ('000) (D3)', ...),
            (         'Employed persons ('000) (D3)', ...),
            (         'Employed persons ('000) (D3)', ...),
            (         'Employed persons ('000) (D3)', ...),
            (         'Employed persons ('000) (D3)', ...),
            (         'Employed persons ('000) (D3)', ...),
            (         'Employed persons ('000) (D3)', ...),
            (         'Employed persons ('000) (D3)', ...),
            (         'Employed persons ('000) (D3)', ...),
            (         'Employed persons ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (                              'index_y', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...)],
           )

In [ ]:
merged_df.columns

MultiIndex([(                              'index_x', ...),
            (                                 'Year', ...),
            (                                'State', ...),
            (         'Employed persons ('000) (D3)', ...),
            (         'Employed persons ('000) (D3)', ...),
            (         'Employed persons ('000) (D3)', ...),
            (         'Employed persons ('000) (D3)', ...),
            (         'Employed persons ('000) (D3)', ...),
            (         'Employed persons ('000) (D3)', ...),
            (         'Employed persons ('000) (D3)', ...),
            (         'Employed persons ('000) (D3)', ...),
            (         'Employed persons ('000) (D3)', ...),
            (         'Employed persons ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (             'Labour Force ('000) (D3)', ...),
            (                              'index_y', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            ('national_Employed persons ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...),
            (    'national_Labour Force ('000) (D3)', ...)],
           )

In [ ]:
merged_df_labour_force_gdp_current_stats.columns

Index(['Price type (D2)', 'Year', 'National GDP (RM Million) (D2)',
       'national_gdp_growth (%) (D2)', 'national_lf ('000) (D1)',
       'national_lf_employed ('000) (D1)',
       'national_lf_unemployed ('000) (D1)', 'national_lf_outside ('000) (D1)',
       'national_p_rate (%) (D1)', 'national_ep_ratio (%) (D1)',
       'national_u_rate (%) (D1)'],
      dtype='object')

In [ ]:
# Convert MultiIndex columns to single-level columns by joining level names
merged_df.columns = ['_'.join(col).strip() if isinstance(col, tuple) else col for col in merged_df.columns]

# Verify the change
print("Columns in merged_df after flattening MultiIndex:", merged_df.columns)

Columns in merged_df after flattening MultiIndex: Index(['index_x_', 'Year_', 'State_',
       'Employed persons ('000) (D3)_Certificate',
       'Employed persons ('000) (D3)_Degree',
       'Employed persons ('000) (D3)_Diploma',
       'Employed persons ('000) (D3)_No certificate',
       'Employed persons ('000) (D3)_Not applicable',
       'Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'Employed persons ('000) (D3)_Religious certificate',
       'Employed persons ('000) (D3)_SPM or equivalent',
       'Employed persons ('000) (D3)_STPM or equivalent',
       'Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'Labour Force ('000) (D3)_Certificate',
       'Labour Force ('000) (D3)_Degree', 'Labour Force ('000) (D3)_Diploma',
       'Labour Force ('000) (D3)_No certificate',
       'Labour Force ('000) (D3)_Not applicable',
       'Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'Labour Force ('000) (D3)_Religious certificate',
       'Labour Force ('000) (D3)_SPM or equivalent',
       'Labour Force ('000) (D3)_STPM or equivalent',
       'Labour Force ('000) (D3)_UPSR/UPSRA or equivalent', 'index_y_',
       'national_Employed persons ('000) (D3)_Certificate',
       'national_Employed persons ('000) (D3)_Degree',
       'national_Employed persons ('000) (D3)_Diploma',
       'national_Employed persons ('000) (D3)_No certificate',
       'national_Employed persons ('000) (D3)_Not applicable',
       'national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Employed persons ('000) (D3)_Religious certificate',
       'national_Employed persons ('000) (D3)_SPM or equivalent',
       'national_Employed persons ('000) (D3)_STPM or equivalent',
       'national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'national_Labour Force ('000) (D3)_Certificate',
       'national_Labour Force ('000) (D3)_Degree',
       'national_Labour Force ('000) (D3)_Diploma',
       'national_Labour Force ('000) (D3)_No certificate',
       'national_Labour Force ('000) (D3)_Not applicable',
       'national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Labour Force ('000) (D3)_Religious certificate',
       'national_Labour Force ('000) (D3)_SPM or equivalent',
       'national_Labour Force ('000) (D3)_STPM or equivalent',
       'national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent'],
      dtype='object')

In [ ]:
# Correct the 'Year_' column to 'Year' in merged_df
merged_df.rename(columns={'Year_': 'Year'}, inplace=True)
merged_df.rename(columns={'State_': 'State'}, inplace=True)

# Now perform the merge
D1_D2_D3_merged = pd.merge(merged_df, merged_df_labour_force_gdp_current_stats, on='Year', how='left')

# Check the results
D1_D2_D3_merged.head(1000)

,index_x_,Year,State,Employed persons ('000) (D3)_Certificate,Employed persons ('000) (D3)_Degree,Employed persons ('000) (D3)_Diploma,Employed persons ('000) (D3)_No certificate,Employed persons ('000) (D3)_Not applicable,Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent,Employed persons ('000) (D3)_Religious certificate,...,Price type (D2),National GDP (RM Million) (D2),national_gdp_growth (%) (D2),national_lf ('000) (D1),national_lf_employed ('000) (D1),national_lf_unemployed ('000) (D1),national_lf_outside ('000) (D1),national_p_rate (%) (D1),national_ep_ratio (%) (D1),national_u_rate (%) (D1)
0,0,1982,Johor,-,7.4,17.9,410.8,69.2,51.7,1.4,...,Current Prices,62599,8.654297,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4
1,1,1982,Kedah,-,3.3,9.7,239.6,75.6,25.4,1.8,...,Current Prices,62599,8.654297,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4
2,2,1982,Kelantan,-,3.1,7.4,144.9,98.2,22.5,0.7,...,Current Prices,62599,8.654297,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4
3,4,1982,Melaka,-,2.8,5.6,105.7,17.1,12.3,0.2,...,Current Prices,62599,8.654297,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4
4,5,1982,Negeri Sembilan,-,3.4,7.4,145.7,20.3,15.7,0.3,...,Current Prices,62599,8.654297,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,612,2021,Selangor,60.6,577.5,328.3,29.9,26.8,350.5,NaN,...,Current Prices,1548898,9.193361,15797.2,15064.2,733.0,7221.4,68.6,65.4,4.6
575,613,2021,Terengganu,20.3,63,48.4,12.1,14.4,38.8,NaN,...,Current Prices,1548898,9.193361,15797.2,15064.2,733.0,7221.4,68.6,65.4,4.6
576,614,2021,W.P. Kuala Lumpur,15,289.2,122,11.5,18.7,49.8,NaN,...,Current Prices,1548898,9.193361,15797.2,15064.2,733.0,7221.4,68.6,65.4,4.6
577,615,2021,W.P. Labuan,1.5,7.4,6.4,0.4,2.6,3.7,NaN,...,Current Prices,1548898,9.193361,15797.2,15064.2,733.0,7221.4,68.6,65.4,4.6
578,616,2021,W.P. Putrajaya,1.9,10.2,8.5,0.6,-,1,NaN,...,Current Prices,1548898,9.193361,15797.2,15064.2,733.0,7221.4,68.6,65.4,4.6

In [ ]:
D1_D2_D3_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 54 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   index_x_                                                                 579 non-null    int64
 1   Year                                                                     579 non-null    int64
 2   State                                                                    579 non-null    object
 3   Employed persons ('000) (D3)_Certificate                                 579 non-null    object
 4   Employed persons ('000) (D3)_Degree                                      579 non-null    object
 5   Employed persons ('000) (D3)_Diploma                                     579 non-null    object
 6   Employed persons ('000) (D3)_No certificate                              579 non-null    object
 7   Employed persons ('000) (D3)_Not applicable                              579 non-null    object
 8   Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent           579 non-null    object
 9   Employed persons ('000) (D3)_Religious certificate                       563 non-null    object
 10  Employed persons ('000) (D3)_SPM or equivalent                           579 non-null    object
 11  Employed persons ('000) (D3)_STPM or equivalent                          579 non-null    object
 12  Employed persons ('000) (D3)_UPSR/UPSRA or equivalent                    579 non-null    object
 13  Labour Force ('000) (D3)_Certificate                                     579 non-null    object
 14  Labour Force ('000) (D3)_Degree                                          579 non-null    object
 15  Labour Force ('000) (D3)_Diploma                                         579 non-null    object
 16  Labour Force ('000) (D3)_No certificate                                  579 non-null    object
 17  Labour Force ('000) (D3)_Not applicable                                  579 non-null    object
 18  Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent               579 non-null    object
 19  Labour Force ('000) (D3)_Religious certificate                           563 non-null    object
 20  Labour Force ('000) (D3)_SPM or equivalent                               579 non-null    object
 21  Labour Force ('000) (D3)_STPM or equivalent                              579 non-null    object
 22  Labour Force ('000) (D3)_UPSR/UPSRA or equivalent                        579 non-null    object
 23  index_y_                                                                 579 non-null    int64
 24  national_Employed persons ('000) (D3)_Certificate                        579 non-null    object
 25  national_Employed persons ('000) (D3)_Degree                             579 non-null    object
 26  national_Employed persons ('000) (D3)_Diploma                            579 non-null    object
 27  national_Employed persons ('000) (D3)_No certificate                     579 non-null    object
 28  national_Employed persons ('000) (D3)_Not applicable                     579 non-null    object
 29  national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  579 non-null    object
 30  national_Employed persons ('000) (D3)_Religious certificate              563 non-null    object
 31  national_Employed persons ('000) (D3)_SPM or equivalent                  579 non-null    object
 32  national_Employed persons ('000) (D3)_STPM or equivalent                 579 non-null    object
 33  national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent           579 non-null    object
 34  national_Labour Force ('000) (D3)_Certificate                            579 non-null    object
 35  national_Labour Force ('000) (D3)_Degree                                 579 non-null    object
 36  national_Labour Force ('000) (D3)_Diploma                                579 non-null    object
 37  national_Labour Force ('000) (D3)_No certificate                         579 non-null    object
 38  national_Labour Force ('000) (D3)_Not applicable                         579 non-null    object
 39  national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent      579 non-null    object
 40  national_Labour Force ('000) (D3)_Religious certificate                  563 non-null    object
 41  national_Labour Force ('000) (D3)_SPM or equivalent                      579 non-null    object
 42  national_Labour Force ('000) (D3)_STPM or equivalent                     579 non-null    object
 43  national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent               579 non-null    object
 44  Price type (D2)                                                          579 non-null    object
 45  National GDP (RM Million) (D2)                                           579 non-null    int64
 46  national_gdp_growth (%) (D2)                                             579 non-null    float64
 47  national_lf ('000) (D1)                                                  579 non-null    float64
 48  national_lf_employed ('000) (D1)                                         579 non-null    float64
 49  national_lf_unemployed ('000) (D1)                                       579 non-null    float64
 50  national_lf_outside ('000) (D1)                                          579 non-null    float64
 51  national_p_rate (%) (D1)                                                 579 non-null    float64
 52  national_ep_ratio (%) (D1)                                               579 non-null    float64
 53  national_u_rate (%) (D1)                                                 579 non-null    float64
dtypes: float64(8), int64(4), object(42)
memory usage: 244.4+ KB

In [ ]:
D1_D2_D3_merged.columns

Index(['index_x_', 'Year', 'State', 'Employed persons ('000) (D3)_Certificate',
       'Employed persons ('000) (D3)_Degree',
       'Employed persons ('000) (D3)_Diploma',
       'Employed persons ('000) (D3)_No certificate',
       'Employed persons ('000) (D3)_Not applicable',
       'Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'Employed persons ('000) (D3)_Religious certificate',
       'Employed persons ('000) (D3)_SPM or equivalent',
       'Employed persons ('000) (D3)_STPM or equivalent',
       'Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'Labour Force ('000) (D3)_Certificate',
       'Labour Force ('000) (D3)_Degree', 'Labour Force ('000) (D3)_Diploma',
       'Labour Force ('000) (D3)_No certificate',
       'Labour Force ('000) (D3)_Not applicable',
       'Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'Labour Force ('000) (D3)_Religious certificate',
       'Labour Force ('000) (D3)_SPM or equivalent',
       'Labour Force ('000) (D3)_STPM or equivalent',
       'Labour Force ('000) (D3)_UPSR/UPSRA or equivalent', 'index_y_',
       'national_Employed persons ('000) (D3)_Certificate',
       'national_Employed persons ('000) (D3)_Degree',
       'national_Employed persons ('000) (D3)_Diploma',
       'national_Employed persons ('000) (D3)_No certificate',
       'national_Employed persons ('000) (D3)_Not applicable',
       'national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Employed persons ('000) (D3)_Religious certificate',
       'national_Employed persons ('000) (D3)_SPM or equivalent',
       'national_Employed persons ('000) (D3)_STPM or equivalent',
       'national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'national_Labour Force ('000) (D3)_Certificate',
       'national_Labour Force ('000) (D3)_Degree',
       'national_Labour Force ('000) (D3)_Diploma',
       'national_Labour Force ('000) (D3)_No certificate',
       'national_Labour Force ('000) (D3)_Not applicable',
       'national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Labour Force ('000) (D3)_Religious certificate',
       'national_Labour Force ('000) (D3)_SPM or equivalent',
       'national_Labour Force ('000) (D3)_STPM or equivalent',
       'national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent',
       'Price type (D2)', 'National GDP (RM Million) (D2)',
       'national_gdp_growth (%) (D2)', 'national_lf ('000) (D1)',
       'national_lf_employed ('000) (D1)',
       'national_lf_unemployed ('000) (D1)', 'national_lf_outside ('000) (D1)',
       'national_p_rate (%) (D1)', 'national_ep_ratio (%) (D1)',
       'national_u_rate (%) (D1)'],
      dtype='object')

In [ ]:
# Save to CSV if needed
D1_D2_D3_merged.to_csv("D1_D2_D3_merged.csv", index=False)

### (D4) Exploring Consumer Price Index Datasets (Shu Hui)

Calculate inflation rate

From 1967-1980, Weights: (1967=100)

In [ ]:
CPI_1967_1980=pd.read_excel("/content/Consumer Price Index 1967-2010.xls",header=5, skiprows=range(6, 24), nrows=14)
print (CPI_1967_1980)
print("\n",CPI_1967_1980.columns)

    Tahun  Jumlah   Makanan  Minuman  Pakaian  Sewa   Perabot,   Perbe-   \
0    1967    100.0    100.0    100.0    100.0  100.0      100.0    100.0
1    1968     99.8     98.5    100.4    100.5  100.3      100.3    100.5
2    1969     99.4     97.1    100.7    100.9  100.5      101.9    100.7
3    1970    101.3     99.1    102.8    102.3  101.1      105.5    101.8
4    1971    102.9    100.6    103.5    103.0  102.0      108.2    102.6
5    1972    106.2    103.8    107.2    105.8  102.8      114.0    103.4
6    1973    117.4    120.3    108.6    129.0  104.3      128.6    107.8
7    1974    137.8    151.7    110.7    144.1  111.5      150.5    116.4
8    1975    144.0    157.4    121.2    143.3  118.9      157.8    122.4
9    1976    147.7    160.5    122.8    146.9  125.6      161.7    135.2
10   1977    154.8    169.3    127.3    152.6  133.2      167.3    140.9
11   1978    162.4    177.7    133.8    157.9  139.9      174.2    146.0
12   1979    168.3    181.7    135.6    168.1  149.1      181.0    155.3
13   1980    179.5    188.3    144.5    179.5  163.4      194.2    167.0

    Pengang-  Perkhid   Pelbagai
0      100.0     100.0       100.0
1      101.2     103.9       101.3
2      100.7     104.5       103.3
3      102.8     106.3       103.5
4      103.8     111.1       106.1
5      106.5     115.5       112.8
6      109.4     119.8       122.5
7      119.7     126.9       140.4
8      127.1     129.5       147.9
9      133.4     130.3       151.3
10     138.1     132.7       159.4
11     146.3     135.5       170.2
12     151.5     138.8       191.7
13     161.8     144.1       246.0

 Index(['Tahun', 'Jumlah ', 'Makanan', 'Minuman', 'Pakaian', 'Sewa ',
       'Perabot, ', 'Perbe- ', 'Pengang-', 'Perkhid ', 'Pelbagai  '],
      dtype='object')

In [ ]:
CPI_1967_1980_new=CPI_1967_1980.drop(columns=['Makanan', 'Minuman', 'Pakaian', 'Sewa ',
       'Perabot, ', 'Perbe- ', 'Pengang-', 'Perkhid ', 'Pelbagai  '])
CPI_1967_1980_new.rename(columns={'Tahun':'Year'},inplace=True)
CPI_1967_1980_new.rename(columns={'Jumlah ':'national_CPI (D4)'},inplace=True)
CPI_1967_1980_new['Year'] = pd.to_numeric(CPI_1967_1980_new['Year'])
CPI_1967_1980_new['national_CPI (D4)'] = pd.to_numeric(CPI_1967_1980_new['national_CPI (D4)'])
CPI_1967_1980_new

    Year  national_CPI (D4)
0   1967              100.0
1   1968               99.8
2   1969               99.4
3   1970              101.3
4   1971              102.9
5   1972              106.2
6   1973              117.4
7   1974              137.8
8   1975              144.0
9   1976              147.7
10  1977              154.8
11  1978              162.4
12  1979              168.3
13  1980              179.5

CPI stands for Consumer Price Index

In [ ]:
CPI_1967_1980_new['national_Inflation Rate (%) (D4)'] = ((CPI_1967_1980_new['national_CPI (D4)'] - CPI_1967_1980_new['national_CPI (D4)'].shift(1)) / CPI_1967_1980_new['national_CPI (D4)'].shift(1)) * 100
CPI_1967_1980_new

    Year  national_CPI (D4)  national_Inflation Rate (%) (D4)
0   1967              100.0                               NaN
1   1968               99.8                         -0.200000
2   1969               99.4                         -0.400802
3   1970              101.3                          1.911469
4   1971              102.9                          1.579467
5   1972              106.2                          3.206997
6   1973              117.4                         10.546139
7   1974              137.8                         17.376491
8   1975              144.0                          4.499274
9   1976              147.7                          2.569444
10  1977              154.8                          4.807041
11  1978              162.4                          4.909561
12  1979              168.3                          3.633005
13  1980              179.5                          6.654783

From 1981-1990, Weights: (1980=100)

In [ ]:
CPI_1981_1990=pd.read_excel("/content/Consumer Price Index 1967-2010.xls",sheet_name="1980=100 (1980-1998)",header=5, skiprows=range(6, 25), nrows=11)
print (CPI_1981_1990)
print("\n",CPI_1981_1990.columns)

    Tahun  Jumlah   Makanan  Minuman  Pakaian   Sewa   Perabot,   Perbe-   \
0    1980    100.0    100.0    100.0    100.0  100.00      100.0    100.0
1    1981    109.7    111.5    113.4    108.3  109.67      106.1    108.6
2    1982    116.0    120.0    120.8    112.7  116.90      109.3    114.5
3    1983    120.3    120.9    146.0    116.8  124.90      112.2    128.3
4    1984    124.6    125.1    151.0    119.2  133.30      113.2    130.0
5    1985    125.1    122.1    152.5    120.6  138.70      113.3    133.2
6    1986    125.8    122.4    155.0    121.2  140.00      114.0    135.1
7    1987    126.8    121.8    165.9    121.7  139.00      115.4    136.3
8    1988    130.0    126.4    168.4    124.3  136.20      118.7    138.3
9    1989    133.7    131.1    170.7    126.4  135.10      122.0    140.6
10   1990    137.8    136.6    176.6    128.6  135.60      124.2    144.3

    Pengang-  Perkhid   Pelbagai
0      100.0     100.0       100.0
1      108.3     105.3       109.1
2      112.2     108.0       111.8
3      115.2     107.4       118.4
4      120.4     105.1       120.0
5      123.1     103.8       120.0
6      123.3     104.2       121.4
7      126.9     106.6       123.0
8      135.4     108.3       125.3
9      144.7     108.9       128.6
10     151.9     109.8       132.4

 Index(['Tahun', 'Jumlah ', 'Makanan', 'Minuman', 'Pakaian', 'Sewa ',
       'Perabot, ', 'Perbe- ', 'Pengang-', 'Perkhid ', 'Pelbagai  '],
      dtype='object')

In [ ]:
CPI_1981_1990_new=CPI_1981_1990.drop(columns=['Makanan', 'Minuman', 'Pakaian', 'Sewa ',
       'Perabot, ', 'Perbe- ', 'Pengang-', 'Perkhid ', 'Pelbagai  '])
CPI_1981_1990_new.rename(columns={'Tahun':'Year'},inplace=True)
CPI_1981_1990_new.rename(columns={'Jumlah ':'national_CPI (D4)'},inplace=True)
CPI_1981_1990_new['Year']=pd.to_numeric(CPI_1981_1990_new['Year'])
CPI_1981_1990_new['national_CPI (D4)']=pd.to_numeric(CPI_1981_1990_new['national_CPI (D4)'])
CPI_1981_1990_new

    Year  national_CPI (D4)
0   1980              100.0
1   1981              109.7
2   1982              116.0
3   1983              120.3
4   1984              124.6
5   1985              125.1
6   1986              125.8
7   1987              126.8
8   1988              130.0
9   1989              133.7
10  1990              137.8

In [ ]:
CPI_1981_1990_new['national_Inflation Rate (%) (D4)'] = ((CPI_1981_1990_new['national_CPI (D4)'] - CPI_1981_1990_new['national_CPI (D4)'].shift(1)) / CPI_1981_1990_new['national_CPI (D4)'].shift(1)) * 100
CPI_1981_1990_new

    Year  national_CPI (D4)  national_Inflation Rate (%) (D4)
0   1980              100.0                               NaN
1   1981              109.7                          9.700000
2   1982              116.0                          5.742935
3   1983              120.3                          3.706897
4   1984              124.6                          3.574397
5   1985              125.1                          0.401284
6   1986              125.8                          0.559552
7   1987              126.8                          0.794913
8   1988              130.0                          2.523659
9   1989              133.7                          2.846154
10  1990              137.8                          3.066567

From 1991-1994, Weights: (1990=100)

In [ ]:
CPI_1991_1994=pd.read_excel("/content/Consumer Price Index 1967-2010.xls",sheet_name="1990=100 (1990-1998)",header=5, skiprows=range(6, 24), nrows=5)
print (CPI_1991_1994)
print("\n",CPI_1991_1994.columns)

   Tahun  Jumlah   Makanan  Minuman  Pakaian  Sewa   Perabot,   Perbe-   \
0   1990    100.0    100.0    100.0    100.0  100.0      100.0    100.0
1   1991    104.4    104.8    107.8    106.2  103.0      104.4    105.3
2   1992    109.3    111.7    117.1    109.4  106.8      107.2    109.0
3   1993    113.2    114.2    134.4    109.9  110.5      108.6    114.6
4   1994    117.4    120.3    141.1    109.1  113.2      110.4    118.4

   Pengang-  Perkhid   Pelbagai
0     100.0     100.0       100.0
1     104.2     102.6       103.6
2     108.8     105.6       105.9
3     114.9     106.1       108.7
4     120.2     106.8       111.3

 Index(['Tahun', 'Jumlah ', 'Makanan', 'Minuman', 'Pakaian', 'Sewa ',
       'Perabot, ', 'Perbe- ', 'Pengang-', 'Perkhid ', 'Pelbagai  '],
      dtype='object')

In [ ]:
CPI_1991_1994_new=CPI_1991_1994.drop(columns=['Makanan', 'Minuman', 'Pakaian', 'Sewa ',
       'Perabot, ', 'Perbe- ', 'Pengang-', 'Perkhid ', 'Pelbagai  '])
CPI_1991_1994_new.rename(columns={'Tahun':'Year'},inplace=True)
CPI_1991_1994_new.rename(columns={'Jumlah ':'national_CPI (D4)'},inplace=True)
CPI_1991_1994_new['Year']=pd.to_numeric(CPI_1991_1994_new['Year'])
CPI_1991_1994_new['national_CPI (D4)']=pd.to_numeric(CPI_1991_1994_new['national_CPI (D4)'])
CPI_1991_1994_new

   Year  national_CPI (D4)
0  1990              100.0
1  1991              104.4
2  1992              109.3
3  1993              113.2
4  1994              117.4

In [ ]:
CPI_1991_1994_new['national_Inflation Rate (%) (D4)'] = ((CPI_1991_1994_new['national_CPI (D4)'] - CPI_1991_1994_new['national_CPI (D4)'].shift(1)) / CPI_1991_1994_new['national_CPI (D4)'].shift(1)) * 100
CPI_1991_1994_new

   Year  national_CPI (D4)  national_Inflation Rate (%) (D4)
0  1990              100.0                               NaN
1  1991              104.4                          4.400000
2  1992              109.3                          4.693487
3  1993              113.2                          3.568161
4  1994              117.4                          3.710247

From 1995-2000, Weights: (1994=100)

In [ ]:
CPI_1995_2000=pd.read_excel("/content/Consumer Price Index 1967-2010.xls",sheet_name="1994=100 (1994-2000)",header=5, skiprows=range(6, 24), nrows=7)
print(CPI_1995_2000)
print("\n",CPI_1995_2000.columns)

   Tahun  Jumlah   Makanan  Minuman  Pakaian  Sewa   Perabot,   Perbe-   \
0   1994    100.0    100.0    100.0    100.0  100.0      100.0    100.0
1   1995    103.4    104.9    102.3    100.0  103.4      102.8    103.1
2   1996    107.0    110.9    104.6     99.3  106.7      103.9    106.9
3   1997    109.9    115.5    106.0     98.8  110.1      104.0    110.7
4   1998    115.7    125.8    110.6     99.2  114.9      108.1    117.6
5   1999    118.9    131.6    119.3     97.2  116.7      109.5    121.2
6   2000    120.7    134.1    122.7     95.5  118.4      109.5    123.6

   Pengang-  Perkhid   Pelbagai
0     100.0     100.0       100.0
1     101.8     102.5       104.2
2     103.2     105.9       106.8
3     103.8     106.3       111.7
4     103.7     109.8       119.6
5     104.2     112.6       121.4
6     106.4     113.2       122.5

 Index(['Tahun', 'Jumlah ', 'Makanan', 'Minuman', 'Pakaian', 'Sewa ',
       'Perabot, ', 'Perbe- ', 'Pengang-', 'Perkhid ', 'Pelbagai  '],
      dtype='object')

In [ ]:
pd.set_option('display.float_format', '{:.1f}'.format)
CPI_1995_2000_new=CPI_1995_2000.drop(columns=['Makanan', 'Minuman', 'Pakaian', 'Sewa ',
       'Perabot, ', 'Perbe- ', 'Pengang-', 'Perkhid ', 'Pelbagai  '])
CPI_1995_2000_new.rename(columns={'Tahun':'Year'},inplace=True)
CPI_1995_2000_new.rename(columns={'Jumlah ':'national_CPI (D4)'},inplace=True)
CPI_1995_2000_new['Year']=pd.to_numeric(CPI_1995_2000_new['Year'])
CPI_1995_2000_new['national_CPI (D4)']=pd.to_numeric(CPI_1995_2000_new['national_CPI (D4)'])
CPI_1995_2000_new

   Year  national_CPI (D4)
0  1994              100.0
1  1995              103.4
2  1996              107.0
3  1997              109.9
4  1998              115.7
5  1999              118.9
6  2000              120.7

In [ ]:
CPI_1995_2000_new['national_Inflation Rate (%) (D4)'] = ((CPI_1995_2000_new['national_CPI (D4)'] - CPI_1995_2000_new['national_CPI (D4)'].shift(1)) / CPI_1995_2000_new['national_CPI (D4)'].shift(1)) * 100
CPI_1995_2000_new

   Year  national_CPI (D4)  national_Inflation Rate (%) (D4)
0  1994              100.0                               NaN
1  1995              103.4                               3.4
2  1996              107.0                               3.5
3  1997              109.9                               2.7
4  1998              115.7                               5.3
5  1999              118.9                               2.8
6  2000              120.7                               1.5

From 2001-2005, Weights: (2000=100)

In [ ]:
CPI_2001_2005=pd.read_excel("/content/Consumer Price Index 1967-2010.xls",sheet_name="2000=100 (1998-2005)",header=5, skiprows=range(6, 26), nrows=6)
print(CPI_2001_2005)
print("\n",CPI_2001_2005.columns)

   Tahun  Jumlah   Makanan  Minuman  Pakaian  Sewa   Perabot,   Perbe-   \
0   2000    100.0    100.0    100.0    100.0  100.0      100.0    100.0
1   2001    101.4    100.7    104.8     97.4  101.4      100.1    102.9
2   2002    103.2    101.4    109.2     95.2  102.1       99.7    105.4
3   2003    104.4    102.7    111.0     93.3  103.0       99.1    107.2
4   2004    105.9    105.0    119.7     91.6  104.0       99.5    108.7
5   2005    109.1    108.8    132.3     90.7  105.2      101.5    110.4

   Pengang-  Perkhid   Pelbagai
0     100.0     100.0       100.0
1     103.6      99.9       100.7
2     110.4     100.1       101.8
3     112.2     100.7       103.1
4     113.1     100.6       105.0
5     118.1     101.1       107.5

 Index(['Tahun', 'Jumlah ', 'Makanan', 'Minuman', 'Pakaian', 'Sewa ',
       'Perabot, ', 'Perbe- ', 'Pengang-', 'Perkhid ', 'Pelbagai  '],
      dtype='object')

In [ ]:
CPI_2001_2005_new=CPI_2001_2005.drop(columns=['Makanan', 'Minuman', 'Pakaian', 'Sewa ',
       'Perabot, ', 'Perbe- ', 'Pengang-', 'Perkhid ', 'Pelbagai  '])
CPI_2001_2005_new.rename(columns={'Tahun':'Year'},inplace=True)
CPI_2001_2005_new.rename(columns={'Jumlah ':'national_CPI (D4)'},inplace=True)
CPI_2001_2005_new['Year']=pd.to_numeric(CPI_2001_2005_new['Year'])
CPI_2001_2005_new['national_CPI (D4)']=pd.to_numeric(CPI_2001_2005_new['national_CPI (D4)'])
CPI_2001_2005_new

   Year  national_CPI (D4)
0  2000              100.0
1  2001              101.4
2  2002              103.2
3  2003              104.4
4  2004              105.9
5  2005              109.1

In [ ]:
CPI_2001_2005_new['national_Inflation Rate (%) (D4)'] = ((CPI_2001_2005_new['national_CPI (D4)'] - CPI_2001_2005_new['national_CPI (D4)'].shift(1)) / CPI_2001_2005_new['national_CPI (D4)'].shift(1)) * 100
CPI_2001_2005_new

   Year  national_CPI (D4)  national_Inflation Rate (%) (D4)
0  2000              100.0                               NaN
1  2001              101.4                               1.4
2  2002              103.2                               1.8
3  2003              104.4                               1.2
4  2004              105.9                               1.4
5  2005              109.1                               3.0

From 2006-2010, Weights: (2005=100)

In [ ]:
CPI_2006_2010=pd.read_excel("/content/Consumer Price Index 2010-2020.xls",sheet_name="10.1.2_2005=100",header=5, skiprows=range(6, 23), nrows=6)
print(CPI_2006_2010)
print("\n",CPI_2006_2010.columns)

   Tahun  Jumlah   Makanan  Minuman  Pakaian  Perumahan,  Hiasan,   \
0   2005    100.0    100.0    100.0    100.0       100.0     100.0
1   2006    103.6    103.4    106.9     98.7       101.5     101.1
2   2007    105.7    106.5    115.2     97.3       102.8     102.2
3   2008    111.4    115.9    123.6     96.8       104.4     105.2
4   2009    112.1    120.7    131.2     95.9       105.9     108.4
5   2010    114.0    123.6    136.3     94.6       107.1     109.2

   kesihatan    Pengangkutan  Komunikasi  Perkhidmatan  Pendidikan  Restoran   \
0        100.0         100.0       100.0         100.0       100.0      100.0
1        102.1         111.0        98.6         100.7       101.6      103.7
2        103.7         113.5        97.4         102.1       103.3      107.5
3        106.0         123.6        96.8         103.9       105.8      114.6
4        108.4         112.0        96.3         105.5       108.3      118.0
5        110.1         113.8        96.1         107.2       110.1      120.2

   Pelbagai
0     100.0
1     102.2
2     103.2
3     106.6
4     110.6
5     113.6

 Index(['Tahun', 'Jumlah ', 'Makanan', 'Minuman', 'Pakaian', 'Perumahan,',
       'Hiasan, ', 'kesihatan  ', 'Pengangkutan', 'Komunikasi', 'Perkhidmatan',
       'Pendidikan', 'Restoran ', 'Pelbagai'],
      dtype='object')

In [ ]:
CPI_2006_2010_new=CPI_2006_2010.drop(columns=['Makanan', 'Minuman', 'Pakaian', 'Perumahan,',
       'Hiasan, ', 'kesihatan  ', 'Pengangkutan', 'Komunikasi', 'Perkhidmatan',
       'Pendidikan', 'Restoran ', 'Pelbagai'])
CPI_2006_2010_new.rename(columns={'Tahun':'Year'},inplace=True)
CPI_2006_2010_new.rename(columns={'Jumlah ':'national_CPI (D4)'},inplace=True)
CPI_2006_2010_new['Year']=pd.to_numeric(CPI_2006_2010_new['Year'])
CPI_2006_2010_new['national_CPI (D4)']=pd.to_numeric(CPI_2006_2010_new['national_CPI (D4)'])
CPI_2006_2010_new

   Year  national_CPI (D4)
0  2005              100.0
1  2006              103.6
2  2007              105.7
3  2008              111.4
4  2009              112.1
5  2010              114.0

In [ ]:
CPI_2006_2010_new['national_Inflation Rate (%) (D4)'] = ((CPI_2006_2010_new['national_CPI (D4)'] - CPI_2006_2010_new['national_CPI (D4)'].shift(1)) / CPI_2006_2010_new['national_CPI (D4)'].shift(1)) * 100
CPI_2006_2010_new

   Year  national_CPI (D4)  national_Inflation Rate (%) (D4)
0  2005              100.0                               NaN
1  2006              103.6                               3.6
2  2007              105.7                               2.0
3  2008              111.4                               5.4
4  2009              112.1                               0.6
5  2010              114.0                               1.7

From 2011-2020, Weights: (2010=100)

In [ ]:
CPI_2011_2020=pd.read_excel("/content/Consumer Price Index 2010-2020.xls",sheet_name="10.1.2_2010=100",header=4, skiprows=range(5, 25), nrows=11)
print(CPI_2011_2020)
print("\n",CPI_2011_2020.columns)

    Tahun  Jumlah   Makanan  Minuman  Pakaian  Perumahan,  Hiasan,   \
0    2010    100.0    100.0    100.0    100.0       100.0      99.9
1    2011    103.2    104.8    104.6     99.8       101.8     101.8
2    2012    104.9    107.6    105.0     99.2       103.4     103.8
3    2013    107.1    111.4    111.3     98.6       105.2     105.4
4    2014    110.5    115.2    124.2     98.4       108.8     106.5
5    2015    112.8    119.4    141.0     98.9       111.5     109.4
6    2016    115.2    123.9    165.2     98.5       114.2     112.0
7    2017    119.5    128.8    165.5     98.2       116.7     114.4
8    2018    120.7    130.9    165.3     96.2       119.0     114.8
9    2019    121.5    133.1    167.8     94.3       121.3     116.4
10   2020    120.1    134.8    168.3     93.5       119.2     116.7

    Kesihatan    Pengangkutan  Komunikasi  Perkhidmatan  Pendidikan  \
0         100.0         100.0       100.0         100.0       100.0
1         102.7         104.4        99.7         102.0       102.2
2         104.8         105.1        99.1         103.2       104.7
3         106.8         107.2        98.4         103.3       107.2
4         109.9         112.4        97.7         104.9       109.8
5         114.8         107.3        99.6         106.7       112.4
6         117.9         102.4        98.1         109.4       114.8
7         120.9         115.9        97.7         111.5       116.7
8         121.9         117.7        96.0         111.0       118.0
9         122.7         114.0        96.4         111.8       119.7
10        124.1         102.6        97.5         112.3       120.9

    Restoran   Pelbagai
0       100.0     100.0
1       105.9     102.4
2       109.0     104.4
3       111.7     104.7
4       116.9     105.4
5       121.7     109.7
6       125.1     112.9
7       128.2     114.2
8       130.2     112.6
9       131.8     113.0
10      132.4     116.0

 Index(['Tahun', 'Jumlah ', 'Makanan', 'Minuman', 'Pakaian', 'Perumahan,',
       'Hiasan, ', 'Kesihatan  ', 'Pengangkutan', 'Komunikasi', 'Perkhidmatan',
       'Pendidikan', 'Restoran ', 'Pelbagai'],
      dtype='object')

In [ ]:
CPI_2011_2020_new=CPI_2011_2020.drop(columns=['Makanan', 'Minuman', 'Pakaian', 'Perumahan,',
       'Hiasan, ', 'Kesihatan  ', 'Pengangkutan', 'Komunikasi', 'Perkhidmatan',
       'Pendidikan', 'Restoran ', 'Pelbagai'])
CPI_2011_2020_new.rename(columns={'Tahun':'Year'},inplace=True)
CPI_2011_2020_new.rename(columns={'Jumlah ':'national_CPI (D4)'},inplace=True)
CPI_2011_2020_new['Year']=pd.to_numeric(CPI_2011_2020_new['Year'])
CPI_2011_2020_new['national_CPI (D4)']=pd.to_numeric(CPI_2011_2020_new['national_CPI (D4)'])
CPI_2011_2020_new

    Year  national_CPI (D4)
0   2010              100.0
1   2011              103.2
2   2012              104.9
3   2013              107.1
4   2014              110.5
5   2015              112.8
6   2016              115.2
7   2017              119.5
8   2018              120.7
9   2019              121.5
10  2020              120.1

In [ ]:
CPI_2011_2020_new['national_Inflation Rate (%) (D4)'] = ((CPI_2011_2020_new['national_CPI (D4)'] - CPI_2011_2020_new['national_CPI (D4)'].shift(1)) / CPI_2011_2020_new['national_CPI (D4)'].shift(1)) * 100
CPI_2011_2020_new

    Year  national_CPI (D4)  national_Inflation Rate (%) (D4)
0   2010              100.0                               NaN
1   2011              103.2                               3.2
2   2012              104.9                               1.7
3   2013              107.1                               2.1
4   2014              110.5                               3.1
5   2015              112.8                               2.1
6   2016              115.2                               2.1
7   2017              119.5                               3.7
8   2018              120.7                               1.0
9   2019              121.5                               0.7
10  2020              120.1                              -1.1

Concate the dataset of overall inflation rate from 1982 to 2020

In [ ]:
CPI_InflationRate = pd.concat([CPI_1967_1980_new, CPI_1981_1990_new, CPI_1991_1994_new, CPI_1995_2000_new, CPI_2001_2005_new, CPI_2006_2010_new, CPI_2011_2020_new], ignore_index=True)
CPI_InflationRate=CPI_InflationRate.dropna(subset=['national_Inflation Rate (%) (D4)'])
CPI_InflationRate

    Year  national_CPI (D4)  national_Inflation Rate (%) (D4)
1   1968               99.8                              -0.2
2   1969               99.4                              -0.4
3   1970              101.3                               1.9
4   1971              102.9                               1.6
5   1972              106.2                               3.2
6   1973              117.4                              10.5
7   1974              137.8                              17.4
8   1975              144.0                               4.5
9   1976              147.7                               2.6
10  1977              154.8                               4.8
11  1978              162.4                               4.9
12  1979              168.3                               3.6
13  1980              179.5                               6.7
15  1981              109.7                               9.7
16  1982              116.0                               5.7
17  1983              120.3                               3.7
18  1984              124.6                               3.6
19  1985              125.1                               0.4
20  1986              125.8                               0.6
21  1987              126.8                               0.8
22  1988              130.0                               2.5
23  1989              133.7                               2.8
24  1990              137.8                               3.1
26  1991              104.4                               4.4
27  1992              109.3                               4.7
28  1993              113.2                               3.6
29  1994              117.4                               3.7
31  1995              103.4                               3.4
32  1996              107.0                               3.5
33  1997              109.9                               2.7
34  1998              115.7                               5.3
35  1999              118.9                               2.8
36  2000              120.7                               1.5
38  2001              101.4                               1.4
39  2002              103.2                               1.8
40  2003              104.4                               1.2
41  2004              105.9                               1.4
42  2005              109.1                               3.0
44  2006              103.6                               3.6
45  2007              105.7                               2.0
46  2008              111.4                               5.4
47  2009              112.1                               0.6
48  2010              114.0                               1.7
50  2011              103.2                               3.2
51  2012              104.9                               1.7
52  2013              107.1                               2.1
53  2014              110.5                               3.1
54  2015              112.8                               2.1
55  2016              115.2                               2.1
56  2017              119.5                               3.7
57  2018              120.7                               1.0
58  2019              121.5                               0.7
59  2020              120.1                              -1.1

Merge labour_force_survey_unemployment_stats and CPI_InflationRate

In [ ]:
D1_D2_D3_D4_merged=pd.merge(D1_D2_D3_merged,CPI_InflationRate,on=['Year'])

In [ ]:
D1_D2_D3_D4_merged

,index_x_,Year,State,Employed persons ('000) (D3)_Certificate,Employed persons ('000) (D3)_Degree,Employed persons ('000) (D3)_Diploma,Employed persons ('000) (D3)_No certificate,Employed persons ('000) (D3)_Not applicable,Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent,Employed persons ('000) (D3)_Religious certificate,...,national_gdp_growth (%) (D2),national_lf ('000) (D1),national_lf_employed ('000) (D1),national_lf_unemployed ('000) (D1),national_lf_outside ('000) (D1),national_p_rate (%) (D1),national_ep_ratio (%) (D1),national_u_rate (%) (D1),national_CPI (D4),national_Inflation Rate (%) (D4)
0,0,1982,Johor,-,7.4,17.9,410.8,69.2,51.7,1.4,...,8.7,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7
1,1,1982,Kedah,-,3.3,9.7,239.6,75.6,25.4,1.8,...,8.7,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7
2,2,1982,Kelantan,-,3.1,7.4,144.9,98.2,22.5,0.7,...,8.7,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7
3,4,1982,Melaka,-,2.8,5.6,105.7,17.1,12.3,0.2,...,8.7,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7
4,5,1982,Negeri Sembilan,-,3.4,7.4,145.7,20.3,15.7,0.3,...,8.7,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,595,2020,Selangor,146.8,710.9,479.8,27,18.5,223.2,-,...,-6.2,15667.7,14956.7,711.0,7225.5,68.4,65.3,4.5,120.1,-1.1
559,596,2020,Terengganu,27,53.3,50.8,10.8,12.4,43,-,...,-6.2,15667.7,14956.7,711.0,7225.5,68.4,65.3,4.5,120.1,-1.1
560,597,2020,W.P. Kuala Lumpur,24.5,225.1,126.1,11,7,63.1,-,...,-6.2,15667.7,14956.7,711.0,7225.5,68.4,65.3,4.5,120.1,-1.1
561,598,2020,W.P. Labuan,1.2,4.2,5.4,1.6,1.8,3.3,-,...,-6.2,15667.7,14956.7,711.0,7225.5,68.4,65.3,4.5,120.1,-1.1
562,599,2020,W.P. Putrajaya,1.1,10.3,9.6,-,-,1.1,0,...,-6.2,15667.7,14956.7,711.0,7225.5,68.4,65.3,4.5,120.1,-1.1

In [ ]:
# Save to CSV if needed
D1_D2_D3_D4_merged.to_csv("D1_D2_D3_D4_merged.csv", index=False)

In [ ]:
D1_D2_D3_D4_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Data columns (total 56 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   index_x_                                                                 563 non-null    int64
 1   Year                                                                     563 non-null    int64
 2   State                                                                    563 non-null    object
 3   Employed persons ('000) (D3)_Certificate                                 563 non-null    object
 4   Employed persons ('000) (D3)_Degree                                      563 non-null    object
 5   Employed persons ('000) (D3)_Diploma                                     563 non-null    object
 6   Employed persons ('000) (D3)_No certificate                              563 non-null    object
 7   Employed persons ('000) (D3)_Not applicable                              563 non-null    object
 8   Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent           563 non-null    object
 9   Employed persons ('000) (D3)_Religious certificate                       563 non-null    object
 10  Employed persons ('000) (D3)_SPM or equivalent                           563 non-null    object
 11  Employed persons ('000) (D3)_STPM or equivalent                          563 non-null    object
 12  Employed persons ('000) (D3)_UPSR/UPSRA or equivalent                    563 non-null    object
 13  Labour Force ('000) (D3)_Certificate                                     563 non-null    object
 14  Labour Force ('000) (D3)_Degree                                          563 non-null    object
 15  Labour Force ('000) (D3)_Diploma                                         563 non-null    object
 16  Labour Force ('000) (D3)_No certificate                                  563 non-null    object
 17  Labour Force ('000) (D3)_Not applicable                                  563 non-null    object
 18  Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent               563 non-null    object
 19  Labour Force ('000) (D3)_Religious certificate                           563 non-null    object
 20  Labour Force ('000) (D3)_SPM or equivalent                               563 non-null    object
 21  Labour Force ('000) (D3)_STPM or equivalent                              563 non-null    object
 22  Labour Force ('000) (D3)_UPSR/UPSRA or equivalent                        563 non-null    object
 23  index_y_                                                                 563 non-null    int64
 24  national_Employed persons ('000) (D3)_Certificate                        563 non-null    object
 25  national_Employed persons ('000) (D3)_Degree                             563 non-null    object
 26  national_Employed persons ('000) (D3)_Diploma                            563 non-null    object
 27  national_Employed persons ('000) (D3)_No certificate                     563 non-null    object
 28  national_Employed persons ('000) (D3)_Not applicable                     563 non-null    object
 29  national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  563 non-null    object
 30  national_Employed persons ('000) (D3)_Religious certificate              563 non-null    object
 31  national_Employed persons ('000) (D3)_SPM or equivalent                  563 non-null    object
 32  national_Employed persons ('000) (D3)_STPM or equivalent                 563 non-null    object
 33  national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent           563 non-null    object
 34  national_Labour Force ('000) (D3)_Certificate                            563 non-null    object
 35  national_Labour Force ('000) (D3)_Degree                                 563 non-null    object
 36  national_Labour Force ('000) (D3)_Diploma                                563 non-null    object
 37  national_Labour Force ('000) (D3)_No certificate                         563 non-null    object
 38  national_Labour Force ('000) (D3)_Not applicable                         563 non-null    object
 39  national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent      563 non-null    object
 40  national_Labour Force ('000) (D3)_Religious certificate                  563 non-null    object
 41  national_Labour Force ('000) (D3)_SPM or equivalent                      563 non-null    object
 42  national_Labour Force ('000) (D3)_STPM or equivalent                     563 non-null    object
 43  national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent               563 non-null    object
 44  Price type (D2)                                                          563 non-null    object
 45  National GDP (RM Million) (D2)                                           563 non-null    int64
 46  national_gdp_growth (%) (D2)                                             563 non-null    float64
 47  national_lf ('000) (D1)                                                  563 non-null    float64
 48  national_lf_employed ('000) (D1)                                         563 non-null    float64
 49  national_lf_unemployed ('000) (D1)                                       563 non-null    float64
 50  national_lf_outside ('000) (D1)                                          563 non-null    float64
 51  national_p_rate (%) (D1)                                                 563 non-null    float64
 52  national_ep_ratio (%) (D1)                                               563 non-null    float64
 53  national_u_rate (%) (D1)                                                 563 non-null    float64
 54  national_CPI (D4)                                                        563 non-null    float64
 55  national_Inflation Rate (%) (D4)                                         563 non-null    float64
dtypes: float64(10), int64(4), object(42)
memory usage: 246.4+ KB

In [ ]:
D1_D2_D3_D4_merged.columns

Index(['index_x_', 'Year', 'State', 'Employed persons ('000) (D3)_Certificate',
       'Employed persons ('000) (D3)_Degree',
       'Employed persons ('000) (D3)_Diploma',
       'Employed persons ('000) (D3)_No certificate',
       'Employed persons ('000) (D3)_Not applicable',
       'Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'Employed persons ('000) (D3)_Religious certificate',
       'Employed persons ('000) (D3)_SPM or equivalent',
       'Employed persons ('000) (D3)_STPM or equivalent',
       'Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'Labour Force ('000) (D3)_Certificate',
       'Labour Force ('000) (D3)_Degree', 'Labour Force ('000) (D3)_Diploma',
       'Labour Force ('000) (D3)_No certificate',
       'Labour Force ('000) (D3)_Not applicable',
       'Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'Labour Force ('000) (D3)_Religious certificate',
       'Labour Force ('000) (D3)_SPM or equivalent',
       'Labour Force ('000) (D3)_STPM or equivalent',
       'Labour Force ('000) (D3)_UPSR/UPSRA or equivalent', 'index_y_',
       'national_Employed persons ('000) (D3)_Certificate',
       'national_Employed persons ('000) (D3)_Degree',
       'national_Employed persons ('000) (D3)_Diploma',
       'national_Employed persons ('000) (D3)_No certificate',
       'national_Employed persons ('000) (D3)_Not applicable',
       'national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Employed persons ('000) (D3)_Religious certificate',
       'national_Employed persons ('000) (D3)_SPM or equivalent',
       'national_Employed persons ('000) (D3)_STPM or equivalent',
       'national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'national_Labour Force ('000) (D3)_Certificate',
       'national_Labour Force ('000) (D3)_Degree',
       'national_Labour Force ('000) (D3)_Diploma',
       'national_Labour Force ('000) (D3)_No certificate',
       'national_Labour Force ('000) (D3)_Not applicable',
       'national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Labour Force ('000) (D3)_Religious certificate',
       'national_Labour Force ('000) (D3)_SPM or equivalent',
       'national_Labour Force ('000) (D3)_STPM or equivalent',
       'national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent',
       'Price type (D2)', 'National GDP (RM Million) (D2)',
       'national_gdp_growth (%) (D2)', 'national_lf ('000) (D1)',
       'national_lf_employed ('000) (D1)',
       'national_lf_unemployed ('000) (D1)', 'national_lf_outside ('000) (D1)',
       'national_p_rate (%) (D1)', 'national_ep_ratio (%) (D1)',
       'national_u_rate (%) (D1)', 'national_CPI (D4)',
       'national_Inflation Rate (%) (D4)'],
      dtype='object')

### (D5) Exploring Industrial Production Index Datasets (Shu Hui)

From 1969-1981, Weights: 1968=100

In [ ]:
IPI_1969_1981=pd.read_excel("/content/Industrial Production Index 1969-2000.xls",header=4, skiprows=range(5, 13), nrows=13)
print(IPI_1969_1981)
print("\n",IPI_1969_1981.columns)

    Tempoh  Indeks Keseluruhan  Perlombongan  Pembuatan  Elektrik
0     1969               109.1          97.6      115.6     105.7
1     1970               117.7          95.5      129.8     115.3
2     1971               120.0          85.3      137.8     123.1
3     1972               132.2          85.0      156.1     138.8
4     1973               150.6          80.6      187.1     153.5
5     1974               167.6          75.4      215.8     170.0
6     1975               167.6          70.7      216.0     185.0
7     1976               193.4          69.6      256.9     206.0
8     1977               210.2          64.6      284.2     229.0
9     1978               227.0          68.9      306.5     253.4
10    1979               246.4          69.5      334.7     279.3
11    1980               265.0          67.7      362.6     307.4
12    1981               273.5          66.5      374.6     326.9

 Index(['Tempoh', 'Indeks Keseluruhan', 'Perlombongan', 'Pembuatan',
       'Elektrik'],
      dtype='object')

In [ ]:
IPI_1969_1981_new=IPI_1969_1981.drop(columns=['Perlombongan', 'Pembuatan',
       'Elektrik'])
IPI_1969_1981_new.rename(columns={'Tempoh':'Year'},inplace=True)
IPI_1969_1981_new.rename(columns={'Indeks Keseluruhan':'national_IPI (D5)'},inplace=True)
IPI_1969_1981_new['Year']=pd.to_numeric(IPI_1969_1981_new['Year'])
IPI_1969_1981_new['national_IPI (D5)']=pd.to_numeric(IPI_1969_1981_new['national_IPI (D5)'])
IPI_1969_1981_new=pd.concat([pd.DataFrame({'Year': [1968], 'national_IPI (D5)': [100.0]}), IPI_1969_1981_new]).reset_index(drop=True)
IPI_1969_1981_new

    Year  national_IPI (D5)
0   1968              100.0
1   1969              109.1
2   1970              117.7
3   1971              120.0
4   1972              132.2
5   1973              150.6
6   1974              167.6
7   1975              167.6
8   1976              193.4
9   1977              210.2
10  1978              227.0
11  1979              246.4
12  1980              265.0
13  1981              273.5

In [ ]:
IPI_1969_1981_new['national_Industrial Production Rate (%) (D5)'] = ((IPI_1969_1981_new['national_IPI (D5)'] - IPI_1969_1981_new['national_IPI (D5)'].shift(1)) / IPI_1969_1981_new['national_IPI (D5)'].shift(1)) * 100
IPI_1969_1981_new

    Year  national_IPI (D5)  national_Industrial Production Rate (%) (D5)
0   1968              100.0                                           NaN
1   1969              109.1                                           9.1
2   1970              117.7                                           7.9
3   1971              120.0                                           2.0
4   1972              132.2                                          10.2
5   1973              150.6                                          13.9
6   1974              167.6                                          11.3
7   1975              167.6                                           0.0
8   1976              193.4                                          15.4
9   1977              210.2                                           8.7
10  1978              227.0                                           8.0
11  1979              246.4                                           8.5
12  1980              265.0                                           7.5
13  1981              273.5                                           3.2

From 1982-1985, Weights: 1981=100

In [ ]:
IPI_1982_1985=pd.read_excel("/content/Industrial Production Index 1969-2000.xls",header=4, skiprows=range(5, 34), nrows=4)
print(IPI_1982_1985)
print("\n",IPI_1982_1985.columns)

   Tempoh  Indeks Keseluruhan  Perlombongan  Pembuatan  Elektrik
0    1982               105.5         105.4      105.6     103.7
1    1983               118.6         132.0      112.6     115.6
2    1984               137.6         165.6      125.4     124.7
3    1985               133.3         166.4      117.6     134.7

 Index(['Tempoh', 'Indeks Keseluruhan', 'Perlombongan', 'Pembuatan',
       'Elektrik'],
      dtype='object')

In [ ]:
IPI_1982_1985_new=IPI_1982_1985.drop(columns=['Perlombongan', 'Pembuatan',
       'Elektrik'])
IPI_1982_1985_new.rename(columns={'Tempoh':'Year'},inplace=True)
IPI_1982_1985_new.rename(columns={'Indeks Keseluruhan':'national_IPI (D5)'},inplace=True)
IPI_1982_1985_new['Year']=pd.to_numeric(IPI_1982_1985_new['Year'])
IPI_1982_1985_new['national_IPI (D5)']=pd.to_numeric(IPI_1982_1985_new['national_IPI (D5)'])
IPI_1982_1985_new=pd.concat([pd.DataFrame({'Year': [1981], 'national_IPI (D5)': [100.0]}), IPI_1982_1985_new]).reset_index(drop=True)
IPI_1982_1985_new

   Year  national_IPI (D5)
0  1981              100.0
1  1982              105.5
2  1983              118.6
3  1984              137.6
4  1985              133.3

In [ ]:
IPI_1982_1985_new['national_Industrial Production Rate (%) (D5)'] = ((IPI_1982_1985_new['national_IPI (D5)'] - IPI_1982_1985_new['national_IPI (D5)'].shift(1)) / IPI_1982_1985_new['national_IPI (D5)'].shift(1)) * 100
IPI_1982_1985_new

   Year  national_IPI (D5)  national_Industrial Production Rate (%) (D5)
0  1981              100.0                                           NaN
1  1982              105.5                                           5.5
2  1983              118.6                                          12.4
3  1984              137.6                                          16.0
4  1985              133.3                                          -3.1

From 1986-1988, Weights: 1985=100

In [ ]:
IPI_1986_1988=pd.read_excel("/content/Industrial Production Index 1969-2000.xls",header=4, skiprows=range(5, 47), nrows=3)
print(IPI_1986_1988)
print("\n",IPI_1986_1988.columns)

   Tempoh  Indeks Keseluruhan  Perlombongan  Pembuatan  Elektrik
0    1986               110.2         111.6      109.4     108.6
1    1987               118.8         112.4      123.6     117.7
2    1988               135.0         120.8      145.8     130.0

 Index(['Tempoh', 'Indeks Keseluruhan', 'Perlombongan', 'Pembuatan',
       'Elektrik'],
      dtype='object')

In [ ]:
IPI_1986_1988_new=IPI_1986_1988.drop(columns=['Perlombongan', 'Pembuatan',
       'Elektrik'])
IPI_1986_1988_new.rename(columns={'Tempoh':'Year'},inplace=True)
IPI_1986_1988_new.rename(columns={'Indeks Keseluruhan':'national_IPI (D5)'},inplace=True)
IPI_1986_1988_new['Year']=pd.to_numeric(IPI_1986_1988_new['Year'])
IPI_1986_1988_new['national_IPI (D5)']=pd.to_numeric(IPI_1986_1988_new['national_IPI (D5)'])
IPI_1986_1988_new=pd.concat([pd.DataFrame({'Year': [1985], 'national_IPI (D5)': [100.0]}), IPI_1986_1988_new]).reset_index(drop=True)
IPI_1986_1988_new

   Year  national_IPI (D5)
0  1985              100.0
1  1986              110.2
2  1987              118.8
3  1988              135.0

In [ ]:
IPI_1986_1988_new['national_Industrial Production Rate (%) (D5)'] = ((IPI_1986_1988_new['national_IPI (D5)'] - IPI_1986_1988_new['national_IPI (D5)'].shift(1)) / IPI_1986_1988_new['national_IPI (D5)'].shift(1)) * 100
IPI_1986_1988_new

   Year  national_IPI (D5)  national_Industrial Production Rate (%) (D5)
0  1985              100.0                                           NaN
1  1986              110.2                                          10.2
2  1987              118.8                                           7.8
3  1988              135.0                                          13.6

From 1989-1993, Weights: 1988=100

In [ ]:
IPI_1989_1993=pd.read_excel("/content/Industrial Production Index 1969-2000.xls",header=4, skiprows=range(5, 58), nrows=5)
print(IPI_1989_1993)
print("\n",IPI_1989_1993.columns)

   Tempoh  Indeks Keseluruhan  Perlombongan  Pembuatan  Elektrik
0    1989               111.9         107.5      114.2     111.9
1    1990               125.5         113.1      132.1     127.3
2    1991               139.5         118.9      150.4     144.1
3    1992               151.5         122.1      166.2     164.2
4    1993               166.2         123.6      187.6     184.4

 Index(['Tempoh', 'Indeks Keseluruhan', 'Perlombongan', 'Pembuatan',
       'Elektrik'],
      dtype='object')

In [ ]:
IPI_1989_1993_new=IPI_1989_1993.drop(columns=['Perlombongan', 'Pembuatan',
       'Elektrik'])
IPI_1989_1993_new.rename(columns={'Tempoh':'Year'},inplace=True)
IPI_1989_1993_new.rename(columns={'Indeks Keseluruhan':'national_IPI (D5)'},inplace=True)
IPI_1989_1993_new['Year']=pd.to_numeric(IPI_1989_1993_new['Year'])
IPI_1989_1993_new['national_IPI (D5)']=pd.to_numeric(IPI_1989_1993_new['national_IPI (D5)'])
IPI_1989_1993_new=pd.concat([pd.DataFrame({'Year': [1989], 'national_IPI (D5)': [100.0]}), IPI_1989_1993_new]).reset_index(drop=True)
IPI_1989_1993_new

   Year  national_IPI (D5)
0  1989              100.0
1  1989              111.9
2  1990              125.5
3  1991              139.5
4  1992              151.5
5  1993              166.2

In [ ]:
IPI_1989_1993_new['national_Industrial Production Rate (%) (D5)'] = ((IPI_1989_1993_new['national_IPI (D5)'] - IPI_1989_1993_new['national_IPI (D5)'].shift(1)) / IPI_1989_1993_new['national_IPI (D5)'].shift(1)) * 100
IPI_1989_1993_new

   Year  national_IPI (D5)  national_Industrial Production Rate (%) (D5)
0  1989              100.0                                           NaN
1  1989              111.9                                          11.9
2  1990              125.5                                          12.2
3  1991              139.5                                          11.2
4  1992              151.5                                           8.6
5  1993              166.2                                           9.7

From 1994-2000, Weights: 1993=100

In [ ]:
IPI_1994_2000=pd.read_excel("/content/Industrial Production Index 1969-2000.xls",header=4, skiprows=range(5, 71), nrows=7)
print(IPI_1994_2000)
print("\n",IPI_1994_2000.columns)

   Tempoh  Indeks Keseluruhan  Perlombongan  Pembuatan  Elektrik
0    1994               112.4         103.6      114.9     113.8
1    1995               127.1         112.8      131.2     129.9
2    1996               141.1         119.4      147.3     146.5
3    1997               156.1         122.3      165.6     167.3
4    1998               144.9         123.6      148.6     173.0
5    1999               158.0         119.7      167.8     179.7
6    2000               188.3         119.4      209.7     190.7

 Index(['Tempoh', 'Indeks Keseluruhan', 'Perlombongan', 'Pembuatan',
       'Elektrik'],
      dtype='object')

In [ ]:
IPI_1994_2000_new=IPI_1994_2000.drop(columns=['Perlombongan', 'Pembuatan',
       'Elektrik'])
IPI_1994_2000_new.rename(columns={'Tempoh':'Year'},inplace=True)
IPI_1994_2000_new.rename(columns={'Indeks Keseluruhan':'national_IPI (D5)'},inplace=True)
IPI_1994_2000_new['Year']=pd.to_numeric(IPI_1994_2000_new['Year'])
IPI_1994_2000_new['national_IPI (D5)']=pd.to_numeric(IPI_1994_2000_new['national_IPI (D5)'])
IPI_1994_2000_new=pd.concat([pd.DataFrame({'Year': [1993], 'national_IPI (D5)': [100.0]}), IPI_1994_2000_new]).reset_index(drop=True)
IPI_1994_2000_new

   Year  national_IPI (D5)
0  1993              100.0
1  1994              112.4
2  1995              127.1
3  1996              141.1
4  1997              156.1
5  1998              144.9
6  1999              158.0
7  2000              188.3

In [ ]:
IPI_1994_2000_new['national_Industrial Production Rate (%) (D5)'] = ((IPI_1994_2000_new['national_IPI (D5)'] - IPI_1994_2000_new['national_IPI (D5)'].shift(1)) / IPI_1994_2000_new['national_IPI (D5)'].shift(1)) * 100
IPI_1994_2000_new

   Year  national_IPI (D5)  national_Industrial Production Rate (%) (D5)
0  1993              100.0                                           NaN
1  1994              112.4                                          12.4
2  1995              127.1                                          13.1
3  1996              141.1                                          11.0
4  1997              156.1                                          10.6
5  1998              144.9                                          -7.2
6  1999              158.0                                           9.0
7  2000              188.3                                          19.2

In [ ]:
IPI_2001_2005=pd.read_excel("/content/Industrial Production Index 2000-2013.xls",header=4, skiprows=range(5, 13), nrows=6)
print(IPI_2001_2005)
print("\n",IPI_2001_2005.columns)

   Tempoh  Indeks Keseluruhan  Perlombongan  Pembuatan  Elektrik
0    2000                78.8          86.9       77.3      68.9
1    2001                76.1          89.5       72.3      74.9
2    2002                79.7          91.1       76.1      82.6
3    2003                87.0          96.0       84.4      87.3
4    2004                96.5         101.7       95.1      94.6
5    2005               100.0         100.0      100.0     100.0

 Index(['Tempoh', 'Indeks Keseluruhan', 'Perlombongan', 'Pembuatan',
       'Elektrik'],
      dtype='object')

In [ ]:
IPI_2001_2005_new=IPI_2001_2005.drop(columns=['Perlombongan', 'Pembuatan',
       'Elektrik'])
IPI_2001_2005_new.rename(columns={'Tempoh':'Year'},inplace=True)
IPI_2001_2005_new.rename(columns={'Indeks Keseluruhan':'national_IPI (D5)'},inplace=True)
IPI_2001_2005_new['Year']=pd.to_numeric(IPI_2001_2005_new['Year'])
IPI_2001_2005_new['national_IPI (D5)']=pd.to_numeric(IPI_2001_2005_new['national_IPI (D5)'])
IPI_2001_2005_new

   Year  national_IPI (D5)
0  2000               78.8
1  2001               76.1
2  2002               79.7
3  2003               87.0
4  2004               96.5
5  2005              100.0

In [ ]:
IPI_2001_2005_new['national_Industrial Production Rate (%) (D5)'] = ((IPI_2001_2005_new['national_IPI (D5)'] - IPI_2001_2005_new['national_IPI (D5)'].shift(1)) / IPI_2001_2005_new['national_IPI (D5)'].shift(1)) * 100
IPI_2001_2005_new

   Year  national_IPI (D5)  national_Industrial Production Rate (%) (D5)
0  2000               78.8                                           NaN
1  2001               76.1                                          -3.4
2  2002               79.7                                           4.7
3  2003               87.0                                           9.2
4  2004               96.5                                          10.9
5  2005              100.0                                           3.6

From 2006-2013, Weights= 2005=100

In [ ]:
IPI_2006_2013=pd.read_excel("/content/Industrial Production Index 2000-2013.xls",sheet_name="4.1.2b",header=4, skiprows=range(5, 13), nrows=6)
print(IPI_2006_2013)
print("\n",IPI_2006_2013.columns)

   Tempoh  Indeks Keseluruhan  Perlombongan  Pembuatan  Elektrik
0    2005               100.0         100.0      100.0     100.0
1    2006               104.8          96.2      108.9     105.1
2    2007               107.3          98.3      111.4     109.2
3    2008               108.1          99.1      112.2     110.5
4    2009                99.9          95.5      101.0     111.4
5    2010               107.3          94.4      112.2     121.2

 Index(['Tempoh', 'Indeks Keseluruhan', 'Perlombongan', 'Pembuatan',
       'Elektrik'],
      dtype='object')

In [ ]:
IPI_2006_2013_new=IPI_2006_2013.drop(columns=['Perlombongan', 'Pembuatan',
       'Elektrik'])
IPI_2006_2013_new.rename(columns={'Tempoh':'Year'},inplace=True)
IPI_2006_2013_new.rename(columns={'Indeks Keseluruhan':'national_IPI (D5)'},inplace=True)
IPI_2006_2013_new['Year'] = IPI_2006_2013_new['Year'].astype(str).apply(lambda x: x.rstrip('r'))
IPI_2006_2013_new['Year']=pd.to_numeric(IPI_2006_2013_new['Year'])
IPI_2006_2013_new['national_IPI (D5)']=pd.to_numeric(IPI_2006_2013_new['national_IPI (D5)'])
IPI_2006_2013_new

   Year  national_IPI (D5)
0  2005              100.0
1  2006              104.8
2  2007              107.3
3  2008              108.1
4  2009               99.9
5  2010              107.3

In [ ]:
IPI_2006_2013_new['national_Industrial Production Rate (%) (D5)'] = ((IPI_2006_2013_new['national_IPI (D5)'] - IPI_2006_2013_new['national_IPI (D5)'].shift(1)) / IPI_2006_2013_new['national_IPI (D5)'].shift(1)) * 100
IPI_2006_2013_new

   Year  national_IPI (D5)  national_Industrial Production Rate (%) (D5)
0  2005              100.0                                           NaN
1  2006              104.8                                           4.8
2  2007              107.3                                           2.4
3  2008              108.1                                           0.7
4  2009               99.9                                          -7.5
5  2010              107.3                                           7.3

From 2011-2015, Weights= 2005=100

In [ ]:
IPI_2011_2015=pd.read_excel("/content/Industrial Production Index 2010-2015.xls",sheet_name="4.1.2",header=4, skiprows=range(5, 13), nrows=6)
print(IPI_2011_2015)
print("\n",IPI_2011_2015.columns)

   Tempoh   IPP  Perlombongan  Pembuatan  Elektrik
0    2010 100.0         100.0      100.0     100.0
1    2011 102.4          94.8      105.7     102.0
2    2012 106.7          96.2      111.3     107.2
3    2013 110.3          97.0      116.0     113.1
4    2014 116.0          99.5      123.0     118.4
5    2015 121.2         103.6      128.9     121.2

 Index(['Tempoh', 'IPP', 'Perlombongan', 'Pembuatan', 'Elektrik'], dtype='object')

In [ ]:
IPI_2011_2015_new=IPI_2011_2015.drop(columns=['Perlombongan', 'Pembuatan',
       'Elektrik'])
IPI_2011_2015_new.rename(columns={'Tempoh':'Year'},inplace=True)
IPI_2011_2015_new.rename(columns={'IPP':'national_IPI (D5)'},inplace=True)
IPI_2011_2015_new['Year']=pd.to_numeric(IPI_2011_2015_new['Year'])
IPI_2011_2015_new['national_IPI (D5)']=pd.to_numeric(IPI_2011_2015_new['national_IPI (D5)'])
IPI_2011_2015_new

   Year  national_IPI (D5)
0  2010              100.0
1  2011              102.4
2  2012              106.7
3  2013              110.3
4  2014              116.0
5  2015              121.2

In [ ]:
IPI_2011_2015_new['national_Industrial Production Rate (%) (D5)'] = ((IPI_2011_2015_new['national_IPI (D5)'] - IPI_2011_2015_new['national_IPI (D5)'].shift(1)) / IPI_2011_2015_new['national_IPI (D5)'].shift(1)) * 100
IPI_2011_2015_new

   Year  national_IPI (D5)  national_Industrial Production Rate (%) (D5)
0  2010              100.0                                           NaN
1  2011              102.4                                           2.4
2  2012              106.7                                           4.2
3  2013              110.3                                           3.4
4  2014              116.0                                           5.2
5  2015              121.2                                           4.5

Concate the dataset of overall industrial production rate from 1969 to 2013

In [ ]:
IPI_IPRate = pd.concat([IPI_1969_1981_new, IPI_1982_1985_new, IPI_1986_1988_new, IPI_1989_1993_new, IPI_1994_2000_new, IPI_2001_2005_new, IPI_2006_2013_new,IPI_2011_2015_new], ignore_index=True)
IPI_IPRate=IPI_IPRate.dropna(subset=['national_Industrial Production Rate (%) (D5)'])
IPI_IPRate

    Year  national_IPI (D5)  national_Industrial Production Rate (%) (D5)
1   1969              109.1                                           9.1
2   1970              117.7                                           7.9
3   1971              120.0                                           2.0
4   1972              132.2                                          10.2
5   1973              150.6                                          13.9
6   1974              167.6                                          11.3
7   1975              167.6                                           0.0
8   1976              193.4                                          15.4
9   1977              210.2                                           8.7
10  1978              227.0                                           8.0
11  1979              246.4                                           8.5
12  1980              265.0                                           7.5
13  1981              273.5                                           3.2
15  1982              105.5                                           5.5
16  1983              118.6                                          12.4
17  1984              137.6                                          16.0
18  1985              133.3                                          -3.1
20  1986              110.2                                          10.2
21  1987              118.8                                           7.8
22  1988              135.0                                          13.6
24  1989              111.9                                          11.9
25  1990              125.5                                          12.2
26  1991              139.5                                          11.2
27  1992              151.5                                           8.6
28  1993              166.2                                           9.7
30  1994              112.4                                          12.4
31  1995              127.1                                          13.1
32  1996              141.1                                          11.0
33  1997              156.1                                          10.6
34  1998              144.9                                          -7.2
35  1999              158.0                                           9.0
36  2000              188.3                                          19.2
38  2001               76.1                                          -3.4
39  2002               79.7                                           4.7
40  2003               87.0                                           9.2
41  2004               96.5                                          10.9
42  2005              100.0                                           3.6
44  2006              104.8                                           4.8
45  2007              107.3                                           2.4
46  2008              108.1                                           0.7
47  2009               99.9                                          -7.5
48  2010              107.3                                           7.3
50  2011              102.4                                           2.4
51  2012              106.7                                           4.2
52  2013              110.3                                           3.4
53  2014              116.0                                           5.2
54  2015              121.2                                           4.5

Merge D1 to D5

In [ ]:
D1_D2_D3_D4_D5_merged =pd.merge(D1_D2_D3_D4_merged ,IPI_IPRate,on=['Year'],how='left')
D1_D2_D3_D4_D5_merged

,index_x_,Year,State,Employed persons ('000) (D3)_Certificate,Employed persons ('000) (D3)_Degree,Employed persons ('000) (D3)_Diploma,Employed persons ('000) (D3)_No certificate,Employed persons ('000) (D3)_Not applicable,Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent,Employed persons ('000) (D3)_Religious certificate,...,national_lf_employed ('000) (D1),national_lf_unemployed ('000) (D1),national_lf_outside ('000) (D1),national_p_rate (%) (D1),national_ep_ratio (%) (D1),national_u_rate (%) (D1),national_CPI (D4),national_Inflation Rate (%) (D4),national_IPI (D5),national_Industrial Production Rate (%) (D5)
0,0,1982,Johor,-,7.4,17.9,410.8,69.2,51.7,1.4,...,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5
1,1,1982,Kedah,-,3.3,9.7,239.6,75.6,25.4,1.8,...,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5
2,2,1982,Kelantan,-,3.1,7.4,144.9,98.2,22.5,0.7,...,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5
3,4,1982,Melaka,-,2.8,5.6,105.7,17.1,12.3,0.2,...,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5
4,5,1982,Negeri Sembilan,-,3.4,7.4,145.7,20.3,15.7,0.3,...,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,595,2020,Selangor,146.8,710.9,479.8,27,18.5,223.2,-,...,14956.7,711.0,7225.5,68.4,65.3,4.5,120.1,-1.1,NaN,NaN
559,596,2020,Terengganu,27,53.3,50.8,10.8,12.4,43,-,...,14956.7,711.0,7225.5,68.4,65.3,4.5,120.1,-1.1,NaN,NaN
560,597,2020,W.P. Kuala Lumpur,24.5,225.1,126.1,11,7,63.1,-,...,14956.7,711.0,7225.5,68.4,65.3,4.5,120.1,-1.1,NaN,NaN
561,598,2020,W.P. Labuan,1.2,4.2,5.4,1.6,1.8,3.3,-,...,14956.7,711.0,7225.5,68.4,65.3,4.5,120.1,-1.1,NaN,NaN
562,599,2020,W.P. Putrajaya,1.1,10.3,9.6,-,-,1.1,0,...,14956.7,711.0,7225.5,68.4,65.3,4.5,120.1,-1.1,NaN,NaN

In [ ]:
# Save to CSV if needed
D1_D2_D3_D4_D5_merged.to_csv("D1_D2_D3_D4_D5_merged.csv", index=False)

In [ ]:
D1_D2_D3_D4_D5_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Data columns (total 58 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   index_x_                                                                 563 non-null    int64
 1   Year                                                                     563 non-null    int64
 2   State                                                                    563 non-null    object
 3   Employed persons ('000) (D3)_Certificate                                 563 non-null    object
 4   Employed persons ('000) (D3)_Degree                                      563 non-null    object
 5   Employed persons ('000) (D3)_Diploma                                     563 non-null    object
 6   Employed persons ('000) (D3)_No certificate                              563 non-null    object
 7   Employed persons ('000) (D3)_Not applicable                              563 non-null    object
 8   Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent           563 non-null    object
 9   Employed persons ('000) (D3)_Religious certificate                       563 non-null    object
 10  Employed persons ('000) (D3)_SPM or equivalent                           563 non-null    object
 11  Employed persons ('000) (D3)_STPM or equivalent                          563 non-null    object
 12  Employed persons ('000) (D3)_UPSR/UPSRA or equivalent                    563 non-null    object
 13  Labour Force ('000) (D3)_Certificate                                     563 non-null    object
 14  Labour Force ('000) (D3)_Degree                                          563 non-null    object
 15  Labour Force ('000) (D3)_Diploma                                         563 non-null    object
 16  Labour Force ('000) (D3)_No certificate                                  563 non-null    object
 17  Labour Force ('000) (D3)_Not applicable                                  563 non-null    object
 18  Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent               563 non-null    object
 19  Labour Force ('000) (D3)_Religious certificate                           563 non-null    object
 20  Labour Force ('000) (D3)_SPM or equivalent                               563 non-null    object
 21  Labour Force ('000) (D3)_STPM or equivalent                              563 non-null    object
 22  Labour Force ('000) (D3)_UPSR/UPSRA or equivalent                        563 non-null    object
 23  index_y_                                                                 563 non-null    int64
 24  national_Employed persons ('000) (D3)_Certificate                        563 non-null    object
 25  national_Employed persons ('000) (D3)_Degree                             563 non-null    object
 26  national_Employed persons ('000) (D3)_Diploma                            563 non-null    object
 27  national_Employed persons ('000) (D3)_No certificate                     563 non-null    object
 28  national_Employed persons ('000) (D3)_Not applicable                     563 non-null    object
 29  national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  563 non-null    object
 30  national_Employed persons ('000) (D3)_Religious certificate              563 non-null    object
 31  national_Employed persons ('000) (D3)_SPM or equivalent                  563 non-null    object
 32  national_Employed persons ('000) (D3)_STPM or equivalent                 563 non-null    object
 33  national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent           563 non-null    object
 34  national_Labour Force ('000) (D3)_Certificate                            563 non-null    object
 35  national_Labour Force ('000) (D3)_Degree                                 563 non-null    object
 36  national_Labour Force ('000) (D3)_Diploma                                563 non-null    object
 37  national_Labour Force ('000) (D3)_No certificate                         563 non-null    object
 38  national_Labour Force ('000) (D3)_Not applicable                         563 non-null    object
 39  national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent      563 non-null    object
 40  national_Labour Force ('000) (D3)_Religious certificate                  563 non-null    object
 41  national_Labour Force ('000) (D3)_SPM or equivalent                      563 non-null    object
 42  national_Labour Force ('000) (D3)_STPM or equivalent                     563 non-null    object
 43  national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent               563 non-null    object
 44  Price type (D2)                                                          563 non-null    object
 45  National GDP (RM Million) (D2)                                           563 non-null    int64
 46  national_gdp_growth (%) (D2)                                             563 non-null    float64
 47  national_lf ('000) (D1)                                                  563 non-null    float64
 48  national_lf_employed ('000) (D1)                                         563 non-null    float64
 49  national_lf_unemployed ('000) (D1)                                       563 non-null    float64
 50  national_lf_outside ('000) (D1)                                          563 non-null    float64
 51  national_p_rate (%) (D1)                                                 563 non-null    float64
 52  national_ep_ratio (%) (D1)                                               563 non-null    float64
 53  national_u_rate (%) (D1)                                                 563 non-null    float64
 54  national_CPI (D4)                                                        563 non-null    float64
 55  national_Inflation Rate (%) (D4)                                         563 non-null    float64
 56  national_IPI (D5)                                                        483 non-null    float64
 57  national_Industrial Production Rate (%) (D5)                             483 non-null    float64
dtypes: float64(12), int64(4), object(42)
memory usage: 255.2+ KB

In [ ]:
D1_D2_D3_D4_D5_merged.columns

Index(['index_x_', 'Year', 'State', 'Employed persons ('000) (D3)_Certificate',
       'Employed persons ('000) (D3)_Degree',
       'Employed persons ('000) (D3)_Diploma',
       'Employed persons ('000) (D3)_No certificate',
       'Employed persons ('000) (D3)_Not applicable',
       'Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'Employed persons ('000) (D3)_Religious certificate',
       'Employed persons ('000) (D3)_SPM or equivalent',
       'Employed persons ('000) (D3)_STPM or equivalent',
       'Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'Labour Force ('000) (D3)_Certificate',
       'Labour Force ('000) (D3)_Degree', 'Labour Force ('000) (D3)_Diploma',
       'Labour Force ('000) (D3)_No certificate',
       'Labour Force ('000) (D3)_Not applicable',
       'Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'Labour Force ('000) (D3)_Religious certificate',
       'Labour Force ('000) (D3)_SPM or equivalent',
       'Labour Force ('000) (D3)_STPM or equivalent',
       'Labour Force ('000) (D3)_UPSR/UPSRA or equivalent', 'index_y_',
       'national_Employed persons ('000) (D3)_Certificate',
       'national_Employed persons ('000) (D3)_Degree',
       'national_Employed persons ('000) (D3)_Diploma',
       'national_Employed persons ('000) (D3)_No certificate',
       'national_Employed persons ('000) (D3)_Not applicable',
       'national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Employed persons ('000) (D3)_Religious certificate',
       'national_Employed persons ('000) (D3)_SPM or equivalent',
       'national_Employed persons ('000) (D3)_STPM or equivalent',
       'national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'national_Labour Force ('000) (D3)_Certificate',
       'national_Labour Force ('000) (D3)_Degree',
       'national_Labour Force ('000) (D3)_Diploma',
       'national_Labour Force ('000) (D3)_No certificate',
       'national_Labour Force ('000) (D3)_Not applicable',
       'national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Labour Force ('000) (D3)_Religious certificate',
       'national_Labour Force ('000) (D3)_SPM or equivalent',
       'national_Labour Force ('000) (D3)_STPM or equivalent',
       'national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent',
       'Price type (D2)', 'National GDP (RM Million) (D2)',
       'national_gdp_growth (%) (D2)', 'national_lf ('000) (D1)',
       'national_lf_employed ('000) (D1)',
       'national_lf_unemployed ('000) (D1)', 'national_lf_outside ('000) (D1)',
       'national_p_rate (%) (D1)', 'national_ep_ratio (%) (D1)',
       'national_u_rate (%) (D1)', 'national_CPI (D4)',
       'national_Inflation Rate (%) (D4)', 'national_IPI (D5)',
       'national_Industrial Production Rate (%) (D5)'],
      dtype='object')

### (D6) Exploring 7.5.13 Unemployment rate by sex and state 1982 to 2020 Malaysia.xlsx (Adam+Jonathan)

In [ ]:
d6_df = pd.read_excel("/content/7.5.13 Unemployment rate by sex and state 1982 to 2020 Malaysia_dataset.xlsx", sheet_name='dataset')
d6_df.head(1000)

     Year State/Country     Sex   Unemployment Rate (Percentage)
0    2020      Malaysia    Male                               4.4
1    2020      Malaysia  Female                               4.7
2    2020         Johor    Male                               3.3
3    2020         Johor  Female                               4.0
4    2020         Kedah    Male                               4.1
..    ...           ...     ...                               ...
995  1989        Perlis    Male                               5.6
996  1989      Selangor    Male                               4.3
997  1989    Terengganu    Male                              10.0
998  1989         Sabah    Male                               6.9
999  1989       Sarawak    Male                               6.7

[1000 rows x 4 columns]

In [ ]:
d6_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 4 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Year                              1258 non-null   int64
 1   State/Country                     1258 non-null   object
 2   Sex                               1258 non-null   object
 3    Unemployment Rate (Percentage)   1200 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 39.4+ KB

In [ ]:
d6_df.columns

Index(['Year', 'State/Country', 'Sex', ' Unemployment Rate (Percentage) '], dtype='object')

In [ ]:
d6_df.rename(columns={' Unemployment Rate (Percentage) ': 'Unemployment Rate (%) (D6)'}, inplace=True)
d6_df.rename(columns={'Sex': 'Sex (D6)'}, inplace=True)
d6_df.rename(columns={'State/Country': 'State'}, inplace=True)

In [ ]:
d6_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        1258 non-null   int64
 1   State                       1258 non-null   object
 2   Sex (D6)                    1258 non-null   object
 3   Unemployment Rate (%) (D6)  1200 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 39.4+ KB

In [ ]:
# Sort the DataFrame by the "Year" column in descending order
d6_df = d6_df.sort_values(by='Year', ascending=True)

# Reset the index to have the highest index as the first index
d6_df = d6_df.reset_index(drop=True)

In [ ]:
d6_df.head(2000)

      Year          State Sex (D6)  Unemployment Rate (%) (D6)
0     1982  W.P.Putrajaya   Female                         NaN
1     1982        Sarawak     Male                         2.5
2     1982          Sabah     Male                         2.4
3     1982     Terengganu     Male                         2.0
4     1982       Selangor     Male                         1.7
...    ...            ...      ...                         ...
1253  2020       Selangor   Female                         4.4
1254  2020       Selangor     Male                         4.3
1255  2020         Perlis   Female                         5.5
1256  2020        Sarawak     Male                         4.5
1257  2020       Malaysia     Male                         4.4

[1258 rows x 4 columns]

In [ ]:
# Pivot the dataset
pivot_df6 = pd.pivot_table(d6_df, index=['Year', 'State'], columns='Sex (D6)', values='Unemployment Rate (%) (D6)')
pivot_df6.head(2000)

Sex (D6)                Female  Male
Year State
1982 Johor                 4.7   2.9
     Kedah                 6.5   2.2
     Kelantan              6.0   3.9
     Malaysia              4.6   2.7
     Melaka                5.7   3.0
...                        ...   ...
2020 Selangor              4.4   4.3
     Terengganu            4.2   4.1
     W.P Labuan            4.3   8.8
     W.P. Kuala Lumpur     4.2   3.8
     W.P.Putrajaya         1.9   1.1

[600 rows x 2 columns]

In [ ]:
pivot_df6.columns

Index(['Female', 'Male'], dtype='object', name='Sex (D6)')

In [ ]:
pivot_df6.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 600 entries, (1982, 'Johor') to (2020, 'W.P.Putrajaya')
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Female  600 non-null    float64
 1   Male    600 non-null    float64
dtypes: float64(2)
memory usage: 11.1+ KB

In [ ]:
pivot_df6.reset_index(inplace=True)

In [ ]:
pivot_df6.rename(columns={'Female': 'Female_Unemployment Rate (%) (D6)'}, inplace=True)
pivot_df6.rename(columns={'Male': 'Male_Unemployment Rate (%) (D6)'}, inplace=True)

In [ ]:
pivot_df6.columns
pivot_df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Year                               600 non-null    int64
 1   State                              600 non-null    object
 2   Female_Unemployment Rate (%) (D6)  600 non-null    float64
 3   Male_Unemployment Rate (%) (D6)    600 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 18.9+ KB

I need to filter out the columns where the state is Malaysia as Malaysia is a country, not a state. However, I would like to transform the figures for Malaysia to be columns so that I can see the real picture of the country also as well as the respective states

In [ ]:
states_d6_df=pivot_df6

In [ ]:
malaysia_d6_df = states_d6_df[states_d6_df[('State')] == 'Malaysia']

In [ ]:
malaysia_d6_df.head(1000)

Sex (D6),Year,State,Female_Unemployment Rate (%) (D6),Male_Unemployment Rate (%) (D6)
3,1982,Malaysia,4.6,2.7
18,1983,Malaysia,4.7,3.3
33,1984,Malaysia,6.2,4.4
49,1985,Malaysia,6.7,5.0
65,1986,Malaysia,8.1,7.0
81,1987,Malaysia,8.2,6.8
97,1988,Malaysia,8.2,6.7
113,1989,Malaysia,6.5,5.3
129,1990,Malaysia,5.4,4.0
145,1992,Malaysia,4.2,3.4
161,1993,Malaysia,4.8,3.8
177,1995,Malaysia,3.8,2.8
193,1996,Malaysia,2.6,2.5
209,1997,Malaysia,2.8,2.2
225,1998,Malaysia,3.3,3.1
241,1999,Malaysia,3.3,3.5
257,2000,Malaysia,3.1,3.0
273,2001,Malaysia,3.8,3.4
289,2002,Malaysia,3.8,3.3
305,2003,Malaysia,3.6,3.6
321,2004,Malaysia,3.8,3.4
337,2005,Malaysia,3.7,3.4
353,2006,Malaysia,3.4,3.3
369,2007,Malaysia,3.4,3.1
385,2008,Malaysia,3.7,3.2
401,2009,Malaysia,3.8,3.6
417,2010,Malaysia,3.6,3.1
433,2011,Malaysia,3.3,2.9
450,2012,Malaysia,3.2,3.0
467,2013,Malaysia,3.4,2.9
484,2014,Malaysia,3.2,2.7
501,2015,Malaysia,3.4,2.9
518,2016,Malaysia,3.9,3.1
535,2017,Malaysia,3.5,3.3
552,2018,Malaysia,3.6,3.1
569,2019,Malaysia,3.4,3.2
586,2020,Malaysia,4.7,4.4

In [ ]:
# If your DataFrame is multi-indexed, you might need to use:
states_d6_df = states_d6_df[states_d6_df[('State')] != 'Malaysia']

In [ ]:
states_d6_df.head(1000)

Sex (D6),Year,State,Female_Unemployment Rate (%) (D6),Male_Unemployment Rate (%) (D6)
0,1982,Johor,4.7,2.9
1,1982,Kedah,6.5,2.2
2,1982,Kelantan,6.0,3.9
4,1982,Melaka,5.7,3.0
5,1982,Negeri Sembilan,3.9,2.4
...,...,...,...,...
595,2020,Selangor,4.4,4.3
596,2020,Terengganu,4.2,4.1
597,2020,W.P Labuan,4.3,8.8
598,2020,W.P. Kuala Lumpur,4.2,3.8
599,2020,W.P.Putrajaya,1.9,1.1

In [ ]:
# Save to CSV if needed
states_d6_df.to_csv("States_d6_df.csv", index=False)

In [ ]:
# Assuming the 'Year' column is part of a MultiIndex and adjusting accordingly
# First, let's ensure the structure of the 'Year' reference
print(states_d6_df.columns)  # This will show the exact tuple required for 'Year'

Index(['Year', 'State', 'Female_Unemployment Rate (%) (D6)',
       'Male_Unemployment Rate (%) (D6)'],
      dtype='object', name='Sex (D6)')

In [ ]:
states_d6_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 563 entries, 0 to 599
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Year                               563 non-null    int64
 1   State                              563 non-null    object
 2   Female_Unemployment Rate (%) (D6)  563 non-null    float64
 3   Male_Unemployment Rate (%) (D6)    563 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 22.0+ KB

In [ ]:
malaysia_d6_df.columns

Index(['Year', 'State', 'Female_Unemployment Rate (%) (D6)',
       'Male_Unemployment Rate (%) (D6)'],
      dtype='object', name='Sex (D6)')

In [ ]:
malaysia_d6_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37 entries, 3 to 586
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Year                               37 non-null     int64
 1   State                              37 non-null     object
 2   Female_Unemployment Rate (%) (D6)  37 non-null     float64
 3   Male_Unemployment Rate (%) (D6)    37 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.4+ KB

In [ ]:
# Step 1: Drop the 'State' column if it's not needed for merging
malaysia_d6_df_renamed = malaysia_d6_df.drop([('State')], axis=1)

In [ ]:
malaysia_d6_df_renamed.columns

Index(['Year', 'Female_Unemployment Rate (%) (D6)',
       'Male_Unemployment Rate (%) (D6)'],
      dtype='object', name='Sex (D6)')

In [ ]:
malaysia_d6_df_renamed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37 entries, 3 to 586
Data columns (total 3 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Year                               37 non-null     int64
 1   Female_Unemployment Rate (%) (D6)  37 non-null     float64
 2   Male_Unemployment Rate (%) (D6)    37 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 1.2 KB

In [ ]:
malaysia_d6_df_renamed.rename(columns={"Female_Unemployment Rate (%) (D6)": "national_Female_Unemployment Rate (%) (D6)"}, inplace=True)
malaysia_d6_df_renamed.rename(columns={"Male_Unemployment Rate (%) (D6)": "national_Male_Unemployment Rate (%) (D6)"}, inplace=True)

In [ ]:
malaysia_d6_df_renamed.columns

Index(['Year', 'national_Female_Unemployment Rate (%) (D6)',
       'national_Male_Unemployment Rate (%) (D6)'],
      dtype='object', name='Sex (D6)')

In [ ]:
malaysia_d6_df_renamed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37 entries, 3 to 586
Data columns (total 3 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Year                                        37 non-null     int64
 1   national_Female_Unemployment Rate (%) (D6)  37 non-null     float64
 2   national_Male_Unemployment Rate (%) (D6)    37 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 1.2 KB

In [ ]:
states_d6_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 563 entries, 0 to 599
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Year                               563 non-null    int64
 1   State                              563 non-null    object
 2   Female_Unemployment Rate (%) (D6)  563 non-null    float64
 3   Male_Unemployment Rate (%) (D6)    563 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 22.0+ KB

In [ ]:
states_d6_df.columns

Index(['Year', 'State', 'Female_Unemployment Rate (%) (D6)',
       'Male_Unemployment Rate (%) (D6)'],
      dtype='object', name='Sex (D6)')

In [ ]:
merged_D6_df = pd.merge(states_d6_df, malaysia_d6_df_renamed, on='Year', how='left')

In [ ]:
merged_D6_df.head(1000)

Sex (D6),Year,State,Female_Unemployment Rate (%) (D6),Male_Unemployment Rate (%) (D6),national_Female_Unemployment Rate (%) (D6),national_Male_Unemployment Rate (%) (D6)
0,1982,Johor,4.7,2.9,4.6,2.7
1,1982,Kedah,6.5,2.2,4.6,2.7
2,1982,Kelantan,6.0,3.9,4.6,2.7
3,1982,Melaka,5.7,3.0,4.6,2.7
4,1982,Negeri Sembilan,3.9,2.4,4.6,2.7
...,...,...,...,...,...,...
558,2020,Selangor,4.4,4.3,4.7,4.4
559,2020,Terengganu,4.2,4.1,4.7,4.4
560,2020,W.P Labuan,4.3,8.8,4.7,4.4
561,2020,W.P. Kuala Lumpur,4.2,3.8,4.7,4.4
562,2020,W.P.Putrajaya,1.9,1.1,4.7,4.4

In [ ]:
# Save to CSV if needed
merged_D6_df.to_csv("D6_merged.csv", index=False)

In [ ]:
merged_D6_df.columns

Index(['Year', 'State', 'Female_Unemployment Rate (%) (D6)',
       'Male_Unemployment Rate (%) (D6)',
       'national_Female_Unemployment Rate (%) (D6)',
       'national_Male_Unemployment Rate (%) (D6)'],
      dtype='object', name='Sex (D6)')

In [ ]:
merged_D6_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Data columns (total 6 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Year                                        563 non-null    int64
 1   State                                       563 non-null    object
 2   Female_Unemployment Rate (%) (D6)           563 non-null    float64
 3   Male_Unemployment Rate (%) (D6)             563 non-null    float64
 4   national_Female_Unemployment Rate (%) (D6)  563 non-null    float64
 5   national_Male_Unemployment Rate (%) (D6)    563 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 26.5+ KB

In [ ]:
D1_D2_D3_D4_D5_merged.columns

Index(['index_x_', 'Year', 'State', 'Employed persons ('000) (D3)_Certificate',
       'Employed persons ('000) (D3)_Degree',
       'Employed persons ('000) (D3)_Diploma',
       'Employed persons ('000) (D3)_No certificate',
       'Employed persons ('000) (D3)_Not applicable',
       'Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'Employed persons ('000) (D3)_Religious certificate',
       'Employed persons ('000) (D3)_SPM or equivalent',
       'Employed persons ('000) (D3)_STPM or equivalent',
       'Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'Labour Force ('000) (D3)_Certificate',
       'Labour Force ('000) (D3)_Degree', 'Labour Force ('000) (D3)_Diploma',
       'Labour Force ('000) (D3)_No certificate',
       'Labour Force ('000) (D3)_Not applicable',
       'Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'Labour Force ('000) (D3)_Religious certificate',
       'Labour Force ('000) (D3)_SPM or equivalent',
       'Labour Force ('000) (D3)_STPM or equivalent',
       'Labour Force ('000) (D3)_UPSR/UPSRA or equivalent', 'index_y_',
       'national_Employed persons ('000) (D3)_Certificate',
       'national_Employed persons ('000) (D3)_Degree',
       'national_Employed persons ('000) (D3)_Diploma',
       'national_Employed persons ('000) (D3)_No certificate',
       'national_Employed persons ('000) (D3)_Not applicable',
       'national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Employed persons ('000) (D3)_Religious certificate',
       'national_Employed persons ('000) (D3)_SPM or equivalent',
       'national_Employed persons ('000) (D3)_STPM or equivalent',
       'national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'national_Labour Force ('000) (D3)_Certificate',
       'national_Labour Force ('000) (D3)_Degree',
       'national_Labour Force ('000) (D3)_Diploma',
       'national_Labour Force ('000) (D3)_No certificate',
       'national_Labour Force ('000) (D3)_Not applicable',
       'national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Labour Force ('000) (D3)_Religious certificate',
       'national_Labour Force ('000) (D3)_SPM or equivalent',
       'national_Labour Force ('000) (D3)_STPM or equivalent',
       'national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent',
       'Price type (D2)', 'National GDP (RM Million) (D2)',
       'national_gdp_growth (%) (D2)', 'national_lf ('000) (D1)',
       'national_lf_employed ('000) (D1)',
       'national_lf_unemployed ('000) (D1)', 'national_lf_outside ('000) (D1)',
       'national_p_rate (%) (D1)', 'national_ep_ratio (%) (D1)',
       'national_u_rate (%) (D1)', 'national_CPI (D4)',
       'national_Inflation Rate (%) (D4)', 'national_IPI (D5)',
       'national_Industrial Production Rate (%) (D5)'],
      dtype='object')

In [ ]:
D1_D2_D3_D4_D5_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Data columns (total 58 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   index_x_                                                                 563 non-null    int64
 1   Year                                                                     563 non-null    int64
 2   State                                                                    563 non-null    object
 3   Employed persons ('000) (D3)_Certificate                                 563 non-null    object
 4   Employed persons ('000) (D3)_Degree                                      563 non-null    object
 5   Employed persons ('000) (D3)_Diploma                                     563 non-null    object
 6   Employed persons ('000) (D3)_No certificate                              563 non-null    object
 7   Employed persons ('000) (D3)_Not applicable                              563 non-null    object
 8   Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent           563 non-null    object
 9   Employed persons ('000) (D3)_Religious certificate                       563 non-null    object
 10  Employed persons ('000) (D3)_SPM or equivalent                           563 non-null    object
 11  Employed persons ('000) (D3)_STPM or equivalent                          563 non-null    object
 12  Employed persons ('000) (D3)_UPSR/UPSRA or equivalent                    563 non-null    object
 13  Labour Force ('000) (D3)_Certificate                                     563 non-null    object
 14  Labour Force ('000) (D3)_Degree                                          563 non-null    object
 15  Labour Force ('000) (D3)_Diploma                                         563 non-null    object
 16  Labour Force ('000) (D3)_No certificate                                  563 non-null    object
 17  Labour Force ('000) (D3)_Not applicable                                  563 non-null    object
 18  Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent               563 non-null    object
 19  Labour Force ('000) (D3)_Religious certificate                           563 non-null    object
 20  Labour Force ('000) (D3)_SPM or equivalent                               563 non-null    object
 21  Labour Force ('000) (D3)_STPM or equivalent                              563 non-null    object
 22  Labour Force ('000) (D3)_UPSR/UPSRA or equivalent                        563 non-null    object
 23  index_y_                                                                 563 non-null    int64
 24  national_Employed persons ('000) (D3)_Certificate                        563 non-null    object
 25  national_Employed persons ('000) (D3)_Degree                             563 non-null    object
 26  national_Employed persons ('000) (D3)_Diploma                            563 non-null    object
 27  national_Employed persons ('000) (D3)_No certificate                     563 non-null    object
 28  national_Employed persons ('000) (D3)_Not applicable                     563 non-null    object
 29  national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  563 non-null    object
 30  national_Employed persons ('000) (D3)_Religious certificate              563 non-null    object
 31  national_Employed persons ('000) (D3)_SPM or equivalent                  563 non-null    object
 32  national_Employed persons ('000) (D3)_STPM or equivalent                 563 non-null    object
 33  national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent           563 non-null    object
 34  national_Labour Force ('000) (D3)_Certificate                            563 non-null    object
 35  national_Labour Force ('000) (D3)_Degree                                 563 non-null    object
 36  national_Labour Force ('000) (D3)_Diploma                                563 non-null    object
 37  national_Labour Force ('000) (D3)_No certificate                         563 non-null    object
 38  national_Labour Force ('000) (D3)_Not applicable                         563 non-null    object
 39  national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent      563 non-null    object
 40  national_Labour Force ('000) (D3)_Religious certificate                  563 non-null    object
 41  national_Labour Force ('000) (D3)_SPM or equivalent                      563 non-null    object
 42  national_Labour Force ('000) (D3)_STPM or equivalent                     563 non-null    object
 43  national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent               563 non-null    object
 44  Price type (D2)                                                          563 non-null    object
 45  National GDP (RM Million) (D2)                                           563 non-null    int64
 46  national_gdp_growth (%) (D2)                                             563 non-null    float64
 47  national_lf ('000) (D1)                                                  563 non-null    float64
 48  national_lf_employed ('000) (D1)                                         563 non-null    float64
 49  national_lf_unemployed ('000) (D1)                                       563 non-null    float64
 50  national_lf_outside ('000) (D1)                                          563 non-null    float64
 51  national_p_rate (%) (D1)                                                 563 non-null    float64
 52  national_ep_ratio (%) (D1)                                               563 non-null    float64
 53  national_u_rate (%) (D1)                                                 563 non-null    float64
 54  national_CPI (D4)                                                        563 non-null    float64
 55  national_Inflation Rate (%) (D4)                                         563 non-null    float64
 56  national_IPI (D5)                                                        483 non-null    float64
 57  national_Industrial Production Rate (%) (D5)                             483 non-null    float64
dtypes: float64(12), int64(4), object(42)
memory usage: 255.2+ KB

In [ ]:
D1_D2_D3_D4_D5_D6_merged = pd.merge(
    merged_D6_df,
    D1_D2_D3_D4_D5_merged,
    on=['Year', 'State'],  # Both 'Year' and 'State' should be in a list
    how='left'
)

In [ ]:
D1_D2_D3_D4_D5_D6_merged.columns

Index(['Year', 'State', 'Female_Unemployment Rate (%) (D6)',
       'Male_Unemployment Rate (%) (D6)',
       'national_Female_Unemployment Rate (%) (D6)',
       'national_Male_Unemployment Rate (%) (D6)', 'index_x_',
       'Employed persons ('000) (D3)_Certificate',
       'Employed persons ('000) (D3)_Degree',
       'Employed persons ('000) (D3)_Diploma',
       'Employed persons ('000) (D3)_No certificate',
       'Employed persons ('000) (D3)_Not applicable',
       'Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'Employed persons ('000) (D3)_Religious certificate',
       'Employed persons ('000) (D3)_SPM or equivalent',
       'Employed persons ('000) (D3)_STPM or equivalent',
       'Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'Labour Force ('000) (D3)_Certificate',
       'Labour Force ('000) (D3)_Degree', 'Labour Force ('000) (D3)_Diploma',
       'Labour Force ('000) (D3)_No certificate',
       'Labour Force ('000) (D3)_Not applicable',
       'Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'Labour Force ('000) (D3)_Religious certificate',
       'Labour Force ('000) (D3)_SPM or equivalent',
       'Labour Force ('000) (D3)_STPM or equivalent',
       'Labour Force ('000) (D3)_UPSR/UPSRA or equivalent', 'index_y_',
       'national_Employed persons ('000) (D3)_Certificate',
       'national_Employed persons ('000) (D3)_Degree',
       'national_Employed persons ('000) (D3)_Diploma',
       'national_Employed persons ('000) (D3)_No certificate',
       'national_Employed persons ('000) (D3)_Not applicable',
       'national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Employed persons ('000) (D3)_Religious certificate',
       'national_Employed persons ('000) (D3)_SPM or equivalent',
       'national_Employed persons ('000) (D3)_STPM or equivalent',
       'national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'national_Labour Force ('000) (D3)_Certificate',
       'national_Labour Force ('000) (D3)_Degree',
       'national_Labour Force ('000) (D3)_Diploma',
       'national_Labour Force ('000) (D3)_No certificate',
       'national_Labour Force ('000) (D3)_Not applicable',
       'national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Labour Force ('000) (D3)_Religious certificate',
       'national_Labour Force ('000) (D3)_SPM or equivalent',
       'national_Labour Force ('000) (D3)_STPM or equivalent',
       'national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent',
       'Price type (D2)', 'National GDP (RM Million) (D2)',
       'national_gdp_growth (%) (D2)', 'national_lf ('000) (D1)',
       'national_lf_employed ('000) (D1)',
       'national_lf_unemployed ('000) (D1)', 'national_lf_outside ('000) (D1)',
       'national_p_rate (%) (D1)', 'national_ep_ratio (%) (D1)',
       'national_u_rate (%) (D1)', 'national_CPI (D4)',
       'national_Inflation Rate (%) (D4)', 'national_IPI (D5)',
       'national_Industrial Production Rate (%) (D5)'],
      dtype='object')

In [ ]:
D1_D2_D3_D4_D5_D6_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Data columns (total 62 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Year                                                                     563 non-null    int64
 1   State                                                                    563 non-null    object
 2   Female_Unemployment Rate (%) (D6)                                        563 non-null    float64
 3   Male_Unemployment Rate (%) (D6)                                          563 non-null    float64
 4   national_Female_Unemployment Rate (%) (D6)                               563 non-null    float64
 5   national_Male_Unemployment Rate (%) (D6)                                 563 non-null    float64
 6   index_x_                                                                 518 non-null    float64
 7   Employed persons ('000) (D3)_Certificate                                 518 non-null    object
 8   Employed persons ('000) (D3)_Degree                                      518 non-null    object
 9   Employed persons ('000) (D3)_Diploma                                     518 non-null    object
 10  Employed persons ('000) (D3)_No certificate                              518 non-null    object
 11  Employed persons ('000) (D3)_Not applicable                              518 non-null    object
 12  Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent           518 non-null    object
 13  Employed persons ('000) (D3)_Religious certificate                       518 non-null    object
 14  Employed persons ('000) (D3)_SPM or equivalent                           518 non-null    object
 15  Employed persons ('000) (D3)_STPM or equivalent                          518 non-null    object
 16  Employed persons ('000) (D3)_UPSR/UPSRA or equivalent                    518 non-null    object
 17  Labour Force ('000) (D3)_Certificate                                     518 non-null    object
 18  Labour Force ('000) (D3)_Degree                                          518 non-null    object
 19  Labour Force ('000) (D3)_Diploma                                         518 non-null    object
 20  Labour Force ('000) (D3)_No certificate                                  518 non-null    object
 21  Labour Force ('000) (D3)_Not applicable                                  518 non-null    object
 22  Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent               518 non-null    object
 23  Labour Force ('000) (D3)_Religious certificate                           518 non-null    object
 24  Labour Force ('000) (D3)_SPM or equivalent                               518 non-null    object
 25  Labour Force ('000) (D3)_STPM or equivalent                              518 non-null    object
 26  Labour Force ('000) (D3)_UPSR/UPSRA or equivalent                        518 non-null    object
 27  index_y_                                                                 518 non-null    float64
 28  national_Employed persons ('000) (D3)_Certificate                        518 non-null    object
 29  national_Employed persons ('000) (D3)_Degree                             518 non-null    object
 30  national_Employed persons ('000) (D3)_Diploma                            518 non-null    object
 31  national_Employed persons ('000) (D3)_No certificate                     518 non-null    object
 32  national_Employed persons ('000) (D3)_Not applicable                     518 non-null    object
 33  national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  518 non-null    object
 34  national_Employed persons ('000) (D3)_Religious certificate              518 non-null    object
 35  national_Employed persons ('000) (D3)_SPM or equivalent                  518 non-null    object
 36  national_Employed persons ('000) (D3)_STPM or equivalent                 518 non-null    object
 37  national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent           518 non-null    object
 38  national_Labour Force ('000) (D3)_Certificate                            518 non-null    object
 39  national_Labour Force ('000) (D3)_Degree                                 518 non-null    object
 40  national_Labour Force ('000) (D3)_Diploma                                518 non-null    object
 41  national_Labour Force ('000) (D3)_No certificate                         518 non-null    object
 42  national_Labour Force ('000) (D3)_Not applicable                         518 non-null    object
 43  national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent      518 non-null    object
 44  national_Labour Force ('000) (D3)_Religious certificate                  518 non-null    object
 45  national_Labour Force ('000) (D3)_SPM or equivalent                      518 non-null    object
 46  national_Labour Force ('000) (D3)_STPM or equivalent                     518 non-null    object
 47  national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent               518 non-null    object
 48  Price type (D2)                                                          518 non-null    object
 49  National GDP (RM Million) (D2)                                           518 non-null    float64
 50  national_gdp_growth (%) (D2)                                             518 non-null    float64
 51  national_lf ('000) (D1)                                                  518 non-null    float64
 52  national_lf_employed ('000) (D1)                                         518 non-null    float64
 53  national_lf_unemployed ('000) (D1)                                       518 non-null    float64
 54  national_lf_outside ('000) (D1)                                          518 non-null    float64
 55  national_p_rate (%) (D1)                                                 518 non-null    float64
 56  national_ep_ratio (%) (D1)                                               518 non-null    float64
 57  national_u_rate (%) (D1)                                                 518 non-null    float64
 58  national_CPI (D4)                                                        518 non-null    float64
 59  national_Inflation Rate (%) (D4)                                         518 non-null    float64
 60  national_IPI (D5)                                                        448 non-null    float64
 61  national_Industrial Production Rate (%) (D5)                             448 non-null    float64
dtypes: float64(19), int64(1), object(42)
memory usage: 272.8+ KB

In [ ]:
# Save to CSV if needed
D1_D2_D3_D4_D5_D6_merged.to_csv("D1_D2_D3_D4_D5_D6_merged.csv", index=False)

### (D7) Exploring 3. Labour Force Statistics, Malaysia, Annual.xlsx (Age group State) (Adam+Jonathan)

In [ ]:
d7_df = pd.read_excel("/content/3. Labour Force Statistics, Malaysia, Annual.xlsx", sheet_name='Age group State')
d7_df.head(1000)

     Year     State Age Group  Labour force ('000)  Employed persons ('000)
0    1982     Johor    15–19                  86.1                     76.3
1    1982     Johor    20–24                 130.9                    121.9
2    1982     Johor    25–29                 107.6                    105.7
3    1982     Johor    30–34                  88.3                     87.7
4    1982     Johor    35–39                  65.8                     65.5
..    ...       ...       ...                  ...                      ...
995  1987  Selangor    40–44                  75.5                     73.6
996  1987  Selangor    45–49                  62.3                     60.5
997  1987  Selangor    50–54                  42.0                     40.8
998  1987  Selangor    55–59                  20.4                     19.8
999  1987  Selangor    60–64                  10.4                      9.8

[1000 rows x 5 columns]

In [ ]:
# Check for unique values in each column
for column in d7_df.columns:
    unique_values = d7_df[column].unique()
    print(f"Unique values in column '{column}': {unique_values}")

Unique values in column 'Year': [1982 1983 1984 1985 1986 1987 1988 1989 1990 1992 1993 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021]
Unique values in column 'State': ['Johor' 'Kedah' 'Kelantan' 'Malaysia' 'Melaka' 'Negeri Sembilan'
 'Pulau Pinang' 'Pahang' 'Perak' 'Perlis' 'Sabah' 'Sarawak' 'Selangor'
 'Terengganu' 'W.P. Kuala Lumpur' 'W.P. Labuan' 'W.P. Putrajaya']
Unique values in column 'Age Group': ['15–19 ' '20–24 ' '25–29 ' '30–34 ' '35–39 ' '40–44 ' '45–49 ' '50–54 '
 '55–59 ' '60–64 ' 'Total ' '15–19' '20–24' '25–29' '30–34' '35–39'
 '40–44' '45–49' '50–54' '55–59' '60–64' 'Total  ']
Unique values in column 'Labour force ('000)': [ 86.1 130.9 107.6 ... 132.9 154.1 893.3]
Unique values in column 'Employed persons ('000)': [ 76.3 121.9 105.7 ... 468.8 125.8 855.6]

In [ ]:
# Strip trailing and leading spaces from 'Age Group'
d7_df['Age Group'] = d7_df['Age Group'].str.strip()

# Check unique values again to ensure consistency
print(d7_df['Age Group'].unique())

['15–19' '20–24' '25–29' '30–34' '35–39' '40–44' '45–49' '50–54' '55–59'
 '60–64' 'Total']

In [ ]:
d7_df.columns

Index(['Year', 'State', 'Age Group', 'Labour force ('000)',
       'Employed persons ('000)'],
      dtype='object')

In [ ]:
d7_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6787 entries, 0 to 6786
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     6787 non-null   int64
 1   State                    6787 non-null   object
 2   Age Group                6787 non-null   object
 3   Labour force ('000)      6787 non-null   float64
 4   Employed persons ('000)  6787 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 265.2+ KB

In [ ]:
d7_df.rename(columns={'Age Group': 'Age Group (D7)'}, inplace=True)
d7_df.rename(columns={"Labour force ('000)": "Labour force ('000) (D7)"}, inplace=True)
d7_df.rename(columns={"Employed persons ('000)": "Employed persons ('000) (D7)"}, inplace=True)

In [ ]:
d7_df.columns

Index(['Year', 'State', 'Age Group (D7)', 'Labour force ('000) (D7)',
       'Employed persons ('000) (D7)'],
      dtype='object')

In [ ]:
d7_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6787 entries, 0 to 6786
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          6787 non-null   int64
 1   State                         6787 non-null   object
 2   Age Group (D7)                6787 non-null   object
 3   Labour force ('000) (D7)      6787 non-null   float64
 4   Employed persons ('000) (D7)  6787 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 265.2+ KB

In [ ]:
# Pivot the table for Labour Force
pivoted_df7_labour = d7_df.pivot_table(index=['Year', 'State'], columns='Age Group (D7)', values=["Labour force ('000) (D7)", "Employed persons ('000) (D7)"])

In [ ]:
pivoted_df7_labour.head(10000)

                       Employed persons ('000) (D7)                          \
Age Group (D7)                                15–19 20–24 25–29 30–34 35–39
Year State
1982 Johor                                     76.3 121.9 105.7  87.7  65.5
     Kedah                                     36.3  59.3  54.9  50.5  42.8
     Kelantan                                  21.9  45.1  43.6  38.3  35.5
     Malaysia                                 582.9 999.8 856.1 712.9 550.3
     Melaka                                    18.6  31.7  27.6  21.0  19.5
...                                             ...   ...   ...   ...   ...
2021 Selangor                                 336.1 372.4 458.0 514.1 521.8
     Terengganu                                 9.6  57.2 105.3  74.5  58.1
     W.P. Kuala Lumpur                         21.3  67.2 130.9 136.0 151.2
     W.P. Labuan                                0.6   5.0   6.7   6.9   8.8
     W.P. Putrajaya                             0.1   5.9   2.6   3.3  10.4

                                                      ...  \
Age Group (D7)         40–44 45–49 50–54 55–59 60–64  ...
Year State                                            ...
1982 Johor              55.9  45.4  38.1  20.4  13.4  ...
     Kedah              42.9  39.3  29.6  17.4  15.9  ...
     Kelantan           35.6  24.5  24.7  20.9  14.1  ...
     Malaysia          507.4 390.3 314.0 196.4 138.9  ...
     Melaka             13.7  14.2  10.6   6.3   4.1  ...
...                      ...   ...   ...   ...   ...  ...
2021 Selangor          440.6 347.7 267.1 183.9  76.8  ...
     Terengganu         46.7  41.6  36.0  26.8  13.1  ...
     W.P. Kuala Lumpur 125.8  89.4  61.3  51.6  20.9  ...
     W.P. Labuan         5.5   4.2   3.3   2.3   1.1  ...
     W.P. Putrajaya      6.6   3.0   2.4   2.1   0.8  ...

                       Labour force ('000) (D7)                                \
Age Group (D7)                            20–24 25–29 30–34 35–39 40–44 45–49
Year State
1982 Johor                                130.9 107.6  88.3  65.8  56.3  45.5
     Kedah                                 64.0  56.1  50.9  43.3  43.4  39.4
     Kelantan                              51.0  44.5  38.7  36.2  36.0  25.0
     Malaysia                            1062.3 871.9 718.4 555.3 511.6 393.2
     Melaka                                33.8  28.0  21.3  19.6  13.9  14.3
...                                         ...   ...   ...   ...   ...   ...
2021 Selangor                             401.4 493.9 526.7 533.7 446.3 357.2
     Terengganu                            66.3 110.2  75.8  58.7  46.9  41.9
     W.P. Kuala Lumpur                     76.2 132.9 141.4 154.1 127.7  90.6
     W.P. Labuan                            5.6   7.1   7.2   9.4   5.6   4.3
     W.P. Putrajaya                         6.2   2.8   3.4  10.5   6.6   3.0


Age Group (D7)         50–54 55–59 60–64  Total
Year State
1982 Johor              38.3  20.7  13.5  653.1
     Kedah              29.8  17.7  16.1  403.9
     Kelantan           24.9  21.1  14.5  319.4
     Malaysia          316.5 199.1 140.5 5431.4
     Melaka             10.8   6.3   4.1  174.1
...                      ...   ...   ...    ...
2021 Selangor          271.6 188.5  97.1 3676.9
     Terengganu         36.2  27.0  13.2  488.5
     W.P. Kuala Lumpur  72.3  54.7  21.8  893.3
     W.P. Labuan         3.3   2.4   1.5   48.0
     W.P. Putrajaya      2.4   2.1   0.8   37.8

[617 rows x 22 columns]

In [ ]:
# Save to CSV if needed
pivoted_df7_labour.to_csv("pivoted_df7_labour.csv", index=False)

In [ ]:
pivoted_df7_labour.columns

MultiIndex([('Employed persons ('000) (D7)', '15–19'),
            ('Employed persons ('000) (D7)', '20–24'),
            ('Employed persons ('000) (D7)', '25–29'),
            ('Employed persons ('000) (D7)', '30–34'),
            ('Employed persons ('000) (D7)', '35–39'),
            ('Employed persons ('000) (D7)', '40–44'),
            ('Employed persons ('000) (D7)', '45–49'),
            ('Employed persons ('000) (D7)', '50–54'),
            ('Employed persons ('000) (D7)', '55–59'),
            ('Employed persons ('000) (D7)', '60–64'),
            ('Employed persons ('000) (D7)', 'Total'),
            (    'Labour force ('000) (D7)', '15–19'),
            (    'Labour force ('000) (D7)', '20–24'),
            (    'Labour force ('000) (D7)', '25–29'),
            (    'Labour force ('000) (D7)', '30–34'),
            (    'Labour force ('000) (D7)', '35–39'),
            (    'Labour force ('000) (D7)', '40–44'),
            (    'Labour force ('000) (D7)', '45–49'),
            (    'Labour force ('000) (D7)', '50–54'),
            (    'Labour force ('000) (D7)', '55–59'),
            (    'Labour force ('000) (D7)', '60–64'),
            (    'Labour force ('000) (D7)', 'Total')],
           names=[None, 'Age Group (D7)'])

In [ ]:
pivoted_df7_labour.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 617 entries, (1982, 'Johor') to (2021, 'W.P. Putrajaya')
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   (Employed persons ('000) (D7), 15–19)  617 non-null    float64
 1   (Employed persons ('000) (D7), 20–24)  617 non-null    float64
 2   (Employed persons ('000) (D7), 25–29)  617 non-null    float64
 3   (Employed persons ('000) (D7), 30–34)  617 non-null    float64
 4   (Employed persons ('000) (D7), 35–39)  617 non-null    float64
 5   (Employed persons ('000) (D7), 40–44)  617 non-null    float64
 6   (Employed persons ('000) (D7), 45–49)  617 non-null    float64
 7   (Employed persons ('000) (D7), 50–54)  617 non-null    float64
 8   (Employed persons ('000) (D7), 55–59)  617 non-null    float64
 9   (Employed persons ('000) (D7), 60–64)  617 non-null    float64
 10  (Employed persons ('000) (D7), Total)  617 non-null    float64
 11  (Labour force ('000) (D7), 15–19)      617 non-null    float64
 12  (Labour force ('000) (D7), 20–24)      617 non-null    float64
 13  (Labour force ('000) (D7), 25–29)      617 non-null    float64
 14  (Labour force ('000) (D7), 30–34)      617 non-null    float64
 15  (Labour force ('000) (D7), 35–39)      617 non-null    float64
 16  (Labour force ('000) (D7), 40–44)      617 non-null    float64
 17  (Labour force ('000) (D7), 45–49)      617 non-null    float64
 18  (Labour force ('000) (D7), 50–54)      617 non-null    float64
 19  (Labour force ('000) (D7), 55–59)      617 non-null    float64
 20  (Labour force ('000) (D7), 60–64)      617 non-null    float64
 21  (Labour force ('000) (D7), Total)      617 non-null    float64
dtypes: float64(22)
memory usage: 107.8+ KB

In [ ]:
pivoted_df7_labour.reset_index(inplace=True)

In [ ]:
pivoted_df7_labour.columns

MultiIndex([(                        'Year',      ''),
            (                       'State',      ''),
            ('Employed persons ('000) (D7)', '15–19'),
            ('Employed persons ('000) (D7)', '20–24'),
            ('Employed persons ('000) (D7)', '25–29'),
            ('Employed persons ('000) (D7)', '30–34'),
            ('Employed persons ('000) (D7)', '35–39'),
            ('Employed persons ('000) (D7)', '40–44'),
            ('Employed persons ('000) (D7)', '45–49'),
            ('Employed persons ('000) (D7)', '50–54'),
            ('Employed persons ('000) (D7)', '55–59'),
            ('Employed persons ('000) (D7)', '60–64'),
            ('Employed persons ('000) (D7)', 'Total'),
            (    'Labour force ('000) (D7)', '15–19'),
            (    'Labour force ('000) (D7)', '20–24'),
            (    'Labour force ('000) (D7)', '25–29'),
            (    'Labour force ('000) (D7)', '30–34'),
            (    'Labour force ('000) (D7)', '35–39'),
            (    'Labour force ('000) (D7)', '40–44'),
            (    'Labour force ('000) (D7)', '45–49'),
            (    'Labour force ('000) (D7)', '50–54'),
            (    'Labour force ('000) (D7)', '55–59'),
            (    'Labour force ('000) (D7)', '60–64'),
            (    'Labour force ('000) (D7)', 'Total')],
           names=[None, 'Age Group (D7)'])

In [ ]:
pivoted_df7_labour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 617 entries, 0 to 616
Data columns (total 24 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   (Year, )                               617 non-null    int64
 1   (State, )                              617 non-null    object
 2   (Employed persons ('000) (D7), 15–19)  617 non-null    float64
 3   (Employed persons ('000) (D7), 20–24)  617 non-null    float64
 4   (Employed persons ('000) (D7), 25–29)  617 non-null    float64
 5   (Employed persons ('000) (D7), 30–34)  617 non-null    float64
 6   (Employed persons ('000) (D7), 35–39)  617 non-null    float64
 7   (Employed persons ('000) (D7), 40–44)  617 non-null    float64
 8   (Employed persons ('000) (D7), 45–49)  617 non-null    float64
 9   (Employed persons ('000) (D7), 50–54)  617 non-null    float64
 10  (Employed persons ('000) (D7), 55–59)  617 non-null    float64
 11  (Employed persons ('000) (D7), 60–64)  617 non-null    float64
 12  (Employed persons ('000) (D7), Total)  617 non-null    float64
 13  (Labour force ('000) (D7), 15–19)      617 non-null    float64
 14  (Labour force ('000) (D7), 20–24)      617 non-null    float64
 15  (Labour force ('000) (D7), 25–29)      617 non-null    float64
 16  (Labour force ('000) (D7), 30–34)      617 non-null    float64
 17  (Labour force ('000) (D7), 35–39)      617 non-null    float64
 18  (Labour force ('000) (D7), 40–44)      617 non-null    float64
 19  (Labour force ('000) (D7), 45–49)      617 non-null    float64
 20  (Labour force ('000) (D7), 50–54)      617 non-null    float64
 21  (Labour force ('000) (D7), 55–59)      617 non-null    float64
 22  (Labour force ('000) (D7), 60–64)      617 non-null    float64
 23  (Labour force ('000) (D7), Total)      617 non-null    float64
dtypes: float64(22), int64(1), object(1)
memory usage: 115.8+ KB

In [ ]:
pivoted_df7_labour.head(617)

                Year              State Employed persons ('000) (D7)        \
Age Group (D7)                                                 15–19 20–24
0               1982              Johor                         76.3 121.9
1               1982              Kedah                         36.3  59.3
2               1982           Kelantan                         21.9  45.1
3               1982           Malaysia                        582.9 999.8
4               1982             Melaka                         18.6  31.7
..               ...                ...                          ...   ...
612             2021           Selangor                        336.1 372.4
613             2021         Terengganu                          9.6  57.2
614             2021  W.P. Kuala Lumpur                         21.3  67.2
615             2021        W.P. Labuan                          0.6   5.0
616             2021     W.P. Putrajaya                          0.1   5.9

                                                    ...  \
Age Group (D7) 25–29 30–34 35–39 40–44 45–49 50–54  ...
0              105.7  87.7  65.5  55.9  45.4  38.1  ...
1               54.9  50.5  42.8  42.9  39.3  29.6  ...
2               43.6  38.3  35.5  35.6  24.5  24.7  ...
3              856.1 712.9 550.3 507.4 390.3 314.0  ...
4               27.6  21.0  19.5  13.7  14.2  10.6  ...
..               ...   ...   ...   ...   ...   ...  ...
612            458.0 514.1 521.8 440.6 347.7 267.1  ...
613            105.3  74.5  58.1  46.7  41.6  36.0  ...
614            130.9 136.0 151.2 125.8  89.4  61.3  ...
615              6.7   6.9   8.8   5.5   4.2   3.3  ...
616              2.6   3.3  10.4   6.6   3.0   2.4  ...

               Labour force ('000) (D7)                                      \
Age Group (D7)                    20–24 25–29 30–34 35–39 40–44 45–49 50–54
0                                 130.9 107.6  88.3  65.8  56.3  45.5  38.3
1                                  64.0  56.1  50.9  43.3  43.4  39.4  29.8
2                                  51.0  44.5  38.7  36.2  36.0  25.0  24.9
3                                1062.3 871.9 718.4 555.3 511.6 393.2 316.5
4                                  33.8  28.0  21.3  19.6  13.9  14.3  10.8
..                                  ...   ...   ...   ...   ...   ...   ...
612                               401.4 493.9 526.7 533.7 446.3 357.2 271.6
613                                66.3 110.2  75.8  58.7  46.9  41.9  36.2
614                                76.2 132.9 141.4 154.1 127.7  90.6  72.3
615                                 5.6   7.1   7.2   9.4   5.6   4.3   3.3
616                                 6.2   2.8   3.4  10.5   6.6   3.0   2.4


Age Group (D7) 55–59 60–64  Total
0               20.7  13.5  653.1
1               17.7  16.1  403.9
2               21.1  14.5  319.4
3              199.1 140.5 5431.4
4                6.3   4.1  174.1
..               ...   ...    ...
612            188.5  97.1 3676.9
613             27.0  13.2  488.5
614             54.7  21.8  893.3
615              2.4   1.5   48.0
616              2.1   0.8   37.8

[617 rows x 24 columns]

In [ ]:
# Save to CSV if needed
pivoted_df7_labour.to_csv("pivoted_df7_labour_new.csv", index=False)

In [ ]:
# Dropping specific columns by specifying the full tuple name
pivoted_df7_labour = pivoted_df7_labour.drop(columns=[
    ("Labour force ('000) (D7)", 'Total'),
    ("Employed persons ('000) (D7)", 'Total')
])

# View the DataFrame to confirm columns are dropped
pivoted_df7_labour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 617 entries, 0 to 616
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   (Year, )                               617 non-null    int64
 1   (State, )                              617 non-null    object
 2   (Employed persons ('000) (D7), 15–19)  617 non-null    float64
 3   (Employed persons ('000) (D7), 20–24)  617 non-null    float64
 4   (Employed persons ('000) (D7), 25–29)  617 non-null    float64
 5   (Employed persons ('000) (D7), 30–34)  617 non-null    float64
 6   (Employed persons ('000) (D7), 35–39)  617 non-null    float64
 7   (Employed persons ('000) (D7), 40–44)  617 non-null    float64
 8   (Employed persons ('000) (D7), 45–49)  617 non-null    float64
 9   (Employed persons ('000) (D7), 50–54)  617 non-null    float64
 10  (Employed persons ('000) (D7), 55–59)  617 non-null    float64
 11  (Employed persons ('000) (D7), 60–64)  617 non-null    float64
 12  (Labour force ('000) (D7), 15–19)      617 non-null    float64
 13  (Labour force ('000) (D7), 20–24)      617 non-null    float64
 14  (Labour force ('000) (D7), 25–29)      617 non-null    float64
 15  (Labour force ('000) (D7), 30–34)      617 non-null    float64
 16  (Labour force ('000) (D7), 35–39)      617 non-null    float64
 17  (Labour force ('000) (D7), 40–44)      617 non-null    float64
 18  (Labour force ('000) (D7), 45–49)      617 non-null    float64
 19  (Labour force ('000) (D7), 50–54)      617 non-null    float64
 20  (Labour force ('000) (D7), 55–59)      617 non-null    float64
 21  (Labour force ('000) (D7), 60–64)      617 non-null    float64
dtypes: float64(20), int64(1), object(1)
memory usage: 106.2+ KB

In [ ]:
pivoted_df7_labour.columns

MultiIndex([(                        'Year',      ''),
            (                       'State',      ''),
            ('Employed persons ('000) (D7)', '15–19'),
            ('Employed persons ('000) (D7)', '20–24'),
            ('Employed persons ('000) (D7)', '25–29'),
            ('Employed persons ('000) (D7)', '30–34'),
            ('Employed persons ('000) (D7)', '35–39'),
            ('Employed persons ('000) (D7)', '40–44'),
            ('Employed persons ('000) (D7)', '45–49'),
            ('Employed persons ('000) (D7)', '50–54'),
            ('Employed persons ('000) (D7)', '55–59'),
            ('Employed persons ('000) (D7)', '60–64'),
            (    'Labour force ('000) (D7)', '15–19'),
            (    'Labour force ('000) (D7)', '20–24'),
            (    'Labour force ('000) (D7)', '25–29'),
            (    'Labour force ('000) (D7)', '30–34'),
            (    'Labour force ('000) (D7)', '35–39'),
            (    'Labour force ('000) (D7)', '40–44'),
            (    'Labour force ('000) (D7)', '45–49'),
            (    'Labour force ('000) (D7)', '50–54'),
            (    'Labour force ('000) (D7)', '55–59'),
            (    'Labour force ('000) (D7)', '60–64')],
           names=[None, 'Age Group (D7)'])

In [ ]:
# Check for any columns that contain 'Total' in their name
total_columns = [col for col in pivoted_df7_labour.columns if 'Total' in col[1]]

# Print the list of total columns found, if any
print("Total columns found:", total_columns)

Total columns found: []

I need to filter out the columns where the state is Malaysia as Malaysia is a country, not a state. However, I would like to transform the figures for Malaysia to be columns so that I can see the real picture of the country also as well as the respective states

In [ ]:
states_d7_df=pivoted_df7_labour

In [ ]:
# If your DataFrame is multi-indexed, you might need to use:
malaysia_d7_df = states_d7_df[states_d7_df[('State', '')] == 'Malaysia']

In [ ]:
malaysia_d7_df.head(1000)

                Year     State Employed persons ('000) (D7)                \
Age Group (D7)                                        15–19  20–24  25–29
3               1982  Malaysia                        582.9  999.8  856.1
18              1983  Malaysia                        597.5 1025.1  896.4
33              1984  Malaysia                        540.5 1044.2  935.5
49              1985  Malaysia                        539.5 1054.3  952.1
65              1986  Malaysia                        542.3 1047.6  964.7
81              1987  Malaysia                        540.2 1063.2 1017.3
97              1988  Malaysia                        560.6 1080.7 1033.5
113             1989  Malaysia                        574.5 1132.9 1092.0
129             1990  Malaysia                        625.5 1187.3 1138.8
145             1992  Malaysia                        591.2 1249.3 1202.1
161             1993  Malaysia                        611.0 1224.5 1216.5
177             1995  Malaysia                        546.5 1275.6 1232.2
193             1996  Malaysia                        624.8 1441.1 1366.0
209             1997  Malaysia                        591.1 1460.5 1411.6
225             1998  Malaysia                        524.8 1408.8 1430.4
241             1999  Malaysia                        513.6 1449.9 1504.3
257             2000  Malaysia                        551.5 1488.5 1507.7
273             2001  Malaysia                        509.1 1424.0 1501.4
289             2002  Malaysia                        480.3 1413.5 1532.6
305             2003  Malaysia                        499.2 1472.1 1573.3
321             2004  Malaysia                        483.9 1396.4 1599.2
337             2005  Malaysia                        426.8 1424.3 1645.4
353             2006  Malaysia                        407.2 1461.2 1690.5
369             2007  Malaysia                        397.7 1466.6 1736.6
385             2008  Malaysia                        393.3 1475.9 1776.7
401             2009  Malaysia                        370.2 1451.1 1841.8
417             2010  Malaysia                        443.8 1721.8 2231.6
433             2011  Malaysia                        467.3 1725.0 2321.8
450             2012  Malaysia                        479.5 1752.5 2367.7
467             2013  Malaysia                        491.5 1847.9 2448.6
484             2014  Malaysia                        498.6 1860.0 2498.0
501             2015  Malaysia                        450.5 1843.2 2530.9
518             2016  Malaysia                        439.5 1900.8 2593.5
535             2017  Malaysia                        441.4 1912.3 2639.2
552             2018  Malaysia                        454.7 1940.5 2657.0
569             2019  Malaysia                        528.4 1986.4 2674.1
586             2020  Malaysia                        483.5 1814.4 2652.4
603             2021  Malaysia                        717.6 1877.0 2628.1

                                                   ...  \
Age Group (D7)  30–34  35–39  40–44  45–49  50–54  ...
3               712.9  550.3  507.4  390.3  314.0  ...
18              744.8  580.0  513.3  427.3  315.9  ...
33              779.5  629.4  514.6  451.0  315.9  ...
49              791.9  662.0  512.5  464.6  313.8  ...
65              825.0  685.2  518.8  471.7  334.6  ...
81              860.8  730.1  545.0  490.6  354.2  ...
97              887.6  748.3  575.7  495.5  385.4  ...
113             919.8  779.1  611.1  506.7  392.8  ...
129             967.7  799.7  658.0  495.6  417.8  ...
145            1036.1  873.7  714.5  525.5  426.3  ...
161            1138.2  970.8  790.0  563.6  439.9  ...
177            1173.5 1027.2  845.8  639.9  442.6  ...
193            1250.3 1120.4  910.8  706.4  481.8  ...
209            1268.4 1150.9  952.9  733.9  498.2  ...
225            1278.8 1171.4  984.0  764.8  525.1  ...
241            1301.3 1196.2 1029.4  785.8  544.7  ...
257            1380.9 1234.1 1086.5  884.9  586.3  ...
273            1406.2 1286.7 1123.3  917.7  626.2  ...
289            1416.7 1308.4 1149.4  988.5  663.8  ...
305            1444.6 1341.7 1184.9 1005.0  719.3  ...
321            1472.4 1369.8 1208.3 1036.8  760.1  ...
337            1480.0 1377.5 1233.3 1041.2  780.0  ...
353            1502.9 1393.8 1258.3 1068.9  812.7  ...
369            1532.6 1420.9 1297.3 1107.7  860.7  ...
385            1557.1 1421.5 1313.1 1119.7  872.7  ...
401            1604.1 1445.7 1353.0 1137.9  913.8  ...
417            1732.2 1511.9 1343.3 1190.8  919.3  ...
433            1833.2 1552.5 1378.2 1236.3  958.4  ...
450            1921.8 1594.7 1422.7 1267.2 1022.2  ...
467            2085.3 1674.2 1488.4 1322.9 1098.9  ...
484            2187.5 1725.1 1508.8 1337.5 1124.6  ...
501            2269.8 1760.3 1537.1 1364.2 1141.7  ...
518            2252.1 1785.6 1539.8 1364.2 1144.0  ...
535            2367.7 1863.5 1566.8 1363.9 1152.6  ...
552            2401.5 1948.6 1582.3 1399.5 1177.6  ...
569            2434.1 2034.3 1605.7 1403.7 1192.2  ...
586            2396.7 2063.2 1616.3 1404.3 1202.6  ...
603            2266.1 2111.8 1683.2 1381.5 1137.6  ...

               Labour force ('000) (D7)                                     \
Age Group (D7)                    15–19  20–24  25–29  30–34  35–39  40–44
3                                 662.6 1062.3  871.9  718.4  555.3  511.6
18                                684.8 1095.4  918.9  753.1  585.8  517.3
33                                658.1 1146.5  959.9  792.9  638.8  521.6
49                                662.8 1172.3  984.8  809.3  673.9  521.2
65                                698.1 1211.7 1015.6  852.6  703.6  530.7
81                                707.9 1228.3 1068.3  885.0  746.3  558.9
97                                728.8 1257.9 1084.0  913.9  766.0  588.0
113                               714.5 1267.9 1136.4  939.0  791.9  619.8
129                               748.4 1292.4 1173.5  984.6  808.5  666.2
145                               694.0 1337.7 1232.4 1050.1  883.0  720.9
161                               737.2 1320.3 1253.1 1154.6  983.1  797.1
177                               642.4 1359.2 1259.5 1185.9 1035.2  851.9
193                               700.2 1512.8 1392.1 1261.3 1129.5  917.1
209                               668.9 1536.8 1435.9 1277.9 1158.1  959.7
225                               603.4 1513.6 1468.4 1296.9 1183.3  996.9
241                               612.6 1561.5 1538.3 1319.4 1211.1 1040.1
257                               637.6 1588.8 1543.8 1395.9 1250.4 1097.4
273                               618.0 1541.3 1541.0 1429.4 1300.8 1136.0
289                               581.1 1540.7 1573.2 1435.4 1324.0 1161.4
305                               597.0 1614.9 1618.3 1470.3 1356.6 1198.1
321                               578.8 1550.8 1645.5 1491.2 1385.6 1220.2
337                               519.7 1576.9 1697.6 1501.7 1391.2 1245.0
353                               484.5 1612.2 1746.0 1523.1 1408.9 1268.0
369                               476.4 1615.8 1793.4 1552.5 1434.0 1307.9
385                               478.8 1619.5 1831.5 1578.3 1437.9 1328.2
401                               452.4 1614.8 1905.7 1632.5 1464.4 1369.8
417                               528.4 1882.4 2301.1 1757.2 1529.3 1358.1
433                               545.3 1882.6 2388.4 1862.9 1568.3 1389.5
450                               564.2 1914.2 2435.0 1953.4 1608.2 1435.0
467                               575.1 2017.7 2536.1 2118.2 1691.4 1500.7
484                               573.4 2033.2 2583.4 2217.3 1742.8 1521.7
501                               534.6 2032.6 2622.6 2304.3 1780.7 1548.7
518                               522.8 2091.0 2708.0 2299.4 1815.4 1554.5
535                               521.4 2116.2 2745.3 2410.7 1887.0 1581.8
552                               541.3 2147.6 2760.3 2446.1 1969.5 1598.8
569                               615.1 2195.5 2780.1 2478.8 2054.1 1622.0
586                               570.2 2041.7 2813.2 2470.8 2116.7 1638.8
603                               829.4 2094.4 2789.3 2336.7 2156.7 1710.1


Age Group (D7)  45–49  50–54 55–59 60–64
3               393.2  316.5 199.1 140.5
18              432.5  320.2 207.9 155.9
33              457.8  321.4 214.6 151.0
49              473.2  320.3 229.5 142.9
65              483.0  344.0 236.2 146.5
81              503.4  363.4 240.3 155.1
97              505.8  392.9 241.2 158.6
113             515.1  401.8 238.4 154.6
129             501.5  422.6 235.3 167.1
145             532.0  431.6 266.2 171.1
161             568.9  447.8 276.4 161.6
177             644.3  446.6 292.7 175.4
193             711.9  486.1 310.3 194.6
209             736.8  502.6 315.7 191.5
225             773.0  530.5 315.8 201.8
241             797.0  550.8 321.8 198.8
257             893.2  593.0 341.7 214.5
273             926.4  634.1 359.1 213.3
289             999.1  672.2 374.4 224.6
305            1016.6  728.8 401.6 237.3
321            1045.6  767.6 420.0 240.9
337            1052.9  786.3 416.1 226.0
353            1079.7  820.3 442.1 244.2
369            1117.0  869.9 473.5 249.1
385            1132.6  882.5 482.7 256.0
401            1156.7  926.8 530.0 262.2
417            1202.8  928.4 532.3 284.0
433            1247.5  968.4 576.9 310.9
450            1277.1 1033.7 648.2 352.6
467            1335.5 1107.9 714.6 383.2
484            1345.3 1130.0 736.8 379.7
501            1373.6 1147.4 782.6 390.8
518            1378.3 1150.4 779.9 368.2
535            1382.2 1161.0 792.2 382.3
552            1409.3 1186.7 826.1 394.6
569            1413.8 1201.5 832.2 388.6
586            1428.3 1226.8 896.2 465.0
603            1410.5 1162.4 845.6 462.1

[38 rows x 22 columns]

In [ ]:
malaysia_d7_df.columns

MultiIndex([(                        'Year',      ''),
            (                       'State',      ''),
            ('Employed persons ('000) (D7)', '15–19'),
            ('Employed persons ('000) (D7)', '20–24'),
            ('Employed persons ('000) (D7)', '25–29'),
            ('Employed persons ('000) (D7)', '30–34'),
            ('Employed persons ('000) (D7)', '35–39'),
            ('Employed persons ('000) (D7)', '40–44'),
            ('Employed persons ('000) (D7)', '45–49'),
            ('Employed persons ('000) (D7)', '50–54'),
            ('Employed persons ('000) (D7)', '55–59'),
            ('Employed persons ('000) (D7)', '60–64'),
            (    'Labour force ('000) (D7)', '15–19'),
            (    'Labour force ('000) (D7)', '20–24'),
            (    'Labour force ('000) (D7)', '25–29'),
            (    'Labour force ('000) (D7)', '30–34'),
            (    'Labour force ('000) (D7)', '35–39'),
            (    'Labour force ('000) (D7)', '40–44'),
            (    'Labour force ('000) (D7)', '45–49'),
            (    'Labour force ('000) (D7)', '50–54'),
            (    'Labour force ('000) (D7)', '55–59'),
            (    'Labour force ('000) (D7)', '60–64')],
           names=[None, 'Age Group (D7)'])

In [ ]:
malaysia_d7_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, 3 to 603
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   (Year, )                               38 non-null     int64
 1   (State, )                              38 non-null     object
 2   (Employed persons ('000) (D7), 15–19)  38 non-null     float64
 3   (Employed persons ('000) (D7), 20–24)  38 non-null     float64
 4   (Employed persons ('000) (D7), 25–29)  38 non-null     float64
 5   (Employed persons ('000) (D7), 30–34)  38 non-null     float64
 6   (Employed persons ('000) (D7), 35–39)  38 non-null     float64
 7   (Employed persons ('000) (D7), 40–44)  38 non-null     float64
 8   (Employed persons ('000) (D7), 45–49)  38 non-null     float64
 9   (Employed persons ('000) (D7), 50–54)  38 non-null     float64
 10  (Employed persons ('000) (D7), 55–59)  38 non-null     float64
 11  (Employed persons ('000) (D7), 60–64)  38 non-null     float64
 12  (Labour force ('000) (D7), 15–19)      38 non-null     float64
 13  (Labour force ('000) (D7), 20–24)      38 non-null     float64
 14  (Labour force ('000) (D7), 25–29)      38 non-null     float64
 15  (Labour force ('000) (D7), 30–34)      38 non-null     float64
 16  (Labour force ('000) (D7), 35–39)      38 non-null     float64
 17  (Labour force ('000) (D7), 40–44)      38 non-null     float64
 18  (Labour force ('000) (D7), 45–49)      38 non-null     float64
 19  (Labour force ('000) (D7), 50–54)      38 non-null     float64
 20  (Labour force ('000) (D7), 55–59)      38 non-null     float64
 21  (Labour force ('000) (D7), 60–64)      38 non-null     float64
dtypes: float64(20), int64(1), object(1)
memory usage: 6.8+ KB

In [ ]:
# If your DataFrame is multi-indexed, you might need to use:
states_d7_df = states_d7_df[states_d7_df[('State', '')] != 'Malaysia']

In [ ]:
states_d7_df.head(1000)

                Year              State Employed persons ('000) (D7)        \
Age Group (D7)                                                 15–19 20–24
0               1982              Johor                         76.3 121.9
1               1982              Kedah                         36.3  59.3
2               1982           Kelantan                         21.9  45.1
4               1982             Melaka                         18.6  31.7
5               1982    Negeri Sembilan                         24.8  38.5
..               ...                ...                          ...   ...
612             2021           Selangor                        336.1 372.4
613             2021         Terengganu                          9.6  57.2
614             2021  W.P. Kuala Lumpur                         21.3  67.2
615             2021        W.P. Labuan                          0.6   5.0
616             2021     W.P. Putrajaya                          0.1   5.9

                                                    ...  \
Age Group (D7) 25–29 30–34 35–39 40–44 45–49 50–54  ...
0              105.7  87.7  65.5  55.9  45.4  38.1  ...
1               54.9  50.5  42.8  42.9  39.3  29.6  ...
2               43.6  38.3  35.5  35.6  24.5  24.7  ...
4               27.6  21.0  19.5  13.7  14.2  10.6  ...
5               34.4  29.0  22.5  23.9  18.3  13.7  ...
..               ...   ...   ...   ...   ...   ...  ...
612            458.0 514.1 521.8 440.6 347.7 267.1  ...
613            105.3  74.5  58.1  46.7  41.6  36.0  ...
614            130.9 136.0 151.2 125.8  89.4  61.3  ...
615              6.7   6.9   8.8   5.5   4.2   3.3  ...
616              2.6   3.3  10.4   6.6   3.0   2.4  ...

               Labour force ('000) (D7)                                      \
Age Group (D7)                    15–19 20–24 25–29 30–34 35–39 40–44 45–49
0                                  86.1 130.9 107.6  88.3  65.8  56.3  45.5
1                                  43.2  64.0  56.1  50.9  43.3  43.4  39.4
2                                  27.6  51.0  44.5  38.7  36.2  36.0  25.0
4                                  21.9  33.8  28.0  21.3  19.6  13.9  14.3
5                                  28.0  41.0  34.6  29.1  22.6  23.9  18.5
..                                  ...   ...   ...   ...   ...   ...   ...
612                               360.6 401.4 493.9 526.7 533.7 446.3 357.2
613                                12.3  66.3 110.2  75.8  58.7  46.9  41.9
614                                21.6  76.2 132.9 141.4 154.1 127.7  90.6
615                                 1.5   5.6   7.1   7.2   9.4   5.6   4.3
616                                 0.1   6.2   2.8   3.4  10.5   6.6   3.0


Age Group (D7) 50–54 55–59 60–64
0               38.3  20.7  13.5
1               29.8  17.7  16.1
2               24.9  21.1  14.5
4               10.8   6.3   4.1
5               13.8   7.1   4.2
..               ...   ...   ...
612            271.6 188.5  97.1
613             36.2  27.0  13.2
614             72.3  54.7  21.8
615              3.3   2.4   1.5
616              2.4   2.1   0.8

[579 rows x 22 columns]

In [ ]:
states_d7_df.columns

MultiIndex([(                        'Year',      ''),
            (                       'State',      ''),
            ('Employed persons ('000) (D7)', '15–19'),
            ('Employed persons ('000) (D7)', '20–24'),
            ('Employed persons ('000) (D7)', '25–29'),
            ('Employed persons ('000) (D7)', '30–34'),
            ('Employed persons ('000) (D7)', '35–39'),
            ('Employed persons ('000) (D7)', '40–44'),
            ('Employed persons ('000) (D7)', '45–49'),
            ('Employed persons ('000) (D7)', '50–54'),
            ('Employed persons ('000) (D7)', '55–59'),
            ('Employed persons ('000) (D7)', '60–64'),
            (    'Labour force ('000) (D7)', '15–19'),
            (    'Labour force ('000) (D7)', '20–24'),
            (    'Labour force ('000) (D7)', '25–29'),
            (    'Labour force ('000) (D7)', '30–34'),
            (    'Labour force ('000) (D7)', '35–39'),
            (    'Labour force ('000) (D7)', '40–44'),
            (    'Labour force ('000) (D7)', '45–49'),
            (    'Labour force ('000) (D7)', '50–54'),
            (    'Labour force ('000) (D7)', '55–59'),
            (    'Labour force ('000) (D7)', '60–64')],
           names=[None, 'Age Group (D7)'])

In [ ]:
states_d7_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 579 entries, 0 to 616
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   (Year, )                               579 non-null    int64
 1   (State, )                              579 non-null    object
 2   (Employed persons ('000) (D7), 15–19)  579 non-null    float64
 3   (Employed persons ('000) (D7), 20–24)  579 non-null    float64
 4   (Employed persons ('000) (D7), 25–29)  579 non-null    float64
 5   (Employed persons ('000) (D7), 30–34)  579 non-null    float64
 6   (Employed persons ('000) (D7), 35–39)  579 non-null    float64
 7   (Employed persons ('000) (D7), 40–44)  579 non-null    float64
 8   (Employed persons ('000) (D7), 45–49)  579 non-null    float64
 9   (Employed persons ('000) (D7), 50–54)  579 non-null    float64
 10  (Employed persons ('000) (D7), 55–59)  579 non-null    float64
 11  (Employed persons ('000) (D7), 60–64)  579 non-null    float64
 12  (Labour force ('000) (D7), 15–19)      579 non-null    float64
 13  (Labour force ('000) (D7), 20–24)      579 non-null    float64
 14  (Labour force ('000) (D7), 25–29)      579 non-null    float64
 15  (Labour force ('000) (D7), 30–34)      579 non-null    float64
 16  (Labour force ('000) (D7), 35–39)      579 non-null    float64
 17  (Labour force ('000) (D7), 40–44)      579 non-null    float64
 18  (Labour force ('000) (D7), 45–49)      579 non-null    float64
 19  (Labour force ('000) (D7), 50–54)      579 non-null    float64
 20  (Labour force ('000) (D7), 55–59)      579 non-null    float64
 21  (Labour force ('000) (D7), 60–64)      579 non-null    float64
dtypes: float64(20), int64(1), object(1)
memory usage: 104.0+ KB

In [ ]:
# Step 1: Drop the 'State (D3)' column if it's not needed for merging
malaysia_d7_df_renamed = malaysia_d7_df.drop([('State', '')], axis=1)

In [ ]:
# Step 2: Rename the remaining columns, excluding 'Year'
# Prepare a dictionary that modifies each column name except for 'Year'
columns_to_rename = {(col[0], col[1]): f"national_{col[0]}_{col[1]}" for col in malaysia_d7_df_renamed.columns if col[0] != 'Year'}

In [ ]:
columns_to_rename

{("Employed persons ('000) (D7)",
  '15–19'): "national_Employed persons ('000) (D7)_15–19",
 ("Employed persons ('000) (D7)",
  '20–24'): "national_Employed persons ('000) (D7)_20–24",
 ("Employed persons ('000) (D7)",
  '25–29'): "national_Employed persons ('000) (D7)_25–29",
 ("Employed persons ('000) (D7)",
  '30–34'): "national_Employed persons ('000) (D7)_30–34",
 ("Employed persons ('000) (D7)",
  '35–39'): "national_Employed persons ('000) (D7)_35–39",
 ("Employed persons ('000) (D7)",
  '40–44'): "national_Employed persons ('000) (D7)_40–44",
 ("Employed persons ('000) (D7)",
  '45–49'): "national_Employed persons ('000) (D7)_45–49",
 ("Employed persons ('000) (D7)",
  '50–54'): "national_Employed persons ('000) (D7)_50–54",
 ("Employed persons ('000) (D7)",
  '55–59'): "national_Employed persons ('000) (D7)_55–59",
 ("Employed persons ('000) (D7)",
  '60–64'): "national_Employed persons ('000) (D7)_60–64",
 ("Labour force ('000) (D7)",
  '15–19'): "national_Labour force ('000) (D7)_15–19",
 ("Labour force ('000) (D7)",
  '20–24'): "national_Labour force ('000) (D7)_20–24",
 ("Labour force ('000) (D7)",
  '25–29'): "national_Labour force ('000) (D7)_25–29",
 ("Labour force ('000) (D7)",
  '30–34'): "national_Labour force ('000) (D7)_30–34",
 ("Labour force ('000) (D7)",
  '35–39'): "national_Labour force ('000) (D7)_35–39",
 ("Labour force ('000) (D7)",
  '40–44'): "national_Labour force ('000) (D7)_40–44",
 ("Labour force ('000) (D7)",
  '45–49'): "national_Labour force ('000) (D7)_45–49",
 ("Labour force ('000) (D7)",
  '50–54'): "national_Labour force ('000) (D7)_50–54",
 ("Labour force ('000) (D7)",
  '55–59'): "national_Labour force ('000) (D7)_55–59",
 ("Labour force ('000) (D7)",
  '60–64'): "national_Labour force ('000) (D7)_60–64"}

In [ ]:
# Use the rename method with level=0 to ensure the renaming applies to the correct level of the MultiIndex
malaysia_d7_df_renamed = malaysia_d7_df_renamed.rename(columns=columns_to_rename, level=0)

In [ ]:
# Define a renaming function that applies only to certain levels of a MultiIndex
def rename_columns(col):
    if col[0].startswith("Employed persons") or col[0].startswith("Labour force"):
        return ('national_' + col[0], col[1])
    return col

# Apply the renaming function to each column index
new_columns = [rename_columns(col) for col in malaysia_d7_df_renamed.columns]

# Assign the new column names back to the DataFrame
malaysia_d7_df_renamed.columns = pd.MultiIndex.from_tuples(new_columns)

# Verify the new column names
print(malaysia_d7_df_renamed.columns)

MultiIndex([(                                 'Year',      ''),
            ('national_Employed persons ('000) (D7)', '15–19'),
            ('national_Employed persons ('000) (D7)', '20–24'),
            ('national_Employed persons ('000) (D7)', '25–29'),
            ('national_Employed persons ('000) (D7)', '30–34'),
            ('national_Employed persons ('000) (D7)', '35–39'),
            ('national_Employed persons ('000) (D7)', '40–44'),
            ('national_Employed persons ('000) (D7)', '45–49'),
            ('national_Employed persons ('000) (D7)', '50–54'),
            ('national_Employed persons ('000) (D7)', '55–59'),
            ('national_Employed persons ('000) (D7)', '60–64'),
            (    'national_Labour force ('000) (D7)', '15–19'),
            (    'national_Labour force ('000) (D7)', '20–24'),
            (    'national_Labour force ('000) (D7)', '25–29'),
            (    'national_Labour force ('000) (D7)', '30–34'),
            (    'national_Labour force ('000) (D7)', '35–39'),
            (    'national_Labour force ('000) (D7)', '40–44'),
            (    'national_Labour force ('000) (D7)', '45–49'),
            (    'national_Labour force ('000) (D7)', '50–54'),
            (    'national_Labour force ('000) (D7)', '55–59'),
            (    'national_Labour force ('000) (D7)', '60–64')],
           )

In [ ]:
# Display the new column names to verify
malaysia_d7_df_renamed.columns

MultiIndex([(                                 'Year',      ''),
            ('national_Employed persons ('000) (D7)', '15–19'),
            ('national_Employed persons ('000) (D7)', '20–24'),
            ('national_Employed persons ('000) (D7)', '25–29'),
            ('national_Employed persons ('000) (D7)', '30–34'),
            ('national_Employed persons ('000) (D7)', '35–39'),
            ('national_Employed persons ('000) (D7)', '40–44'),
            ('national_Employed persons ('000) (D7)', '45–49'),
            ('national_Employed persons ('000) (D7)', '50–54'),
            ('national_Employed persons ('000) (D7)', '55–59'),
            ('national_Employed persons ('000) (D7)', '60–64'),
            (    'national_Labour force ('000) (D7)', '15–19'),
            (    'national_Labour force ('000) (D7)', '20–24'),
            (    'national_Labour force ('000) (D7)', '25–29'),
            (    'national_Labour force ('000) (D7)', '30–34'),
            (    'national_Labour force ('000) (D7)', '35–39'),
            (    'national_Labour force ('000) (D7)', '40–44'),
            (    'national_Labour force ('000) (D7)', '45–49'),
            (    'national_Labour force ('000) (D7)', '50–54'),
            (    'national_Labour force ('000) (D7)', '55–59'),
            (    'national_Labour force ('000) (D7)', '60–64')],
           )

In [ ]:
malaysia_d7_df_renamed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, 3 to 603
Data columns (total 21 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   (Year, )                                        38 non-null     int64
 1   (national_Employed persons ('000) (D7), 15–19)  38 non-null     float64
 2   (national_Employed persons ('000) (D7), 20–24)  38 non-null     float64
 3   (national_Employed persons ('000) (D7), 25–29)  38 non-null     float64
 4   (national_Employed persons ('000) (D7), 30–34)  38 non-null     float64
 5   (national_Employed persons ('000) (D7), 35–39)  38 non-null     float64
 6   (national_Employed persons ('000) (D7), 40–44)  38 non-null     float64
 7   (national_Employed persons ('000) (D7), 45–49)  38 non-null     float64
 8   (national_Employed persons ('000) (D7), 50–54)  38 non-null     float64
 9   (national_Employed persons ('000) (D7), 55–59)  38 non-null     float64
 10  (national_Employed persons ('000) (D7), 60–64)  38 non-null     float64
 11  (national_Labour force ('000) (D7), 15–19)      38 non-null     float64
 12  (national_Labour force ('000) (D7), 20–24)      38 non-null     float64
 13  (national_Labour force ('000) (D7), 25–29)      38 non-null     float64
 14  (national_Labour force ('000) (D7), 30–34)      38 non-null     float64
 15  (national_Labour force ('000) (D7), 35–39)      38 non-null     float64
 16  (national_Labour force ('000) (D7), 40–44)      38 non-null     float64
 17  (national_Labour force ('000) (D7), 45–49)      38 non-null     float64
 18  (national_Labour force ('000) (D7), 50–54)      38 non-null     float64
 19  (national_Labour force ('000) (D7), 55–59)      38 non-null     float64
 20  (national_Labour force ('000) (D7), 60–64)      38 non-null     float64
dtypes: float64(20), int64(1)
memory usage: 6.5 KB

In [ ]:
malaysia_d7_df_renamed.head(1000)

     Year national_Employed persons ('000) (D7)                              \
                                          15–19  20–24  25–29  30–34  35–39
3    1982                                 582.9  999.8  856.1  712.9  550.3
18   1983                                 597.5 1025.1  896.4  744.8  580.0
33   1984                                 540.5 1044.2  935.5  779.5  629.4
49   1985                                 539.5 1054.3  952.1  791.9  662.0
65   1986                                 542.3 1047.6  964.7  825.0  685.2
81   1987                                 540.2 1063.2 1017.3  860.8  730.1
97   1988                                 560.6 1080.7 1033.5  887.6  748.3
113  1989                                 574.5 1132.9 1092.0  919.8  779.1
129  1990                                 625.5 1187.3 1138.8  967.7  799.7
145  1992                                 591.2 1249.3 1202.1 1036.1  873.7
161  1993                                 611.0 1224.5 1216.5 1138.2  970.8
177  1995                                 546.5 1275.6 1232.2 1173.5 1027.2
193  1996                                 624.8 1441.1 1366.0 1250.3 1120.4
209  1997                                 591.1 1460.5 1411.6 1268.4 1150.9
225  1998                                 524.8 1408.8 1430.4 1278.8 1171.4
241  1999                                 513.6 1449.9 1504.3 1301.3 1196.2
257  2000                                 551.5 1488.5 1507.7 1380.9 1234.1
273  2001                                 509.1 1424.0 1501.4 1406.2 1286.7
289  2002                                 480.3 1413.5 1532.6 1416.7 1308.4
305  2003                                 499.2 1472.1 1573.3 1444.6 1341.7
321  2004                                 483.9 1396.4 1599.2 1472.4 1369.8
337  2005                                 426.8 1424.3 1645.4 1480.0 1377.5
353  2006                                 407.2 1461.2 1690.5 1502.9 1393.8
369  2007                                 397.7 1466.6 1736.6 1532.6 1420.9
385  2008                                 393.3 1475.9 1776.7 1557.1 1421.5
401  2009                                 370.2 1451.1 1841.8 1604.1 1445.7
417  2010                                 443.8 1721.8 2231.6 1732.2 1511.9
433  2011                                 467.3 1725.0 2321.8 1833.2 1552.5
450  2012                                 479.5 1752.5 2367.7 1921.8 1594.7
467  2013                                 491.5 1847.9 2448.6 2085.3 1674.2
484  2014                                 498.6 1860.0 2498.0 2187.5 1725.1
501  2015                                 450.5 1843.2 2530.9 2269.8 1760.3
518  2016                                 439.5 1900.8 2593.5 2252.1 1785.6
535  2017                                 441.4 1912.3 2639.2 2367.7 1863.5
552  2018                                 454.7 1940.5 2657.0 2401.5 1948.6
569  2019                                 528.4 1986.4 2674.1 2434.1 2034.3
586  2020                                 483.5 1814.4 2652.4 2396.7 2063.2
603  2021                                 717.6 1877.0 2628.1 2266.1 2111.8

                                ... national_Labour force ('000) (D7)         \
     40–44  45–49  50–54 55–59  ...                             15–19  20–24
3    507.4  390.3  314.0 196.4  ...                             662.6 1062.3
18   513.3  427.3  315.9 203.4  ...                             684.8 1095.4
33   514.6  451.0  315.9 208.8  ...                             658.1 1146.5
49   512.5  464.6  313.8 223.8  ...                             662.8 1172.3
65   518.8  471.7  334.6 228.2  ...                             698.1 1211.7
81   545.0  490.6  354.2 232.0  ...                             707.9 1228.3
97   575.7  495.5  385.4 233.9  ...                             728.8 1257.9
113  611.1  506.7  392.8 231.6  ...                             714.5 1267.9
129  658.0  495.6  417.8 230.8  ...                             748.4 1292.4
145  714.5  525.5  426.3 261.7  ...                             694.0 1337.7
161  790.0  563.6  439.9 269.7  ...                             737.2 1320.3
177  845.8  639.9  442.6 289.4  ...                             642.4 1359.2
193  910.8  706.4  481.8 305.3  ...                             700.2 1512.8
209  952.9  733.9  498.2 311.9  ...                             668.9 1536.8
225  984.0  764.8  525.1 312.4  ...                             603.4 1513.6
241 1029.4  785.8  544.7 315.9  ...                             612.6 1561.5
257 1086.5  884.9  586.3 337.0  ...                             637.6 1588.8
273 1123.3  917.7  626.2 353.4  ...                             618.0 1541.3
289 1149.4  988.5  663.8 368.5  ...                             581.1 1540.7
305 1184.9 1005.0  719.3 396.2  ...                             597.0 1614.9
321 1208.3 1036.8  760.1 416.2  ...                             578.8 1550.8
337 1233.3 1041.2  780.0 413.2  ...                             519.7 1576.9
353 1258.3 1068.9  812.7 437.1  ...                             484.5 1612.2
369 1297.3 1107.7  860.7 471.2  ...                             476.4 1615.8
385 1313.1 1119.7  872.7 476.8  ...                             478.8 1619.5
401 1353.0 1137.9  913.8 521.7  ...                             452.4 1614.8
417 1343.3 1190.8  919.3 524.5  ...                             528.4 1882.4
433 1378.2 1236.3  958.4 572.3  ...                             545.3 1882.6
450 1422.7 1267.2 1022.2 642.6  ...                             564.2 1914.2
467 1488.4 1322.9 1098.9 707.9  ...                             575.1 2017.7
484 1508.8 1337.5 1124.6 734.1  ...                             573.4 2033.2
501 1537.1 1364.2 1141.7 780.4  ...                             534.6 2032.6
518 1539.8 1364.2 1144.0 777.3  ...                             522.8 2091.0
535 1566.8 1363.9 1152.6 788.3  ...                             521.4 2116.2
552 1582.3 1399.5 1177.6 821.6  ...                             541.3 2147.6
569 1605.7 1403.7 1192.2 828.1  ...                             615.1 2195.5
586 1616.3 1404.3 1202.6 874.8  ...                             570.2 2041.7
603 1683.2 1381.5 1137.6 829.2  ...                             829.4 2094.4


     25–29  30–34  35–39  40–44  45–49  50–54 55–59 60–64
3    871.9  718.4  555.3  511.6  393.2  316.5 199.1 140.5
18   918.9  753.1  585.8  517.3  432.5  320.2 207.9 155.9
33   959.9  792.9  638.8  521.6  457.8  321.4 214.6 151.0
49   984.8  809.3  673.9  521.2  473.2  320.3 229.5 142.9
65  1015.6  852.6  703.6  530.7  483.0  344.0 236.2 146.5
81  1068.3  885.0  746.3  558.9  503.4  363.4 240.3 155.1
97  1084.0  913.9  766.0  588.0  505.8  392.9 241.2 158.6
113 1136.4  939.0  791.9  619.8  515.1  401.8 238.4 154.6
129 1173.5  984.6  808.5  666.2  501.5  422.6 235.3 167.1
145 1232.4 1050.1  883.0  720.9  532.0  431.6 266.2 171.1
161 1253.1 1154.6  983.1  797.1  568.9  447.8 276.4 161.6
177 1259.5 1185.9 1035.2  851.9  644.3  446.6 292.7 175.4
193 1392.1 1261.3 1129.5  917.1  711.9  486.1 310.3 194.6
209 1435.9 1277.9 1158.1  959.7  736.8  502.6 315.7 191.5
225 1468.4 1296.9 1183.3  996.9  773.0  530.5 315.8 201.8
241 1538.3 1319.4 1211.1 1040.1  797.0  550.8 321.8 198.8
257 1543.8 1395.9 1250.4 1097.4  893.2  593.0 341.7 214.5
273 1541.0 1429.4 1300.8 1136.0  926.4  634.1 359.1 213.3
289 1573.2 1435.4 1324.0 1161.4  999.1  672.2 374.4 224.6
305 1618.3 1470.3 1356.6 1198.1 1016.6  728.8 401.6 237.3
321 1645.5 1491.2 1385.6 1220.2 1045.6  767.6 420.0 240.9
337 1697.6 1501.7 1391.2 1245.0 1052.9  786.3 416.1 226.0
353 1746.0 1523.1 1408.9 1268.0 1079.7  820.3 442.1 244.2
369 1793.4 1552.5 1434.0 1307.9 1117.0  869.9 473.5 249.1
385 1831.5 1578.3 1437.9 1328.2 1132.6  882.5 482.7 256.0
401 1905.7 1632.5 1464.4 1369.8 1156.7  926.8 530.0 262.2
417 2301.1 1757.2 1529.3 1358.1 1202.8  928.4 532.3 284.0
433 2388.4 1862.9 1568.3 1389.5 1247.5  968.4 576.9 310.9
450 2435.0 1953.4 1608.2 1435.0 1277.1 1033.7 648.2 352.6
467 2536.1 2118.2 1691.4 1500.7 1335.5 1107.9 714.6 383.2
484 2583.4 2217.3 1742.8 1521.7 1345.3 1130.0 736.8 379.7
501 2622.6 2304.3 1780.7 1548.7 1373.6 1147.4 782.6 390.8
518 2708.0 2299.4 1815.4 1554.5 1378.3 1150.4 779.9 368.2
535 2745.3 2410.7 1887.0 1581.8 1382.2 1161.0 792.2 382.3
552 2760.3 2446.1 1969.5 1598.8 1409.3 1186.7 826.1 394.6
569 2780.1 2478.8 2054.1 1622.0 1413.8 1201.5 832.2 388.6
586 2813.2 2470.8 2116.7 1638.8 1428.3 1226.8 896.2 465.0
603 2789.3 2336.7 2156.7 1710.1 1410.5 1162.4 845.6 462.1

[38 rows x 21 columns]

In [ ]:
# Resetting index if 'Year' is part of MultiIndex
malaysia_d7_df_renamed_reset = malaysia_d7_df_renamed.reset_index()
states_d7_df_reset = states_d7_df.reset_index()

In [ ]:
# Merge based on 'Year'
D7_merged = pd.merge(states_d7_df_reset, malaysia_d7_df_renamed_reset, on='Year', how='left')

<ipython-input-203-95f9500d548e>:2: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  D7_merged = pd.merge(states_d7_df_reset, malaysia_d7_df_renamed_reset, on='Year', how='left')

In [ ]:
D7_merged.head(1000)

    index_x  Year              State Employed persons ('000) (D7)              \
                                                            15–19 20–24 25–29
0         0  1982              Johor                         76.3 121.9 105.7
1         1  1982              Kedah                         36.3  59.3  54.9
2         2  1982           Kelantan                         21.9  45.1  43.6
3         4  1982             Melaka                         18.6  31.7  27.6
4         5  1982    Negeri Sembilan                         24.8  38.5  34.4
..      ...   ...                ...                          ...   ...   ...
574     612  2021           Selangor                        336.1 372.4 458.0
575     613  2021         Terengganu                          9.6  57.2 105.3
576     614  2021  W.P. Kuala Lumpur                         21.3  67.2 130.9
577     615  2021        W.P. Labuan                          0.6   5.0   6.7
578     616  2021     W.P. Putrajaya                          0.1   5.9   2.6

                             ... national_Labour force ('000) (D7)         \
    30–34 35–39 40–44 45–49  ...                             15–19  20–24
0    87.7  65.5  55.9  45.4  ...                             662.6 1062.3
1    50.5  42.8  42.9  39.3  ...                             662.6 1062.3
2    38.3  35.5  35.6  24.5  ...                             662.6 1062.3
3    21.0  19.5  13.7  14.2  ...                             662.6 1062.3
4    29.0  22.5  23.9  18.3  ...                             662.6 1062.3
..    ...   ...   ...   ...  ...                               ...    ...
574 514.1 521.8 440.6 347.7  ...                             829.4 2094.4
575  74.5  58.1  46.7  41.6  ...                             829.4 2094.4
576 136.0 151.2 125.8  89.4  ...                             829.4 2094.4
577   6.9   8.8   5.5   4.2  ...                             829.4 2094.4
578   3.3  10.4   6.6   3.0  ...                             829.4 2094.4


     25–29  30–34  35–39  40–44  45–49  50–54 55–59 60–64
0    871.9  718.4  555.3  511.6  393.2  316.5 199.1 140.5
1    871.9  718.4  555.3  511.6  393.2  316.5 199.1 140.5
2    871.9  718.4  555.3  511.6  393.2  316.5 199.1 140.5
3    871.9  718.4  555.3  511.6  393.2  316.5 199.1 140.5
4    871.9  718.4  555.3  511.6  393.2  316.5 199.1 140.5
..     ...    ...    ...    ...    ...    ...   ...   ...
574 2789.3 2336.7 2156.7 1710.1 1410.5 1162.4 845.6 462.1
575 2789.3 2336.7 2156.7 1710.1 1410.5 1162.4 845.6 462.1
576 2789.3 2336.7 2156.7 1710.1 1410.5 1162.4 845.6 462.1
577 2789.3 2336.7 2156.7 1710.1 1410.5 1162.4 845.6 462.1
578 2789.3 2336.7 2156.7 1710.1 1410.5 1162.4 845.6 462.1

[579 rows x 44 columns]

In [ ]:
# Save to CSV if needed
D7_merged.to_csv("D7_merged.csv", index=False)

In [ ]:
D7_merged.columns

MultiIndex([(                              'index_x',      ''),
            (                                 'Year',      ''),
            (                                'State',      ''),
            (         'Employed persons ('000) (D7)', '15–19'),
            (         'Employed persons ('000) (D7)', '20–24'),
            (         'Employed persons ('000) (D7)', '25–29'),
            (         'Employed persons ('000) (D7)', '30–34'),
            (         'Employed persons ('000) (D7)', '35–39'),
            (         'Employed persons ('000) (D7)', '40–44'),
            (         'Employed persons ('000) (D7)', '45–49'),
            (         'Employed persons ('000) (D7)', '50–54'),
            (         'Employed persons ('000) (D7)', '55–59'),
            (         'Employed persons ('000) (D7)', '60–64'),
            (             'Labour force ('000) (D7)', '15–19'),
            (             'Labour force ('000) (D7)', '20–24'),
            (             'Labour force ('000) (D7)', '25–29'),
            (             'Labour force ('000) (D7)', '30–34'),
            (             'Labour force ('000) (D7)', '35–39'),
            (             'Labour force ('000) (D7)', '40–44'),
            (             'Labour force ('000) (D7)', '45–49'),
            (             'Labour force ('000) (D7)', '50–54'),
            (             'Labour force ('000) (D7)', '55–59'),
            (             'Labour force ('000) (D7)', '60–64'),
            (                              'index_y',      ''),
            ('national_Employed persons ('000) (D7)', '15–19'),
            ('national_Employed persons ('000) (D7)', '20–24'),
            ('national_Employed persons ('000) (D7)', '25–29'),
            ('national_Employed persons ('000) (D7)', '30–34'),
            ('national_Employed persons ('000) (D7)', '35–39'),
            ('national_Employed persons ('000) (D7)', '40–44'),
            ('national_Employed persons ('000) (D7)', '45–49'),
            ('national_Employed persons ('000) (D7)', '50–54'),
            ('national_Employed persons ('000) (D7)', '55–59'),
            ('national_Employed persons ('000) (D7)', '60–64'),
            (    'national_Labour force ('000) (D7)', '15–19'),
            (    'national_Labour force ('000) (D7)', '20–24'),
            (    'national_Labour force ('000) (D7)', '25–29'),
            (    'national_Labour force ('000) (D7)', '30–34'),
            (    'national_Labour force ('000) (D7)', '35–39'),
            (    'national_Labour force ('000) (D7)', '40–44'),
            (    'national_Labour force ('000) (D7)', '45–49'),
            (    'national_Labour force ('000) (D7)', '50–54'),
            (    'national_Labour force ('000) (D7)', '55–59'),
            (    'national_Labour force ('000) (D7)', '60–64')],
           )

In [ ]:
D7_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 44 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   (index_x, )                                     579 non-null    int64
 1   (Year, )                                        579 non-null    int64
 2   (State, )                                       579 non-null    object
 3   (Employed persons ('000) (D7), 15–19)           579 non-null    float64
 4   (Employed persons ('000) (D7), 20–24)           579 non-null    float64
 5   (Employed persons ('000) (D7), 25–29)           579 non-null    float64
 6   (Employed persons ('000) (D7), 30–34)           579 non-null    float64
 7   (Employed persons ('000) (D7), 35–39)           579 non-null    float64
 8   (Employed persons ('000) (D7), 40–44)           579 non-null    float64
 9   (Employed persons ('000) (D7), 45–49)           579 non-null    float64
 10  (Employed persons ('000) (D7), 50–54)           579 non-null    float64
 11  (Employed persons ('000) (D7), 55–59)           579 non-null    float64
 12  (Employed persons ('000) (D7), 60–64)           579 non-null    float64
 13  (Labour force ('000) (D7), 15–19)               579 non-null    float64
 14  (Labour force ('000) (D7), 20–24)               579 non-null    float64
 15  (Labour force ('000) (D7), 25–29)               579 non-null    float64
 16  (Labour force ('000) (D7), 30–34)               579 non-null    float64
 17  (Labour force ('000) (D7), 35–39)               579 non-null    float64
 18  (Labour force ('000) (D7), 40–44)               579 non-null    float64
 19  (Labour force ('000) (D7), 45–49)               579 non-null    float64
 20  (Labour force ('000) (D7), 50–54)               579 non-null    float64
 21  (Labour force ('000) (D7), 55–59)               579 non-null    float64
 22  (Labour force ('000) (D7), 60–64)               579 non-null    float64
 23  (index_y, )                                     579 non-null    int64
 24  (national_Employed persons ('000) (D7), 15–19)  579 non-null    float64
 25  (national_Employed persons ('000) (D7), 20–24)  579 non-null    float64
 26  (national_Employed persons ('000) (D7), 25–29)  579 non-null    float64
 27  (national_Employed persons ('000) (D7), 30–34)  579 non-null    float64
 28  (national_Employed persons ('000) (D7), 35–39)  579 non-null    float64
 29  (national_Employed persons ('000) (D7), 40–44)  579 non-null    float64
 30  (national_Employed persons ('000) (D7), 45–49)  579 non-null    float64
 31  (national_Employed persons ('000) (D7), 50–54)  579 non-null    float64
 32  (national_Employed persons ('000) (D7), 55–59)  579 non-null    float64
 33  (national_Employed persons ('000) (D7), 60–64)  579 non-null    float64
 34  (national_Labour force ('000) (D7), 15–19)      579 non-null    float64
 35  (national_Labour force ('000) (D7), 20–24)      579 non-null    float64
 36  (national_Labour force ('000) (D7), 25–29)      579 non-null    float64
 37  (national_Labour force ('000) (D7), 30–34)      579 non-null    float64
 38  (national_Labour force ('000) (D7), 35–39)      579 non-null    float64
 39  (national_Labour force ('000) (D7), 40–44)      579 non-null    float64
 40  (national_Labour force ('000) (D7), 45–49)      579 non-null    float64
 41  (national_Labour force ('000) (D7), 50–54)      579 non-null    float64
 42  (national_Labour force ('000) (D7), 55–59)      579 non-null    float64
 43  (national_Labour force ('000) (D7), 60–64)      579 non-null    float64
dtypes: float64(40), int64(3), object(1)
memory usage: 199.2+ KB

In [ ]:
D1_D2_D3_D4_D5_D6_merged.columns

Index(['Year', 'State', 'Female_Unemployment Rate (%) (D6)',
       'Male_Unemployment Rate (%) (D6)',
       'national_Female_Unemployment Rate (%) (D6)',
       'national_Male_Unemployment Rate (%) (D6)', 'index_x_',
       'Employed persons ('000) (D3)_Certificate',
       'Employed persons ('000) (D3)_Degree',
       'Employed persons ('000) (D3)_Diploma',
       'Employed persons ('000) (D3)_No certificate',
       'Employed persons ('000) (D3)_Not applicable',
       'Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'Employed persons ('000) (D3)_Religious certificate',
       'Employed persons ('000) (D3)_SPM or equivalent',
       'Employed persons ('000) (D3)_STPM or equivalent',
       'Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'Labour Force ('000) (D3)_Certificate',
       'Labour Force ('000) (D3)_Degree', 'Labour Force ('000) (D3)_Diploma',
       'Labour Force ('000) (D3)_No certificate',
       'Labour Force ('000) (D3)_Not applicable',
       'Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'Labour Force ('000) (D3)_Religious certificate',
       'Labour Force ('000) (D3)_SPM or equivalent',
       'Labour Force ('000) (D3)_STPM or equivalent',
       'Labour Force ('000) (D3)_UPSR/UPSRA or equivalent', 'index_y_',
       'national_Employed persons ('000) (D3)_Certificate',
       'national_Employed persons ('000) (D3)_Degree',
       'national_Employed persons ('000) (D3)_Diploma',
       'national_Employed persons ('000) (D3)_No certificate',
       'national_Employed persons ('000) (D3)_Not applicable',
       'national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Employed persons ('000) (D3)_Religious certificate',
       'national_Employed persons ('000) (D3)_SPM or equivalent',
       'national_Employed persons ('000) (D3)_STPM or equivalent',
       'national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'national_Labour Force ('000) (D3)_Certificate',
       'national_Labour Force ('000) (D3)_Degree',
       'national_Labour Force ('000) (D3)_Diploma',
       'national_Labour Force ('000) (D3)_No certificate',
       'national_Labour Force ('000) (D3)_Not applicable',
       'national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Labour Force ('000) (D3)_Religious certificate',
       'national_Labour Force ('000) (D3)_SPM or equivalent',
       'national_Labour Force ('000) (D3)_STPM or equivalent',
       'national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent',
       'Price type (D2)', 'National GDP (RM Million) (D2)',
       'national_gdp_growth (%) (D2)', 'national_lf ('000) (D1)',
       'national_lf_employed ('000) (D1)',
       'national_lf_unemployed ('000) (D1)', 'national_lf_outside ('000) (D1)',
       'national_p_rate (%) (D1)', 'national_ep_ratio (%) (D1)',
       'national_u_rate (%) (D1)', 'national_CPI (D4)',
       'national_Inflation Rate (%) (D4)', 'national_IPI (D5)',
       'national_Industrial Production Rate (%) (D5)'],
      dtype='object')

In [ ]:
D1_D2_D3_D4_D5_D6_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Data columns (total 62 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Year                                                                     563 non-null    int64
 1   State                                                                    563 non-null    object
 2   Female_Unemployment Rate (%) (D6)                                        563 non-null    float64
 3   Male_Unemployment Rate (%) (D6)                                          563 non-null    float64
 4   national_Female_Unemployment Rate (%) (D6)                               563 non-null    float64
 5   national_Male_Unemployment Rate (%) (D6)                                 563 non-null    float64
 6   index_x_                                                                 518 non-null    float64
 7   Employed persons ('000) (D3)_Certificate                                 518 non-null    object
 8   Employed persons ('000) (D3)_Degree                                      518 non-null    object
 9   Employed persons ('000) (D3)_Diploma                                     518 non-null    object
 10  Employed persons ('000) (D3)_No certificate                              518 non-null    object
 11  Employed persons ('000) (D3)_Not applicable                              518 non-null    object
 12  Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent           518 non-null    object
 13  Employed persons ('000) (D3)_Religious certificate                       518 non-null    object
 14  Employed persons ('000) (D3)_SPM or equivalent                           518 non-null    object
 15  Employed persons ('000) (D3)_STPM or equivalent                          518 non-null    object
 16  Employed persons ('000) (D3)_UPSR/UPSRA or equivalent                    518 non-null    object
 17  Labour Force ('000) (D3)_Certificate                                     518 non-null    object
 18  Labour Force ('000) (D3)_Degree                                          518 non-null    object
 19  Labour Force ('000) (D3)_Diploma                                         518 non-null    object
 20  Labour Force ('000) (D3)_No certificate                                  518 non-null    object
 21  Labour Force ('000) (D3)_Not applicable                                  518 non-null    object
 22  Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent               518 non-null    object
 23  Labour Force ('000) (D3)_Religious certificate                           518 non-null    object
 24  Labour Force ('000) (D3)_SPM or equivalent                               518 non-null    object
 25  Labour Force ('000) (D3)_STPM or equivalent                              518 non-null    object
 26  Labour Force ('000) (D3)_UPSR/UPSRA or equivalent                        518 non-null    object
 27  index_y_                                                                 518 non-null    float64
 28  national_Employed persons ('000) (D3)_Certificate                        518 non-null    object
 29  national_Employed persons ('000) (D3)_Degree                             518 non-null    object
 30  national_Employed persons ('000) (D3)_Diploma                            518 non-null    object
 31  national_Employed persons ('000) (D3)_No certificate                     518 non-null    object
 32  national_Employed persons ('000) (D3)_Not applicable                     518 non-null    object
 33  national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  518 non-null    object
 34  national_Employed persons ('000) (D3)_Religious certificate              518 non-null    object
 35  national_Employed persons ('000) (D3)_SPM or equivalent                  518 non-null    object
 36  national_Employed persons ('000) (D3)_STPM or equivalent                 518 non-null    object
 37  national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent           518 non-null    object
 38  national_Labour Force ('000) (D3)_Certificate                            518 non-null    object
 39  national_Labour Force ('000) (D3)_Degree                                 518 non-null    object
 40  national_Labour Force ('000) (D3)_Diploma                                518 non-null    object
 41  national_Labour Force ('000) (D3)_No certificate                         518 non-null    object
 42  national_Labour Force ('000) (D3)_Not applicable                         518 non-null    object
 43  national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent      518 non-null    object
 44  national_Labour Force ('000) (D3)_Religious certificate                  518 non-null    object
 45  national_Labour Force ('000) (D3)_SPM or equivalent                      518 non-null    object
 46  national_Labour Force ('000) (D3)_STPM or equivalent                     518 non-null    object
 47  national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent               518 non-null    object
 48  Price type (D2)                                                          518 non-null    object
 49  National GDP (RM Million) (D2)                                           518 non-null    float64
 50  national_gdp_growth (%) (D2)                                             518 non-null    float64
 51  national_lf ('000) (D1)                                                  518 non-null    float64
 52  national_lf_employed ('000) (D1)                                         518 non-null    float64
 53  national_lf_unemployed ('000) (D1)                                       518 non-null    float64
 54  national_lf_outside ('000) (D1)                                          518 non-null    float64
 55  national_p_rate (%) (D1)                                                 518 non-null    float64
 56  national_ep_ratio (%) (D1)                                               518 non-null    float64
 57  national_u_rate (%) (D1)                                                 518 non-null    float64
 58  national_CPI (D4)                                                        518 non-null    float64
 59  national_Inflation Rate (%) (D4)                                         518 non-null    float64
 60  national_IPI (D5)                                                        448 non-null    float64
 61  national_Industrial Production Rate (%) (D5)                             448 non-null    float64
dtypes: float64(19), int64(1), object(42)
memory usage: 272.8+ KB

In [ ]:
# Convert MultiIndex columns to single-level columns by joining level names
D7_merged.columns = ['_'.join(col).strip() if isinstance(col, tuple) else col for col in D7_merged.columns]

In [ ]:
# Verify the change
print("Columns in D7_merged after flattening MultiIndex:", D7_merged.columns)

Columns in D7_merged after flattening MultiIndex: Index(['index_x_', 'Year_', 'State_', 'Employed persons ('000) (D7)_15–19',
       'Employed persons ('000) (D7)_20–24',
       'Employed persons ('000) (D7)_25–29',
       'Employed persons ('000) (D7)_30–34',
       'Employed persons ('000) (D7)_35–39',
       'Employed persons ('000) (D7)_40–44',
       'Employed persons ('000) (D7)_45–49',
       'Employed persons ('000) (D7)_50–54',
       'Employed persons ('000) (D7)_55–59',
       'Employed persons ('000) (D7)_60–64', 'Labour force ('000) (D7)_15–19',
       'Labour force ('000) (D7)_20–24', 'Labour force ('000) (D7)_25–29',
       'Labour force ('000) (D7)_30–34', 'Labour force ('000) (D7)_35–39',
       'Labour force ('000) (D7)_40–44', 'Labour force ('000) (D7)_45–49',
       'Labour force ('000) (D7)_50–54', 'Labour force ('000) (D7)_55–59',
       'Labour force ('000) (D7)_60–64', 'index_y_',
       'national_Employed persons ('000) (D7)_15–19',
       'national_Employed persons ('000) (D7)_20–24',
       'national_Employed persons ('000) (D7)_25–29',
       'national_Employed persons ('000) (D7)_30–34',
       'national_Employed persons ('000) (D7)_35–39',
       'national_Employed persons ('000) (D7)_40–44',
       'national_Employed persons ('000) (D7)_45–49',
       'national_Employed persons ('000) (D7)_50–54',
       'national_Employed persons ('000) (D7)_55–59',
       'national_Employed persons ('000) (D7)_60–64',
       'national_Labour force ('000) (D7)_15–19',
       'national_Labour force ('000) (D7)_20–24',
       'national_Labour force ('000) (D7)_25–29',
       'national_Labour force ('000) (D7)_30–34',
       'national_Labour force ('000) (D7)_35–39',
       'national_Labour force ('000) (D7)_40–44',
       'national_Labour force ('000) (D7)_45–49',
       'national_Labour force ('000) (D7)_50–54',
       'national_Labour force ('000) (D7)_55–59',
       'national_Labour force ('000) (D7)_60–64'],
      dtype='object')

In [ ]:
D7_merged.rename(columns={'index_x_': 'index_x'}, inplace=True)
D7_merged.rename(columns={'Year_': 'Year'}, inplace=True)
D7_merged.rename(columns={'State_': 'State'}, inplace=True)
D7_merged.rename(columns={'index_y_': 'index_y'}, inplace=True)

In [ ]:
# Now perform the merge
D1_D2_D3_D4_D5_D6_D7_merged = pd.merge(D7_merged, D1_D2_D3_D4_D5_D6_merged, on=['Year', 'State'], how='left')

In [ ]:
# Check the results
D1_D2_D3_D4_D5_D6_D7_merged.head(1000)

,index_x,Year,State,Employed persons ('000) (D7)_15–19,Employed persons ('000) (D7)_20–24,Employed persons ('000) (D7)_25–29,Employed persons ('000) (D7)_30–34,Employed persons ('000) (D7)_35–39,Employed persons ('000) (D7)_40–44,Employed persons ('000) (D7)_45–49,...,national_lf_employed ('000) (D1),national_lf_unemployed ('000) (D1),national_lf_outside ('000) (D1),national_p_rate (%) (D1),national_ep_ratio (%) (D1),national_u_rate (%) (D1),national_CPI (D4),national_Inflation Rate (%) (D4),national_IPI (D5),national_Industrial Production Rate (%) (D5)
0,0,1982,Johor,76.3,121.9,105.7,87.7,65.5,55.9,45.4,...,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5
1,1,1982,Kedah,36.3,59.3,54.9,50.5,42.8,42.9,39.3,...,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5
2,2,1982,Kelantan,21.9,45.1,43.6,38.3,35.5,35.6,24.5,...,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5
3,4,1982,Melaka,18.6,31.7,27.6,21.0,19.5,13.7,14.2,...,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5
4,5,1982,Negeri Sembilan,24.8,38.5,34.4,29.0,22.5,23.9,18.3,...,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,612,2021,Selangor,336.1,372.4,458.0,514.1,521.8,440.6,347.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575,613,2021,Terengganu,9.6,57.2,105.3,74.5,58.1,46.7,41.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
576,614,2021,W.P. Kuala Lumpur,21.3,67.2,130.9,136.0,151.2,125.8,89.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,615,2021,W.P. Labuan,0.6,5.0,6.7,6.9,8.8,5.5,4.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
578,616,2021,W.P. Putrajaya,0.1,5.9,2.6,3.3,10.4,6.6,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
D1_D2_D3_D4_D5_D6_D7_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Columns: 104 entries, index_x to national_Industrial Production Rate (%) (D5)
dtypes: float64(59), int64(3), object(42)
memory usage: 470.6+ KB

In [ ]:
D1_D2_D3_D4_D5_D6_D7_merged.columns

Index(['index_x', 'Year', 'State', 'Employed persons ('000) (D7)_15–19',
       'Employed persons ('000) (D7)_20–24',
       'Employed persons ('000) (D7)_25–29',
       'Employed persons ('000) (D7)_30–34',
       'Employed persons ('000) (D7)_35–39',
       'Employed persons ('000) (D7)_40–44',
       'Employed persons ('000) (D7)_45–49',
       ...
       'national_lf_employed ('000) (D1)',
       'national_lf_unemployed ('000) (D1)', 'national_lf_outside ('000) (D1)',
       'national_p_rate (%) (D1)', 'national_ep_ratio (%) (D1)',
       'national_u_rate (%) (D1)', 'national_CPI (D4)',
       'national_Inflation Rate (%) (D4)', 'national_IPI (D5)',
       'national_Industrial Production Rate (%) (D5)'],
      dtype='object', length=104)

In [ ]:
# Convert column index to a list and print it
column_names = D1_D2_D3_D4_D5_D6_D7_merged.columns.tolist()
print(column_names)

['index_x', 'Year', 'State', "Employed persons ('000) (D7)_15–19", "Employed persons ('000) (D7)_20–24", "Employed persons ('000) (D7)_25–29", "Employed persons ('000) (D7)_30–34", "Employed persons ('000) (D7)_35–39", "Employed persons ('000) (D7)_40–44", "Employed persons ('000) (D7)_45–49", "Employed persons ('000) (D7)_50–54", "Employed persons ('000) (D7)_55–59", "Employed persons ('000) (D7)_60–64", "Labour force ('000) (D7)_15–19", "Labour force ('000) (D7)_20–24", "Labour force ('000) (D7)_25–29", "Labour force ('000) (D7)_30–34", "Labour force ('000) (D7)_35–39", "Labour force ('000) (D7)_40–44", "Labour force ('000) (D7)_45–49", "Labour force ('000) (D7)_50–54", "Labour force ('000) (D7)_55–59", "Labour force ('000) (D7)_60–64", 'index_y', "national_Employed persons ('000) (D7)_15–19", "national_Employed persons ('000) (D7)_20–24", "national_Employed persons ('000) (D7)_25–29", "national_Employed persons ('000) (D7)_30–34", "national_Employed persons ('000) (D7)_35–39", "national_Employed persons ('000) (D7)_40–44", "national_Employed persons ('000) (D7)_45–49", "national_Employed persons ('000) (D7)_50–54", "national_Employed persons ('000) (D7)_55–59", "national_Employed persons ('000) (D7)_60–64", "national_Labour force ('000) (D7)_15–19", "national_Labour force ('000) (D7)_20–24", "national_Labour force ('000) (D7)_25–29", "national_Labour force ('000) (D7)_30–34", "national_Labour force ('000) (D7)_35–39", "national_Labour force ('000) (D7)_40–44", "national_Labour force ('000) (D7)_45–49", "national_Labour force ('000) (D7)_50–54", "national_Labour force ('000) (D7)_55–59", "national_Labour force ('000) (D7)_60–64", 'Female_Unemployment Rate (%) (D6)', 'Male_Unemployment Rate (%) (D6)', 'national_Female_Unemployment Rate (%) (D6)', 'national_Male_Unemployment Rate (%) (D6)', 'index_x_', "Employed persons ('000) (D3)_Certificate", "Employed persons ('000) (D3)_Degree", "Employed persons ('000) (D3)_Diploma", "Employed persons ('000) (D3)_No certificate", "Employed persons ('000) (D3)_Not applicable", "Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "Employed persons ('000) (D3)_Religious certificate", "Employed persons ('000) (D3)_SPM or equivalent", "Employed persons ('000) (D3)_STPM or equivalent", "Employed persons ('000) (D3)_UPSR/UPSRA or equivalent", "Labour Force ('000) (D3)_Certificate", "Labour Force ('000) (D3)_Degree", "Labour Force ('000) (D3)_Diploma", "Labour Force ('000) (D3)_No certificate", "Labour Force ('000) (D3)_Not applicable", "Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "Labour Force ('000) (D3)_Religious certificate", "Labour Force ('000) (D3)_SPM or equivalent", "Labour Force ('000) (D3)_STPM or equivalent", "Labour Force ('000) (D3)_UPSR/UPSRA or equivalent", 'index_y_', "national_Employed persons ('000) (D3)_Certificate", "national_Employed persons ('000) (D3)_Degree", "national_Employed persons ('000) (D3)_Diploma", "national_Employed persons ('000) (D3)_No certificate", "national_Employed persons ('000) (D3)_Not applicable", "national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "national_Employed persons ('000) (D3)_Religious certificate", "national_Employed persons ('000) (D3)_SPM or equivalent", "national_Employed persons ('000) (D3)_STPM or equivalent", "national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent", "national_Labour Force ('000) (D3)_Certificate", "national_Labour Force ('000) (D3)_Degree", "national_Labour Force ('000) (D3)_Diploma", "national_Labour Force ('000) (D3)_No certificate", "national_Labour Force ('000) (D3)_Not applicable", "national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "national_Labour Force ('000) (D3)_Religious certificate", "national_Labour Force ('000) (D3)_SPM or equivalent", "national_Labour Force ('000) (D3)_STPM or equivalent", "national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent", 'Price type (D2)', 'National GDP (RM Million) (D2)', 'national_gdp_growth (%) (D2)', "national_lf ('000) (D1)", "national_lf_employed ('000) (D1)", "national_lf_unemployed ('000) (D1)", "national_lf_outside ('000) (D1)", 'national_p_rate (%) (D1)', 'national_ep_ratio (%) (D1)', 'national_u_rate (%) (D1)', 'national_CPI (D4)', 'national_Inflation Rate (%) (D4)', 'national_IPI (D5)', 'national_Industrial Production Rate (%) (D5)']

In [ ]:
# Save to CSV if needed
D1_D2_D3_D4_D5_D6_D7_merged.to_csv("D1_D2_D3_D4_D5_D6_D7_merged.csv", index=False)

As there are too many null values for the Year 2021, I am going to filter rows which are not Year 2021

In [ ]:
# Assuming the DataFrame is named D1_D2_D3_D4_D5_D6_D7_merged
# Filter out rows where the 'Year' column is not equal to 2021
D1_D2_D3_D4_D5_D6_D7_merged_filtered = D1_D2_D3_D4_D5_D6_D7_merged[D1_D2_D3_D4_D5_D6_D7_merged['Year'] != 2021]

# View the result to confirm the rows have been dropped
D1_D2_D3_D4_D5_D6_D7_merged_filtered

,index_x,Year,State,Employed persons ('000) (D7)_15–19,Employed persons ('000) (D7)_20–24,Employed persons ('000) (D7)_25–29,Employed persons ('000) (D7)_30–34,Employed persons ('000) (D7)_35–39,Employed persons ('000) (D7)_40–44,Employed persons ('000) (D7)_45–49,...,national_lf_employed ('000) (D1),national_lf_unemployed ('000) (D1),national_lf_outside ('000) (D1),national_p_rate (%) (D1),national_ep_ratio (%) (D1),national_u_rate (%) (D1),national_CPI (D4),national_Inflation Rate (%) (D4),national_IPI (D5),national_Industrial Production Rate (%) (D5)
0,0,1982,Johor,76.3,121.9,105.7,87.7,65.5,55.9,45.4,...,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5
1,1,1982,Kedah,36.3,59.3,54.9,50.5,42.8,42.9,39.3,...,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5
2,2,1982,Kelantan,21.9,45.1,43.6,38.3,35.5,35.6,24.5,...,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5
3,4,1982,Melaka,18.6,31.7,27.6,21.0,19.5,13.7,14.2,...,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5
4,5,1982,Negeri Sembilan,24.8,38.5,34.4,29.0,22.5,23.9,18.3,...,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,595,2020,Selangor,108.5,275.7,521.6,660.0,572.4,428.9,357.8,...,14956.7,711.0,7225.5,68.4,65.3,4.5,120.1,-1.1,NaN,NaN
559,596,2020,Terengganu,13.5,60.1,90.1,74.6,55.8,46.0,41.8,...,14956.7,711.0,7225.5,68.4,65.3,4.5,120.1,-1.1,NaN,NaN
560,597,2020,W.P. Kuala Lumpur,13.8,66.0,138.1,147.5,143.8,113.6,89.7,...,14956.7,711.0,7225.5,68.4,65.3,4.5,120.1,-1.1,NaN,NaN
561,598,2020,W.P. Labuan,0.5,3.4,4.0,6.0,10.4,5.3,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
562,599,2020,W.P. Putrajaya,0.5,3.4,4.0,6.0,10.4,5.3,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Save to CSV if needed
D1_D2_D3_D4_D5_D6_D7_merged_filtered.to_csv("D1_D2_D3_D4_D5_D6_D7_merged_filtered.csv", index=False)

In [ ]:
D1_D2_D3_D4_D5_D6_D7_merged_filtered.columns

Index(['index_x', 'Year', 'State', 'Employed persons ('000) (D7)_15–19',
       'Employed persons ('000) (D7)_20–24',
       'Employed persons ('000) (D7)_25–29',
       'Employed persons ('000) (D7)_30–34',
       'Employed persons ('000) (D7)_35–39',
       'Employed persons ('000) (D7)_40–44',
       'Employed persons ('000) (D7)_45–49',
       ...
       'national_lf_employed ('000) (D1)',
       'national_lf_unemployed ('000) (D1)', 'national_lf_outside ('000) (D1)',
       'national_p_rate (%) (D1)', 'national_ep_ratio (%) (D1)',
       'national_u_rate (%) (D1)', 'national_CPI (D4)',
       'national_Inflation Rate (%) (D4)', 'national_IPI (D5)',
       'national_Industrial Production Rate (%) (D5)'],
      dtype='object', length=104)

In [ ]:
D1_D2_D3_D4_D5_D6_D7_merged_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 563 entries, 0 to 562
Columns: 104 entries, index_x to national_Industrial Production Rate (%) (D5)
dtypes: float64(59), int64(3), object(42)
memory usage: 461.8+ KB

In [ ]:
# Convert column index to a list and print it
column_names = D1_D2_D3_D4_D5_D6_D7_merged_filtered.columns.tolist()
print(column_names)

['index_x', 'Year', 'State', "Employed persons ('000) (D7)_15–19", "Employed persons ('000) (D7)_20–24", "Employed persons ('000) (D7)_25–29", "Employed persons ('000) (D7)_30–34", "Employed persons ('000) (D7)_35–39", "Employed persons ('000) (D7)_40–44", "Employed persons ('000) (D7)_45–49", "Employed persons ('000) (D7)_50–54", "Employed persons ('000) (D7)_55–59", "Employed persons ('000) (D7)_60–64", "Labour force ('000) (D7)_15–19", "Labour force ('000) (D7)_20–24", "Labour force ('000) (D7)_25–29", "Labour force ('000) (D7)_30–34", "Labour force ('000) (D7)_35–39", "Labour force ('000) (D7)_40–44", "Labour force ('000) (D7)_45–49", "Labour force ('000) (D7)_50–54", "Labour force ('000) (D7)_55–59", "Labour force ('000) (D7)_60–64", 'index_y', "national_Employed persons ('000) (D7)_15–19", "national_Employed persons ('000) (D7)_20–24", "national_Employed persons ('000) (D7)_25–29", "national_Employed persons ('000) (D7)_30–34", "national_Employed persons ('000) (D7)_35–39", "national_Employed persons ('000) (D7)_40–44", "national_Employed persons ('000) (D7)_45–49", "national_Employed persons ('000) (D7)_50–54", "national_Employed persons ('000) (D7)_55–59", "national_Employed persons ('000) (D7)_60–64", "national_Labour force ('000) (D7)_15–19", "national_Labour force ('000) (D7)_20–24", "national_Labour force ('000) (D7)_25–29", "national_Labour force ('000) (D7)_30–34", "national_Labour force ('000) (D7)_35–39", "national_Labour force ('000) (D7)_40–44", "national_Labour force ('000) (D7)_45–49", "national_Labour force ('000) (D7)_50–54", "national_Labour force ('000) (D7)_55–59", "national_Labour force ('000) (D7)_60–64", 'Female_Unemployment Rate (%) (D6)', 'Male_Unemployment Rate (%) (D6)', 'national_Female_Unemployment Rate (%) (D6)', 'national_Male_Unemployment Rate (%) (D6)', 'index_x_', "Employed persons ('000) (D3)_Certificate", "Employed persons ('000) (D3)_Degree", "Employed persons ('000) (D3)_Diploma", "Employed persons ('000) (D3)_No certificate", "Employed persons ('000) (D3)_Not applicable", "Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "Employed persons ('000) (D3)_Religious certificate", "Employed persons ('000) (D3)_SPM or equivalent", "Employed persons ('000) (D3)_STPM or equivalent", "Employed persons ('000) (D3)_UPSR/UPSRA or equivalent", "Labour Force ('000) (D3)_Certificate", "Labour Force ('000) (D3)_Degree", "Labour Force ('000) (D3)_Diploma", "Labour Force ('000) (D3)_No certificate", "Labour Force ('000) (D3)_Not applicable", "Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "Labour Force ('000) (D3)_Religious certificate", "Labour Force ('000) (D3)_SPM or equivalent", "Labour Force ('000) (D3)_STPM or equivalent", "Labour Force ('000) (D3)_UPSR/UPSRA or equivalent", 'index_y_', "national_Employed persons ('000) (D3)_Certificate", "national_Employed persons ('000) (D3)_Degree", "national_Employed persons ('000) (D3)_Diploma", "national_Employed persons ('000) (D3)_No certificate", "national_Employed persons ('000) (D3)_Not applicable", "national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "national_Employed persons ('000) (D3)_Religious certificate", "national_Employed persons ('000) (D3)_SPM or equivalent", "national_Employed persons ('000) (D3)_STPM or equivalent", "national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent", "national_Labour Force ('000) (D3)_Certificate", "national_Labour Force ('000) (D3)_Degree", "national_Labour Force ('000) (D3)_Diploma", "national_Labour Force ('000) (D3)_No certificate", "national_Labour Force ('000) (D3)_Not applicable", "national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "national_Labour Force ('000) (D3)_Religious certificate", "national_Labour Force ('000) (D3)_SPM or equivalent", "national_Labour Force ('000) (D3)_STPM or equivalent", "national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent", 'Price type (D2)', 'National GDP (RM Million) (D2)', 'national_gdp_growth (%) (D2)', "national_lf ('000) (D1)", "national_lf_employed ('000) (D1)", "national_lf_unemployed ('000) (D1)", "national_lf_outside ('000) (D1)", 'national_p_rate (%) (D1)', 'national_ep_ratio (%) (D1)', 'national_u_rate (%) (D1)', 'national_CPI (D4)', 'national_Inflation Rate (%) (D4)', 'national_IPI (D5)', 'national_Industrial Production Rate (%) (D5)']

In [ ]:
D1_D2_D3_D4_D5_D6_D7_merged_filtered.describe()

,index_x,Year,Employed persons ('000) (D7)_15–19,Employed persons ('000) (D7)_20–24,Employed persons ('000) (D7)_25–29,Employed persons ('000) (D7)_30–34,Employed persons ('000) (D7)_35–39,Employed persons ('000) (D7)_40–44,Employed persons ('000) (D7)_45–49,Employed persons ('000) (D7)_50–54,...,national_lf_employed ('000) (D1),national_lf_unemployed ('000) (D1),national_lf_outside ('000) (D1),national_p_rate (%) (D1),national_ep_ratio (%) (D1),national_u_rate (%) (D1),national_CPI (D4),national_Inflation Rate (%) (D4),national_IPI (D5),national_Industrial Production Rate (%) (D5)
count,563.0,563.0,563.0,563.0,563.0,563.0,563.0,563.0,563.0,563.0,...,518.0,518.0,518.0,518.0,518.0,518.0,518.0,518.0,448.0,448.0
mean,300.1,2001.8,33.4,95.7,110.6,97.1,83.1,71.0,60.2,46.6,...,9778.5,373.1,5285.5,65.6,63.1,3.9,114.7,2.5,120.4,6.7
std,173.4,11.4,27.1,75.0,106.1,97.2,78.2,63.6,52.5,40.2,...,3105.7,104.2,1512.2,1.6,1.7,1.2,9.2,1.5,25.1,6.2
min,0.0,1982.0,0.1,1.7,2.5,2.5,1.5,0.8,0.6,0.2,...,5249.0,182.4,2944.6,62.6,60.6,2.4,101.4,-1.1,76.1,-7.5
25%,150.5,1992.0,15.3,46.3,44.9,41.6,38.3,33.7,27.6,19.5,...,7047.8,313.7,3783.6,64.4,62.0,3.2,107.0,1.4,105.3,3.6
50%,300.0,2002.0,25.7,81.9,87.0,73.1,63.3,55.5,46.2,38.1,...,9542.6,368.1,5458.6,65.6,62.7,3.4,113.2,2.5,114.0,7.6
75%,450.0,2012.0,46.2,122.4,140.2,124.5,106.3,95.1,80.5,61.8,...,12351.5,435.1,6821.0,66.5,64.0,3.8,120.7,3.5,135.7,10.9
max,599.0,2020.0,151.7,376.3,669.7,688.8,572.4,428.9,357.8,264.4,...,15073.4,711.0,7225.5,68.7,66.4,7.4,137.8,5.7,188.3,19.2

## Step 2: Data Preprocessing (Team member: Xiao Jun, PIC: Adam+Jonathan)

In [ ]:
# Import dataset
import pandas as pd
import numpy as np
DATA_DIR_1 = "/content/D1_D2_D3_D4_D5_D6_D7_merged_filtered.csv"
Unemployment_Trend_df = pd.read_csv (DATA_DIR_1, header=0)

In [ ]:
# Determine the datatype of Each Column by using dtypes
print (Unemployment_Trend_df.dtypes)

index_x                                           int64
Year                                              int64
State                                            object
Employed persons ('000) (D7)_15–19              float64
Employed persons ('000) (D7)_20–24              float64
                                                 ...
national_u_rate (%) (D1)                        float64
national_CPI (D4)                               float64
national_Inflation Rate (%) (D4)                float64
national_IPI (D5)                               float64
national_Industrial Production Rate (%) (D5)    float64
Length: 104, dtype: object

### 2.1 Getting to know the columns that are not number type

In [ ]:
# Separating Categorical Columns from Dataframe using select_dtypes()
df_categorical = Unemployment_Trend_df.select_dtypes(exclude=[np.number]) # exclude numerical using numpy
df_categorical
df_categorical.info()
df_categorical.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Data columns (total 26 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   State                                                                    563 non-null    object
 1   Employed persons ('000) (D3)_Certificate                                 518 non-null    object
 2   Employed persons ('000) (D3)_Religious certificate                       518 non-null    object
 3   Employed persons ('000) (D3)_SPM or equivalent                           518 non-null    object
 4   Employed persons ('000) (D3)_UPSR/UPSRA or equivalent                    518 non-null    object
 5   Labour Force ('000) (D3)_Certificate                                     518 non-null    object
 6   Labour Force ('000) (D3)_Religious certificate                           518 non-null    object
 7   Labour Force ('000) (D3)_SPM or equivalent                               518 non-null    object
 8   Labour Force ('000) (D3)_UPSR/UPSRA or equivalent                        518 non-null    object
 9   national_Employed persons ('000) (D3)_Certificate                        518 non-null    object
 10  national_Employed persons ('000) (D3)_Degree                             518 non-null    object
 11  national_Employed persons ('000) (D3)_Diploma                            518 non-null    object
 12  national_Employed persons ('000) (D3)_No certificate                     518 non-null    object
 13  national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  518 non-null    object
 14  national_Employed persons ('000) (D3)_Religious certificate              518 non-null    object
 15  national_Employed persons ('000) (D3)_SPM or equivalent                  518 non-null    object
 16  national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent           518 non-null    object
 17  national_Labour Force ('000) (D3)_Certificate                            518 non-null    object
 18  national_Labour Force ('000) (D3)_Degree                                 518 non-null    object
 19  national_Labour Force ('000) (D3)_Diploma                                518 non-null    object
 20  national_Labour Force ('000) (D3)_No certificate                         518 non-null    object
 21  national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent      518 non-null    object
 22  national_Labour Force ('000) (D3)_Religious certificate                  518 non-null    object
 23  national_Labour Force ('000) (D3)_SPM or equivalent                      518 non-null    object
 24  national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent               518 non-null    object
 25  Price type (D2)                                                          518 non-null    object
dtypes: object(26)
memory usage: 114.5+ KB

Index(['State', 'Employed persons ('000) (D3)_Certificate',
       'Employed persons ('000) (D3)_Religious certificate',
       'Employed persons ('000) (D3)_SPM or equivalent',
       'Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'Labour Force ('000) (D3)_Certificate',
       'Labour Force ('000) (D3)_Religious certificate',
       'Labour Force ('000) (D3)_SPM or equivalent',
       'Labour Force ('000) (D3)_UPSR/UPSRA or equivalent',
       'national_Employed persons ('000) (D3)_Certificate',
       'national_Employed persons ('000) (D3)_Degree',
       'national_Employed persons ('000) (D3)_Diploma',
       'national_Employed persons ('000) (D3)_No certificate',
       'national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Employed persons ('000) (D3)_Religious certificate',
       'national_Employed persons ('000) (D3)_SPM or equivalent',
       'national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'national_Labour Force ('000) (D3)_Certificate',
       'national_Labour Force ('000) (D3)_Degree',
       'national_Labour Force ('000) (D3)_Diploma',
       'national_Labour Force ('000) (D3)_No certificate',
       'national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Labour Force ('000) (D3)_Religious certificate',
       'national_Labour Force ('000) (D3)_SPM or equivalent',
       'national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent',
       'Price type (D2)'],
      dtype='object')

In [ ]:
print(df_categorical['State'].unique())

['Johor' 'Kedah' 'Kelantan' 'Melaka' 'Negeri Sembilan' 'Pahang' 'Perak'
 'Perlis' 'Pulau Pinang' 'Sabah' 'Sarawak' 'Selangor' 'Terengganu'
 'W.P. Kuala Lumpur' 'W.P. Labuan' 'W.P. Putrajaya']

In [ ]:
print(df_categorical.State.value_counts())

State
Johor                37
Kedah                37
Kelantan             37
Melaka               37
Negeri Sembilan      37
Pahang               37
Perak                37
Perlis               37
Pulau Pinang         37
Sabah                37
Sarawak              37
Selangor             37
Terengganu           37
W.P. Kuala Lumpur    37
W.P. Labuan          35
W.P. Putrajaya       10
Name: count, dtype: int64

### 2.2 One-Hot Encoding

In [ ]:
import pandas as pd

# Assuming Unemployment_Trend_df is your DataFrame

# One-hot encoding the 'State' column
one_hot_encoded_state = pd.get_dummies(Unemployment_Trend_df['State'], prefix='State')

# Ensure the data type is integer for 1s and 0s
one_hot_encoded_state = one_hot_encoded_state.astype(int)

# Concatenate the new one-hot encoded columns to the original DataFrame
Unemployment_Trend_df_encoded = pd.concat([Unemployment_Trend_df.drop('State', axis=1), one_hot_encoded_state], axis=1)

# Print the updated DataFrame
print("DataFrame with One-Hot Encoded 'State' column:")
print(Unemployment_Trend_df_encoded.head())

DataFrame with One-Hot Encoded 'State' column:
   index_x  Year  Employed persons ('000) (D7)_15–19  \
0        0  1982                                76.3
1        1  1982                                36.3
2        2  1982                                21.9
3        4  1982                                18.6
4        5  1982                                24.8

   Employed persons ('000) (D7)_20–24  Employed persons ('000) (D7)_25–29  \
0                               121.9                               105.7
1                                59.3                                54.9
2                                45.1                                43.6
3                                31.7                                27.6
4                                38.5                                34.4

   Employed persons ('000) (D7)_30–34  Employed persons ('000) (D7)_35–39  \
0                                87.7                                65.5
1                                50.5                                42.8
2                                38.3                                35.5
3                                21.0                                19.5
4                                29.0                                22.5

   Employed persons ('000) (D7)_40–44  Employed persons ('000) (D7)_45–49  \
0                                55.9                                45.4
1                                42.9                                39.3
2                                35.6                                24.5
3                                13.7                                14.2
4                                23.9                                18.3

   Employed persons ('000) (D7)_50–54  ...  State_Perak  State_Perlis  \
0                                38.1  ...            0             0
1                                29.6  ...            0             0
2                                24.7  ...            0             0
3                                10.6  ...            0             0
4                                13.7  ...            0             0

   State_Pulau Pinang  State_Sabah  State_Sarawak  State_Selangor  \
0                   0            0              0               0
1                   0            0              0               0
2                   0            0              0               0
3                   0            0              0               0
4                   0            0              0               0

   State_Terengganu  State_W.P. Kuala Lumpur  State_W.P. Labuan  \
0                 0                        0                  0
1                 0                        0                  0
2                 0                        0                  0
3                 0                        0                  0
4                 0                        0                  0

   State_W.P. Putrajaya
0                     0
1                     0
2                     0
3                     0
4                     0

[5 rows x 119 columns]

In [ ]:
Unemployment_Trend_df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Columns: 119 entries, index_x to State_W.P. Putrajaya
dtypes: float64(75), int64(19), object(25)
memory usage: 523.5+ KB

In [ ]:
# Print the columns of the DataFrame
Unemployment_Trend_df_encoded.columns

Index(['index_x', 'Year', 'Employed persons ('000) (D7)_15–19',
       'Employed persons ('000) (D7)_20–24',
       'Employed persons ('000) (D7)_25–29',
       'Employed persons ('000) (D7)_30–34',
       'Employed persons ('000) (D7)_35–39',
       'Employed persons ('000) (D7)_40–44',
       'Employed persons ('000) (D7)_45–49',
       'Employed persons ('000) (D7)_50–54',
       ...
       'State_Perak', 'State_Perlis', 'State_Pulau Pinang', 'State_Sabah',
       'State_Sarawak', 'State_Selangor', 'State_Terengganu',
       'State_W.P. Kuala Lumpur', 'State_W.P. Labuan', 'State_W.P. Putrajaya'],
      dtype='object', length=119)

### 2.3 Dropping columns that are irrelevant

In [ ]:
# Print all columns of the DataFrame
print(Unemployment_Trend_df_encoded.columns.tolist())

['index_x', 'Year', "Employed persons ('000) (D7)_15–19", "Employed persons ('000) (D7)_20–24", "Employed persons ('000) (D7)_25–29", "Employed persons ('000) (D7)_30–34", "Employed persons ('000) (D7)_35–39", "Employed persons ('000) (D7)_40–44", "Employed persons ('000) (D7)_45–49", "Employed persons ('000) (D7)_50–54", "Employed persons ('000) (D7)_55–59", "Employed persons ('000) (D7)_60–64", "Labour force ('000) (D7)_15–19", "Labour force ('000) (D7)_20–24", "Labour force ('000) (D7)_25–29", "Labour force ('000) (D7)_30–34", "Labour force ('000) (D7)_35–39", "Labour force ('000) (D7)_40–44", "Labour force ('000) (D7)_45–49", "Labour force ('000) (D7)_50–54", "Labour force ('000) (D7)_55–59", "Labour force ('000) (D7)_60–64", 'index_y', "national_Employed persons ('000) (D7)_15–19", "national_Employed persons ('000) (D7)_20–24", "national_Employed persons ('000) (D7)_25–29", "national_Employed persons ('000) (D7)_30–34", "national_Employed persons ('000) (D7)_35–39", "national_Employed persons ('000) (D7)_40–44", "national_Employed persons ('000) (D7)_45–49", "national_Employed persons ('000) (D7)_50–54", "national_Employed persons ('000) (D7)_55–59", "national_Employed persons ('000) (D7)_60–64", "national_Labour force ('000) (D7)_15–19", "national_Labour force ('000) (D7)_20–24", "national_Labour force ('000) (D7)_25–29", "national_Labour force ('000) (D7)_30–34", "national_Labour force ('000) (D7)_35–39", "national_Labour force ('000) (D7)_40–44", "national_Labour force ('000) (D7)_45–49", "national_Labour force ('000) (D7)_50–54", "national_Labour force ('000) (D7)_55–59", "national_Labour force ('000) (D7)_60–64", 'Female_Unemployment Rate (%) (D6)', 'Male_Unemployment Rate (%) (D6)', 'national_Female_Unemployment Rate (%) (D6)', 'national_Male_Unemployment Rate (%) (D6)', 'index_x_', "Employed persons ('000) (D3)_Certificate", "Employed persons ('000) (D3)_Degree", "Employed persons ('000) (D3)_Diploma", "Employed persons ('000) (D3)_No certificate", "Employed persons ('000) (D3)_Not applicable", "Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "Employed persons ('000) (D3)_Religious certificate", "Employed persons ('000) (D3)_SPM or equivalent", "Employed persons ('000) (D3)_STPM or equivalent", "Employed persons ('000) (D3)_UPSR/UPSRA or equivalent", "Labour Force ('000) (D3)_Certificate", "Labour Force ('000) (D3)_Degree", "Labour Force ('000) (D3)_Diploma", "Labour Force ('000) (D3)_No certificate", "Labour Force ('000) (D3)_Not applicable", "Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "Labour Force ('000) (D3)_Religious certificate", "Labour Force ('000) (D3)_SPM or equivalent", "Labour Force ('000) (D3)_STPM or equivalent", "Labour Force ('000) (D3)_UPSR/UPSRA or equivalent", 'index_y_', "national_Employed persons ('000) (D3)_Certificate", "national_Employed persons ('000) (D3)_Degree", "national_Employed persons ('000) (D3)_Diploma", "national_Employed persons ('000) (D3)_No certificate", "national_Employed persons ('000) (D3)_Not applicable", "national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "national_Employed persons ('000) (D3)_Religious certificate", "national_Employed persons ('000) (D3)_SPM or equivalent", "national_Employed persons ('000) (D3)_STPM or equivalent", "national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent", "national_Labour Force ('000) (D3)_Certificate", "national_Labour Force ('000) (D3)_Degree", "national_Labour Force ('000) (D3)_Diploma", "national_Labour Force ('000) (D3)_No certificate", "national_Labour Force ('000) (D3)_Not applicable", "national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "national_Labour Force ('000) (D3)_Religious certificate", "national_Labour Force ('000) (D3)_SPM or equivalent", "national_Labour Force ('000) (D3)_STPM or equivalent", "national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent", 'Price type (D2)', 'National GDP (RM Million) (D2)', 'national_gdp_growth (%) (D2)', "national_lf ('000) (D1)", "national_lf_employed ('000) (D1)", "national_lf_unemployed ('000) (D1)", "national_lf_outside ('000) (D1)", 'national_p_rate (%) (D1)', 'national_ep_ratio (%) (D1)', 'national_u_rate (%) (D1)', 'national_CPI (D4)', 'national_Inflation Rate (%) (D4)', 'national_IPI (D5)', 'national_Industrial Production Rate (%) (D5)', 'State_Johor', 'State_Kedah', 'State_Kelantan', 'State_Melaka', 'State_Negeri Sembilan', 'State_Pahang', 'State_Perak', 'State_Perlis', 'State_Pulau Pinang', 'State_Sabah', 'State_Sarawak', 'State_Selangor', 'State_Terengganu', 'State_W.P. Kuala Lumpur', 'State_W.P. Labuan', 'State_W.P. Putrajaya']

index_x, index_x_, index_y and index_y_ are columns that were used to merge the datasets.

In [ ]:
# Drop specified columns from the DataFrame
Unemployment_Trend_df_encoded = Unemployment_Trend_df_encoded.drop(['index_x', 'index_x_', 'index_y', 'index_y_'], axis=1)

# Print the updated DataFrame to confirm the columns are dropped
print("Updated DataFrame after dropping columns:")
print(Unemployment_Trend_df_encoded.head())

Updated DataFrame after dropping columns:
   Year  Employed persons ('000) (D7)_15–19  \
0  1982                                76.3
1  1982                                36.3
2  1982                                21.9
3  1982                                18.6
4  1982                                24.8

   Employed persons ('000) (D7)_20–24  Employed persons ('000) (D7)_25–29  \
0                               121.9                               105.7
1                                59.3                                54.9
2                                45.1                                43.6
3                                31.7                                27.6
4                                38.5                                34.4

   Employed persons ('000) (D7)_30–34  Employed persons ('000) (D7)_35–39  \
0                                87.7                                65.5
1                                50.5                                42.8
2                                38.3                                35.5
3                                21.0                                19.5
4                                29.0                                22.5

   Employed persons ('000) (D7)_40–44  Employed persons ('000) (D7)_45–49  \
0                                55.9                                45.4
1                                42.9                                39.3
2                                35.6                                24.5
3                                13.7                                14.2
4                                23.9                                18.3

   Employed persons ('000) (D7)_50–54  Employed persons ('000) (D7)_55–59  \
0                                38.1                                20.4
1                                29.6                                17.4
2                                24.7                                20.9
3                                10.6                                 6.3
4                                13.7                                 7.1

   ...  State_Perak  State_Perlis  State_Pulau Pinang  State_Sabah  \
0  ...            0             0                   0            0
1  ...            0             0                   0            0
2  ...            0             0                   0            0
3  ...            0             0                   0            0
4  ...            0             0                   0            0

   State_Sarawak  State_Selangor  State_Terengganu  State_W.P. Kuala Lumpur  \
0              0               0                 0                        0
1              0               0                 0                        0
2              0               0                 0                        0
3              0               0                 0                        0
4              0               0                 0                        0

   State_W.P. Labuan  State_W.P. Putrajaya
0                  0                     0
1                  0                     0
2                  0                     0
3                  0                     0
4                  0                     0

[5 rows x 115 columns]

In [ ]:
# Print all columns of the DataFrame
print(Unemployment_Trend_df_encoded.columns.tolist())

['Year', "Employed persons ('000) (D7)_15–19", "Employed persons ('000) (D7)_20–24", "Employed persons ('000) (D7)_25–29", "Employed persons ('000) (D7)_30–34", "Employed persons ('000) (D7)_35–39", "Employed persons ('000) (D7)_40–44", "Employed persons ('000) (D7)_45–49", "Employed persons ('000) (D7)_50–54", "Employed persons ('000) (D7)_55–59", "Employed persons ('000) (D7)_60–64", "Labour force ('000) (D7)_15–19", "Labour force ('000) (D7)_20–24", "Labour force ('000) (D7)_25–29", "Labour force ('000) (D7)_30–34", "Labour force ('000) (D7)_35–39", "Labour force ('000) (D7)_40–44", "Labour force ('000) (D7)_45–49", "Labour force ('000) (D7)_50–54", "Labour force ('000) (D7)_55–59", "Labour force ('000) (D7)_60–64", "national_Employed persons ('000) (D7)_15–19", "national_Employed persons ('000) (D7)_20–24", "national_Employed persons ('000) (D7)_25–29", "national_Employed persons ('000) (D7)_30–34", "national_Employed persons ('000) (D7)_35–39", "national_Employed persons ('000) (D7)_40–44", "national_Employed persons ('000) (D7)_45–49", "national_Employed persons ('000) (D7)_50–54", "national_Employed persons ('000) (D7)_55–59", "national_Employed persons ('000) (D7)_60–64", "national_Labour force ('000) (D7)_15–19", "national_Labour force ('000) (D7)_20–24", "national_Labour force ('000) (D7)_25–29", "national_Labour force ('000) (D7)_30–34", "national_Labour force ('000) (D7)_35–39", "national_Labour force ('000) (D7)_40–44", "national_Labour force ('000) (D7)_45–49", "national_Labour force ('000) (D7)_50–54", "national_Labour force ('000) (D7)_55–59", "national_Labour force ('000) (D7)_60–64", 'Female_Unemployment Rate (%) (D6)', 'Male_Unemployment Rate (%) (D6)', 'national_Female_Unemployment Rate (%) (D6)', 'national_Male_Unemployment Rate (%) (D6)', "Employed persons ('000) (D3)_Certificate", "Employed persons ('000) (D3)_Degree", "Employed persons ('000) (D3)_Diploma", "Employed persons ('000) (D3)_No certificate", "Employed persons ('000) (D3)_Not applicable", "Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "Employed persons ('000) (D3)_Religious certificate", "Employed persons ('000) (D3)_SPM or equivalent", "Employed persons ('000) (D3)_STPM or equivalent", "Employed persons ('000) (D3)_UPSR/UPSRA or equivalent", "Labour Force ('000) (D3)_Certificate", "Labour Force ('000) (D3)_Degree", "Labour Force ('000) (D3)_Diploma", "Labour Force ('000) (D3)_No certificate", "Labour Force ('000) (D3)_Not applicable", "Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "Labour Force ('000) (D3)_Religious certificate", "Labour Force ('000) (D3)_SPM or equivalent", "Labour Force ('000) (D3)_STPM or equivalent", "Labour Force ('000) (D3)_UPSR/UPSRA or equivalent", "national_Employed persons ('000) (D3)_Certificate", "national_Employed persons ('000) (D3)_Degree", "national_Employed persons ('000) (D3)_Diploma", "national_Employed persons ('000) (D3)_No certificate", "national_Employed persons ('000) (D3)_Not applicable", "national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "national_Employed persons ('000) (D3)_Religious certificate", "national_Employed persons ('000) (D3)_SPM or equivalent", "national_Employed persons ('000) (D3)_STPM or equivalent", "national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent", "national_Labour Force ('000) (D3)_Certificate", "national_Labour Force ('000) (D3)_Degree", "national_Labour Force ('000) (D3)_Diploma", "national_Labour Force ('000) (D3)_No certificate", "national_Labour Force ('000) (D3)_Not applicable", "national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "national_Labour Force ('000) (D3)_Religious certificate", "national_Labour Force ('000) (D3)_SPM or equivalent", "national_Labour Force ('000) (D3)_STPM or equivalent", "national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent", 'Price type (D2)', 'National GDP (RM Million) (D2)', 'national_gdp_growth (%) (D2)', "national_lf ('000) (D1)", "national_lf_employed ('000) (D1)", "national_lf_unemployed ('000) (D1)", "national_lf_outside ('000) (D1)", 'national_p_rate (%) (D1)', 'national_ep_ratio (%) (D1)', 'national_u_rate (%) (D1)', 'national_CPI (D4)', 'national_Inflation Rate (%) (D4)', 'national_IPI (D5)', 'national_Industrial Production Rate (%) (D5)', 'State_Johor', 'State_Kedah', 'State_Kelantan', 'State_Melaka', 'State_Negeri Sembilan', 'State_Pahang', 'State_Perak', 'State_Perlis', 'State_Pulau Pinang', 'State_Sabah', 'State_Sarawak', 'State_Selangor', 'State_Terengganu', 'State_W.P. Kuala Lumpur', 'State_W.P. Labuan', 'State_W.P. Putrajaya']

In [ ]:
# Save the DataFrame to a CSV file
Unemployment_Trend_df_encoded.to_csv('updated_D1_D2_D3_D4_D5_D6_D7_merged_filtered.csv', index=False)

### 2.4 Imputation

- Replacing the "-" values as Null Values
- Replacing the " -" values as Null Values
- Removing the comma inside numerical numbers

In [ ]:
pd.set_option('display.max_columns', None)
Unemployment_Trend_df_encoded.replace('-', np.nan, inplace=True)
Unemployment_Trend_df_encoded.replace(' -', np.nan, inplace=True)
Unemployment_Trend_df_encoded = Unemployment_Trend_df_encoded.replace({',': ''}, regex=True)
Unemployment_Trend_df_encoded.head(10)

,Year,Employed persons ('000) (D7)_15–19,Employed persons ('000) (D7)_20–24,Employed persons ('000) (D7)_25–29,Employed persons ('000) (D7)_30–34,Employed persons ('000) (D7)_35–39,Employed persons ('000) (D7)_40–44,Employed persons ('000) (D7)_45–49,Employed persons ('000) (D7)_50–54,Employed persons ('000) (D7)_55–59,Employed persons ('000) (D7)_60–64,Labour force ('000) (D7)_15–19,Labour force ('000) (D7)_20–24,Labour force ('000) (D7)_25–29,Labour force ('000) (D7)_30–34,Labour force ('000) (D7)_35–39,Labour force ('000) (D7)_40–44,Labour force ('000) (D7)_45–49,Labour force ('000) (D7)_50–54,Labour force ('000) (D7)_55–59,Labour force ('000) (D7)_60–64,national_Employed persons ('000) (D7)_15–19,national_Employed persons ('000) (D7)_20–24,national_Employed persons ('000) (D7)_25–29,national_Employed persons ('000) (D7)_30–34,national_Employed persons ('000) (D7)_35–39,national_Employed persons ('000) (D7)_40–44,national_Employed persons ('000) (D7)_45–49,national_Employed persons ('000) (D7)_50–54,national_Employed persons ('000) (D7)_55–59,national_Employed persons ('000) (D7)_60–64,national_Labour force ('000) (D7)_15–19,national_Labour force ('000) (D7)_20–24,national_Labour force ('000) (D7)_25–29,national_Labour force ('000) (D7)_30–34,national_Labour force ('000) (D7)_35–39,national_Labour force ('000) (D7)_40–44,national_Labour force ('000) (D7)_45–49,national_Labour force ('000) (D7)_50–54,national_Labour force ('000) (D7)_55–59,national_Labour force ('000) (D7)_60–64,Female_Unemployment Rate (%) (D6),Male_Unemployment Rate (%) (D6),national_Female_Unemployment Rate (%) (D6),national_Male_Unemployment Rate (%) (D6),Employed persons ('000) (D3)_Certificate,Employed persons ('000) (D3)_Degree,Employed persons ('000) (D3)_Diploma,Employed persons ('000) (D3)_No certificate,Employed persons ('000) (D3)_Not applicable,Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent,Employed persons ('000) (D3)_Religious certificate,Employed persons ('000) (D3)_SPM or equivalent,Employed persons ('000) (D3)_STPM or equivalent,Employed persons ('000) (D3)_UPSR/UPSRA or equivalent,Labour Force ('000) (D3)_Certificate,Labour Force ('000) (D3)_Degree,Labour Force ('000) (D3)_Diploma,Labour Force ('000) (D3)_No certificate,Labour Force ('000) (D3)_Not applicable,Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent,Labour Force ('000) (D3)_Religious certificate,Labour Force ('000) (D3)_SPM or equivalent,Labour Force ('000) (D3)_STPM or equivalent,Labour Force ('000) (D3)_UPSR/UPSRA or equivalent,national_Employed persons ('000) (D3)_Certificate,national_Employed persons ('000) (D3)_Degree,national_Employed persons ('000) (D3)_Diploma,national_Employed persons ('000) (D3)_No certificate,national_Employed persons ('000) (D3)_Not applicable,national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent,national_Employed persons ('000) (D3)_Religious certificate,national_Employed persons ('000) (D3)_SPM or equivalent,national_Employed persons ('000) (D3)_STPM or equivalent,national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent,national_Labour Force ('000) (D3)_Certificate,national_Labour Force ('000) (D3)_Degree,national_Labour Force ('000) (D3)_Diploma,national_Labour Force ('000) (D3)_No certificate,national_Labour Force ('000) (D3)_Not applicable,national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent,national_Labour Force ('000) (D3)_Religious certificate,national_Labour Force ('000) (D3)_SPM or equivalent,national_Labour Force ('000) (D3)_STPM or equivalent,national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent,Price type (D2),National GDP (RM Million) (D2),national_gdp_growth (%) (D2),national_lf ('000) (D1),national_lf_employed ('000) (D1),national_lf_unemployed ('000) (D1),national_lf_outside ('000) (D1),national_p_rate (%) (D1),national_ep_ratio (%) (D1),national_u_rate (%) (D1),national_CPI (D4),national_Inflation Rate (%) (D4),national_IPI (D5),national_Industrial Production Rate (%) (D5),State_Johor,State_Kedah,State_Kelantan,State_Melaka,State_Negeri Sembilan,State_Pahang,State_Perak,State_Perlis,State_Pulau Pinang,State_Sabah,State_Sarawak,State_Selangor,State_Terengganu,State_W.P. Kuala Lumpur,State_W.P. Labuan,State_W.P. Putrajaya
0,1982,76.3,121.9,105.7,87.7,65.5,55.9,45.4,38.1,20.4,13.4,86.1,130.9,107.6,88.3,65.8,56.3,45.5,38.3,20.7,13.5,582.9,999.8,856.1,712.9,550.3,507.4,390.3,314.0,196.4,138.9,662.6,1062.3,871.9,718.4,555.3,511.6,393.2,316.5,199.1,140.5,4.7,2.9,4.6,2.7,NaN,7.4,17.9,410.8,69.2,51.7,1.4,68.3,3.4,NaN,NaN,7.8,17.9,419.7,70.2,55.5,1.4,76.6,4.0,NaN,NaN,91.1,137,3052.00,821.8,469.2,7.9,619.7,49.8,NaN,NaN,93.8,138,3135.40,829.5,502.4,7.9,671,52.9,NaN,Current Prices,62599.0,8.7,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1982,36.3,59.3,54.9,50.5,42.8,42.9,39.3,29.6,17.4,15.9,43.2,64.0,56.1,50.9,43.3,43.4,39.4,29.8,17.7,16.1,582.9,999.8,856.1,712.9,550.3,507.4,390.3,314.0,196.4,138.9,662.6,1062.3,871.9,718.4,555.3,511.6,393.2,316.5,199.1,140.5,6.5,2.2,4.6,2.7,NaN,3.3,9.7,239.6,75.6,25.4,1.8,31.8,1.8,NaN,NaN,3.5,9.8,245.1,76.2,28.1,1.8,36.9,2.3,NaN,NaN,91.1,137,3052.00,821.8,469.2,7.9,619.7,49.8,NaN,NaN,93.8,138,3135.40,829.5,502.4,7.9,671,52.9,NaN,Current Prices,62599.0,8.7,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1982,21.9,45.1,43.6,38.3,35.5,35.6,24.5,24.7,20.9,14.1,27.6,51.0,44.5,38.7,36.2,36.0,25.0,24.9,21.1,14.5,582.9,999.8,856.1,712.9,550.3,507.4,390.3,314.0,196.4,138.9,662.6,1062.3,871.9,718.4,555.3,511.6,393.2,316.5,199.1,140.5,6.0,3.9,4.6,2.7,NaN,3.1,7.4,144.9,98.2,22.5,0.7,25.8,1.7,NaN,NaN,3.2,7.5,149.8,99.7,25.0,0.7,32,1.7,NaN,NaN,91.1,137,3052.00,821.8,469.2,7.9,619.7,49.8,NaN,NaN,93.8,138,3135.40,829.5,502.4,7.9,671,52.9,NaN,Current Prices,62599.0,8.7,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1982,18.6,31.7,27.6,21.0,19.5,13.7,14.2,10.6,6.3,4.1,21.9,33.8,28.0,21.3,19.6,13.9,14.3,10.8,6.3,4.1,582.9,999.8,856.1,712.9,550.3,507.4,390.3,314.0,196.4,138.9,662.6,1062.3,871.9,718.4,555.3,511.6,393.2,316.5,199.1,140.5,5.7,3.0,4.6,2.7,NaN,2.8,5.6,105.7,17.1,12.3,0.2,21.5,1.8,NaN,NaN,2.9,5.6,108.0,17.3,13.4,0.2,24.5,2.0,NaN,NaN,91.1,137,3052.00,821.8,469.2,7.9,619.7,49.8,NaN,NaN,93.8,138,3135.40,829.5,502.4,7.9,671,52.9,NaN,Current Prices,62599.0,8.7,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,1982,24.8,38.5,34.4,29.0,22.5,23.9,18.3,13.7,7.1,4.2,28.0,41.0,34.6,29.1,22.6,23.9,18.5,13.8,7.1,4.2,582.9,999.8,856.1,712.9,550.3,507.4,390.3,314.0,196.4,138.9,662.6,1062.3,871.9,718.4,555.3,511.6,393.2,316.5,199.1,140.5,3.9,2.4,4.6,2.7,NaN,3.4,7.4,145.7,20.3,15.7,0.3,22,1.5,NaN,NaN,3.4,7.4,148.6,20.4,17.0,0.3,23.9,1.8,NaN,NaN,91.1,137,3052.00,821.8,469.2,7.9,619.7,49.8,NaN,NaN,93.8,138,3135.40,829.5,502.4,7.9,671,52.9,NaN,Current Prices,62599.0,8.7,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
5,1982,32.2,51.6,42.9,39.0,31.1,28.4,18.2,11.4,9.8,5.7,36.2,54.9,43.7,39.4,31.4,28.6,18.4,11.5,9.9,5.7,582.9,999.8,856.1,712.9,550.3,507.4,390.3,314.0,196.4,138.9,662.6,1062.3,871.9,718.4,555.3,511.6,393.2,316.5,199.1,140.5,5.7,2.3,4.6,2.7,NaN,3.0,7.6,172.5,30.1,23.8,0.4,31.2,1.7,NaN,NaN,3.0,7.7,176.3,30.4,25.3,0.4,34.6,1.8,NaN,NaN,91.1,137,3052.00,821.8,469.2,7.9,619.7,49.8,NaN,NaN,93.8,138,3135.40,829.5,502.4,7.9,671,52.9,NaN,Current Prices,62599.0,8.7,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
6,1982,66.2,99.6,83.2,76.7,65.4,64.2,55.3,46.2,27.5,19.7,79.8,109.9,86.5,77.8,66.9,65.5,56.4,47.1,28.6,20.1,582.9,999.8,856.1,712.9,550.3,507.4,390.3,314.0,196.4,138.9,662.6,1062.3,871.9,718.4,555.3,511.6,393.2,316.5,199.1,140.5,6.2,5.0,4.6,2.7,NaN,4.6,17.5,402.7,72.3,55.9,1.1,47,3.0,NaN,NaN,5.1,17.7,422.8,74.0,61.9,1.1,52.8,3.1,NaN,NaN,91.1,137,3052.00,821.8,469.2,7.9,619.7,49.8,NaN,NaN,93.8,138,3135.40,829.5,502.4,7.9,671,52.9,NaN,Current Prices,62599.0,8.7,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
7,1982,5.0,8.8,7.0,6.9,5.4,7.3,4.9,5.6,2.9,1.9,6.2,9.9,7.1,6.9,5.4,7.3,4.9,5.6,2.9,1.9,582.9,999.8,856.1,712.9,550.3,507.4,390.3,314.0,196.4,138.9,662.6,1062.3,871.9,718.4,555.3,511.6,393.2,316.5,199.1,140.5,7.4,2.6,4.6,2.7,NaN,0.6,1.8,35.0,9.6,3.9,0.1,4.3,0.4,NaN,NaN,0.6,1.8,35.7,9.6,4.0,0.1,5.8,0.6,NaN,NaN,91.1,137,3052.00,821.8,469.2,7.9,619.7,49.8,NaN,NaN,93.8,138,3135.40,829.5,502.4,7.9,671,52.9,NaN,Current Prices,62599.0,8.7,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
8,1982,47.6,76.4,63.4,51.6,38.3,37.0,24.9,22.6,13.4,7.0,52.8,81.1,64.9,52.2,38.8,37.2,25.2,22.8,13.7,7.3,582.9,999.8,856.1,712.9,550.3,507.4,390.3,314.0,196.4,138.9,662.6,1062.3,871.9,718.4,555.3,511.6,393.2,316.5,199.1,140.5,4.2,3.1,4.6,2.7,NaN,6.6,9.2,243.1,28.0,40.3,0.1,50.8,4.0,NaN,NaN,6.9,9.4,249.9,28.5,42.7,0.1,54.2,4.2,NaN,NaN,91.1,137,3052.00,821.8,469.2,7.9,619.7,49.8,NaN,NaN,93.8,138,3135.40,829.5,502.4,7.9,671,52.9,NaN,Current Prices,62599.0,8.7,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
9,1982,36.5,72.0,58.9,47.6,31.6,33.7,24.1,18.4,12.4,8.4,42.2,75.3,59.7,48.0,31.8,33.8,24.1,18.5,12.4,8.5,582.9,999.8,856.1,712.9,550.3,507.4,390.3,314.0,196.4,138.9,662.6,1062.3,871.9,718.4,555.3,511.6,393.2,316.5,199.1,140.5,5.1,2.4,4.6,2.7,NaN,4.3,2.8,175.6,90.5,41.1,0.3,26.1,2.8,NaN,NaN,4.4,2.8,182.0,91.4,43.4,0.3,27.1,2.9,NaN,NaN,91.1,137,3052.00,821.8,469.2,7.9,619.7,49.8,NaN,NaN,93.8,138,3135.40,829.5,502.4,7.9,671,52.9,NaN,Current Prices,62599.0,8.7,5431.4,5249.0,182.4,2944.6,64.8,62.7,3.4,116.0,5.7,105.5,5.5,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

- Looking at the datatypes of each column

In [ ]:
for columns in Unemployment_Trend_df_encoded:
  print(columns, ' : ', Unemployment_Trend_df_encoded[columns].dtype)

Year  :  int64
Employed persons ('000) (D7)_15–19  :  float64
Employed persons ('000) (D7)_20–24  :  float64
Employed persons ('000) (D7)_25–29  :  float64
Employed persons ('000) (D7)_30–34  :  float64
Employed persons ('000) (D7)_35–39  :  float64
Employed persons ('000) (D7)_40–44  :  float64
Employed persons ('000) (D7)_45–49  :  float64
Employed persons ('000) (D7)_50–54  :  float64
Employed persons ('000) (D7)_55–59  :  float64
Employed persons ('000) (D7)_60–64  :  float64
Labour force ('000) (D7)_15–19  :  float64
Labour force ('000) (D7)_20–24  :  float64
Labour force ('000) (D7)_25–29  :  float64
Labour force ('000) (D7)_30–34  :  float64
Labour force ('000) (D7)_35–39  :  float64
Labour force ('000) (D7)_40–44  :  float64
Labour force ('000) (D7)_45–49  :  float64
Labour force ('000) (D7)_50–54  :  float64
Labour force ('000) (D7)_55–59  :  float64
Labour force ('000) (D7)_60–64  :  float64
national_Employed persons ('000) (D7)_15–19  :  float64
national_Employed persons ('000) (D7)_20–24  :  float64
national_Employed persons ('000) (D7)_25–29  :  float64
national_Employed persons ('000) (D7)_30–34  :  float64
national_Employed persons ('000) (D7)_35–39  :  float64
national_Employed persons ('000) (D7)_40–44  :  float64
national_Employed persons ('000) (D7)_45–49  :  float64
national_Employed persons ('000) (D7)_50–54  :  float64
national_Employed persons ('000) (D7)_55–59  :  float64
national_Employed persons ('000) (D7)_60–64  :  float64
national_Labour force ('000) (D7)_15–19  :  float64
national_Labour force ('000) (D7)_20–24  :  float64
national_Labour force ('000) (D7)_25–29  :  float64
national_Labour force ('000) (D7)_30–34  :  float64
national_Labour force ('000) (D7)_35–39  :  float64
national_Labour force ('000) (D7)_40–44  :  float64
national_Labour force ('000) (D7)_45–49  :  float64
national_Labour force ('000) (D7)_50–54  :  float64
national_Labour force ('000) (D7)_55–59  :  float64
national_Labour force ('000) (D7)_60–64  :  float64
Female_Unemployment Rate (%) (D6)  :  float64
Male_Unemployment Rate (%) (D6)  :  float64
national_Female_Unemployment Rate (%) (D6)  :  float64
national_Male_Unemployment Rate (%) (D6)  :  float64
Employed persons ('000) (D3)_Certificate  :  object
Employed persons ('000) (D3)_Degree  :  float64
Employed persons ('000) (D3)_Diploma  :  float64
Employed persons ('000) (D3)_No certificate  :  float64
Employed persons ('000) (D3)_Not applicable  :  float64
Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  :  float64
Employed persons ('000) (D3)_Religious certificate  :  object
Employed persons ('000) (D3)_SPM or equivalent  :  object
Employed persons ('000) (D3)_STPM or equivalent  :  float64
Employed persons ('000) (D3)_UPSR/UPSRA or equivalent  :  object
Labour Force ('000) (D3)_Certificate  :  object
Labour Force ('000) (D3)_Degree  :  float64
Labour Force ('000) (D3)_Diploma  :  float64
Labour Force ('000) (D3)_No certificate  :  float64
Labour Force ('000) (D3)_Not applicable  :  float64
Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  :  float64
Labour Force ('000) (D3)_Religious certificate  :  object
Labour Force ('000) (D3)_SPM or equivalent  :  object
Labour Force ('000) (D3)_STPM or equivalent  :  float64
Labour Force ('000) (D3)_UPSR/UPSRA or equivalent  :  object
national_Employed persons ('000) (D3)_Certificate  :  object
national_Employed persons ('000) (D3)_Degree  :  object
national_Employed persons ('000) (D3)_Diploma  :  object
national_Employed persons ('000) (D3)_No certificate  :  object
national_Employed persons ('000) (D3)_Not applicable  :  float64
national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  :  object
national_Employed persons ('000) (D3)_Religious certificate  :  object
national_Employed persons ('000) (D3)_SPM or equivalent  :  object
national_Employed persons ('000) (D3)_STPM or equivalent  :  float64
national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent  :  object
national_Labour Force ('000) (D3)_Certificate  :  object
national_Labour Force ('000) (D3)_Degree  :  object
national_Labour Force ('000) (D3)_Diploma  :  object
national_Labour Force ('000) (D3)_No certificate  :  object
national_Labour Force ('000) (D3)_Not applicable  :  float64
national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  :  object
national_Labour Force ('000) (D3)_Religious certificate  :  object
national_Labour Force ('000) (D3)_SPM or equivalent  :  object
national_Labour Force ('000) (D3)_STPM or equivalent  :  float64
national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent  :  object
Price type (D2)  :  object
National GDP (RM Million) (D2)  :  float64
national_gdp_growth (%) (D2)  :  float64
national_lf ('000) (D1)  :  float64
national_lf_employed ('000) (D1)  :  float64
national_lf_unemployed ('000) (D1)  :  float64
national_lf_outside ('000) (D1)  :  float64
national_p_rate (%) (D1)  :  float64
national_ep_ratio (%) (D1)  :  float64
national_u_rate (%) (D1)  :  float64
national_CPI (D4)  :  float64
national_Inflation Rate (%) (D4)  :  float64
national_IPI (D5)  :  float64
national_Industrial Production Rate (%) (D5)  :  float64
State_Johor  :  int64
State_Kedah  :  int64
State_Kelantan  :  int64
State_Melaka  :  int64
State_Negeri Sembilan  :  int64
State_Pahang  :  int64
State_Perak  :  int64
State_Perlis  :  int64
State_Pulau Pinang  :  int64
State_Sabah  :  int64
State_Sarawak  :  int64
State_Selangor  :  int64
State_Terengganu  :  int64
State_W.P. Kuala Lumpur  :  int64
State_W.P. Labuan  :  int64
State_W.P. Putrajaya  :  int64

Imputing values for national statistics like national_u_rate, national_CPI, national_Inflation_Rate, national_IPI, and national_Industrial_Production_Rate, national_Female_Unemployment Rate (%), national_Male_Unemployment Rate (%)

We are not using mean here, instead we are going to replace them with the previous rows, values. This is because our dataset is categorised by states and year, so the national statistics should be the same for the year itself and across each state

In [ ]:
# First, sort the DataFrame by 'Year' and 'State' to make sure the reference state is consistent
Unemployment_Trend_df_encoded.sort_values(by=['Year', 'State_Johor'], inplace=True)

# Identify the reference state's national statistics for each year
# Assuming the first state after sorting is taken as the reference
reference_stats = Unemployment_Trend_df_encoded.drop_duplicates('Year', keep='first')

# Select only the columns relevant for national stats and the year
reference_stats = reference_stats[['Year', 'national_u_rate (%) (D1)', 'national_CPI (D4)',
                                   'national_Inflation Rate (%) (D4)', 'national_IPI (D5)',
                                   'national_Industrial Production Rate (%) (D5)']]

# Merge these reference stats back to the original DataFrame to align all states with the reference
Unemployment_Trend_df_encoded = Unemployment_Trend_df_encoded.drop(columns=[
    'national_u_rate (%) (D1)', 'national_CPI (D4)', 'national_Inflation Rate (%) (D4)',
    'national_IPI (D5)', 'national_Industrial Production Rate (%) (D5)'
])
Unemployment_Trend_df_encoded = Unemployment_Trend_df_encoded.merge(reference_stats, on='Year', how='left')

# Now print some of the data to verify all states have the same national statistics for each year
print(Unemployment_Trend_df_encoded.head(20))

    Year  Employed persons ('000) (D7)_15–19  \
0   1982                                36.3
1   1982                                21.9
2   1982                                18.6
3   1982                                24.8
4   1982                                32.2
5   1982                                66.2
6   1982                                 5.0
7   1982                                47.6
8   1982                                36.5
9   1982                                72.9
10  1982                                68.6
11  1982                                21.5
12  1982                                54.7
13  1982                                76.3
14  1983                                31.5
15  1983                                17.2
16  1983                                17.3
17  1983                                19.5
18  1983                                31.5
19  1983                                81.5

    Employed persons ('000) (D7)_20–24  Employed persons ('000) (D7)_25–29  \
0                                 59.3                                54.9
1                                 45.1                                43.6
2                                 31.7                                27.6
3                                 38.5                                34.4
4                                 51.6                                42.9
5                                 99.6                                83.2
6                                  8.8                                 7.0
7                                 76.4                                63.4
8                                 72.0                                58.9
9                                 91.8                                78.3
10                               150.6                               129.0
11                                39.4                                33.6
12                               113.2                                93.6
13                               121.9                               105.7
14                                51.0                                54.1
15                                41.3                                40.4
16                                27.4                                27.0
17                                37.8                                32.8
18                                64.4                                57.3
19                               109.0                                93.8

    Employed persons ('000) (D7)_30–34  Employed persons ('000) (D7)_35–39  \
0                                 50.5                                42.8
1                                 38.3                                35.5
2                                 21.0                                19.5
3                                 29.0                                22.5
4                                 39.0                                31.1
5                                 76.7                                65.4
6                                  6.9                                 5.4
7                                 51.6                                38.3
8                                 47.6                                31.6
9                                 65.7                                55.1
10                               104.9                                69.4
11                                25.7                                24.9
12                                68.2                                43.4
13                                87.7                                65.5
14                                55.0                                43.4
15                                35.9                                37.9
16                                24.8                                16.5
17                                29.1                                17.9
18                                55.6                                34.9
19                                87.4                                69.6

    Employed persons ('000) (D7)_40–44  Employed persons ('000) (D7)_45–49  \
0                                 42.9                                39.3
1                                 35.6                                24.5
2                                 13.7                                14.2
3                                 23.9                                18.3
4                                 28.4                                18.2
5                                 64.2                                55.3
6                                  7.3                                 4.9
7                                 37.0                                24.9
8                                 33.7                                24.1
9                                 47.8                                36.4
10                                59.0                                43.2
11                                22.4                                17.8
12                                35.7                                23.7
13                                55.9                                45.4
14                                39.7                                39.2
15                                27.0                                29.2
16                                18.9                                13.2
17                                29.1                                19.4
18                                32.8                                27.6
19                                64.6                                62.3

    Employed persons ('000) (D7)_50–54  Employed persons ('000) (D7)_55–59  \
0                                 29.6                                17.4
1                                 24.7                                20.9
2                                 10.6                                 6.3
3                                 13.7                                 7.1
4                                 11.4                                 9.8
5                                 46.2                                27.5
6                                  5.6                                 2.9
7                                 22.6                                13.4
8                                 18.4                                12.4
9                                 33.5                                23.1
10                                28.4                                14.5
11                                14.6                                11.6
12                                16.5                                 9.2
13                                38.1                                20.4
14                                26.7                                16.9
15                                21.6                                19.9
16                                12.1                                 5.2
17                                15.8                                 7.8
18                                14.4                                 7.8
19                                46.8                                30.5

    Employed persons ('000) (D7)_60–64  Labour force ('000) (D7)_15–19  \
0                                 15.9                            43.2
1                                 14.1                            27.6
2                                  4.1                            21.9
3                                  4.2                            28.0
4                                  5.7                            36.2
5                                 19.7                            79.8
6                                  1.9                             6.2
7                                  7.0                            52.8
8                                  8.4                            42.2
9                                 20.1                            81.0
10                                 9.4                            75.6
11                                 9.5                            24.1
12                                 5.4                            57.9
13                                13.4                            86.1
14                                16.0                            37.2
15                                12.1                            22.6
16                                 3.1                            19.8
17                                 5.9                            22.7
18                                 7.2                            35.5
19                                23.7                            95.5

    Labour force ('000) (D7)_20–24  Labour force ('000) (D7)_25–29  \
0                             64.0                            56.1
1                             51.0                            44.5
2                             33.8                            28.0
3                             41.0                            34.6
4                             54.9                            43.7
5                            109.9                            86.5
6                              9.9                             7.1
7                             81.1                            64.9
8                             75.3                            59.7
9                             96.8                            79.6
10                           155.3                           130.6
11                            42.2                            34.0
12                           116.2                            95.0
13                           130.9                           107.6
14                            56.9                            55.2
15                            47.5                            41.9
16                            28.5                            27.4
17                            41.8                            33.7
18                            67.5                            57.9
19                           118.4                            98.4

    Labour force ('000) (D7)_30–34  Labour force ('000) (D7)_35–39  \
0                             50.9                            43.3
1                             38.7                            36.2
2                             21.3                            19.6
3                             29.1                            22.6
4                             39.4                            31.4
5                             77.8                            66.9
6                              6.9                             5.4
7                             52.2                            38.8
8                             48.0                            31.8
9                             65.9                            55.2
10                           105.5                            69.7
11                            25.9                            24.9
12                            68.6                            43.6
13                            88.3                            65.8
14                            55.0                            43.7
15                            37.0                            39.9
16                            24.9                            16.9
17                            29.1                            18.0
18                            56.0                            35.0
19                            89.3                            70.6

    Labour force ('000) (D7)_40–44  Labour force ('000) (D7)_45–49  \
0                             43.4                            39.4
1                             36.0                            25.0
2                             13.9                            14.3
3                             23.9                            18.5
4                             28.6                            18.4
5                             65.5                            56.4
6                              7.3                             4.9
7                             37.2                            25.2
8                             33.8                            24.1
9                             47.9                            36.5
10                            59.2                            43.3
11                            22.5                            17.9
12                            36.0                            23.8
13                            56.3                            45.5
14                            40.0                            39.8
15                            27.4                            29.7
16                            19.2                            13.2
17                            29.3                            19.4
18                            32.9                            27.9
19                            65.1                            63.4

    Labour force ('000) (D7)_50–54  Labour force ('000) (D7)_55–59  \
0                             29.8                            17.7
1                             24.9                            21.1
2                             10.8                             6.3
3                             13.8                             7.1
4                             11.5                             9.9
5                             47.1                            28.6
6                              5.6                             2.9
7                             22.8                            13.7
8                             18.5                            12.4
9                             33.5                            23.1
10                            28.6                            14.6
11                            14.6                            11.7
12                            16.7                             9.3
13                            38.3                            20.7
14                            27.0                            16.9
15                            21.9                            20.3
16                            12.1                             5.2
17                            15.8                             7.8
18                            14.6                             8.1
19                            47.9                            32.2

    Labour force ('000) (D7)_60–64  \
0                             16.1
1                             14.5
2                              4.1
3                              4.2
4                              5.7
5                             20.1
6                              1.9
7                              7.3
8                              8.5
9                             20.1
10                             9.6
11                             9.5
12                             5.4
13                            13.5
14                            16.6
15                            13.2
16                             3.1
17                             5.9
18                             7.2
19                            24.4

    national_Employed persons ('000) (D7)_15–19  \
0                                         582.9
1                                         582.9
2                                         582.9
3                                         582.9
4                                         582.9
5                                         582.9
6                                         582.9
7                                         582.9
8                                         582.9
9                                         582.9
10                                        582.9
11                                        582.9
12                                        582.9
13                                        582.9
14                                        597.5
15                                        597.5
16                                        597.5
17                                        597.5
18                                        597.5
19                                        597.5

    national_Employed persons ('000) (D7)_20–24  \
0                                         999.8
1                                         999.8
2                                         999.8
3                                         999.8
4                                         999.8
5                                         999.8
6                                         999.8
7                                         999.8
8                                         999.8
9                                         999.8
10                                        999.8
11                                        999.8
12                                        999.8
13                                        999.8
14                                       1025.1
15                                       1025.1
16                                       1025.1
17                                       1025.1
18                                       1025.1
19                                       1025.1

    national_Employed persons ('000) (D7)_25–29  \
0                                         856.1
1                                         856.1
2                                         856.1
3                                         856.1
4                                         856.1
5                                         856.1
6                                         856.1
7                                         856.1
8                                         856.1
9                                         856.1
10                                        856.1
11                                        856.1
12                                        856.1
13                                        856.1
14                                        896.4
15                                        896.4
16                                        896.4
17                                        896.4
18                                        896.4
19                                        896.4

    national_Employed persons ('000) (D7)_30–34  \
0                                         712.9
1                                         712.9
2                                         712.9
3                                         712.9
4                                         712.9
5                                         712.9
6                                         712.9
7                                         712.9
8                                         712.9
9                                         712.9
10                                        712.9
11                                        712.9
12                                        712.9
13                                        712.9
14                                        744.8
15                                        744.8
16                                        744.8
17                                        744.8
18                                        744.8
19                                        744.8

    national_Employed persons ('000) (D7)_35–39  \
0                                         550.3
1                                         550.3
2                                         550.3
3                                         550.3
4                                         550.3
5                                         550.3
6                                         550.3
7                                         550.3
8                                         550.3
9                                         550.3
10                                        550.3
11                                        550.3
12                                        550.3
13                                        550.3
14                                        580.0

In [ ]:
# Save the DataFrame to a CSV file
Unemployment_Trend_df_encoded.to_csv('updated1_D1_D2_D3_D4_D5_D6_D7_merged_filtered.csv', index=False)

Imputing the previous row's values for column :


> 'national_Female_Unemployment Rate (%) (D6)', 'national_Male_Unemployment Rate (%) (D6)'

In [ ]:
# First, sort the DataFrame by 'Year' and 'State' to make sure the reference state is consistent
Unemployment_Trend_df_encoded.sort_values(by=['Year', 'State_Johor'], inplace=True)

# Identify the reference state's national statistics for each year
# Assuming the first state after sorting is taken as the reference
reference_stats = Unemployment_Trend_df_encoded.drop_duplicates('Year', keep='first')

# Select only the columns relevant for national stats and the year
reference_stats = reference_stats[['Year', 'national_Female_Unemployment Rate (%) (D6)', 'national_Male_Unemployment Rate (%) (D6)']]

# Merge these reference stats back to the original DataFrame to align all states with the reference
Unemployment_Trend_df_encoded = Unemployment_Trend_df_encoded.drop(columns=[
    'national_Female_Unemployment Rate (%) (D6)', 'national_Male_Unemployment Rate (%) (D6)'])

Unemployment_Trend_df_encoded = Unemployment_Trend_df_encoded.merge(reference_stats, on='Year', how='left')

# Now print some of the data to verify all states have the same national statistics for each year
print(Unemployment_Trend_df_encoded.head(20))

    Year  Employed persons ('000) (D7)_15–19  \
0   1982                                36.3
1   1982                                21.9
2   1982                                18.6
3   1982                                24.8
4   1982                                32.2
5   1982                                66.2
6   1982                                 5.0
7   1982                                47.6
8   1982                                36.5
9   1982                                72.9
10  1982                                68.6
11  1982                                21.5
12  1982                                54.7
13  1982                                76.3
14  1983                                31.5
15  1983                                17.2
16  1983                                17.3
17  1983                                19.5
18  1983                                31.5
19  1983                                81.5

    Employed persons ('000) (D7)_20–24  Employed persons ('000) (D7)_25–29  \
0                                 59.3                                54.9
1                                 45.1                                43.6
2                                 31.7                                27.6
3                                 38.5                                34.4
4                                 51.6                                42.9
5                                 99.6                                83.2
6                                  8.8                                 7.0
7                                 76.4                                63.4
8                                 72.0                                58.9
9                                 91.8                                78.3
10                               150.6                               129.0
11                                39.4                                33.6
12                               113.2                                93.6
13                               121.9                               105.7
14                                51.0                                54.1
15                                41.3                                40.4
16                                27.4                                27.0
17                                37.8                                32.8
18                                64.4                                57.3
19                               109.0                                93.8

    Employed persons ('000) (D7)_30–34  Employed persons ('000) (D7)_35–39  \
0                                 50.5                                42.8
1                                 38.3                                35.5
2                                 21.0                                19.5
3                                 29.0                                22.5
4                                 39.0                                31.1
5                                 76.7                                65.4
6                                  6.9                                 5.4
7                                 51.6                                38.3
8                                 47.6                                31.6
9                                 65.7                                55.1
10                               104.9                                69.4
11                                25.7                                24.9
12                                68.2                                43.4
13                                87.7                                65.5
14                                55.0                                43.4
15                                35.9                                37.9
16                                24.8                                16.5
17                                29.1                                17.9
18                                55.6                                34.9
19                                87.4                                69.6

    Employed persons ('000) (D7)_40–44  Employed persons ('000) (D7)_45–49  \
0                                 42.9                                39.3
1                                 35.6                                24.5
2                                 13.7                                14.2
3                                 23.9                                18.3
4                                 28.4                                18.2
5                                 64.2                                55.3
6                                  7.3                                 4.9
7                                 37.0                                24.9
8                                 33.7                                24.1
9                                 47.8                                36.4
10                                59.0                                43.2
11                                22.4                                17.8
12                                35.7                                23.7
13                                55.9                                45.4
14                                39.7                                39.2
15                                27.0                                29.2
16                                18.9                                13.2
17                                29.1                                19.4
18                                32.8                                27.6
19                                64.6                                62.3

    Employed persons ('000) (D7)_50–54  Employed persons ('000) (D7)_55–59  \
0                                 29.6                                17.4
1                                 24.7                                20.9
2                                 10.6                                 6.3
3                                 13.7                                 7.1
4                                 11.4                                 9.8
5                                 46.2                                27.5
6                                  5.6                                 2.9
7                                 22.6                                13.4
8                                 18.4                                12.4
9                                 33.5                                23.1
10                                28.4                                14.5
11                                14.6                                11.6
12                                16.5                                 9.2
13                                38.1                                20.4
14                                26.7                                16.9
15                                21.6                                19.9
16                                12.1                                 5.2
17                                15.8                                 7.8
18                                14.4                                 7.8
19                                46.8                                30.5

    Employed persons ('000) (D7)_60–64  Labour force ('000) (D7)_15–19  \
0                                 15.9                            43.2
1                                 14.1                            27.6
2                                  4.1                            21.9
3                                  4.2                            28.0
4                                  5.7                            36.2
5                                 19.7                            79.8
6                                  1.9                             6.2
7                                  7.0                            52.8
8                                  8.4                            42.2
9                                 20.1                            81.0
10                                 9.4                            75.6
11                                 9.5                            24.1
12                                 5.4                            57.9
13                                13.4                            86.1
14                                16.0                            37.2
15                                12.1                            22.6
16                                 3.1                            19.8
17                                 5.9                            22.7
18                                 7.2                            35.5
19                                23.7                            95.5

    Labour force ('000) (D7)_20–24  Labour force ('000) (D7)_25–29  \
0                             64.0                            56.1
1                             51.0                            44.5
2                             33.8                            28.0
3                             41.0                            34.6
4                             54.9                            43.7
5                            109.9                            86.5
6                              9.9                             7.1
7                             81.1                            64.9
8                             75.3                            59.7
9                             96.8                            79.6
10                           155.3                           130.6
11                            42.2                            34.0
12                           116.2                            95.0
13                           130.9                           107.6
14                            56.9                            55.2
15                            47.5                            41.9
16                            28.5                            27.4
17                            41.8                            33.7
18                            67.5                            57.9
19                           118.4                            98.4

    Labour force ('000) (D7)_30–34  Labour force ('000) (D7)_35–39  \
0                             50.9                            43.3
1                             38.7                            36.2
2                             21.3                            19.6
3                             29.1                            22.6
4                             39.4                            31.4
5                             77.8                            66.9
6                              6.9                             5.4
7                             52.2                            38.8
8                             48.0                            31.8
9                             65.9                            55.2
10                           105.5                            69.7
11                            25.9                            24.9
12                            68.6                            43.6
13                            88.3                            65.8
14                            55.0                            43.7
15                            37.0                            39.9
16                            24.9                            16.9
17                            29.1                            18.0
18                            56.0                            35.0
19                            89.3                            70.6

    Labour force ('000) (D7)_40–44  Labour force ('000) (D7)_45–49  \
0                             43.4                            39.4
1                             36.0                            25.0
2                             13.9                            14.3
3                             23.9                            18.5
4                             28.6                            18.4
5                             65.5                            56.4
6                              7.3                             4.9
7                             37.2                            25.2
8                             33.8                            24.1
9                             47.9                            36.5
10                            59.2                            43.3
11                            22.5                            17.9
12                            36.0                            23.8
13                            56.3                            45.5
14                            40.0                            39.8
15                            27.4                            29.7
16                            19.2                            13.2
17                            29.3                            19.4
18                            32.9                            27.9
19                            65.1                            63.4

    Labour force ('000) (D7)_50–54  Labour force ('000) (D7)_55–59  \
0                             29.8                            17.7
1                             24.9                            21.1
2                             10.8                             6.3
3                             13.8                             7.1
4                             11.5                             9.9
5                             47.1                            28.6
6                              5.6                             2.9
7                             22.8                            13.7
8                             18.5                            12.4
9                             33.5                            23.1
10                            28.6                            14.6
11                            14.6                            11.7
12                            16.7                             9.3
13                            38.3                            20.7
14                            27.0                            16.9
15                            21.9                            20.3
16                            12.1                             5.2
17                            15.8                             7.8
18                            14.6                             8.1
19                            47.9                            32.2

    Labour force ('000) (D7)_60–64  \
0                             16.1
1                             14.5
2                              4.1
3                              4.2
4                              5.7
5                             20.1
6                              1.9
7                              7.3
8                              8.5
9                             20.1
10                             9.6
11                             9.5
12                             5.4
13                            13.5
14                            16.6
15                            13.2
16                             3.1
17                             5.9
18                             7.2
19                            24.4

    national_Employed persons ('000) (D7)_15–19  \
0                                         582.9
1                                         582.9
2                                         582.9
3                                         582.9
4                                         582.9
5                                         582.9
6                                         582.9
7                                         582.9
8                                         582.9
9                                         582.9
10                                        582.9
11                                        582.9
12                                        582.9
13                                        582.9
14                                        597.5
15                                        597.5
16                                        597.5
17                                        597.5
18                                        597.5
19                                        597.5

    national_Employed persons ('000) (D7)_20–24  \
0                                         999.8
1                                         999.8
2                                         999.8
3                                         999.8
4                                         999.8
5                                         999.8
6                                         999.8
7                                         999.8
8                                         999.8
9                                         999.8
10                                        999.8
11                                        999.8
12                                        999.8
13                                        999.8
14                                       1025.1
15                                       1025.1
16                                       1025.1
17                                       1025.1
18                                       1025.1
19                                       1025.1

    national_Employed persons ('000) (D7)_25–29  \
0                                         856.1
1                                         856.1
2                                         856.1
3                                         856.1
4                                         856.1
5                                         856.1
6                                         856.1
7                                         856.1
8                                         856.1
9                                         856.1
10                                        856.1
11                                        856.1
12                                        856.1
13                                        856.1
14                                        896.4
15                                        896.4
16                                        896.4
17                                        896.4
18                                        896.4
19                                        896.4

    national_Employed persons ('000) (D7)_30–34  \
0                                         712.9
1                                         712.9
2                                         712.9
3                                         712.9
4                                         712.9
5                                         712.9
6                                         712.9
7                                         712.9
8                                         712.9
9                                         712.9
10                                        712.9
11                                        712.9
12                                        712.9
13                                        712.9
14                                        744.8
15                                        744.8
16                                        744.8
17                                        744.8
18                                        744.8
19                                        744.8

    national_Employed persons ('000) (D7)_35–39  \
0                                         550.3
1                                         550.3
2                                         550.3
3                                         550.3
4                                         550.3
5                                         550.3
6                                         550.3
7                                         550.3
8                                         550.3
9                                         550.3
10                                        550.3
11                                        550.3
12                                        550.3
13                                        550.3
14                                        580.0

In [ ]:
# Save the DataFrame to a CSV file
Unemployment_Trend_df_encoded.to_csv('updated2_D1_D2_D3_D4_D5_D6_D7_merged_filtered.csv', index=False)

Imputing the mean values for column :

    'Female_Unemployment Rate (%) (D6)',
    'Male_Unemployment Rate (%) (D6)',

In [ ]:
columns_to_fill = [
    'Female_Unemployment Rate (%) (D6)',
    'Male_Unemployment Rate (%) (D6)'
]

for column in columns_to_fill:
    mean_value = Unemployment_Trend_df_encoded[column].mean()
    Unemployment_Trend_df_encoded[column].fillna(mean_value, inplace=True)

print("Missing values filled with mean values:")
print(Unemployment_Trend_df_encoded.isna().sum())

Missing values filled with mean values:
Year                                             0
Employed persons ('000) (D7)_15–19               0
Employed persons ('000) (D7)_20–24               0
Employed persons ('000) (D7)_25–29               0
Employed persons ('000) (D7)_30–34               0
                                                ..
national_Inflation Rate (%) (D4)                 0
national_IPI (D5)                               80
national_Industrial Production Rate (%) (D5)    80
national_Female_Unemployment Rate (%) (D6)       0
national_Male_Unemployment Rate (%) (D6)         0
Length: 115, dtype: int64

For these object columns

    'Employed persons (\'000) (D3)_Certificate',
    'Employed persons (\'000) (D3)_Religious certificate',
    'Employed persons (\'000) (D3)_SPM or equivalent',
    'Employed persons (\'000) (D3)_UPSR/UPSRA or equivalent',
    'Labour Force (\'000) (D3)_Certificate',
    'Labour Force (\'000) (D3)_Religious certificate',
    'Labour Force (\'000) (D3)_SPM or equivalent',
    'Labour Force (\'000) (D3)_STPM or equivalent',
    'Labour Force (\'000) (D3)_UPSR/UPSRA or equivalent',
    'national_Employed persons (\'000) (D3)_Certificate',
    'national_Employed persons (\'000) (D3)_Degree',
    'national_Employed persons (\'000) (D3)_Diploma',
    'national_Employed persons (\'000) (D3)_No certificate',
    'national_Employed persons (\'000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
    'national_Employed persons (\'000) (D3)_Religious certificate',
    'national_Employed persons (\'000) (D3)_SPM or equivalent',
    'national_Employed persons (\'000) (D3)_UPSR/UPSRA or equivalent',
    'national_Labour Force (\'000) (D3)_Certificate',
    'national_Labour Force (\'000) (D3)_Degree',
    'national_Labour Force (\'000) (D3)_Diploma',
    'national_Labour Force (\'000) (D3)_No certificate',
    'national_Labour Force (\'000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
    'national_Labour Force (\'000) (D3)_Religious certificate',
    'national_Labour Force (\'000) (D3)_SPM or equivalent',
    'national_Labour Force (\'000) (D3)_UPSR/UPSRA or equivalent',
    'national_ep_ratio (%) (D1)'

we need to change them to type float for to be able to compute its mean. And then we impute these values to the null values.

In [ ]:
columns_to_fill = [
    "Employed persons ('000) (D3)_Certificate",
    "Employed persons ('000) (D3)_Religious certificate",
    "Employed persons ('000) (D3)_SPM or equivalent",
    "Employed persons ('000) (D3)_UPSR/UPSRA or equivalent",
    "Labour Force ('000) (D3)_Certificate",
    "Labour Force ('000) (D3)_Religious certificate",
    "Labour Force ('000) (D3)_SPM or equivalent",
    "Labour Force ('000) (D3)_STPM or equivalent",
    "Labour Force ('000) (D3)_UPSR/UPSRA or equivalent"
]

Unemployment_Trend_df_encoded[columns_to_fill] = Unemployment_Trend_df_encoded[columns_to_fill].astype(float)

for column in columns_to_fill:
    # Proper indentation for the print statement
    print(column, '  :  ', str(Unemployment_Trend_df_encoded[column].dtype))

for column in columns_to_fill:
    mean_value = Unemployment_Trend_df_encoded[column].mean()
    Unemployment_Trend_df_encoded[column].fillna(mean_value, inplace=True)

# Proper indentation for the print statement
print("Missing values filled with mean values:")
print(Unemployment_Trend_df_encoded.isna().sum())

Employed persons ('000) (D3)_Certificate   :   float64
Employed persons ('000) (D3)_Religious certificate   :   float64
Employed persons ('000) (D3)_SPM or equivalent   :   float64
Employed persons ('000) (D3)_UPSR/UPSRA or equivalent   :   float64
Labour Force ('000) (D3)_Certificate   :   float64
Labour Force ('000) (D3)_Religious certificate   :   float64
Labour Force ('000) (D3)_SPM or equivalent   :   float64
Labour Force ('000) (D3)_STPM or equivalent   :   float64
Labour Force ('000) (D3)_UPSR/UPSRA or equivalent   :   float64
Missing values filled with mean values:
Year                                             0
Employed persons ('000) (D7)_15–19               0
Employed persons ('000) (D7)_20–24               0
Employed persons ('000) (D7)_25–29               0
Employed persons ('000) (D7)_30–34               0
                                                ..
national_Inflation Rate (%) (D4)                 0
national_IPI (D5)                               80
national_Industrial Production Rate (%) (D5)    80
national_Female_Unemployment Rate (%) (D6)       0
national_Male_Unemployment Rate (%) (D6)         0
Length: 115, dtype: int64

For these features, we are going to replace the null values with the previous row's values    
    
    'national_Employed persons (\'000) (D3)_Certificate',
    'national_Employed persons (\'000) (D3)_Degree',
    'national_Employed persons (\'000) (D3)_Diploma',
    'national_Employed persons (\'000) (D3)_No certificate',
    'national_Employed persons (\'000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
    'national_Employed persons (\'000) (D3)_Religious certificate',
    'national_Employed persons (\'000) (D3)_SPM or equivalent',
    'national_Employed persons (\'000) (D3)_UPSR/UPSRA or equivalent',
    'national_Labour Force (\'000) (D3)_Certificate',
    'national_Labour Force (\'000) (D3)_Degree',
    'national_Labour Force (\'000) (D3)_Diploma',
    'national_Labour Force (\'000) (D3)_No certificate',
    'national_Labour Force (\'000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
    'national_Labour Force (\'000) (D3)_Religious certificate',
    'national_Labour Force (\'000) (D3)_SPM or equivalent',
    'national_Labour Force (\'000) (D3)_UPSR/UPSRA or equivalent',
    'national_ep_ratio (%) (D1)'

In [ ]:
# First, sort the DataFrame by 'Year' and 'State' to make sure the reference state is consistent
Unemployment_Trend_df_encoded.sort_values(by=['Year', 'State_Johor'], inplace=True)

# Identify the reference state's national statistics for each year
# Assuming the first state after sorting is taken as the reference
reference_stats = Unemployment_Trend_df_encoded.drop_duplicates('Year', keep='first')

# Specify all national statistics columns you listed
national_stats_columns = [
    "national_Employed persons ('000) (D3)_Certificate",
    "national_Employed persons ('000) (D3)_Degree",
    "national_Employed persons ('000) (D3)_Diploma",
    "national_Employed persons ('000) (D3)_No certificate",
    "national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent",
    "national_Employed persons ('000) (D3)_Religious certificate",
    "national_Employed persons ('000) (D3)_SPM or equivalent",
    "national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent",
    "national_Labour Force ('000) (D3)_Certificate",
    "national_Labour Force ('000) (D3)_Degree",
    "national_Labour Force ('000) (D3)_Diploma",
    "national_Labour Force ('000) (D3)_No certificate",
    "national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent",
    "national_Labour Force ('000) (D3)_Religious certificate",
    "national_Labour Force ('000) (D3)_SPM or equivalent",
    "national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent",
    'national_ep_ratio (%) (D1)',
    'national_Female_Unemployment Rate (%) (D6)',
    'national_Male_Unemployment Rate (%) (D6)'
]

# Select only the relevant columns for national stats and the year
reference_stats = reference_stats[['Year'] + national_stats_columns]

# Drop the existing columns from the original DataFrame
Unemployment_Trend_df_encoded = Unemployment_Trend_df_encoded.drop(columns=national_stats_columns)

# Merge these reference stats back to the original DataFrame to align all states with the reference
Unemployment_Trend_df_encoded = Unemployment_Trend_df_encoded.merge(reference_stats, on='Year', how='left')

# Print some of the data to verify all states have the same national statistics for each year
print(Unemployment_Trend_df_encoded.head(20))

    Year  Employed persons ('000) (D7)_15–19  \
0   1982                                36.3
1   1982                                21.9
2   1982                                18.6
3   1982                                24.8
4   1982                                32.2
5   1982                                66.2
6   1982                                 5.0
7   1982                                47.6
8   1982                                36.5
9   1982                                72.9
10  1982                                68.6
11  1982                                21.5
12  1982                                54.7
13  1982                                76.3
14  1983                                31.5
15  1983                                17.2
16  1983                                17.3
17  1983                                19.5
18  1983                                31.5
19  1983                                81.5

    Employed persons ('000) (D7)_20–24  Employed persons ('000) (D7)_25–29  \
0                                 59.3                                54.9
1                                 45.1                                43.6
2                                 31.7                                27.6
3                                 38.5                                34.4
4                                 51.6                                42.9
5                                 99.6                                83.2
6                                  8.8                                 7.0
7                                 76.4                                63.4
8                                 72.0                                58.9
9                                 91.8                                78.3
10                               150.6                               129.0
11                                39.4                                33.6
12                               113.2                                93.6
13                               121.9                               105.7
14                                51.0                                54.1
15                                41.3                                40.4
16                                27.4                                27.0
17                                37.8                                32.8
18                                64.4                                57.3
19                               109.0                                93.8

    Employed persons ('000) (D7)_30–34  Employed persons ('000) (D7)_35–39  \
0                                 50.5                                42.8
1                                 38.3                                35.5
2                                 21.0                                19.5
3                                 29.0                                22.5
4                                 39.0                                31.1
5                                 76.7                                65.4
6                                  6.9                                 5.4
7                                 51.6                                38.3
8                                 47.6                                31.6
9                                 65.7                                55.1
10                               104.9                                69.4
11                                25.7                                24.9
12                                68.2                                43.4
13                                87.7                                65.5
14                                55.0                                43.4
15                                35.9                                37.9
16                                24.8                                16.5
17                                29.1                                17.9
18                                55.6                                34.9
19                                87.4                                69.6

    Employed persons ('000) (D7)_40–44  Employed persons ('000) (D7)_45–49  \
0                                 42.9                                39.3
1                                 35.6                                24.5
2                                 13.7                                14.2
3                                 23.9                                18.3
4                                 28.4                                18.2
5                                 64.2                                55.3
6                                  7.3                                 4.9
7                                 37.0                                24.9
8                                 33.7                                24.1
9                                 47.8                                36.4
10                                59.0                                43.2
11                                22.4                                17.8
12                                35.7                                23.7
13                                55.9                                45.4
14                                39.7                                39.2
15                                27.0                                29.2
16                                18.9                                13.2
17                                29.1                                19.4
18                                32.8                                27.6
19                                64.6                                62.3

    Employed persons ('000) (D7)_50–54  Employed persons ('000) (D7)_55–59  \
0                                 29.6                                17.4
1                                 24.7                                20.9
2                                 10.6                                 6.3
3                                 13.7                                 7.1
4                                 11.4                                 9.8
5                                 46.2                                27.5
6                                  5.6                                 2.9
7                                 22.6                                13.4
8                                 18.4                                12.4
9                                 33.5                                23.1
10                                28.4                                14.5
11                                14.6                                11.6
12                                16.5                                 9.2
13                                38.1                                20.4
14                                26.7                                16.9
15                                21.6                                19.9
16                                12.1                                 5.2
17                                15.8                                 7.8
18                                14.4                                 7.8
19                                46.8                                30.5

    Employed persons ('000) (D7)_60–64  Labour force ('000) (D7)_15–19  \
0                                 15.9                            43.2
1                                 14.1                            27.6
2                                  4.1                            21.9
3                                  4.2                            28.0
4                                  5.7                            36.2
5                                 19.7                            79.8
6                                  1.9                             6.2
7                                  7.0                            52.8
8                                  8.4                            42.2
9                                 20.1                            81.0
10                                 9.4                            75.6
11                                 9.5                            24.1
12                                 5.4                            57.9
13                                13.4                            86.1
14                                16.0                            37.2
15                                12.1                            22.6
16                                 3.1                            19.8
17                                 5.9                            22.7
18                                 7.2                            35.5
19                                23.7                            95.5

    Labour force ('000) (D7)_20–24  Labour force ('000) (D7)_25–29  \
0                             64.0                            56.1
1                             51.0                            44.5
2                             33.8                            28.0
3                             41.0                            34.6
4                             54.9                            43.7
5                            109.9                            86.5
6                              9.9                             7.1
7                             81.1                            64.9
8                             75.3                            59.7
9                             96.8                            79.6
10                           155.3                           130.6
11                            42.2                            34.0
12                           116.2                            95.0
13                           130.9                           107.6
14                            56.9                            55.2
15                            47.5                            41.9
16                            28.5                            27.4
17                            41.8                            33.7
18                            67.5                            57.9
19                           118.4                            98.4

    Labour force ('000) (D7)_30–34  Labour force ('000) (D7)_35–39  \
0                             50.9                            43.3
1                             38.7                            36.2
2                             21.3                            19.6
3                             29.1                            22.6
4                             39.4                            31.4
5                             77.8                            66.9
6                              6.9                             5.4
7                             52.2                            38.8
8                             48.0                            31.8
9                             65.9                            55.2
10                           105.5                            69.7
11                            25.9                            24.9
12                            68.6                            43.6
13                            88.3                            65.8
14                            55.0                            43.7
15                            37.0                            39.9
16                            24.9                            16.9
17                            29.1                            18.0
18                            56.0                            35.0
19                            89.3                            70.6

    Labour force ('000) (D7)_40–44  Labour force ('000) (D7)_45–49  \
0                             43.4                            39.4
1                             36.0                            25.0
2                             13.9                            14.3
3                             23.9                            18.5
4                             28.6                            18.4
5                             65.5                            56.4
6                              7.3                             4.9
7                             37.2                            25.2
8                             33.8                            24.1
9                             47.9                            36.5
10                            59.2                            43.3
11                            22.5                            17.9
12                            36.0                            23.8
13                            56.3                            45.5
14                            40.0                            39.8
15                            27.4                            29.7
16                            19.2                            13.2
17                            29.3                            19.4
18                            32.9                            27.9
19                            65.1                            63.4

    Labour force ('000) (D7)_50–54  Labour force ('000) (D7)_55–59  \
0                             29.8                            17.7
1                             24.9                            21.1
2                             10.8                             6.3
3                             13.8                             7.1
4                             11.5                             9.9
5                             47.1                            28.6
6                              5.6                             2.9
7                             22.8                            13.7
8                             18.5                            12.4
9                             33.5                            23.1
10                            28.6                            14.6
11                            14.6                            11.7
12                            16.7                             9.3
13                            38.3                            20.7
14                            27.0                            16.9
15                            21.9                            20.3
16                            12.1                             5.2
17                            15.8                             7.8
18                            14.6                             8.1
19                            47.9                            32.2

    Labour force ('000) (D7)_60–64  \
0                             16.1
1                             14.5
2                              4.1
3                              4.2
4                              5.7
5                             20.1
6                              1.9
7                              7.3
8                              8.5
9                             20.1
10                             9.6
11                             9.5
12                             5.4
13                            13.5
14                            16.6
15                            13.2
16                             3.1
17                             5.9
18                             7.2
19                            24.4

    national_Employed persons ('000) (D7)_15–19  \
0                                         582.9
1                                         582.9
2                                         582.9
3                                         582.9
4                                         582.9
5                                         582.9
6                                         582.9
7                                         582.9
8                                         582.9
9                                         582.9
10                                        582.9
11                                        582.9
12                                        582.9
13                                        582.9
14                                        597.5
15                                        597.5
16                                        597.5
17                                        597.5
18                                        597.5
19                                        597.5

    national_Employed persons ('000) (D7)_20–24  \
0                                         999.8
1                                         999.8
2                                         999.8
3                                         999.8
4                                         999.8
5                                         999.8
6                                         999.8
7                                         999.8
8                                         999.8
9                                         999.8
10                                        999.8
11                                        999.8
12                                        999.8
13                                        999.8
14                                       1025.1
15                                       1025.1
16                                       1025.1
17                                       1025.1
18                                       1025.1
19                                       1025.1

    national_Employed persons ('000) (D7)_25–29  \
0                                         856.1
1                                         856.1
2                                         856.1
3                                         856.1
4                                         856.1
5                                         856.1
6                                         856.1
7                                         856.1
8                                         856.1
9                                         856.1
10                                        856.1
11                                        856.1
12                                        856.1
13                                        856.1
14                                        896.4
15                                        896.4
16                                        896.4
17                                        896.4
18                                        896.4
19                                        896.4

    national_Employed persons ('000) (D7)_30–34  \
0                                         712.9
1                                         712.9
2                                         712.9
3                                         712.9
4                                         712.9
5                                         712.9
6                                         712.9
7                                         712.9
8                                         712.9
9                                         712.9
10                                        712.9
11                                        712.9
12                                        712.9
13                                        712.9
14                                        744.8
15                                        744.8
16                                        744.8
17                                        744.8
18                                        744.8
19                                        744.8

    national_Employed persons ('000) (D7)_35–39  \
0                                         550.3
1                                         550.3
2                                         550.3
3                                         550.3
4                                         550.3
5                                         550.3
6                                         550.3
7                                         550.3
8                                         550.3
9                                         550.3
10                                        550.3
11                                        550.3
12                                        550.3
13                                        550.3
14                                        580.0

In [ ]:
# Save the DataFrame to a CSV file
Unemployment_Trend_df_encoded.to_csv('updated3_D1_D2_D3_D4_D5_D6_D7_merged_filtered.csv', index=False)

In [ ]:
# Number of columns to display at a time
chunk_size = 30

# Total columns
total_columns = len(Unemployment_Trend_df_encoded.columns)

for i in range(0, total_columns, chunk_size):
    end = i + chunk_size if i + chunk_size < total_columns else total_columns
    print(Unemployment_Trend_df_encoded.iloc[:, i:end].isna().sum())

Year                                           0
Employed persons ('000) (D7)_15–19             0
Employed persons ('000) (D7)_20–24             0
Employed persons ('000) (D7)_25–29             0
Employed persons ('000) (D7)_30–34             0
Employed persons ('000) (D7)_35–39             0
Employed persons ('000) (D7)_40–44             0
Employed persons ('000) (D7)_45–49             0
Employed persons ('000) (D7)_50–54             0
Employed persons ('000) (D7)_55–59             0
Employed persons ('000) (D7)_60–64             0
Labour force ('000) (D7)_15–19                 0
Labour force ('000) (D7)_20–24                 0
Labour force ('000) (D7)_25–29                 0
Labour force ('000) (D7)_30–34                 0
Labour force ('000) (D7)_35–39                 0
Labour force ('000) (D7)_40–44                 0
Labour force ('000) (D7)_45–49                 0
Labour force ('000) (D7)_50–54                 0
Labour force ('000) (D7)_55–59                 0
Labour force ('000) (D7)_60–64                 0
national_Employed persons ('000) (D7)_15–19    0
national_Employed persons ('000) (D7)_20–24    0
national_Employed persons ('000) (D7)_25–29    0
national_Employed persons ('000) (D7)_30–34    0
national_Employed persons ('000) (D7)_35–39    0
national_Employed persons ('000) (D7)_40–44    0
national_Employed persons ('000) (D7)_45–49    0
national_Employed persons ('000) (D7)_50–54    0
national_Employed persons ('000) (D7)_55–59    0
dtype: int64
national_Employed persons ('000) (D7)_60–64                        0
national_Labour force ('000) (D7)_15–19                            0
national_Labour force ('000) (D7)_20–24                            0
national_Labour force ('000) (D7)_25–29                            0
national_Labour force ('000) (D7)_30–34                            0
national_Labour force ('000) (D7)_35–39                            0
national_Labour force ('000) (D7)_40–44                            0
national_Labour force ('000) (D7)_45–49                            0
national_Labour force ('000) (D7)_50–54                            0
national_Labour force ('000) (D7)_55–59                            0
national_Labour force ('000) (D7)_60–64                            0
Female_Unemployment Rate (%) (D6)                                  0
Male_Unemployment Rate (%) (D6)                                    0
Employed persons ('000) (D3)_Certificate                           0
Employed persons ('000) (D3)_Degree                               45
Employed persons ('000) (D3)_Diploma                              45
Employed persons ('000) (D3)_No certificate                       45
Employed persons ('000) (D3)_Not applicable                       45
Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent    45
Employed persons ('000) (D3)_Religious certificate                 0
Employed persons ('000) (D3)_SPM or equivalent                     0
Employed persons ('000) (D3)_STPM or equivalent                   45
Employed persons ('000) (D3)_UPSR/UPSRA or equivalent              0
Labour Force ('000) (D3)_Certificate                               0
Labour Force ('000) (D3)_Degree                                   45
Labour Force ('000) (D3)_Diploma                                  45
Labour Force ('000) (D3)_No certificate                           45
Labour Force ('000) (D3)_Not applicable                           45
Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent        45
Labour Force ('000) (D3)_Religious certificate                     0
dtype: int64
Labour Force ('000) (D3)_SPM or equivalent                   0
Labour Force ('000) (D3)_STPM or equivalent                  0
Labour Force ('000) (D3)_UPSR/UPSRA or equivalent            0
national_Employed persons ('000) (D3)_Not applicable        45
national_Employed persons ('000) (D3)_STPM or equivalent    45
national_Labour Force ('000) (D3)_Not applicable            45
national_Labour Force ('000) (D3)_STPM or equivalent        45
Price type (D2)                                             45
National GDP (RM Million) (D2)                              45
national_gdp_growth (%) (D2)                                45
national_lf ('000) (D1)                                     45
national_lf_employed ('000) (D1)                            45
national_lf_unemployed ('000) (D1)                          45
national_lf_outside ('000) (D1)                             45
national_p_rate (%) (D1)                                    45
State_Johor                                                  0
State_Kedah                                                  0
State_Kelantan                                               0
State_Melaka                                                 0
State_Negeri Sembilan                                        0
State_Pahang                                                 0
State_Perak                                                  0
State_Perlis                                                 0
State_Pulau Pinang                                           0
State_Sabah                                                  0
State_Sarawak                                                0
State_Selangor                                               0
State_Terengganu                                             0
State_W.P. Kuala Lumpur                                      0
State_W.P. Labuan                                            0
dtype: int64
State_W.P. Putrajaya                                                         0
national_u_rate (%) (D1)                                                     0
national_CPI (D4)                                                            0
national_Inflation Rate (%) (D4)                                             0
national_IPI (D5)                                                           80
national_Industrial Production Rate (%) (D5)                                80
national_Employed persons ('000) (D3)_Certificate                          343
national_Employed persons ('000) (D3)_Degree                                 0
national_Employed persons ('000) (D3)_Diploma                                0
national_Employed persons ('000) (D3)_No certificate                         0
national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent      0
national_Employed persons ('000) (D3)_Religious certificate                414
national_Employed persons ('000) (D3)_SPM or equivalent                      0
national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent             358
national_Labour Force ('000) (D3)_Certificate                              343
national_Labour Force ('000) (D3)_Degree                                     0
national_Labour Force ('000) (D3)_Diploma                                    0
national_Labour Force ('000) (D3)_No certificate                             0
national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent          0
national_Labour Force ('000) (D3)_Religious certificate                    430
national_Labour Force ('000) (D3)_SPM or equivalent                          0
national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent                 358
national_ep_ratio (%) (D1)                                                   0
national_Female_Unemployment Rate (%) (D6)                                   0
national_Male_Unemployment Rate (%) (D6)                                     0
dtype: int64

In [ ]:
# Calculate the mean of each numeric column only
numeric_means = Unemployment_Trend_df_encoded.select_dtypes(include=[np.number]).mean()

# Replace NaN values in numeric columns with their respective means
Unemployment_Trend_df_encoded.fillna(numeric_means, inplace=True)

# Print to check if there are no more NaN values in the DataFrame
print("DataFrame after replacing NaN values with the column mean:")
print(Unemployment_Trend_df_encoded.isna().sum())

DataFrame after replacing NaN values with the column mean:
Year                                                            0
Employed persons ('000) (D7)_15–19                              0
Employed persons ('000) (D7)_20–24                              0
Employed persons ('000) (D7)_25–29                              0
Employed persons ('000) (D7)_30–34                              0
                                                             ...
national_Labour Force ('000) (D3)_SPM or equivalent             0
national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent    358
national_ep_ratio (%) (D1)                                      0
national_Female_Unemployment Rate (%) (D6)                      0
national_Male_Unemployment Rate (%) (D6)                        0
Length: 115, dtype: int64

In [ ]:
Unemployment_Trend_df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Columns: 115 entries, Year to national_Male_Unemployment Rate (%) (D6)
dtypes: float64(81), int64(17), object(17)
memory usage: 505.9+ KB

In [ ]:
# Identify and list columns that are of object data type
object_columns = Unemployment_Trend_df_encoded.select_dtypes(include=['object']).columns

# Print the list of object columns
print("Object type columns in the DataFrame:")
print(object_columns)

Object type columns in the DataFrame:
Index(['Price type (D2)', 'national_Employed persons ('000) (D3)_Certificate',
       'national_Employed persons ('000) (D3)_Degree',
       'national_Employed persons ('000) (D3)_Diploma',
       'national_Employed persons ('000) (D3)_No certificate',
       'national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Employed persons ('000) (D3)_Religious certificate',
       'national_Employed persons ('000) (D3)_SPM or equivalent',
       'national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'national_Labour Force ('000) (D3)_Certificate',
       'national_Labour Force ('000) (D3)_Degree',
       'national_Labour Force ('000) (D3)_Diploma',
       'national_Labour Force ('000) (D3)_No certificate',
       'national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Labour Force ('000) (D3)_Religious certificate',
       'national_Labour Force ('000) (D3)_SPM or equivalent',
       'national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent'],
      dtype='object')

In [ ]:
# Number of columns to display at a time
chunk_size = 30

# Total columns
total_columns = len(Unemployment_Trend_df_encoded.columns)

for i in range(0, total_columns, chunk_size):
    end = i + chunk_size if i + chunk_size < total_columns else total_columns
    print(Unemployment_Trend_df_encoded.iloc[:, i:end].isna().sum())

Year                                           0
Employed persons ('000) (D7)_15–19             0
Employed persons ('000) (D7)_20–24             0
Employed persons ('000) (D7)_25–29             0
Employed persons ('000) (D7)_30–34             0
Employed persons ('000) (D7)_35–39             0
Employed persons ('000) (D7)_40–44             0
Employed persons ('000) (D7)_45–49             0
Employed persons ('000) (D7)_50–54             0
Employed persons ('000) (D7)_55–59             0
Employed persons ('000) (D7)_60–64             0
Labour force ('000) (D7)_15–19                 0
Labour force ('000) (D7)_20–24                 0
Labour force ('000) (D7)_25–29                 0
Labour force ('000) (D7)_30–34                 0
Labour force ('000) (D7)_35–39                 0
Labour force ('000) (D7)_40–44                 0
Labour force ('000) (D7)_45–49                 0
Labour force ('000) (D7)_50–54                 0
Labour force ('000) (D7)_55–59                 0
Labour force ('000) (D7)_60–64                 0
national_Employed persons ('000) (D7)_15–19    0
national_Employed persons ('000) (D7)_20–24    0
national_Employed persons ('000) (D7)_25–29    0
national_Employed persons ('000) (D7)_30–34    0
national_Employed persons ('000) (D7)_35–39    0
national_Employed persons ('000) (D7)_40–44    0
national_Employed persons ('000) (D7)_45–49    0
national_Employed persons ('000) (D7)_50–54    0
national_Employed persons ('000) (D7)_55–59    0
dtype: int64
national_Employed persons ('000) (D7)_60–64                       0
national_Labour force ('000) (D7)_15–19                           0
national_Labour force ('000) (D7)_20–24                           0
national_Labour force ('000) (D7)_25–29                           0
national_Labour force ('000) (D7)_30–34                           0
national_Labour force ('000) (D7)_35–39                           0
national_Labour force ('000) (D7)_40–44                           0
national_Labour force ('000) (D7)_45–49                           0
national_Labour force ('000) (D7)_50–54                           0
national_Labour force ('000) (D7)_55–59                           0
national_Labour force ('000) (D7)_60–64                           0
Female_Unemployment Rate (%) (D6)                                 0
Male_Unemployment Rate (%) (D6)                                   0
Employed persons ('000) (D3)_Certificate                          0
Employed persons ('000) (D3)_Degree                               0
Employed persons ('000) (D3)_Diploma                              0
Employed persons ('000) (D3)_No certificate                       0
Employed persons ('000) (D3)_Not applicable                       0
Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent    0
Employed persons ('000) (D3)_Religious certificate                0
Employed persons ('000) (D3)_SPM or equivalent                    0
Employed persons ('000) (D3)_STPM or equivalent                   0
Employed persons ('000) (D3)_UPSR/UPSRA or equivalent             0
Labour Force ('000) (D3)_Certificate                              0
Labour Force ('000) (D3)_Degree                                   0
Labour Force ('000) (D3)_Diploma                                  0
Labour Force ('000) (D3)_No certificate                           0
Labour Force ('000) (D3)_Not applicable                           0
Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent        0
Labour Force ('000) (D3)_Religious certificate                    0
dtype: int64
Labour Force ('000) (D3)_SPM or equivalent                   0
Labour Force ('000) (D3)_STPM or equivalent                  0
Labour Force ('000) (D3)_UPSR/UPSRA or equivalent            0
national_Employed persons ('000) (D3)_Not applicable         0
national_Employed persons ('000) (D3)_STPM or equivalent     0
national_Labour Force ('000) (D3)_Not applicable             0
national_Labour Force ('000) (D3)_STPM or equivalent         0
Price type (D2)                                             45
National GDP (RM Million) (D2)                               0
national_gdp_growth (%) (D2)                                 0
national_lf ('000) (D1)                                      0
national_lf_employed ('000) (D1)                             0
national_lf_unemployed ('000) (D1)                           0
national_lf_outside ('000) (D1)                              0
national_p_rate (%) (D1)                                     0
State_Johor                                                  0
State_Kedah                                                  0
State_Kelantan                                               0
State_Melaka                                                 0
State_Negeri Sembilan                                        0
State_Pahang                                                 0
State_Perak                                                  0
State_Perlis                                                 0
State_Pulau Pinang                                           0
State_Sabah                                                  0
State_Sarawak                                                0
State_Selangor                                               0
State_Terengganu                                             0
State_W.P. Kuala Lumpur                                      0
State_W.P. Labuan                                            0
dtype: int64
State_W.P. Putrajaya                                                         0
national_u_rate (%) (D1)                                                     0
national_CPI (D4)                                                            0
national_Inflation Rate (%) (D4)                                             0
national_IPI (D5)                                                            0
national_Industrial Production Rate (%) (D5)                                 0
national_Employed persons ('000) (D3)_Certificate                          343
national_Employed persons ('000) (D3)_Degree                                 0
national_Employed persons ('000) (D3)_Diploma                                0
national_Employed persons ('000) (D3)_No certificate                         0
national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent      0
national_Employed persons ('000) (D3)_Religious certificate                414
national_Employed persons ('000) (D3)_SPM or equivalent                      0
national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent             358
national_Labour Force ('000) (D3)_Certificate                              343
national_Labour Force ('000) (D3)_Degree                                     0
national_Labour Force ('000) (D3)_Diploma                                    0
national_Labour Force ('000) (D3)_No certificate                             0
national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent          0
national_Labour Force ('000) (D3)_Religious certificate                    430
national_Labour Force ('000) (D3)_SPM or equivalent                          0
national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent                 358
national_ep_ratio (%) (D1)                                                   0
national_Female_Unemployment Rate (%) (D6)                                   0
national_Male_Unemployment Rate (%) (D6)                                     0
dtype: int64

I am going to replace the null values for Price type (D2) with "Current Prices"

In [ ]:
Unemployment_Trend_df_encoded.to_csv('Unemployment_Trend_df_encoded.csv', index=False)

Listing out columns that have null values

In [ ]:
# Finding columns with null values
null_columns = Unemployment_Trend_df_encoded.columns[Unemployment_Trend_df_encoded.isnull().any()].tolist()

# Printing columns with null values
print("Columns with null values:", null_columns)

Columns with null values: ['Price type (D2)', "national_Employed persons ('000) (D3)_Certificate", "national_Employed persons ('000) (D3)_Religious certificate", "national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent", "national_Labour Force ('000) (D3)_Certificate", "national_Labour Force ('000) (D3)_Religious certificate", "national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent"]

I am going to replace the null values at Price type (D2) with "Current Prices"

In [ ]:
# Replace null values in the 'Price type (D2)' column with 'Current Prices'
Unemployment_Trend_df_encoded['Price type (D2)'].fillna('Current Prices', inplace=True)

# Check if there are any remaining null values in the 'Price type (D2)' column
print(Unemployment_Trend_df_encoded['Price type (D2)'].isna().sum())

0

As these certifications are not so common among the labour force, I am going to impute them as 0

In [ ]:
import pandas as pd

# Assuming 'Unemployment_Trend_df_encoded' is your DataFrame
# Specifying the columns where you want to fill NaN values with 0
columns_to_fill = [
    "national_Employed persons ('000) (D3)_Certificate",
    "national_Employed persons ('000) (D3)_Religious certificate",
    "national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent",
    "national_Labour Force ('000) (D3)_Certificate",
    "national_Labour Force ('000) (D3)_Religious certificate",
    "national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent"
]

# Using 'fillna' on specified columns and updating the DataFrame
Unemployment_Trend_df_encoded[columns_to_fill] = Unemployment_Trend_df_encoded[columns_to_fill].fillna(0)

# Now, your DataFrame 'Unemployment_Trend_df_encoded' has 0s where there were NaN values in the specified columns

In [ ]:
# Number of columns to display at a time
chunk_size = 30

# Total columns
total_columns = len(Unemployment_Trend_df_encoded.columns)

for i in range(0, total_columns, chunk_size):
    end = i + chunk_size if i + chunk_size < total_columns else total_columns
    print(Unemployment_Trend_df_encoded.iloc[:, i:end].isna().sum())

Year                                           0
Employed persons ('000) (D7)_15–19             0
Employed persons ('000) (D7)_20–24             0
Employed persons ('000) (D7)_25–29             0
Employed persons ('000) (D7)_30–34             0
Employed persons ('000) (D7)_35–39             0
Employed persons ('000) (D7)_40–44             0
Employed persons ('000) (D7)_45–49             0
Employed persons ('000) (D7)_50–54             0
Employed persons ('000) (D7)_55–59             0
Employed persons ('000) (D7)_60–64             0
Labour force ('000) (D7)_15–19                 0
Labour force ('000) (D7)_20–24                 0
Labour force ('000) (D7)_25–29                 0
Labour force ('000) (D7)_30–34                 0
Labour force ('000) (D7)_35–39                 0
Labour force ('000) (D7)_40–44                 0
Labour force ('000) (D7)_45–49                 0
Labour force ('000) (D7)_50–54                 0
Labour force ('000) (D7)_55–59                 0
Labour force ('000) (D7)_60–64                 0
national_Employed persons ('000) (D7)_15–19    0
national_Employed persons ('000) (D7)_20–24    0
national_Employed persons ('000) (D7)_25–29    0
national_Employed persons ('000) (D7)_30–34    0
national_Employed persons ('000) (D7)_35–39    0
national_Employed persons ('000) (D7)_40–44    0
national_Employed persons ('000) (D7)_45–49    0
national_Employed persons ('000) (D7)_50–54    0
national_Employed persons ('000) (D7)_55–59    0
dtype: int64
national_Employed persons ('000) (D7)_60–64                       0
national_Labour force ('000) (D7)_15–19                           0
national_Labour force ('000) (D7)_20–24                           0
national_Labour force ('000) (D7)_25–29                           0
national_Labour force ('000) (D7)_30–34                           0
national_Labour force ('000) (D7)_35–39                           0
national_Labour force ('000) (D7)_40–44                           0
national_Labour force ('000) (D7)_45–49                           0
national_Labour force ('000) (D7)_50–54                           0
national_Labour force ('000) (D7)_55–59                           0
national_Labour force ('000) (D7)_60–64                           0
Female_Unemployment Rate (%) (D6)                                 0
Male_Unemployment Rate (%) (D6)                                   0
Employed persons ('000) (D3)_Certificate                          0
Employed persons ('000) (D3)_Degree                               0
Employed persons ('000) (D3)_Diploma                              0
Employed persons ('000) (D3)_No certificate                       0
Employed persons ('000) (D3)_Not applicable                       0
Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent    0
Employed persons ('000) (D3)_Religious certificate                0
Employed persons ('000) (D3)_SPM or equivalent                    0
Employed persons ('000) (D3)_STPM or equivalent                   0
Employed persons ('000) (D3)_UPSR/UPSRA or equivalent             0
Labour Force ('000) (D3)_Certificate                              0
Labour Force ('000) (D3)_Degree                                   0
Labour Force ('000) (D3)_Diploma                                  0
Labour Force ('000) (D3)_No certificate                           0
Labour Force ('000) (D3)_Not applicable                           0
Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent        0
Labour Force ('000) (D3)_Religious certificate                    0
dtype: int64
Labour Force ('000) (D3)_SPM or equivalent                  0
Labour Force ('000) (D3)_STPM or equivalent                 0
Labour Force ('000) (D3)_UPSR/UPSRA or equivalent           0
national_Employed persons ('000) (D3)_Not applicable        0
national_Employed persons ('000) (D3)_STPM or equivalent    0
national_Labour Force ('000) (D3)_Not applicable            0
national_Labour Force ('000) (D3)_STPM or equivalent        0
Price type (D2)                                             0
National GDP (RM Million) (D2)                              0
national_gdp_growth (%) (D2)                                0
national_lf ('000) (D1)                                     0
national_lf_employed ('000) (D1)                            0
national_lf_unemployed ('000) (D1)                          0
national_lf_outside ('000) (D1)                             0
national_p_rate (%) (D1)                                    0
State_Johor                                                 0
State_Kedah                                                 0
State_Kelantan                                              0
State_Melaka                                                0
State_Negeri Sembilan                                       0
State_Pahang                                                0
State_Perak                                                 0
State_Perlis                                                0
State_Pulau Pinang                                          0
State_Sabah                                                 0
State_Sarawak                                               0
State_Selangor                                              0
State_Terengganu                                            0
State_W.P. Kuala Lumpur                                     0
State_W.P. Labuan                                           0
dtype: int64
State_W.P. Putrajaya                                                       0
national_u_rate (%) (D1)                                                   0
national_CPI (D4)                                                          0
national_Inflation Rate (%) (D4)                                           0
national_IPI (D5)                                                          0
national_Industrial Production Rate (%) (D5)                               0
national_Employed persons ('000) (D3)_Certificate                          0
national_Employed persons ('000) (D3)_Degree                               0
national_Employed persons ('000) (D3)_Diploma                              0
national_Employed persons ('000) (D3)_No certificate                       0
national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent    0
national_Employed persons ('000) (D3)_Religious certificate                0
national_Employed persons ('000) (D3)_SPM or equivalent                    0
national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent             0
national_Labour Force ('000) (D3)_Certificate                              0
national_Labour Force ('000) (D3)_Degree                                   0
national_Labour Force ('000) (D3)_Diploma                                  0
national_Labour Force ('000) (D3)_No certificate                           0
national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent        0
national_Labour Force ('000) (D3)_Religious certificate                    0
national_Labour Force ('000) (D3)_SPM or equivalent                        0
national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent                 0
national_ep_ratio (%) (D1)                                                 0
national_Female_Unemployment Rate (%) (D6)                                 0
national_Male_Unemployment Rate (%) (D6)                                   0
dtype: int64

In [ ]:
Unemployment_Trend_df_encoded.to_csv('updated4_Unemployment_Trend_df_encoded.csv', index=False)

### 2.5 Removing of Data

Our dataset consist of 16 states (including WP KL, WP Putrajaya and WP Labuan). Removing rows will give inaccurate information

### 2.6 Removing Outliers

Our dataset is merged from reliable government sources. We have aggregate data, which is high-level data which is acquired by combining individual-level data. Aggregate data has low chances of outliers. So, outliers do not need to be removed

### 2.7 Transforming Data of Different Scale

This step will be done at the Feature Selection step

Splitting the Data into Train and Test Sets

It's important to split the data before applying any scaling to avoid data leakage.

##Step 3: Feature Selection/Feature Extraction (Teammate: Syivhanii, PIC: Jonathan)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_selection import RFE, SelectKBest, f_regression
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [ ]:
#Display basic info
print (Unemployment_Trend_df_encoded.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Columns: 115 entries, Year to national_Male_Unemployment Rate (%) (D6)
dtypes: float64(81), int64(17), object(17)
memory usage: 505.9+ KB
None

In [ ]:
# Determine the datatype of Each Column by using dtypes
print (Unemployment_Trend_df_encoded.dtypes)

Year                                                            int64
Employed persons ('000) (D7)_15–19                            float64
Employed persons ('000) (D7)_20–24                            float64
Employed persons ('000) (D7)_25–29                            float64
Employed persons ('000) (D7)_30–34                            float64
                                                               ...
national_Labour Force ('000) (D3)_SPM or equivalent            object
national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent     object
national_ep_ratio (%) (D1)                                    float64
national_Female_Unemployment Rate (%) (D6)                    float64
national_Male_Unemployment Rate (%) (D6)                      float64
Length: 115, dtype: object

In [ ]:
for columns in Unemployment_Trend_df_encoded:
  print(columns, ' : ', Unemployment_Trend_df_encoded[columns].dtype)

Year  :  int64
Employed persons ('000) (D7)_15–19  :  float64
Employed persons ('000) (D7)_20–24  :  float64
Employed persons ('000) (D7)_25–29  :  float64
Employed persons ('000) (D7)_30–34  :  float64
Employed persons ('000) (D7)_35–39  :  float64
Employed persons ('000) (D7)_40–44  :  float64
Employed persons ('000) (D7)_45–49  :  float64
Employed persons ('000) (D7)_50–54  :  float64
Employed persons ('000) (D7)_55–59  :  float64
Employed persons ('000) (D7)_60–64  :  float64
Labour force ('000) (D7)_15–19  :  float64
Labour force ('000) (D7)_20–24  :  float64
Labour force ('000) (D7)_25–29  :  float64
Labour force ('000) (D7)_30–34  :  float64
Labour force ('000) (D7)_35–39  :  float64
Labour force ('000) (D7)_40–44  :  float64
Labour force ('000) (D7)_45–49  :  float64
Labour force ('000) (D7)_50–54  :  float64
Labour force ('000) (D7)_55–59  :  float64
Labour force ('000) (D7)_60–64  :  float64
national_Employed persons ('000) (D7)_15–19  :  float64
national_Employed persons ('000) (D7)_20–24  :  float64
national_Employed persons ('000) (D7)_25–29  :  float64
national_Employed persons ('000) (D7)_30–34  :  float64
national_Employed persons ('000) (D7)_35–39  :  float64
national_Employed persons ('000) (D7)_40–44  :  float64
national_Employed persons ('000) (D7)_45–49  :  float64
national_Employed persons ('000) (D7)_50–54  :  float64
national_Employed persons ('000) (D7)_55–59  :  float64
national_Employed persons ('000) (D7)_60–64  :  float64
national_Labour force ('000) (D7)_15–19  :  float64
national_Labour force ('000) (D7)_20–24  :  float64
national_Labour force ('000) (D7)_25–29  :  float64
national_Labour force ('000) (D7)_30–34  :  float64
national_Labour force ('000) (D7)_35–39  :  float64
national_Labour force ('000) (D7)_40–44  :  float64
national_Labour force ('000) (D7)_45–49  :  float64
national_Labour force ('000) (D7)_50–54  :  float64
national_Labour force ('000) (D7)_55–59  :  float64
national_Labour force ('000) (D7)_60–64  :  float64
Female_Unemployment Rate (%) (D6)  :  float64
Male_Unemployment Rate (%) (D6)  :  float64
Employed persons ('000) (D3)_Certificate  :  float64
Employed persons ('000) (D3)_Degree  :  float64
Employed persons ('000) (D3)_Diploma  :  float64
Employed persons ('000) (D3)_No certificate  :  float64
Employed persons ('000) (D3)_Not applicable  :  float64
Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  :  float64
Employed persons ('000) (D3)_Religious certificate  :  float64
Employed persons ('000) (D3)_SPM or equivalent  :  float64
Employed persons ('000) (D3)_STPM or equivalent  :  float64
Employed persons ('000) (D3)_UPSR/UPSRA or equivalent  :  float64
Labour Force ('000) (D3)_Certificate  :  float64
Labour Force ('000) (D3)_Degree  :  float64
Labour Force ('000) (D3)_Diploma  :  float64
Labour Force ('000) (D3)_No certificate  :  float64
Labour Force ('000) (D3)_Not applicable  :  float64
Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  :  float64
Labour Force ('000) (D3)_Religious certificate  :  float64
Labour Force ('000) (D3)_SPM or equivalent  :  float64
Labour Force ('000) (D3)_STPM or equivalent  :  float64
Labour Force ('000) (D3)_UPSR/UPSRA or equivalent  :  float64
national_Employed persons ('000) (D3)_Not applicable  :  float64
national_Employed persons ('000) (D3)_STPM or equivalent  :  float64
national_Labour Force ('000) (D3)_Not applicable  :  float64
national_Labour Force ('000) (D3)_STPM or equivalent  :  float64
Price type (D2)  :  object
National GDP (RM Million) (D2)  :  float64
national_gdp_growth (%) (D2)  :  float64
national_lf ('000) (D1)  :  float64
national_lf_employed ('000) (D1)  :  float64
national_lf_unemployed ('000) (D1)  :  float64
national_lf_outside ('000) (D1)  :  float64
national_p_rate (%) (D1)  :  float64
State_Johor  :  int64
State_Kedah  :  int64
State_Kelantan  :  int64
State_Melaka  :  int64
State_Negeri Sembilan  :  int64
State_Pahang  :  int64
State_Perak  :  int64
State_Perlis  :  int64
State_Pulau Pinang  :  int64
State_Sabah  :  int64
State_Sarawak  :  int64
State_Selangor  :  int64
State_Terengganu  :  int64
State_W.P. Kuala Lumpur  :  int64
State_W.P. Labuan  :  int64
State_W.P. Putrajaya  :  int64
national_u_rate (%) (D1)  :  float64
national_CPI (D4)  :  float64
national_Inflation Rate (%) (D4)  :  float64
national_IPI (D5)  :  float64
national_Industrial Production Rate (%) (D5)  :  float64
national_Employed persons ('000) (D3)_Certificate  :  object
national_Employed persons ('000) (D3)_Degree  :  object
national_Employed persons ('000) (D3)_Diploma  :  object
national_Employed persons ('000) (D3)_No certificate  :  object
national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  :  object
national_Employed persons ('000) (D3)_Religious certificate  :  object
national_Employed persons ('000) (D3)_SPM or equivalent  :  object
national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent  :  object
national_Labour Force ('000) (D3)_Certificate  :  object
national_Labour Force ('000) (D3)_Degree  :  object
national_Labour Force ('000) (D3)_Diploma  :  object
national_Labour Force ('000) (D3)_No certificate  :  object
national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  :  object
national_Labour Force ('000) (D3)_Religious certificate  :  object
national_Labour Force ('000) (D3)_SPM or equivalent  :  object
national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent  :  object
national_ep_ratio (%) (D1)  :  float64
national_Female_Unemployment Rate (%) (D6)  :  float64
national_Male_Unemployment Rate (%) (D6)  :  float64

In [ ]:
# List of columns to convert to float
columns_to_convert = [
    "national_Employed persons ('000) (D3)_Certificate",
    "national_Employed persons ('000) (D3)_Degree",
    "national_Employed persons ('000) (D3)_Diploma",
    "national_Employed persons ('000) (D3)_No certificate",
    "national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent",
    "national_Employed persons ('000) (D3)_Religious certificate",
    "national_Employed persons ('000) (D3)_SPM or equivalent",
    "national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent",
    "national_Labour Force ('000) (D3)_Certificate",
    "national_Labour Force ('000) (D3)_Degree",
    "national_Labour Force ('000) (D3)_Diploma",
    "national_Labour Force ('000) (D3)_No certificate",
    "national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent",
    "national_Labour Force ('000) (D3)_Religious certificate",
    "national_Labour Force ('000) (D3)_SPM or equivalent",
    "national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent"
]

# Convert each column to float
for column in columns_to_convert:
    Unemployment_Trend_df_encoded[column] = pd.to_numeric(Unemployment_Trend_df_encoded[column], errors='coerce')

# This will convert all the values in these columns to floats.
# If there are any non-numeric values, 'errors='coerce'' will convert them to NaN (Not a Number).

Changing the object type columns to float64

In [ ]:
for columns in Unemployment_Trend_df_encoded:
  print(columns, ' : ', Unemployment_Trend_df_encoded[columns].dtype)

Year  :  int64
Employed persons ('000) (D7)_15–19  :  float64
Employed persons ('000) (D7)_20–24  :  float64
Employed persons ('000) (D7)_25–29  :  float64
Employed persons ('000) (D7)_30–34  :  float64
Employed persons ('000) (D7)_35–39  :  float64
Employed persons ('000) (D7)_40–44  :  float64
Employed persons ('000) (D7)_45–49  :  float64
Employed persons ('000) (D7)_50–54  :  float64
Employed persons ('000) (D7)_55–59  :  float64
Employed persons ('000) (D7)_60–64  :  float64
Labour force ('000) (D7)_15–19  :  float64
Labour force ('000) (D7)_20–24  :  float64
Labour force ('000) (D7)_25–29  :  float64
Labour force ('000) (D7)_30–34  :  float64
Labour force ('000) (D7)_35–39  :  float64
Labour force ('000) (D7)_40–44  :  float64
Labour force ('000) (D7)_45–49  :  float64
Labour force ('000) (D7)_50–54  :  float64
Labour force ('000) (D7)_55–59  :  float64
Labour force ('000) (D7)_60–64  :  float64
national_Employed persons ('000) (D7)_15–19  :  float64
national_Employed persons ('000) (D7)_20–24  :  float64
national_Employed persons ('000) (D7)_25–29  :  float64
national_Employed persons ('000) (D7)_30–34  :  float64
national_Employed persons ('000) (D7)_35–39  :  float64
national_Employed persons ('000) (D7)_40–44  :  float64
national_Employed persons ('000) (D7)_45–49  :  float64
national_Employed persons ('000) (D7)_50–54  :  float64
national_Employed persons ('000) (D7)_55–59  :  float64
national_Employed persons ('000) (D7)_60–64  :  float64
national_Labour force ('000) (D7)_15–19  :  float64
national_Labour force ('000) (D7)_20–24  :  float64
national_Labour force ('000) (D7)_25–29  :  float64
national_Labour force ('000) (D7)_30–34  :  float64
national_Labour force ('000) (D7)_35–39  :  float64
national_Labour force ('000) (D7)_40–44  :  float64
national_Labour force ('000) (D7)_45–49  :  float64
national_Labour force ('000) (D7)_50–54  :  float64
national_Labour force ('000) (D7)_55–59  :  float64
national_Labour force ('000) (D7)_60–64  :  float64
Female_Unemployment Rate (%) (D6)  :  float64
Male_Unemployment Rate (%) (D6)  :  float64
Employed persons ('000) (D3)_Certificate  :  float64
Employed persons ('000) (D3)_Degree  :  float64
Employed persons ('000) (D3)_Diploma  :  float64
Employed persons ('000) (D3)_No certificate  :  float64
Employed persons ('000) (D3)_Not applicable  :  float64
Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  :  float64
Employed persons ('000) (D3)_Religious certificate  :  float64
Employed persons ('000) (D3)_SPM or equivalent  :  float64
Employed persons ('000) (D3)_STPM or equivalent  :  float64
Employed persons ('000) (D3)_UPSR/UPSRA or equivalent  :  float64
Labour Force ('000) (D3)_Certificate  :  float64
Labour Force ('000) (D3)_Degree  :  float64
Labour Force ('000) (D3)_Diploma  :  float64
Labour Force ('000) (D3)_No certificate  :  float64
Labour Force ('000) (D3)_Not applicable  :  float64
Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  :  float64
Labour Force ('000) (D3)_Religious certificate  :  float64
Labour Force ('000) (D3)_SPM or equivalent  :  float64
Labour Force ('000) (D3)_STPM or equivalent  :  float64
Labour Force ('000) (D3)_UPSR/UPSRA or equivalent  :  float64
national_Employed persons ('000) (D3)_Not applicable  :  float64
national_Employed persons ('000) (D3)_STPM or equivalent  :  float64
national_Labour Force ('000) (D3)_Not applicable  :  float64
national_Labour Force ('000) (D3)_STPM or equivalent  :  float64
Price type (D2)  :  object
National GDP (RM Million) (D2)  :  float64
national_gdp_growth (%) (D2)  :  float64
national_lf ('000) (D1)  :  float64
national_lf_employed ('000) (D1)  :  float64
national_lf_unemployed ('000) (D1)  :  float64
national_lf_outside ('000) (D1)  :  float64
national_p_rate (%) (D1)  :  float64
State_Johor  :  int64
State_Kedah  :  int64
State_Kelantan  :  int64
State_Melaka  :  int64
State_Negeri Sembilan  :  int64
State_Pahang  :  int64
State_Perak  :  int64
State_Perlis  :  int64
State_Pulau Pinang  :  int64
State_Sabah  :  int64
State_Sarawak  :  int64
State_Selangor  :  int64
State_Terengganu  :  int64
State_W.P. Kuala Lumpur  :  int64
State_W.P. Labuan  :  int64
State_W.P. Putrajaya  :  int64
national_u_rate (%) (D1)  :  float64
national_CPI (D4)  :  float64
national_Inflation Rate (%) (D4)  :  float64
national_IPI (D5)  :  float64
national_Industrial Production Rate (%) (D5)  :  float64
national_Employed persons ('000) (D3)_Certificate  :  float64
national_Employed persons ('000) (D3)_Degree  :  float64
national_Employed persons ('000) (D3)_Diploma  :  float64
national_Employed persons ('000) (D3)_No certificate  :  float64
national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  :  float64
national_Employed persons ('000) (D3)_Religious certificate  :  float64
national_Employed persons ('000) (D3)_SPM or equivalent  :  float64
national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent  :  float64
national_Labour Force ('000) (D3)_Certificate  :  float64
national_Labour Force ('000) (D3)_Degree  :  float64
national_Labour Force ('000) (D3)_Diploma  :  float64
national_Labour Force ('000) (D3)_No certificate  :  float64
national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent  :  float64
national_Labour Force ('000) (D3)_Religious certificate  :  float64
national_Labour Force ('000) (D3)_SPM or equivalent  :  float64
national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent  :  float64
national_ep_ratio (%) (D1)  :  float64
national_Female_Unemployment Rate (%) (D6)  :  float64
national_Male_Unemployment Rate (%) (D6)  :  float64

In [ ]:
#Print all features
print ("All features : ")
print (Unemployment_Trend_df_encoded.columns.tolist())

All features :
['Year', "Employed persons ('000) (D7)_15–19", "Employed persons ('000) (D7)_20–24", "Employed persons ('000) (D7)_25–29", "Employed persons ('000) (D7)_30–34", "Employed persons ('000) (D7)_35–39", "Employed persons ('000) (D7)_40–44", "Employed persons ('000) (D7)_45–49", "Employed persons ('000) (D7)_50–54", "Employed persons ('000) (D7)_55–59", "Employed persons ('000) (D7)_60–64", "Labour force ('000) (D7)_15–19", "Labour force ('000) (D7)_20–24", "Labour force ('000) (D7)_25–29", "Labour force ('000) (D7)_30–34", "Labour force ('000) (D7)_35–39", "Labour force ('000) (D7)_40–44", "Labour force ('000) (D7)_45–49", "Labour force ('000) (D7)_50–54", "Labour force ('000) (D7)_55–59", "Labour force ('000) (D7)_60–64", "national_Employed persons ('000) (D7)_15–19", "national_Employed persons ('000) (D7)_20–24", "national_Employed persons ('000) (D7)_25–29", "national_Employed persons ('000) (D7)_30–34", "national_Employed persons ('000) (D7)_35–39", "national_Employed persons ('000) (D7)_40–44", "national_Employed persons ('000) (D7)_45–49", "national_Employed persons ('000) (D7)_50–54", "national_Employed persons ('000) (D7)_55–59", "national_Employed persons ('000) (D7)_60–64", "national_Labour force ('000) (D7)_15–19", "national_Labour force ('000) (D7)_20–24", "national_Labour force ('000) (D7)_25–29", "national_Labour force ('000) (D7)_30–34", "national_Labour force ('000) (D7)_35–39", "national_Labour force ('000) (D7)_40–44", "national_Labour force ('000) (D7)_45–49", "national_Labour force ('000) (D7)_50–54", "national_Labour force ('000) (D7)_55–59", "national_Labour force ('000) (D7)_60–64", 'Female_Unemployment Rate (%) (D6)', 'Male_Unemployment Rate (%) (D6)', "Employed persons ('000) (D3)_Certificate", "Employed persons ('000) (D3)_Degree", "Employed persons ('000) (D3)_Diploma", "Employed persons ('000) (D3)_No certificate", "Employed persons ('000) (D3)_Not applicable", "Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "Employed persons ('000) (D3)_Religious certificate", "Employed persons ('000) (D3)_SPM or equivalent", "Employed persons ('000) (D3)_STPM or equivalent", "Employed persons ('000) (D3)_UPSR/UPSRA or equivalent", "Labour Force ('000) (D3)_Certificate", "Labour Force ('000) (D3)_Degree", "Labour Force ('000) (D3)_Diploma", "Labour Force ('000) (D3)_No certificate", "Labour Force ('000) (D3)_Not applicable", "Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "Labour Force ('000) (D3)_Religious certificate", "Labour Force ('000) (D3)_SPM or equivalent", "Labour Force ('000) (D3)_STPM or equivalent", "Labour Force ('000) (D3)_UPSR/UPSRA or equivalent", "national_Employed persons ('000) (D3)_Not applicable", "national_Employed persons ('000) (D3)_STPM or equivalent", "national_Labour Force ('000) (D3)_Not applicable", "national_Labour Force ('000) (D3)_STPM or equivalent", 'Price type (D2)', 'National GDP (RM Million) (D2)', 'national_gdp_growth (%) (D2)', "national_lf ('000) (D1)", "national_lf_employed ('000) (D1)", "national_lf_unemployed ('000) (D1)", "national_lf_outside ('000) (D1)", 'national_p_rate (%) (D1)', 'State_Johor', 'State_Kedah', 'State_Kelantan', 'State_Melaka', 'State_Negeri Sembilan', 'State_Pahang', 'State_Perak', 'State_Perlis', 'State_Pulau Pinang', 'State_Sabah', 'State_Sarawak', 'State_Selangor', 'State_Terengganu', 'State_W.P. Kuala Lumpur', 'State_W.P. Labuan', 'State_W.P. Putrajaya', 'national_u_rate (%) (D1)', 'national_CPI (D4)', 'national_Inflation Rate (%) (D4)', 'national_IPI (D5)', 'national_Industrial Production Rate (%) (D5)', "national_Employed persons ('000) (D3)_Certificate", "national_Employed persons ('000) (D3)_Degree", "national_Employed persons ('000) (D3)_Diploma", "national_Employed persons ('000) (D3)_No certificate", "national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "national_Employed persons ('000) (D3)_Religious certificate", "national_Employed persons ('000) (D3)_SPM or equivalent", "national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent", "national_Labour Force ('000) (D3)_Certificate", "national_Labour Force ('000) (D3)_Degree", "national_Labour Force ('000) (D3)_Diploma", "national_Labour Force ('000) (D3)_No certificate", "national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "national_Labour Force ('000) (D3)_Religious certificate", "national_Labour Force ('000) (D3)_SPM or equivalent", "national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent", 'national_ep_ratio (%) (D1)', 'national_Female_Unemployment Rate (%) (D6)', 'national_Male_Unemployment Rate (%) (D6)']

I am going to drop Price type (D2) column as it is the same for all the rows

In [ ]:
Unemployment_Trend_df_encoded = Unemployment_Trend_df_encoded.drop(columns=['Price type (D2)'])

In [ ]:
#Print all features
print ("All features : ")
print (Unemployment_Trend_df_encoded.columns.tolist())

All features :
['Year', "Employed persons ('000) (D7)_15–19", "Employed persons ('000) (D7)_20–24", "Employed persons ('000) (D7)_25–29", "Employed persons ('000) (D7)_30–34", "Employed persons ('000) (D7)_35–39", "Employed persons ('000) (D7)_40–44", "Employed persons ('000) (D7)_45–49", "Employed persons ('000) (D7)_50–54", "Employed persons ('000) (D7)_55–59", "Employed persons ('000) (D7)_60–64", "Labour force ('000) (D7)_15–19", "Labour force ('000) (D7)_20–24", "Labour force ('000) (D7)_25–29", "Labour force ('000) (D7)_30–34", "Labour force ('000) (D7)_35–39", "Labour force ('000) (D7)_40–44", "Labour force ('000) (D7)_45–49", "Labour force ('000) (D7)_50–54", "Labour force ('000) (D7)_55–59", "Labour force ('000) (D7)_60–64", "national_Employed persons ('000) (D7)_15–19", "national_Employed persons ('000) (D7)_20–24", "national_Employed persons ('000) (D7)_25–29", "national_Employed persons ('000) (D7)_30–34", "national_Employed persons ('000) (D7)_35–39", "national_Employed persons ('000) (D7)_40–44", "national_Employed persons ('000) (D7)_45–49", "national_Employed persons ('000) (D7)_50–54", "national_Employed persons ('000) (D7)_55–59", "national_Employed persons ('000) (D7)_60–64", "national_Labour force ('000) (D7)_15–19", "national_Labour force ('000) (D7)_20–24", "national_Labour force ('000) (D7)_25–29", "national_Labour force ('000) (D7)_30–34", "national_Labour force ('000) (D7)_35–39", "national_Labour force ('000) (D7)_40–44", "national_Labour force ('000) (D7)_45–49", "national_Labour force ('000) (D7)_50–54", "national_Labour force ('000) (D7)_55–59", "national_Labour force ('000) (D7)_60–64", 'Female_Unemployment Rate (%) (D6)', 'Male_Unemployment Rate (%) (D6)', "Employed persons ('000) (D3)_Certificate", "Employed persons ('000) (D3)_Degree", "Employed persons ('000) (D3)_Diploma", "Employed persons ('000) (D3)_No certificate", "Employed persons ('000) (D3)_Not applicable", "Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "Employed persons ('000) (D3)_Religious certificate", "Employed persons ('000) (D3)_SPM or equivalent", "Employed persons ('000) (D3)_STPM or equivalent", "Employed persons ('000) (D3)_UPSR/UPSRA or equivalent", "Labour Force ('000) (D3)_Certificate", "Labour Force ('000) (D3)_Degree", "Labour Force ('000) (D3)_Diploma", "Labour Force ('000) (D3)_No certificate", "Labour Force ('000) (D3)_Not applicable", "Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "Labour Force ('000) (D3)_Religious certificate", "Labour Force ('000) (D3)_SPM or equivalent", "Labour Force ('000) (D3)_STPM or equivalent", "Labour Force ('000) (D3)_UPSR/UPSRA or equivalent", "national_Employed persons ('000) (D3)_Not applicable", "national_Employed persons ('000) (D3)_STPM or equivalent", "national_Labour Force ('000) (D3)_Not applicable", "national_Labour Force ('000) (D3)_STPM or equivalent", 'National GDP (RM Million) (D2)', 'national_gdp_growth (%) (D2)', "national_lf ('000) (D1)", "national_lf_employed ('000) (D1)", "national_lf_unemployed ('000) (D1)", "national_lf_outside ('000) (D1)", 'national_p_rate (%) (D1)', 'State_Johor', 'State_Kedah', 'State_Kelantan', 'State_Melaka', 'State_Negeri Sembilan', 'State_Pahang', 'State_Perak', 'State_Perlis', 'State_Pulau Pinang', 'State_Sabah', 'State_Sarawak', 'State_Selangor', 'State_Terengganu', 'State_W.P. Kuala Lumpur', 'State_W.P. Labuan', 'State_W.P. Putrajaya', 'national_u_rate (%) (D1)', 'national_CPI (D4)', 'national_Inflation Rate (%) (D4)', 'national_IPI (D5)', 'national_Industrial Production Rate (%) (D5)', "national_Employed persons ('000) (D3)_Certificate", "national_Employed persons ('000) (D3)_Degree", "national_Employed persons ('000) (D3)_Diploma", "national_Employed persons ('000) (D3)_No certificate", "national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "national_Employed persons ('000) (D3)_Religious certificate", "national_Employed persons ('000) (D3)_SPM or equivalent", "national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent", "national_Labour Force ('000) (D3)_Certificate", "national_Labour Force ('000) (D3)_Degree", "national_Labour Force ('000) (D3)_Diploma", "national_Labour Force ('000) (D3)_No certificate", "national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "national_Labour Force ('000) (D3)_Religious certificate", "national_Labour Force ('000) (D3)_SPM or equivalent", "national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent", 'national_ep_ratio (%) (D1)', 'national_Female_Unemployment Rate (%) (D6)', 'national_Male_Unemployment Rate (%) (D6)']

In [ ]:
Unemployment_Trend_df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Columns: 114 entries, Year to national_Male_Unemployment Rate (%) (D6)
dtypes: float64(97), int64(17)
memory usage: 501.5 KB

For feature selection, it is not necessary to include the target variable in the feature selection dataset. Feature selection methods aim to identify the most relevant features (independent variables) that can help in predicting the target variable (dependent variable). Including the target variable in the feature selection process could bias the results and lead to data leakage, which would artificially inflate the performance of your model during training and validation.

### Using Principle Component Analysis (PCA)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

# Define the correct target variable
target_variable = 'national_u_rate (%) (D1)'

# Extract numerical features excluding the target variable
numerical_features = [col for col in Unemployment_Trend_df_encoded.columns if Unemployment_Trend_df_encoded[col].dtype in ['int64', 'float64'] and col != target_variable]

# Standardize the data
scaler = StandardScaler()
scaled_data = scaler.fit_transform(Unemployment_Trend_df_encoded[numerical_features])

# Perform PCA
pca = PCA()
pca.fit(scaled_data)

# Analyze explained variance ratio
explained_variance = pca.explained_variance_ratio_

# Determine the number of components to retain 95% variance
threshold = 0.95
num_components = np.where(np.cumsum(explained_variance) >= threshold)[0][0] + 1

# Plot cumulative explained variance
plt.figure(figsize=(10, 6))
plt.plot(np.cumsum(explained_variance), marker='o')
plt.xlabel('Number of Components')
plt.ylabel('Cumulative Explained Variance')
plt.title('Cumulative Explained Variance by PCA Components')
plt.grid(True)
plt.show()

# Function to select features based on PCA loadings
def select_features_based_on_loadings(pca, num_components, features, loading_threshold):
    important_features = set()  # Use a set to avoid duplicates

    for i in range(num_components):
        loadings = pca.components_[i]
        # Select features with absolute loading values above a threshold
        for j, value in enumerate(abs(loadings)):
            if value > loading_threshold:
                important_features.add(features[j])

    return list(important_features)

# Function to evaluate the selected features using cross-validation with Linear Regression
def evaluate_features_regression(features, df, target):
    X = df[features]
    y = df[target]
    model = LinearRegression()
    cv_scores = cross_val_score(model, X, y, cv=5, scoring='neg_mean_squared_error')
    return np.mean(cv_scores)

# Experiment with different loading thresholds and evaluate using cross-validation for regression
loading_thresholds = [0.1, 0.2, 0.3, 0.4, 0.5]
best_threshold = None
best_cv_score = float('inf')  # Use infinity for MSE as lower is better
best_features = []

for loading_threshold in loading_thresholds:
    important_features = select_features_based_on_loadings(pca, num_components, numerical_features, loading_threshold)
    if len(important_features) > 0:  # Ensure there are features selected
        cv_score = evaluate_features_regression(important_features, Unemployment_Trend_df_encoded, target_variable)
        print(f"Loading Threshold: {loading_threshold}")
        print(f"Selected features based on PCA: {important_features}")
        print(f"Number of selected features: {len(important_features)}")
        print(f"Cross-Validation Score (Negative MSE): {cv_score}\n")

        if cv_score < best_cv_score:  # For MSE, lower is better
            best_cv_score = cv_score
            best_threshold = loading_threshold
            best_features = important_features

print(f"Best Loading Threshold: {best_threshold}")
print(f"Best Cross-Validation Score (Negative MSE): {best_cv_score}")
print(f"Best Selected Features: {best_features}")

# Manually include the 'year' feature
important_features_with_year = best_features + ['Year']

# Evaluate the selected features including 'year' using cross-validation with Linear Regression
cv_score_with_year = evaluate_features_regression(important_features_with_year, Unemployment_Trend_df_encoded, target_variable)
print(f"Cross-Validation Score (Negative MSE) with 'Year' included: {cv_score_with_year}")

Loading Threshold: 0.1
Selected features based on PCA: ["national_Labour force ('000) (D7)_35–39", "national_Labour Force ('000) (D3)_STPM or equivalent", "Employed persons ('000) (D7)_30–34", "Employed persons ('000) (D7)_45–49", "Labour Force ('000) (D3)_STPM or equivalent", 'national_p_rate (%) (D1)', "national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", 'State_Sabah', "national_Employed persons ('000) (D3)_SPM or equivalent", "Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "Labour Force ('000) (D3)_Degree", "national_Labour force ('000) (D7)_45–49", "national_Labour force ('000) (D7)_15–19", "Labour force ('000) (D7)_20–24", "Labour force ('000) (D7)_55–59", 'Female_Unemployment Rate (%) (D6)', "Labour Force ('000) (D3)_Religious certificate", "Employed persons ('000) (D3)_Not applicable", "Employed persons ('000) (D7)_40–44", "national_Labour Force ('000) (D3)_No certificate", "national_lf ('000) (D1)", 'State_W.P. Putrajaya', "Labour force ('000) (D7)_15–19", "Labour force ('000) (D7)_60–64", "national_Labour force ('000) (D7)_30–34", "national_Employed persons ('000) (D7)_40–44", "national_Labour force ('000) (D7)_40–44", 'State_Pahang', "national_Labour force ('000) (D7)_60–64", "national_Labour Force ('000) (D3)_Degree", "Employed persons ('000) (D7)_25–29", "national_Labour Force ('000) (D3)_Not applicable", "national_Labour force ('000) (D7)_25–29", 'National GDP (RM Million) (D2)', "national_Employed persons ('000) (D3)_Not applicable", "national_lf_employed ('000) (D1)", "Labour Force ('000) (D3)_No certificate", "national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", "Employed persons ('000) (D7)_55–59", "Employed persons ('000) (D7)_15–19", "national_Employed persons ('000) (D7)_50–54", "Employed persons ('000) (D3)_UPSR/UPSRA or equivalent", 'State_W.P. Kuala Lumpur', 'State_Perak', "Employed persons ('000) (D7)_35–39", 'national_gdp_growth (%) (D2)', "Labour force ('000) (D7)_45–49", 'national_Female_Unemployment Rate (%) (D6)', 'State_Melaka', "national_Employed persons ('000) (D7)_30–34", 'State_Terengganu', "Labour force ('000) (D7)_25–29", "national_Labour Force ('000) (D3)_Diploma", "Labour force ('000) (D7)_35–39", 'State_Sarawak', "national_Employed persons ('000) (D7)_20–24", "national_Employed persons ('000) (D3)_STPM or equivalent", 'State_Kedah', "national_lf_unemployed ('000) (D1)", 'State_Selangor', "national_Employed persons ('000) (D7)_60–64", "national_Employed persons ('000) (D7)_25–29", "national_Employed persons ('000) (D7)_15–19", "national_Employed persons ('000) (D3)_No certificate", "Employed persons ('000) (D3)_STPM or equivalent", "national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent", "Labour force ('000) (D7)_30–34", "Labour Force ('000) (D3)_Diploma", "national_Labour Force ('000) (D3)_Religious certificate", "Employed persons ('000) (D7)_60–64", 'national_Male_Unemployment Rate (%) (D6)', "Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", 'State_Johor', "Employed persons ('000) (D3)_Religious certificate", 'Male_Unemployment Rate (%) (D6)', 'national_Industrial Production Rate (%) (D5)', 'national_CPI (D4)', "Labour Force ('000) (D3)_SPM or equivalent", "Labour Force ('000) (D3)_Not applicable", 'State_Perlis', 'State_Kelantan', "Labour force ('000) (D7)_50–54", "national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent", "national_Employed persons ('000) (D3)_Degree", "Employed persons ('000) (D3)_No certificate", 'State_Negeri Sembilan', 'national_ep_ratio (%) (D1)', "Employed persons ('000) (D3)_Certificate", "Employed persons ('000) (D7)_20–24", "Employed persons ('000) (D3)_SPM or equivalent", "national_Employed persons ('000) (D3)_Certificate", 'Year', "national_Labour force ('000) (D7)_20–24", "national_lf_outside ('000) (D1)", "national_Employed persons ('000) (D3)_Diploma", "national_Employed persons ('000) (D7)_45–49", 'State_W.P. Labuan', "Employed persons ('000) (D7)_50–54", 'national_IPI (D5)', "Employed persons ('000) (D3)_Diploma", "national_Labour Force ('000) (D3)_SPM or equivalent", 'national_Inflation Rate (%) (D4)', "national_Employed persons ('000) (D3)_Religious certificate", "national_Employed persons ('000) (D7)_55–59", "national_Labour force ('000) (D7)_55–59", "Labour force ('000) (D7)_40–44", "Labour Force ('000) (D3)_UPSR/UPSRA or equivalent", 'State_Pulau Pinang', "national_Employed persons ('000) (D7)_35–39", "Labour Force ('000) (D3)_Certificate", "national_Labour force ('000) (D7)_50–54", "national_Labour Force ('000) (D3)_Certificate", "Employed persons ('000) (D3)_Degree"]
Number of selected features: 113
Cross-Validation Score (Negative MSE): -1.6753770967180697

Loading Threshold: 0.2
Selected features based on PCA: ["national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent", "Employed persons ('000) (D3)_No certificate", "Labour Force ('000) (D3)_No certificate", "Employed persons ('000) (D7)_15–19", 'State_Negeri Sembilan', 'national_p_rate (%) (D1)', "Employed persons ('000) (D3)_UPSR/UPSRA or equivalent", 'State_W.P. Kuala Lumpur', 'national_ep_ratio (%) (D1)', 'State_Sabah', 'State_Perak', "national_Labour Force ('000) (D3)_Religious certificate", "Employed persons ('000) (D3)_Certificate", 'national_gdp_growth (%) (D2)', 'national_Male_Unemployment Rate (%) (D6)', 'national_Female_Unemployment Rate (%) (D6)', "national_Labour force ('000) (D7)_15–19", 'State_Johor', 'State_Melaka', 'State_W.P. Labuan', 'State_Terengganu', 'Female_Unemployment Rate (%) (D6)', 'State_Sarawak', "Labour Force ('000) (D3)_Religious certificate", "Employed persons ('000) (D3)_Not applicable", 'national_IPI (D5)', "national_Employed persons ('000) (D3)_Religious certificate", 'national_Inflation Rate (%) (D4)', 'State_Kedah', "Employed persons ('000) (D3)_Religious certificate", 'State_W.P. Putrajaya', 'Male_Unemployment Rate (%) (D6)', "national_lf_unemployed ('000) (D1)", 'national_Industrial Production Rate (%) (D5)', 'national_CPI (D4)', "Labour Force ('000) (D3)_UPSR/UPSRA or equivalent", 'State_Pulau Pinang', "Labour force ('000) (D7)_15–19", 'State_Selangor', "Labour Force ('000) (D3)_Certificate", "Labour Force ('000) (D3)_Not applicable", "national_Employed persons ('000) (D7)_15–19", 'State_Perlis', 'State_Pahang', 'State_Kelantan', "national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent"]
Number of selected features: 46
Cross-Validation Score (Negative MSE): -0.00517012648991934

Loading Threshold: 0.3
Selected features based on PCA: ['State_Negeri Sembilan', 'State_W.P. Kuala Lumpur', 'national_ep_ratio (%) (D1)', 'State_Sabah', 'State_Perak', 'national_gdp_growth (%) (D2)', 'State_Johor', 'State_Melaka', 'State_W.P. Labuan', 'State_Terengganu', 'State_Sarawak', "Labour Force ('000) (D3)_Religious certificate", "Employed persons ('000) (D3)_Not applicable", 'national_IPI (D5)', 'State_Kedah', "Employed persons ('000) (D3)_Religious certificate", 'State_W.P. Putrajaya', 'national_Industrial Production Rate (%) (D5)', 'State_Pulau Pinang', "Labour Force ('000) (D3)_Not applicable", "national_Employed persons ('000) (D7)_15–19", 'State_Perlis', 'State_Pahang', 'State_Kelantan']
Number of selected features: 24
Cross-Validation Score (Negative MSE): -4.258506512075597

Loading Threshold: 0.4
Selected features based on PCA: ['State_Terengganu', 'State_Pulau Pinang', 'State_Perak', 'State_Kedah', "Labour Force ('000) (D3)_Religious certificate", 'national_gdp_growth (%) (D2)', 'State_Perlis', 'State_Pahang', 'State_Negeri Sembilan', 'State_Johor', 'State_Kelantan', 'State_Melaka', 'State_W.P. Kuala Lumpur', "Employed persons ('000) (D3)_Religious certificate"]
Number of selected features: 14
Cross-Validation Score (Negative MSE): -2.7369697586738955

Loading Threshold: 0.5
Selected features based on PCA: ['State_Pulau Pinang', 'national_gdp_growth (%) (D2)', 'State_Perlis', 'State_Pahang', 'State_Negeri Sembilan', 'State_Kedah']
Number of selected features: 6
Cross-Validation Score (Negative MSE): -1.988033093426275

Best Loading Threshold: 0.3
Best Cross-Validation Score (Negative MSE): -4.258506512075597
Best Selected Features: ['State_Negeri Sembilan', 'State_W.P. Kuala Lumpur', 'national_ep_ratio (%) (D1)', 'State_Sabah', 'State_Perak', 'national_gdp_growth (%) (D2)', 'State_Johor', 'State_Melaka', 'State_W.P. Labuan', 'State_Terengganu', 'State_Sarawak', "Labour Force ('000) (D3)_Religious certificate", "Employed persons ('000) (D3)_Not applicable", 'national_IPI (D5)', 'State_Kedah', "Employed persons ('000) (D3)_Religious certificate", 'State_W.P. Putrajaya', 'national_Industrial Production Rate (%) (D5)', 'State_Pulau Pinang', "Labour Force ('000) (D3)_Not applicable", "national_Employed persons ('000) (D7)_15–19", 'State_Perlis', 'State_Pahang', 'State_Kelantan']
Cross-Validation Score (Negative MSE) with 'Year' included: -3.166031288002383

The loading threshold determines how significant a feature's contribution to a principal component needs to be for that feature to be selected. If the threshold is too low, you might end up with too many features, including those with minor contributions. If it is too high, you might miss out on important features.

Here’s how to adjust the loading threshold and why it matters:

1. Understanding Loadings: Loadings indicate how much a feature contributes to a particular principal component. Higher absolute values suggest a stronger contribution.

2. Balancing Feature Selection: Adjusting the loading threshold helps balance the number of selected features. You want to include features that significantly contribute to the principal components but avoid including too many features that might add noise.

**Feature Selection with Different Loading Thresholds**

**Loading Threshold: 0.1**

- **Selected Features**: 113 features
- **Cross-Validation Score (Negative MSE)**: -0.4005

**Interpretation**: A low loading threshold of 0.1 results in selecting a large number of features (113 out of the total). This means that many features have at least some contribution to the principal components. However, this may include features with minor contributions, potentially adding noise to the model. Despite having many features, the cross-validation score indicates moderate model performance.

**Loading Threshold: 0.2**

- **Selected Features**: 46 features
- **Cross-Validation Score (Negative MSE)**: -0.0052

**Interpretation**: Increasing the loading threshold to 0.2 reduces the number of selected features to 46. This threshold balances selecting features that significantly contribute to the variance while excluding those with minimal impact. The selected features include important economic and demographic indicators such as unemployment rates, GDP, and various employment statistics across different states and education levels. The model performance improves significantly, as indicated by the cross-validation score.

**Loading Threshold: 0.3**

- **Selected Features**: 24 features
- **Cross-Validation Score (Negative MSE)**: -4.2585

**Interpretation**: Further increasing the loading threshold to 0.3 results in selecting 24 features. These features have a stronger contribution to the principal components, representing the most influential variables in the dataset. This threshold focuses on the most critical features, potentially leading to a more interpretable and efficient model. The cross-validation score indicates the best model performance at this threshold, suggesting that these features provide the most accurate prediction of the target variable.

**Loading Threshold: 0.4**

- **Selected Features**: 14 features
- **Cross-Validation Score (Negative MSE)**: -2.7370

**Interpretation**: With a loading threshold of 0.4, the number of selected features is further reduced to 14. This set includes only the most significant features, which have the highest loadings on the principal components. While the model remains relatively efficient and interpretable, the cross-validation score suggests a decline in performance compared to the 0.3 threshold.

**Loading Threshold: 0.5**

- **Selected Features**: 6 features
- **Cross-Validation Score (Negative MSE)**: -1.9880

**Interpretation**: A high loading threshold of 0.5 results in selecting just 6 features. These features are the most influential but may not capture enough variability to accurately predict the target variable. The cross-validation score indicates a decrease in model performance, suggesting that important predictive information might be lost with too few features.

Summary of Best Results

**Best Loading Threshold**: 0.3

**Best Selected Features**:
1. national_ep_ratio (%) (D1)
2. Year
3. national_Employed persons ('000) (D7)_15–19
4. State_Sarawak
5. State_Perak
6. national_IPI (D5)
7. Labour Force ('000) (D3)_Religious certificate
8. Employed persons ('000) (D3)_Religious certificate
9. State_Melaka
10. State_Negeri Sembilan
11. State_Sabah
12. State_W.P. Kuala Lumpur
13. State_Johor
14. national_gdp_growth (%) (D2)
15. State_W.P. Labuan
16. State_Pahang
17. State_Kedah
18. Labour Force ('000) (D3)_Not applicable
19. State_Pulau Pinang
20. State_Perlis
21. Employed persons ('000) (D3)_Not applicable
22. State_Kelantan
23. State_Terengganu
24. State_W.P. Putrajaya
25. national_Industrial Production Rate (%) (D5)

The threshold of 0.3 provides the best balance of feature selection and model performance, highlighting the most impactful features while maintaining accurate predictions.

The cumulative variance plot from the PCA analysis shows that approximately 50 components explain nearly 100% of the variance in your dataset.

Breakdown of Explained Variance:
First 10 components: Explain approximately 75% of the variance.
About 20 components: Needed to explain around 90% of the variance.
About 50 components: Needed to explain around 100% of the variance.

### Using Recursive Feature Elimination (RFE)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.metrics import make_scorer, mean_squared_error

# Define the features (X) and target (y)
X = Unemployment_Trend_df_encoded.drop(columns=['national_u_rate (%) (D1)'])
y = Unemployment_Trend_df_encoded['national_u_rate (%) (D1)']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the model
model = LinearRegression()

# Function to perform RFE with cross-validation
def perform_rfe_with_cv(X_train, y_train, model, min_features, max_features):
    best_score = -np.inf
    best_features = None
    best_n_features = 0

    for n_features_to_select in range(min_features, max_features + 1):
        rfe = RFE(estimator=model, n_features_to_select=n_features_to_select)
        X_rfe = rfe.fit_transform(X_train, y_train)
        # Use neg_mean_squared_error as the scoring metric
        scores = cross_val_score(model, X_rfe, y_train, cv=5, scoring='neg_mean_squared_error')
        score = np.mean(scores)

        if score > best_score:
            best_score = score
            best_features = X_train.columns[rfe.support_]
            best_n_features = n_features_to_select
        print(f"Number of features: {n_features_to_select}, Cross-Validation Score: {-score}")  # Printing positive MSE for clarity

    return best_features, best_n_features, best_score

# Perform RFE with cross-validation to find the best number of features
min_features = 5  # Minimum number of features to select
max_features = X_train.shape[1]  # Maximum number of features to select

best_features, best_n_features, best_score = perform_rfe_with_cv(X_train, y_train, model, min_features, max_features)

# Print the results
print("\nBest number of features:", best_n_features)
print("Best cross-validation score (negative MSE):", best_score)
print("Selected features based on RFE with cross-validation:")
print(best_features)

# Manually include the 'year' feature
best_features_with_year = list(best_features) + ['Year']

# Recalculate the cross-validation score with the 'year' feature included
X_train_with_year = X_train[best_features_with_year]
cv_score_with_year = np.mean(cross_val_score(model, X_train_with_year, y_train, cv=5, scoring='neg_mean_squared_error'))

print("\nCross-Validation Score (Negative MSE) with 'Year' included:", cv_score_with_year)

Number of features: 5, Cross-Validation Score: 0.0008893483355510718
Number of features: 6, Cross-Validation Score: 0.0008852018897248856
Number of features: 7, Cross-Validation Score: 0.0008698029521485146
Number of features: 8, Cross-Validation Score: 0.0008722951995345059
Number of features: 9, Cross-Validation Score: 0.0008757443169386446
Number of features: 10, Cross-Validation Score: 0.0007760808797293102
Number of features: 11, Cross-Validation Score: 0.0006648875445162386
Number of features: 12, Cross-Validation Score: 0.000590396954331154
Number of features: 13, Cross-Validation Score: 0.000594023618413701
Number of features: 14, Cross-Validation Score: 0.0005859800349090513
Number of features: 15, Cross-Validation Score: 0.0005481392422270733
Number of features: 16, Cross-Validation Score: 0.0005266885773348279
Number of features: 17, Cross-Validation Score: 0.0005239210077868366
Number of features: 18, Cross-Validation Score: 0.0005201669389900741
Number of features: 19, Cross-Validation Score: 0.0005206357602947619
Number of features: 20, Cross-Validation Score: 0.000509827294471373
Number of features: 21, Cross-Validation Score: 0.0005060024080796473
Number of features: 22, Cross-Validation Score: 0.0002154948174116293
Number of features: 23, Cross-Validation Score: 0.0002076637201336562
Number of features: 24, Cross-Validation Score: 0.00020803787447939227
Number of features: 25, Cross-Validation Score: 0.00020563011577806812
Number of features: 26, Cross-Validation Score: 0.0001503971509791563
Number of features: 27, Cross-Validation Score: 0.0001509088390405868
Number of features: 28, Cross-Validation Score: 0.0001510977565652845
Number of features: 29, Cross-Validation Score: 0.0001437633459707931
Number of features: 30, Cross-Validation Score: 0.0001443869719718629
Number of features: 31, Cross-Validation Score: 0.00014801637100157113
Number of features: 32, Cross-Validation Score: 0.000148480670888549
Number of features: 33, Cross-Validation Score: 0.0001498671938312773
Number of features: 34, Cross-Validation Score: 3.5114329551239164e-06
Number of features: 35, Cross-Validation Score: 1.6714675111053972e-06
Number of features: 36, Cross-Validation Score: 8.015499081839153e-27
Number of features: 37, Cross-Validation Score: 2.7425178860945763e-27
Number of features: 38, Cross-Validation Score: 3.71111680426567e-27
Number of features: 39, Cross-Validation Score: 7.630059014011813e-27
Number of features: 40, Cross-Validation Score: 5.942276206585471e-27
Number of features: 41, Cross-Validation Score: 3.870647706872456e-27
Number of features: 42, Cross-Validation Score: 4.4724363840051235e-27
Number of features: 43, Cross-Validation Score: 3.1223167219374662e-27
Number of features: 44, Cross-Validation Score: 5.251766972978949e-27
Number of features: 45, Cross-Validation Score: 5.035566494221377e-27
Number of features: 46, Cross-Validation Score: 4.433809809780977e-27
Number of features: 47, Cross-Validation Score: 5.685717603916794e-27
Number of features: 48, Cross-Validation Score: 5.899352531708163e-27
Number of features: 49, Cross-Validation Score: 5.780290193539215e-27
Number of features: 50, Cross-Validation Score: 6.006819052826422e-27
Number of features: 51, Cross-Validation Score: 5.7555537068317766e-27
Number of features: 52, Cross-Validation Score: 5.7911234450481914e-27
Number of features: 53, Cross-Validation Score: 6.042668398408133e-27
Number of features: 54, Cross-Validation Score: 5.62301543312136e-27
Number of features: 55, Cross-Validation Score: 6.992971002650798e-27
Number of features: 56, Cross-Validation Score: 6.058558073017152e-26
Number of features: 57, Cross-Validation Score: 5.897186319662426e-26
Number of features: 58, Cross-Validation Score: 2.1821714907104245e-26
Number of features: 59, Cross-Validation Score: 1.1339434626957238e-26
Number of features: 60, Cross-Validation Score: 1.0706462278241184e-26
Number of features: 61, Cross-Validation Score: 1.322064963439224e-26
Number of features: 62, Cross-Validation Score: 1.4068933678579317e-26
Number of features: 63, Cross-Validation Score: 5.829179848140286e-27
Number of features: 64, Cross-Validation Score: 7.776695108610647e-27
Number of features: 65, Cross-Validation Score: 9.172090127565289e-27
Number of features: 66, Cross-Validation Score: 1.6287469991647406e-26
Number of features: 67, Cross-Validation Score: 6.4107000590814756e-27
Number of features: 68, Cross-Validation Score: 6.541601884669615e-27
Number of features: 69, Cross-Validation Score: 5.827286581967756e-27
Number of features: 70, Cross-Validation Score: 1.7521276495800811e-26
Number of features: 71, Cross-Validation Score: 5.4566727165979894e-27
Number of features: 72, Cross-Validation Score: 2.9873821517506236e-26
Number of features: 73, Cross-Validation Score: 2.4167222765428244e-26
Number of features: 74, Cross-Validation Score: 2.404147658411178e-26
Number of features: 75, Cross-Validation Score: 3.282954659347913e-26
Number of features: 76, Cross-Validation Score: 2.4510876871106022e-26
Number of features: 77, Cross-Validation Score: 1.1605133497981078e-26
Number of features: 78, Cross-Validation Score: 9.682042247648477e-27
Number of features: 79, Cross-Validation Score: 8.194645887366375e-27
Number of features: 80, Cross-Validation Score: 8.342070404614371e-27
Number of features: 81, Cross-Validation Score: 6.997161168825697e-27
Number of features: 82, Cross-Validation Score: 7.767499181736063e-27
Number of features: 83, Cross-Validation Score: 8.061238551892041e-27
Number of features: 84, Cross-Validation Score: 1.1344316799448438e-26
Number of features: 85, Cross-Validation Score: 8.83987538152533e-27
Number of features: 86, Cross-Validation Score: 1.0853516907375843e-26
Number of features: 87, Cross-Validation Score: 1.3393438659279444e-26
Number of features: 88, Cross-Validation Score: 1.2214847597674867e-26
Number of features: 89, Cross-Validation Score: 1.0915723410569162e-26
Number of features: 90, Cross-Validation Score: 2.748298746459248e-26
Number of features: 91, Cross-Validation Score: 3.4872980327927436e-26
Number of features: 92, Cross-Validation Score: 2.260711183643922e-26
Number of features: 93, Cross-Validation Score: 2.7593133483252134e-26
Number of features: 94, Cross-Validation Score: 2.746669135131484e-26
Number of features: 95, Cross-Validation Score: 2.6759787835073595e-26
Number of features: 96, Cross-Validation Score: 2.835523622656805e-26
Number of features: 97, Cross-Validation Score: 2.130600322590083e-26
Number of features: 98, Cross-Validation Score: 1.2881698016221695e-26
Number of features: 99, Cross-Validation Score: 1.720049059125327e-26
Number of features: 100, Cross-Validation Score: 2.1317895742303094e-26
Number of features: 101, Cross-Validation Score: 1.7896230849173527e-26
Number of features: 102, Cross-Validation Score: 2.973628274216884e-26
Number of features: 103, Cross-Validation Score: 1.0938930033027744e-25
Number of features: 104, Cross-Validation Score: 1.2238995243542164e-25
Number of features: 105, Cross-Validation Score: 1.5024881722064594e-25
Number of features: 106, Cross-Validation Score: 3.317139683722031e-26
Number of features: 107, Cross-Validation Score: 3.28741680723269e-26
Number of features: 108, Cross-Validation Score: 6.904368600010303e-26
Number of features: 109, Cross-Validation Score: 4.4527123194894586e-26
Number of features: 110, Cross-Validation Score: 4.501808217391641e-26
Number of features: 111, Cross-Validation Score: 3.741520204762581e-26
Number of features: 112, Cross-Validation Score: 8.468012924645023e-26
Number of features: 113, Cross-Validation Score: 5.90578864010049e-24

Best number of features: 37
Best cross-validation score (negative MSE): -2.7425178860945763e-27
Selected features based on RFE with cross-validation:
Index(['national_Employed persons ('000) (D7)_15–19',
       'national_Employed persons ('000) (D7)_20–24',
       'national_Employed persons ('000) (D7)_25–29',
       'national_Employed persons ('000) (D7)_30–34',
       'national_Employed persons ('000) (D7)_35–39',
       'national_Employed persons ('000) (D7)_40–44',
       'national_Employed persons ('000) (D7)_45–49',
       'national_Employed persons ('000) (D7)_50–54',
       'national_Employed persons ('000) (D7)_60–64',
       'national_Labour force ('000) (D7)_15–19',
       'national_Labour force ('000) (D7)_20–24',
       'national_Labour force ('000) (D7)_25–29',
       'national_Labour force ('000) (D7)_35–39',
       'national_Labour force ('000) (D7)_40–44',
       'national_Labour force ('000) (D7)_45–49',
       'national_Labour force ('000) (D7)_60–64', 'national_CPI (D4)',
       'national_Inflation Rate (%) (D4)', 'national_IPI (D5)',
       'national_Industrial Production Rate (%) (D5)',
       'national_Employed persons ('000) (D3)_Certificate',
       'national_Employed persons ('000) (D3)_Degree',
       'national_Employed persons ('000) (D3)_Diploma',
       'national_Employed persons ('000) (D3)_Religious certificate',
       'national_Employed persons ('000) (D3)_SPM or equivalent',
       'national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'national_Labour Force ('000) (D3)_Certificate',
       'national_Labour Force ('000) (D3)_Degree',
       'national_Labour Force ('000) (D3)_Diploma',
       'national_Labour Force ('000) (D3)_No certificate',
       'national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Labour Force ('000) (D3)_Religious certificate',
       'national_Labour Force ('000) (D3)_SPM or equivalent',
       'national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent',
       'national_ep_ratio (%) (D1)',
       'national_Female_Unemployment Rate (%) (D6)',
       'national_Male_Unemployment Rate (%) (D6)'],
      dtype='object')

Cross-Validation Score (Negative MSE) with 'Year' included: -1.443400711085808e-27

### Using Linear Discriminant Analysis (LDA)

Linear Discriminant Analysis (LDA) is typically used for classification tasks where the target variable (class label) is categorical. If your target variable is categorical, LDA can be applied to reduce the dimensionality of your dataset while preserving class separability. However, if your target variable is continuous (such as unemployment rates), LDA is not the appropriate technique.

### Using SelectKBest

In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression

# Define the features (X) and the continuous target (y)
X = Unemployment_Trend_df_encoded.drop(columns=['national_u_rate (%) (D1)'])
y = Unemployment_Trend_df_encoded['national_u_rate (%) (D1)']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the model
model = LinearRegression()

# Function to evaluate SelectKBest with different k values
def evaluate_select_k_best(X_train, y_train, model, max_k):
    best_k = 0
    best_score = np.inf
    best_features = None
    scores = []

    for k in range(1, max_k + 1):
        selector = SelectKBest(score_func=f_regression, k=k)
        X_train_selected = selector.fit_transform(X_train, y_train)
        # Use neg_mean_squared_error as the scoring metric
        cv_scores = cross_val_score(model, X_train_selected, y_train, cv=5, scoring='neg_mean_squared_error')
        mean_score = -np.mean(cv_scores)  # Convert to positive MSE for comparison
        scores.append(mean_score)

        if mean_score < best_score:  # Lower MSE is better
            best_score = mean_score
            best_k = k
            best_features = X_train.columns[selector.get_support()]

        print(f"k = {k}, Cross-Validation Score (MSE): {mean_score}")

    return best_k, best_score, best_features, scores

# Evaluate SelectKBest with different k values
max_k = X_train.shape[1]  # Test up to the number of features
best_k, best_score, best_features, scores = evaluate_select_k_best(X_train, y_train, model, max_k)

# Print the best k and corresponding score
print("\nBest k:", best_k)
print("Best Cross-Validation Score (Negative MSE):", best_score)
print("Selected features for the best k:", best_features)

k = 1, Cross-Validation Score (MSE): 0.029249718198959933
k = 2, Cross-Validation Score (MSE): 0.0010883523067995037
k = 3, Cross-Validation Score (MSE): 0.0010765467247125964
k = 4, Cross-Validation Score (MSE): 0.0010520524694202055
k = 5, Cross-Validation Score (MSE): 0.0010152920176037582
k = 6, Cross-Validation Score (MSE): 0.0010200104167699274
k = 7, Cross-Validation Score (MSE): 0.0008498342813281848
k = 8, Cross-Validation Score (MSE): 0.000850269405722624
k = 9, Cross-Validation Score (MSE): 0.0008516510480405486
k = 10, Cross-Validation Score (MSE): 0.000860759151048205
k = 11, Cross-Validation Score (MSE): 0.0008623989777581442
k = 12, Cross-Validation Score (MSE): 0.0008695987241332311
k = 13, Cross-Validation Score (MSE): 0.0008226071219522837
k = 14, Cross-Validation Score (MSE): 0.0008221892997976458
k = 15, Cross-Validation Score (MSE): 0.0008160596719476594
k = 16, Cross-Validation Score (MSE): 0.000828054147316106
k = 17, Cross-Validation Score (MSE): 0.0008280085772719946
k = 18, Cross-Validation Score (MSE): 0.0008213225661307365
k = 19, Cross-Validation Score (MSE): 0.0007872375756302209
k = 20, Cross-Validation Score (MSE): 0.0007899806545210872
k = 21, Cross-Validation Score (MSE): 0.0007005898167546117
k = 22, Cross-Validation Score (MSE): 0.0006877545158958385
k = 23, Cross-Validation Score (MSE): 0.0005852325577263862
k = 24, Cross-Validation Score (MSE): 0.0005878475103748012
k = 25, Cross-Validation Score (MSE): 0.0005827084825769181
k = 26, Cross-Validation Score (MSE): 0.0005812360509903521
k = 27, Cross-Validation Score (MSE): 0.00055243169134485
k = 28, Cross-Validation Score (MSE): 0.0005456881704182248
k = 29, Cross-Validation Score (MSE): 0.00045681350174350214
k = 30, Cross-Validation Score (MSE): 0.0004356619767442508
k = 31, Cross-Validation Score (MSE): 0.000444439944538537
k = 32, Cross-Validation Score (MSE): 0.0003899267922633961
k = 33, Cross-Validation Score (MSE): 0.00038107733636610826
k = 34, Cross-Validation Score (MSE): 0.00032313365274675235
k = 35, Cross-Validation Score (MSE): 0.00030242133438467293
k = 36, Cross-Validation Score (MSE): 0.0002557794179284487
k = 37, Cross-Validation Score (MSE): 0.00024697580871839653
k = 38, Cross-Validation Score (MSE): 0.00022548320193433425
k = 39, Cross-Validation Score (MSE): 0.0002234906996314055
k = 40, Cross-Validation Score (MSE): 0.00022412735621916394
k = 41, Cross-Validation Score (MSE): 0.00017636574021599193
k = 42, Cross-Validation Score (MSE): 0.00016972952866972372
k = 43, Cross-Validation Score (MSE): 0.0001537311459508128
k = 44, Cross-Validation Score (MSE): 5.522059947229748e-05
k = 45, Cross-Validation Score (MSE): 2.7486369050027623e-05
k = 46, Cross-Validation Score (MSE): 3.325069666775695e-24
k = 47, Cross-Validation Score (MSE): 3.367769746918028e-24
k = 48, Cross-Validation Score (MSE): 3.360000636005812e-23
k = 49, Cross-Validation Score (MSE): 8.350379627902705e-23
k = 50, Cross-Validation Score (MSE): 5.375570388854102e-24
k = 51, Cross-Validation Score (MSE): 1.356770819438478e-22
k = 52, Cross-Validation Score (MSE): 6.595832336971483e-22
k = 53, Cross-Validation Score (MSE): 2.9002446698809687e-22
k = 54, Cross-Validation Score (MSE): 1.045947080664337e-21
k = 55, Cross-Validation Score (MSE): 2.170806699525793e-22
k = 56, Cross-Validation Score (MSE): 4.412602604292472e-22
k = 57, Cross-Validation Score (MSE): 5.1077383742201154e-23
k = 58, Cross-Validation Score (MSE): 1.0982229678135965e-23
k = 59, Cross-Validation Score (MSE): 2.3683114442957473e-23
k = 60, Cross-Validation Score (MSE): 2.2776732924778337e-23
k = 61, Cross-Validation Score (MSE): 5.426293189398652e-23
k = 62, Cross-Validation Score (MSE): 2.1778406603809328e-23
k = 63, Cross-Validation Score (MSE): 1.521998229890241e-23
k = 64, Cross-Validation Score (MSE): 1.9523899299301899e-23
k = 65, Cross-Validation Score (MSE): 1.3650852551077145e-23
k = 66, Cross-Validation Score (MSE): 3.8730361524298516e-24
k = 67, Cross-Validation Score (MSE): 4.088979097289722e-23
k = 68, Cross-Validation Score (MSE): 2.543002603554473e-23
k = 69, Cross-Validation Score (MSE): 3.2265354570426485e-23
k = 70, Cross-Validation Score (MSE): 4.641250162874934e-23
k = 71, Cross-Validation Score (MSE): 8.985917584032344e-23
k = 72, Cross-Validation Score (MSE): 5.978687499424297e-23
k = 73, Cross-Validation Score (MSE): 3.530838001307952e-24
k = 74, Cross-Validation Score (MSE): 2.67903066503035e-23
k = 75, Cross-Validation Score (MSE): 3.873831631790416e-23
k = 76, Cross-Validation Score (MSE): 1.6194124738993206e-23
k = 77, Cross-Validation Score (MSE): 1.9919430258453817e-23
k = 78, Cross-Validation Score (MSE): 5.596972984555792e-24
k = 79, Cross-Validation Score (MSE): 6.92636024546098e-23
k = 80, Cross-Validation Score (MSE): 1.1273078318780724e-22
k = 81, Cross-Validation Score (MSE): 6.939644130799091e-24
k = 82, Cross-Validation Score (MSE): 1.9767036054238815e-23
k = 83, Cross-Validation Score (MSE): 1.772104012060665e-23
k = 84, Cross-Validation Score (MSE): 6.002567025143497e-23
k = 85, Cross-Validation Score (MSE): 2.304201662006078e-23
k = 86, Cross-Validation Score (MSE): 1.5563207888762633e-22
k = 87, Cross-Validation Score (MSE): 1.1807518465502385e-23
k = 88, Cross-Validation Score (MSE): 9.570379354912484e-23
k = 89, Cross-Validation Score (MSE): 8.906408147806455e-24
k = 90, Cross-Validation Score (MSE): 5.067016262524637e-23
k = 91, Cross-Validation Score (MSE): 6.286131735361278e-23
k = 92, Cross-Validation Score (MSE): 1.2740708345188575e-23
k = 93, Cross-Validation Score (MSE): 2.2381572067608715e-23
k = 94, Cross-Validation Score (MSE): 1.1413990189283574e-23
k = 95, Cross-Validation Score (MSE): 4.657397003246566e-24
k = 96, Cross-Validation Score (MSE): 1.2090668347866429e-23
k = 97, Cross-Validation Score (MSE): 1.3421722367734708e-23
k = 98, Cross-Validation Score (MSE): 1.323637839978335e-23
k = 99, Cross-Validation Score (MSE): 3.988712320502101e-24
k = 100, Cross-Validation Score (MSE): 4.435434247057714e-24
k = 101, Cross-Validation Score (MSE): 7.241016001931841e-24
k = 102, Cross-Validation Score (MSE): 5.829384819622315e-24
k = 103, Cross-Validation Score (MSE): 1.2733889115979483e-23
k = 104, Cross-Validation Score (MSE): 1.66041959420306e-23
k = 105, Cross-Validation Score (MSE): 2.3217766844718637e-23
k = 106, Cross-Validation Score (MSE): 1.1832540300729483e-23
k = 107, Cross-Validation Score (MSE): 2.8844466533492186e-23
k = 108, Cross-Validation Score (MSE): 3.0211568884284695e-23
k = 109, Cross-Validation Score (MSE): 2.8421338485157836e-23
k = 110, Cross-Validation Score (MSE): 2.7486125229840473e-23
k = 111, Cross-Validation Score (MSE): 5.226092648984337e-24
k = 112, Cross-Validation Score (MSE): 6.084201293102782e-24
k = 113, Cross-Validation Score (MSE): 5.90578864010049e-24

Best k: 46
Best Cross-Validation Score (Negative MSE): 3.325069666775695e-24
Selected features for the best k: Index(['Year', 'national_Employed persons ('000) (D7)_20–24',
       'national_Employed persons ('000) (D7)_25–29',
       'national_Employed persons ('000) (D7)_30–34',
       'national_Employed persons ('000) (D7)_35–39',
       'national_Employed persons ('000) (D7)_40–44',
       'national_Employed persons ('000) (D7)_45–49',
       'national_Employed persons ('000) (D7)_50–54',
       'national_Employed persons ('000) (D7)_55–59',
       'national_Employed persons ('000) (D7)_60–64',
       'national_Labour force ('000) (D7)_15–19',
       'national_Labour force ('000) (D7)_20–24',
       'national_Labour force ('000) (D7)_25–29',
       'national_Labour force ('000) (D7)_30–34',
       'national_Labour force ('000) (D7)_35–39',
       'national_Labour force ('000) (D7)_40–44',
       'national_Labour force ('000) (D7)_45–49',
       'national_Labour force ('000) (D7)_50–54',
       'national_Labour force ('000) (D7)_55–59',
       'national_Labour force ('000) (D7)_60–64',
       'Female_Unemployment Rate (%) (D6)', 'Male_Unemployment Rate (%) (D6)',
       'national_Employed persons ('000) (D3)_Not applicable',
       'national_Employed persons ('000) (D3)_STPM or equivalent',
       'national_Labour Force ('000) (D3)_Not applicable',
       'national_Labour Force ('000) (D3)_STPM or equivalent',
       'National GDP (RM Million) (D2)', 'national_lf ('000) (D1)',
       'national_lf_employed ('000) (D1)', 'national_lf_outside ('000) (D1)',
       'national_CPI (D4)', 'national_Employed persons ('000) (D3)_Degree',
       'national_Employed persons ('000) (D3)_Diploma',
       'national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Employed persons ('000) (D3)_Religious certificate',
       'national_Employed persons ('000) (D3)_SPM or equivalent',
       'national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent',
       'national_Labour Force ('000) (D3)_Degree',
       'national_Labour Force ('000) (D3)_Diploma',
       'national_Labour Force ('000) (D3)_No certificate',
       'national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent',
       'national_Labour Force ('000) (D3)_Religious certificate',
       'national_Labour Force ('000) (D3)_SPM or equivalent',
       'national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent',
       'national_Female_Unemployment Rate (%) (D6)',
       'national_Male_Unemployment Rate (%) (D6)'],
      dtype='object')

### Finalizing Feature Selection Method (Option 1 - Combining All Feature Selection Methods)

Feature Selection Results Summary with the Best Cross Validation Scores:

1. PCA (25 features)

2. RFE (38 features)

3. SelectKBest (46 features)

In [ ]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.feature_selection import RFE, SelectKBest, f_regression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
import numpy as np

# Define the features (X) and the continuous target (y)
X = Unemployment_Trend_df_encoded.drop(columns=['national_u_rate (%) (D1)'])
y = Unemployment_Trend_df_encoded['national_u_rate (%) (D1)']

# Standardize the data
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Function to apply PCA and select features based on a loading threshold
def select_features_pca(X_scaled, loading_threshold, original_X):
    pca = PCA()
    X_pca = pca.fit_transform(X_scaled)
    explained_variance = pca.explained_variance_ratio_
    num_components = (explained_variance.cumsum() >= 0.95).argmax() + 1
    important_features = set()
    for i in range(num_components):
        loadings = pca.components_[i]
        important_features.update([original_X.columns[j] for j, value in enumerate(abs(loadings)) if value > loading_threshold])
    return list(important_features)

# Select features using PCA
best_loading_threshold = 0.3  # This was determined from your results
selected_features_pca = select_features_pca(X_scaled, best_loading_threshold, X)

# Select features using RFE
model = LinearRegression()
rfe = RFE(model, n_features_to_select=37)  # Number of features from best RFE result
rfe.fit(X_scaled, y)
selected_features_rfe = X.columns[rfe.support_]

# Select features using SelectKBest
best_k = 46  # This was determined from your results
kbest = SelectKBest(score_func=f_regression, k=best_k)
kbest.fit(X_scaled, y)
selected_features_kbest = X.columns[kbest.get_support()]

# Combine features from all three methods
combined_features = list(set(selected_features_pca) | set(selected_features_rfe) | set(selected_features_kbest))
X_combined = X[combined_features]

# Evaluate performance of combined features
X_train, X_test, y_train, y_test = train_test_split(X_combined, y, test_size=0.2, random_state=42)
model = LinearRegression()
scores = cross_val_score(model, X_train, y_train, cv=5, scoring='neg_mean_squared_error')
mean_score = np.mean(scores)

print(f"Combined features cross-validation score (Negative MSE): {mean_score}")
print(f"Combined features: {combined_features}")
print(f"Number of combined features: {len(combined_features)}")

Combined features cross-validation score (Negative MSE): -3.031163475415228e-23
Combined features: ["national_Labour force ('000) (D7)_35–39", "national_Labour Force ('000) (D3)_STPM or equivalent", "national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", 'State_Sabah', "national_Labour Force ('000) (D3)_Religious certificate", "national_Employed persons ('000) (D3)_SPM or equivalent", 'national_Male_Unemployment Rate (%) (D6)', "national_Labour force ('000) (D7)_45–49", 'State_Johor', "national_Labour force ('000) (D7)_15–19", 'Female_Unemployment Rate (%) (D6)', "Labour Force ('000) (D3)_Religious certificate", "Employed persons ('000) (D3)_Not applicable", "Employed persons ('000) (D3)_Religious certificate", 'State_W.P. Putrajaya', "national_Labour Force ('000) (D3)_No certificate", 'national_Industrial Production Rate (%) (D5)', "national_lf ('000) (D1)", 'Male_Unemployment Rate (%) (D6)', 'national_CPI (D4)', "national_Labour force ('000) (D7)_30–34", "national_Employed persons ('000) (D7)_40–44", "national_Labour force ('000) (D7)_40–44", "national_Labour Force ('000) (D3)_Certificate", "Labour Force ('000) (D3)_Not applicable", 'State_Perlis', 'State_Pahang', "national_Labour force ('000) (D7)_60–64", 'State_Kelantan', "national_Labour Force ('000) (D3)_Degree", "national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent", "national_Labour Force ('000) (D3)_Not applicable", "national_Labour force ('000) (D7)_25–29", 'National GDP (RM Million) (D2)', "national_Employed persons ('000) (D3)_Degree", "national_lf_employed ('000) (D1)", "national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", 'State_Negeri Sembilan', "national_Employed persons ('000) (D7)_50–54", 'State_W.P. Kuala Lumpur', 'national_ep_ratio (%) (D1)', 'State_Perak', 'national_gdp_growth (%) (D2)', "national_Employed persons ('000) (D3)_Certificate", 'Year', 'national_Female_Unemployment Rate (%) (D6)', "national_Labour force ('000) (D7)_20–24", "national_lf_outside ('000) (D1)", 'State_Melaka', "national_Employed persons ('000) (D3)_Diploma", "national_Employed persons ('000) (D7)_30–34", "national_Employed persons ('000) (D7)_45–49", 'State_W.P. Labuan', 'State_Terengganu', "national_Labour Force ('000) (D3)_Diploma", 'State_Sarawak', 'national_IPI (D5)', "national_Employed persons ('000) (D3)_Religious certificate", "national_Employed persons ('000) (D7)_20–24", "national_Labour Force ('000) (D3)_SPM or equivalent", "national_Employed persons ('000) (D3)_STPM or equivalent", 'State_Kedah', "national_Employed persons ('000) (D7)_55–59", "national_Labour force ('000) (D7)_55–59", 'State_Pulau Pinang', "national_Employed persons ('000) (D7)_35–39", "national_Employed persons ('000) (D7)_60–64", "national_Employed persons ('000) (D7)_25–29", "national_Employed persons ('000) (D7)_15–19", "national_Labour force ('000) (D7)_50–54", "national_Employed persons ('000) (D3)_No certificate", "national_Employed persons ('000) (D3)_Not applicable", "national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent"]
Number of combined features: 73

For feature selection, it is not necessary to include the target variable in the feature selection dataset. Feature selection methods aim to identify the most relevant features (independent variables) that can help in predicting the target variable (dependent variable). Including the target variable in the feature selection process could bias the results and lead to data leakage, which would artificially inflate the performance of your model during training and validation.

In [ ]:
import pandas as pd

# Assuming Unemployment_Trend_df_encoded is already defined and loaded

# List of selected features
selected_features = combined_features = [
    "Year","national_Employed persons ('000) (D7)_60–64", 'national_ep_ratio (%) (D1)',
    "national_Employed persons ('000) (D3)_STPM or equivalent", "national_Employed persons ('000) (D3)_Not applicable",
    "national_lf_employed ('000) (D1)", "national_Employed persons ('000) (D7)_45–49",
    "national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent", 'national_Female_Unemployment Rate (%) (D6)',
    "national_Labour Force ('000) (D3)_STPM or equivalent", "national_Employed persons ('000) (D7)_20–24",
    'State_Negeri Sembilan', "national_lf_outside ('000) (D1)", "national_Labour force ('000) (D7)_50–54",
    'State_W.P. Kuala Lumpur', "national_Labour Force ('000) (D3)_Religious certificate",
    'national_gdp_growth (%) (D2)', "national_lf ('000) (D1)", "national_Labour Force ('000) (D3)_Certificate",
    "national_Labour force ('000) (D7)_15–19", "national_Labour Force ('000) (D3)_Not applicable",
    "national_Employed persons ('000) (D7)_35–39", "Labour Force ('000) (D3)_Not applicable",
    'State_Pulau Pinang', "national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent",
    "Employed persons ('000) (D3)_Not applicable", "national_Labour force ('000) (D7)_20–24",
    "national_Labour force ('000) (D7)_40–44", 'State_Terengganu', "national_Labour force ('000) (D7)_35–39",
    'State_W.P. Putrajaya', 'national_Industrial Production Rate (%) (D5)', "national_Employed persons ('000) (D3)_Religious certificate",
    "national_Labour force ('000) (D7)_25–29", "national_Labour force ('000) (D7)_60–64",
    "national_Employed persons ('000) (D7)_15–19", 'State_Sarawak', "national_Labour force ('000) (D7)_45–49",
    "national_Labour Force ('000) (D3)_Diploma", 'State_Perak', "national_Labour force ('000) (D7)_30–34",
    'national_IPI (D5)', "Labour Force ('000) (D3)_Religious certificate", 'national_Male_Unemployment Rate (%) (D6)',
    "Employed persons ('000) (D3)_Religious certificate", "national_Labour Force ('000) (D3)_Degree",
    'National GDP (RM Million) (D2)', "national_Employed persons ('000) (D3)_No certificate",
    'State_Melaka', 'State_Sabah', 'State_Johor', "national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent",
    "national_Employed persons ('000) (D7)_55–59", "national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent",
    "national_Labour force ('000) (D7)_55–59", 'State_W.P. Labuan', 'Male_Unemployment Rate (%) (D6)',
    "national_Employed persons ('000) (D7)_50–54", "national_Labour Force ('000) (D3)_SPM or equivalent",
    'State_Pahang', "national_Employed persons ('000) (D3)_Certificate", "national_Employed persons ('000) (D7)_40–44",
    'State_Kedah', 'national_CPI (D4)', 'State_Perlis', "national_Employed persons ('000) (D3)_SPM or equivalent",
    "national_Employed persons ('000) (D3)_Diploma", 'Female_Unemployment Rate (%) (D6)', 'State_Kelantan',
    "national_Employed persons ('000) (D7)_25–29", "national_Employed persons ('000) (D7)_30–34",
    "national_Employed persons ('000) (D3)_Degree", "national_Labour Force ('000) (D3)_No certificate", "national_u_rate (%) (D1)"
]

#Added 'national_u_rate (%) (D1)' as the target variable

# Create a DataFrame with the selected features
df_selected = Unemployment_Trend_df_encoded[selected_features]

# Save the DataFrame to a CSV file
df_selected.to_csv('CombinedFeatureSelection_UnemploymentRateDataset.csv', index=False)

print("DataFrame with selected features has been saved as 'CombinedFeatureSelection_UnemploymentRateDataset.csv'.")

DataFrame with selected features has been saved as 'CombinedFeatureSelection_UnemploymentRateDataset.csv'.

The target variable must be included during the model training process. The target variable (in this case, national_u_rate (%) (D1)) is the variable that we are trying to predict.

### Finalizing Feature Selection Method (Option 2 - Using Individual Feature Selection Method)

#### PCA

In [ ]:
import pandas as pd

# List of PCA selected features
pca_selected_features = [
    'Year','national_ep_ratio (%) (D1)',
    "national_Employed persons ('000) (D7)_15–19",
    'State_Sarawak',
    'State_Perak',
    'national_IPI (D5)',
    "Labour Force ('000) (D3)_Religious certificate",
    "Employed persons ('000) (D3)_Religious certificate",
    'State_Melaka',
    'State_Negeri Sembilan',
    'State_Sabah',
    'State_W.P. Kuala Lumpur',
    'State_Johor',
    'national_gdp_growth (%) (D2)',
    'State_W.P. Labuan',
    'State_Pahang',
    'State_Kedah',
    "Labour Force ('000) (D3)_Not applicable",
    'State_Pulau Pinang',
    'State_Perlis',
    "Employed persons ('000) (D3)_Not applicable",
    'State_Kelantan',
    'State_Terengganu',
    'State_W.P. Putrajaya',
    'national_Industrial Production Rate (%) (D5)', 'national_u_rate (%) (D1)'
]

# Create a new dataframe with only the PCA selected features
df_pca_selected = Unemployment_Trend_df_encoded[pca_selected_features]

# Save the new dataframe to a CSV file
df_pca_selected.to_csv('PCA_UnemploymentRateDataset.csv', index=False)

print("Dataframe with PCA selected features has been saved as 'PCA_UnemploymentRateDataset.csv'.")

Dataframe with PCA selected features has been saved as 'PCA_UnemploymentRateDataset.csv'.

The target variable must be included during the model training process. The target variable (in this case, national_u_rate (%) (D1)) is the variable that we are trying to predict.

#### RFE

In [ ]:
import pandas as pd

# List of selected features with the corrected format
rfe_selected = [
"Year","national_Employed persons ('000) (D7)_15–19",
"national_Employed persons ('000) (D7)_20–24",
"national_Employed persons ('000) (D7)_25–29",
"national_Employed persons ('000) (D7)_30–34",
"national_Employed persons ('000) (D7)_35–39",
"national_Employed persons ('000) (D7)_40–44",
"national_Employed persons ('000) (D7)_45–49",
"national_Employed persons ('000) (D7)_50–54",
"national_Employed persons ('000) (D7)_60–64",
"national_Labour force ('000) (D7)_15–19",
"national_Labour force ('000) (D7)_20–24",
"national_Labour force ('000) (D7)_25–29",
"national_Labour force ('000) (D7)_35–39",
"national_Labour force ('000) (D7)_40–44",
"national_Labour force ('000) (D7)_45–49",
"national_Labour force ('000) (D7)_60–64",
"national_CPI (D4)",
"national_Inflation Rate (%) (D4)",
"national_IPI (D5)",
"national_Industrial Production Rate (%) (D5)",
"national_Employed persons ('000) (D3)_Certificate",
"national_Employed persons ('000) (D3)_Degree",
"national_Employed persons ('000) (D3)_Diploma",
"national_Employed persons ('000) (D3)_Religious certificate",
"national_Employed persons ('000) (D3)_SPM or equivalent",
"national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent",
"national_Labour Force ('000) (D3)_Certificate",
"national_Labour Force ('000) (D3)_Degree",
"national_Labour Force ('000) (D3)_Diploma",
"national_Labour Force ('000) (D3)_No certificate",
"national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent",
"national_Labour Force ('000) (D3)_Religious certificate",
"national_Labour Force ('000) (D3)_SPM or equivalent",
"national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent",
"national_ep_ratio (%) (D1)",
"national_Female_Unemployment Rate (%) (D6)",
"national_Male_Unemployment Rate (%) (D6)", "national_u_rate (%) (D1)"
]

# Create a new dataframe with only the selected features
df_rfe_selected = Unemployment_Trend_df_encoded[rfe_selected]

# Save the new dataframe to a CSV file
df_rfe_selected.to_csv('RFE_UnemploymentRateDataset.csv', index=False)

print("Dataframe with selected features has been saved as 'RFE_UnemploymentRateDataset.csv'.")

Dataframe with selected features has been saved as 'RFE_UnemploymentRateDataset.csv'.

The target variable must be included during the model training process. The target variable (in this case, national_u_rate (%) (D1)) is the variable that we are trying to predict.

#### SelectKBest

In [ ]:
import pandas as pd

# List of selected features with the corrected format
selected_features = [
"Year",
"national_Employed persons ('000) (D7)_20–24",
"national_Employed persons ('000) (D7)_25–29",
"national_Employed persons ('000) (D7)_30–34",
"national_Employed persons ('000) (D7)_35–39",
"national_Employed persons ('000) (D7)_40–44",
"national_Employed persons ('000) (D7)_45–49",
"national_Employed persons ('000) (D7)_50–54",
"national_Employed persons ('000) (D7)_55–59",
"national_Employed persons ('000) (D7)_60–64",
"national_Labour force ('000) (D7)_15–19",
"national_Labour force ('000) (D7)_20–24",
"national_Labour force ('000) (D7)_25–29",
"national_Labour force ('000) (D7)_30–34",
"national_Labour force ('000) (D7)_35–39",
"national_Labour force ('000) (D7)_40–44",
"national_Labour force ('000) (D7)_45–49",
"national_Labour force ('000) (D7)_50–54",
"national_Labour force ('000) (D7)_55–59",
"national_Labour force ('000) (D7)_60–64",
"Female_Unemployment Rate (%) (D6)",
"Male_Unemployment Rate (%) (D6)",
"national_Employed persons ('000) (D3)_Not applicable",
"national_Employed persons ('000) (D3)_STPM or equivalent",
"national_Labour Force ('000) (D3)_Not applicable",
"national_Labour Force ('000) (D3)_STPM or equivalent",
"National GDP (RM Million) (D2)",
"national_lf ('000) (D1)",
"national_lf_employed ('000) (D1)",
"national_lf_outside ('000) (D1)",
"national_CPI (D4)",
"national_Employed persons ('000) (D3)_Degree",
"national_Employed persons ('000) (D3)_Diploma",
"national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent",
"national_Employed persons ('000) (D3)_Religious certificate",
"national_Employed persons ('000) (D3)_SPM or equivalent",
"national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent",
"national_Labour Force ('000) (D3)_Degree",
"national_Labour Force ('000) (D3)_Diploma",
"national_Labour Force ('000) (D3)_No certificate",
"national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent",
"national_Labour Force ('000) (D3)_Religious certificate",
"national_Labour Force ('000) (D3)_SPM or equivalent",
"national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent",
"national_Female_Unemployment Rate (%) (D6)",
"national_Male_Unemployment Rate (%) (D6)", "national_u_rate (%) (D1)"
]

# Create a new dataframe with only the selected features
df_selected = Unemployment_Trend_df_encoded[selected_features]

# Save the new dataframe to a CSV file
df_selected.to_csv('SelectKBest_UnemploymentRateDataset.csv', index=False)

print("Dataframe with selected features has been saved as 'SelectKBest_UnemploymentRateDataset.csv'.")

Dataframe with selected features has been saved as 'SelectKBest_UnemploymentRateDataset.csv'.

The target variable must be included during the model training process. The target variable (in this case, national_u_rate (%) (D1)) is the variable that we are trying to predict.

## Step 4: Model Selection, Training, Hyperparameter Tuning, and Evaluation (Team Member: Cynthia, PIC: Shu Hui+Adam)

In [ ]:
datasets={'CombinedFeatureSelection_UnemploymentRateDataset':pd.read_csv('/content/CombinedFeatureSelection_UnemploymentRateDataset.csv'),
          'PCA_UnemploymentRateDataset':pd.read_csv('/content/PCA_UnemploymentRateDataset.csv'),
          'RFE_UnemploymentRateDataset':pd.read_csv('/content/RFE_UnemploymentRateDataset.csv'),
          'SelectKBest_UnemploymentRateDataset':pd.read_csv('/content/SelectKBest_UnemploymentRateDataset.csv')}

In [ ]:
datasets['CombinedFeatureSelection_UnemploymentRateDataset'].shape

(563, 74)

In [ ]:
datasets['CombinedFeatureSelection_UnemploymentRateDataset'].head(5)

,Year,national_Employed persons ('000) (D7)_60–64,national_ep_ratio (%) (D1),national_Employed persons ('000) (D3)_STPM or equivalent,national_Employed persons ('000) (D3)_Not applicable,national_lf_employed ('000) (D1),national_Employed persons ('000) (D7)_45–49,national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent,national_Female_Unemployment Rate (%) (D6),national_Labour Force ('000) (D3)_STPM or equivalent,national_Employed persons ('000) (D7)_20–24,State_Negeri Sembilan,national_lf_outside ('000) (D1),national_Labour force ('000) (D7)_50–54,State_W.P. Kuala Lumpur,national_Labour Force ('000) (D3)_Religious certificate,national_gdp_growth (%) (D2),national_lf ('000) (D1),national_Labour Force ('000) (D3)_Certificate,national_Labour force ('000) (D7)_15–19,national_Labour Force ('000) (D3)_Not applicable,national_Employed persons ('000) (D7)_35–39,Labour Force ('000) (D3)_Not applicable,State_Pulau Pinang,national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent,Employed persons ('000) (D3)_Not applicable,national_Labour force ('000) (D7)_20–24,national_Labour force ('000) (D7)_40–44,State_Terengganu,national_Labour force ('000) (D7)_35–39,State_W.P. Putrajaya,national_Industrial Production Rate (%) (D5),national_Employed persons ('000) (D3)_Religious certificate,national_Labour force ('000) (D7)_25–29,national_Labour force ('000) (D7)_60–64,national_Employed persons ('000) (D7)_15–19,State_Sarawak,national_Labour force ('000) (D7)_45–49,national_Labour Force ('000) (D3)_Diploma,State_Perak,national_Labour force ('000) (D7)_30–34,national_IPI (D5),Labour Force ('000) (D3)_Religious certificate,national_Male_Unemployment Rate (%) (D6),Employed persons ('000) (D3)_Religious certificate,national_Labour Force ('000) (D3)_Degree,National GDP (RM Million) (D2),national_Employed persons ('000) (D3)_No certificate,State_Melaka,State_Sabah,State_Johor,national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent,national_Employed persons ('000) (D7)_55–59,national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent,national_Labour force ('000) (D7)_55–59,State_W.P. Labuan,Male_Unemployment Rate (%) (D6),national_Employed persons ('000) (D7)_50–54,national_Labour Force ('000) (D3)_SPM or equivalent,State_Pahang,national_Employed persons ('000) (D3)_Certificate,national_Employed persons ('000) (D7)_40–44,State_Kedah,national_CPI (D4),State_Perlis,national_Employed persons ('000) (D3)_SPM or equivalent,national_Employed persons ('000) (D3)_Diploma,Female_Unemployment Rate (%) (D6),State_Kelantan,national_Employed persons ('000) (D7)_25–29,national_Employed persons ('000) (D7)_30–34,national_Employed persons ('000) (D3)_Degree,national_Labour Force ('000) (D3)_No certificate,national_u_rate (%) (D1)
0,1982,138.9,62.7,49.8,821.8,5249.0,390.3,469.2,4.6,52.9,999.8,0,2944.6,316.5,0,7.9,8.7,5431.4,0.0,662.6,829.5,550.3,76.2,0,0.0,75.6,1062.3,511.6,0,555.3,0,5.5,7.9,871.9,140.5,582.9,0,393.2,138.0,0,718.4,105.5,1.8,2.7,1.8,93.8,62599.0,3052.0,0,0,0,502.4,196.4,0.0,199.1,0,2.2,314.0,671.0,0,0.0,507.4,1,116.0,0,619.7,137.0,6.5,0,856.1,712.9,91.1,3135.4,3.4
1,1982,138.9,62.7,49.8,821.8,5249.0,390.3,469.2,4.6,52.9,999.8,0,2944.6,316.5,0,7.9,8.7,5431.4,0.0,662.6,829.5,550.3,99.7,0,0.0,98.2,1062.3,511.6,0,555.3,0,5.5,7.9,871.9,140.5,582.9,0,393.2,138.0,0,718.4,105.5,0.7,2.7,0.7,93.8,62599.0,3052.0,0,0,0,502.4,196.4,0.0,199.1,0,3.9,314.0,671.0,0,0.0,507.4,0,116.0,0,619.7,137.0,6.0,1,856.1,712.9,91.1,3135.4,3.4
2,1982,138.9,62.7,49.8,821.8,5249.0,390.3,469.2,4.6,52.9,999.8,0,2944.6,316.5,0,7.9,8.7,5431.4,0.0,662.6,829.5,550.3,17.3,0,0.0,17.1,1062.3,511.6,0,555.3,0,5.5,7.9,871.9,140.5,582.9,0,393.2,138.0,0,718.4,105.5,0.2,2.7,0.2,93.8,62599.0,3052.0,1,0,0,502.4,196.4,0.0,199.1,0,3.0,314.0,671.0,0,0.0,507.4,0,116.0,0,619.7,137.0,5.7,0,856.1,712.9,91.1,3135.4,3.4
3,1982,138.9,62.7,49.8,821.8,5249.0,390.3,469.2,4.6,52.9,999.8,1,2944.6,316.5,0,7.9,8.7,5431.4,0.0,662.6,829.5,550.3,20.4,0,0.0,20.3,1062.3,511.6,0,555.3,0,5.5,7.9,871.9,140.5,582.9,0,393.2,138.0,0,718.4,105.5,0.3,2.7,0.3,93.8,62599.0,3052.0,0,0,0,502.4,196.4,0.0,199.1,0,2.4,314.0,671.0,0,0.0,507.4,0,116.0,0,619.7,137.0,3.9,0,856.1,712.9,91.1,3135.4,3.4
4,1982,138.9,62.7,49.8,821.8,5249.0,390.3,469.2,4.6,52.9,999.8,0,2944.6,316.5,0,7.9,8.7,5431.4,0.0,662.6,829.5,550.3,30.4,0,0.0,30.1,1062.3,511.6,0,555.3,0,5.5,7.9,871.9,140.5,582.9,0,393.2,138.0,0,718.4,105.5,0.4,2.7,0.4,93.8,62599.0,3052.0,0,0,0,502.4,196.4,0.0,199.1,0,2.3,314.0,671.0,1,0.0,507.4,0,116.0,0,619.7,137.0,5.7,0,856.1,712.9,91.1,3135.4,3.4

In [ ]:
datasets['PCA_UnemploymentRateDataset'].shape

(563, 26)

In [ ]:
datasets['PCA_UnemploymentRateDataset'].head(5)

,Year,national_ep_ratio (%) (D1),national_Employed persons ('000) (D7)_15–19,State_Sarawak,State_Perak,national_IPI (D5),Labour Force ('000) (D3)_Religious certificate,Employed persons ('000) (D3)_Religious certificate,State_Melaka,State_Negeri Sembilan,State_Sabah,State_W.P. Kuala Lumpur,State_Johor,national_gdp_growth (%) (D2),State_W.P. Labuan,State_Pahang,State_Kedah,Labour Force ('000) (D3)_Not applicable,State_Pulau Pinang,State_Perlis,Employed persons ('000) (D3)_Not applicable,State_Kelantan,State_Terengganu,State_W.P. Putrajaya,national_Industrial Production Rate (%) (D5),national_u_rate (%) (D1)
0,1982,62.7,582.9,0,0,105.5,1.8,1.8,0,0,0,0,0,8.7,0,0,1,76.2,0,0,75.6,0,0,0,5.5,3.4
1,1982,62.7,582.9,0,0,105.5,0.7,0.7,0,0,0,0,0,8.7,0,0,0,99.7,0,0,98.2,1,0,0,5.5,3.4
2,1982,62.7,582.9,0,0,105.5,0.2,0.2,1,0,0,0,0,8.7,0,0,0,17.3,0,0,17.1,0,0,0,5.5,3.4
3,1982,62.7,582.9,0,0,105.5,0.3,0.3,0,1,0,0,0,8.7,0,0,0,20.4,0,0,20.3,0,0,0,5.5,3.4
4,1982,62.7,582.9,0,0,105.5,0.4,0.4,0,0,0,0,0,8.7,0,1,0,30.4,0,0,30.1,0,0,0,5.5,3.4

In [ ]:
datasets['RFE_UnemploymentRateDataset'].shape

(563, 39)

In [ ]:
datasets['RFE_UnemploymentRateDataset'].head(5)

,Year,national_Employed persons ('000) (D7)_15–19,national_Employed persons ('000) (D7)_20–24,national_Employed persons ('000) (D7)_25–29,national_Employed persons ('000) (D7)_30–34,national_Employed persons ('000) (D7)_35–39,national_Employed persons ('000) (D7)_40–44,national_Employed persons ('000) (D7)_45–49,national_Employed persons ('000) (D7)_50–54,national_Employed persons ('000) (D7)_60–64,national_Labour force ('000) (D7)_15–19,national_Labour force ('000) (D7)_20–24,national_Labour force ('000) (D7)_25–29,national_Labour force ('000) (D7)_35–39,national_Labour force ('000) (D7)_40–44,national_Labour force ('000) (D7)_45–49,national_Labour force ('000) (D7)_60–64,national_CPI (D4),national_Inflation Rate (%) (D4),national_IPI (D5),national_Industrial Production Rate (%) (D5),national_Employed persons ('000) (D3)_Certificate,national_Employed persons ('000) (D3)_Degree,national_Employed persons ('000) (D3)_Diploma,national_Employed persons ('000) (D3)_Religious certificate,national_Employed persons ('000) (D3)_SPM or equivalent,national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent,national_Labour Force ('000) (D3)_Certificate,national_Labour Force ('000) (D3)_Degree,national_Labour Force ('000) (D3)_Diploma,national_Labour Force ('000) (D3)_No certificate,national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent,national_Labour Force ('000) (D3)_Religious certificate,national_Labour Force ('000) (D3)_SPM or equivalent,national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent,national_ep_ratio (%) (D1),national_Female_Unemployment Rate (%) (D6),national_Male_Unemployment Rate (%) (D6),national_u_rate (%) (D1)
0,1982,582.9,999.8,856.1,712.9,550.3,507.4,390.3,314.0,138.9,662.6,1062.3,871.9,555.3,511.6,393.2,140.5,116.0,5.7,105.5,5.5,0.0,91.1,137.0,7.9,619.7,0.0,0.0,93.8,138.0,3135.4,502.4,7.9,671.0,0.0,62.7,4.6,2.7,3.4
1,1982,582.9,999.8,856.1,712.9,550.3,507.4,390.3,314.0,138.9,662.6,1062.3,871.9,555.3,511.6,393.2,140.5,116.0,5.7,105.5,5.5,0.0,91.1,137.0,7.9,619.7,0.0,0.0,93.8,138.0,3135.4,502.4,7.9,671.0,0.0,62.7,4.6,2.7,3.4
2,1982,582.9,999.8,856.1,712.9,550.3,507.4,390.3,314.0,138.9,662.6,1062.3,871.9,555.3,511.6,393.2,140.5,116.0,5.7,105.5,5.5,0.0,91.1,137.0,7.9,619.7,0.0,0.0,93.8,138.0,3135.4,502.4,7.9,671.0,0.0,62.7,4.6,2.7,3.4
3,1982,582.9,999.8,856.1,712.9,550.3,507.4,390.3,314.0,138.9,662.6,1062.3,871.9,555.3,511.6,393.2,140.5,116.0,5.7,105.5,5.5,0.0,91.1,137.0,7.9,619.7,0.0,0.0,93.8,138.0,3135.4,502.4,7.9,671.0,0.0,62.7,4.6,2.7,3.4
4,1982,582.9,999.8,856.1,712.9,550.3,507.4,390.3,314.0,138.9,662.6,1062.3,871.9,555.3,511.6,393.2,140.5,116.0,5.7,105.5,5.5,0.0,91.1,137.0,7.9,619.7,0.0,0.0,93.8,138.0,3135.4,502.4,7.9,671.0,0.0,62.7,4.6,2.7,3.4

In [ ]:
datasets['SelectKBest_UnemploymentRateDataset'].shape

(563, 47)

In [ ]:
datasets['SelectKBest_UnemploymentRateDataset'].head()

,Year,national_Employed persons ('000) (D7)_20–24,national_Employed persons ('000) (D7)_25–29,national_Employed persons ('000) (D7)_30–34,national_Employed persons ('000) (D7)_35–39,national_Employed persons ('000) (D7)_40–44,national_Employed persons ('000) (D7)_45–49,national_Employed persons ('000) (D7)_50–54,national_Employed persons ('000) (D7)_55–59,national_Employed persons ('000) (D7)_60–64,national_Labour force ('000) (D7)_15–19,national_Labour force ('000) (D7)_20–24,national_Labour force ('000) (D7)_25–29,national_Labour force ('000) (D7)_30–34,national_Labour force ('000) (D7)_35–39,national_Labour force ('000) (D7)_40–44,national_Labour force ('000) (D7)_45–49,national_Labour force ('000) (D7)_50–54,national_Labour force ('000) (D7)_55–59,national_Labour force ('000) (D7)_60–64,Female_Unemployment Rate (%) (D6),Male_Unemployment Rate (%) (D6),national_Employed persons ('000) (D3)_Not applicable,national_Employed persons ('000) (D3)_STPM or equivalent,national_Labour Force ('000) (D3)_Not applicable,national_Labour Force ('000) (D3)_STPM or equivalent,National GDP (RM Million) (D2),national_lf ('000) (D1),national_lf_employed ('000) (D1),national_lf_outside ('000) (D1),national_CPI (D4),national_Employed persons ('000) (D3)_Degree,national_Employed persons ('000) (D3)_Diploma,national_Employed persons ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent,national_Employed persons ('000) (D3)_Religious certificate,national_Employed persons ('000) (D3)_SPM or equivalent,national_Employed persons ('000) (D3)_UPSR/UPSRA or equivalent,national_Labour Force ('000) (D3)_Degree,national_Labour Force ('000) (D3)_Diploma,national_Labour Force ('000) (D3)_No certificate,national_Labour Force ('000) (D3)_PT3/PMR/SRP/LCE/SRA or equivalent,national_Labour Force ('000) (D3)_Religious certificate,national_Labour Force ('000) (D3)_SPM or equivalent,national_Labour Force ('000) (D3)_UPSR/UPSRA or equivalent,national_Female_Unemployment Rate (%) (D6),national_Male_Unemployment Rate (%) (D6),national_u_rate (%) (D1)
0,1982,999.8,856.1,712.9,550.3,507.4,390.3,314.0,196.4,138.9,662.6,1062.3,871.9,718.4,555.3,511.6,393.2,316.5,199.1,140.5,6.5,2.2,821.8,49.8,829.5,52.9,62599.0,5431.4,5249.0,2944.6,116.0,91.1,137.0,469.2,7.9,619.7,0.0,93.8,138.0,3135.4,502.4,7.9,671.0,0.0,4.6,2.7,3.4
1,1982,999.8,856.1,712.9,550.3,507.4,390.3,314.0,196.4,138.9,662.6,1062.3,871.9,718.4,555.3,511.6,393.2,316.5,199.1,140.5,6.0,3.9,821.8,49.8,829.5,52.9,62599.0,5431.4,5249.0,2944.6,116.0,91.1,137.0,469.2,7.9,619.7,0.0,93.8,138.0,3135.4,502.4,7.9,671.0,0.0,4.6,2.7,3.4
2,1982,999.8,856.1,712.9,550.3,507.4,390.3,314.0,196.4,138.9,662.6,1062.3,871.9,718.4,555.3,511.6,393.2,316.5,199.1,140.5,5.7,3.0,821.8,49.8,829.5,52.9,62599.0,5431.4,5249.0,2944.6,116.0,91.1,137.0,469.2,7.9,619.7,0.0,93.8,138.0,3135.4,502.4,7.9,671.0,0.0,4.6,2.7,3.4
3,1982,999.8,856.1,712.9,550.3,507.4,390.3,314.0,196.4,138.9,662.6,1062.3,871.9,718.4,555.3,511.6,393.2,316.5,199.1,140.5,3.9,2.4,821.8,49.8,829.5,52.9,62599.0,5431.4,5249.0,2944.6,116.0,91.1,137.0,469.2,7.9,619.7,0.0,93.8,138.0,3135.4,502.4,7.9,671.0,0.0,4.6,2.7,3.4
4,1982,999.8,856.1,712.9,550.3,507.4,390.3,314.0,196.4,138.9,662.6,1062.3,871.9,718.4,555.3,511.6,393.2,316.5,199.1,140.5,5.7,2.3,821.8,49.8,829.5,52.9,62599.0,5431.4,5249.0,2944.6,116.0,91.1,137.0,469.2,7.9,619.7,0.0,93.8,138.0,3135.4,502.4,7.9,671.0,0.0,4.6,2.7,3.4

### Long Short-Term Memory (LSTM)

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import RandomizedSearchCV
from scikeras.wrappers import KerasRegressor
from tensorflow.keras.callbacks import EarlyStopping
import random

import warnings
warnings.filterwarnings("ignore")

In [ ]:
# Define function to create sequences
def create_sequences(features, target, time_step):

    np.random.seed(42)
    tf.random.set_seed(42)
    random.seed(42)

    sequences = []
    targets = []
    for i in range(len(features) - time_step):
        sequence = features[i:i + time_step]
        target_value = target[i + time_step]
        sequences.append(sequence)
        targets.append(target_value)
    return np.array(sequences), np.array(targets)

# Define function to create LSTM model
def create_lstm_model(units=50, dropout=0.3, activation='relu', input_shape=None):

    np.random.seed(42)
    tf.random.set_seed(42)
    random.seed(42)

    model = Sequential()
    model.add(LSTM(units, input_shape=input_shape))
    model.add(Dropout(dropout))
    model.add(Dense(1, activation=activation))
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

# Define hyperparameters to tune
param_grid = {
    'model__units': [50, 100],
    'model__dropout': [0.2, 0.3],
    'model__activation': ['relu'],
    'batch_size': [16, 32],
    'epochs': [10, 20]
}

# Create an early stopping callback
early_stopping = EarlyStopping(monitor='val_loss', patience=3, restore_best_weights=True)

In [ ]:
import os

# Set environment variable to disable multiprocessing in joblib
os.environ["JOBLIB_MULTIPROCESSING"] = "0"

In [ ]:
# Define the processing function
def process_dataset(name, df):

    np.random.seed(42)
    tf.random.set_seed(42)
    random.seed(42)

    # Extract features and target
    features = df.drop(columns=['national_u_rate (%) (D1)']).values
    target = df['national_u_rate (%) (D1)'].values

    # Define the time step for creating the sequences
    time_step = 5

    # Create sequences of features and target variable
    X, y = create_sequences(features, target, time_step)

    # Split the data sequentially
    split_ratio = 0.8
    train_size = int(len(X) * split_ratio)
    X_train, X_test = X[:train_size], X[train_size:]
    y_train, y_test = y[:train_size], y[train_size:]

    # Show the dimensions of train, test, X, and y
    print(f'Dataset: {name}')
    print(f'Train - X shape: {X_train.shape}, y shape: {y_train.shape}')
    print(f'Test - X shape: {X_test.shape}, y shape: {y_test.shape}')

    # Wrap the model with KerasRegressor
    input_shape = (X_train.shape[1], X_train.shape[2])
    model = KerasRegressor(model=create_lstm_model, verbose=0, input_shape=input_shape)

    # Perform randomized search for hyperparameter tuning
    random_search = RandomizedSearchCV(estimator=model, param_distributions=param_grid, n_iter=10, cv=3, n_jobs=-1, random_state=42)
    random_search.fit(X_train, y_train, callbacks=[early_stopping])

    # Predict on the test set
    y_pred = random_search.predict(X_test)

    # Calculate evaluation metrics
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    r_squared = r2_score(y_test, y_pred)

    # Print the best hyperparameters
    print("Best Hyperparameters:", random_search.best_params_)
    print("MAE:", mae)
    print("MSE: ",mse)
    print("RMSE:", rmse)
    print("R-squared:", r_squared)
    print('\n')

    # Return the results
    return {
        'Dataset': name,
        'Best Hyperparameters': random_search.best_params_,
        'MAE': mae,
        'MSE': mse,
        'RMSE': rmse,
        'R-Squared': r_squared
    }

In [ ]:
# Process each dataset and collect results
results = []
for name, df in datasets.items():
    result = process_dataset(name, df)
    results.append(result)

# Create a DataFrame to display the results
result_dataframe = pd.DataFrame(results, columns=['Dataset', 'Best Hyperparameters', 'MAE','MSE', 'RMSE', 'R-Squared'])
print(result_dataframe)

Dataset: CombinedFeatureSelection_UnemploymentRateDataset
Train - X shape: (446, 5, 73), y shape: (446,)
Test - X shape: (112, 5, 73), y shape: (112,)
Best Hyperparameters: {'model__units': 100, 'model__dropout': 0.2, 'model__activation': 'relu', 'epochs': 10, 'batch_size': 16}
MAE: 0.5141212395259313
MSE:  0.3055827589282747
RMSE: 0.5527954042213762
R-squared: -0.36371176570905783


Dataset: PCA_UnemploymentRateDataset
Train - X shape: (446, 5, 25), y shape: (446,)
Test - X shape: (112, 5, 25), y shape: (112,)
Best Hyperparameters: {'model__units': 100, 'model__dropout': 0.3, 'model__activation': 'relu', 'epochs': 20, 'batch_size': 32}
MAE: 0.5688555036272323
MSE:  0.3552067265287042
RMSE: 0.5959922201914252
R-squared: -0.585166630228279


Dataset: RFE_UnemploymentRateDataset
Train - X shape: (446, 5, 38), y shape: (446,)
Test - X shape: (112, 5, 38), y shape: (112,)

WARNING:tensorflow:5 out of the last 15 calls to <function TensorFlowTrainer.make_predict_function.<locals>.one_step_on_data_distributed at 0x7bd05e174430> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

Best Hyperparameters: {'model__units': 100, 'model__dropout': 0.3, 'model__activation': 'relu', 'epochs': 20, 'batch_size': 32}
MAE: 0.7378453944410596
MSE:  1.043894546173415
RMSE: 1.0217115768030698
R-squared: -3.658545788934183


Dataset: SelectKBest_UnemploymentRateDataset
Train - X shape: (446, 5, 46), y shape: (446,)
Test - X shape: (112, 5, 46), y shape: (112,)

WARNING:tensorflow:6 out of the last 16 calls to <function TensorFlowTrainer.make_predict_function.<locals>.one_step_on_data_distributed at 0x7bd05856dfc0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

Best Hyperparameters: {'model__units': 100, 'model__dropout': 0.2, 'model__activation': 'relu', 'epochs': 10, 'batch_size': 32}
MAE: 0.28675848415919714
MSE:  0.2355255668002243
RMSE: 0.48530976375942025
R-squared: -0.051070380073860555


                                            Dataset  \
0  CombinedFeatureSelection_UnemploymentRateDataset
1                       PCA_UnemploymentRateDataset
2                       RFE_UnemploymentRateDataset
3               SelectKBest_UnemploymentRateDataset

                                Best Hyperparameters  MAE  MSE  RMSE  \
0  {'model__units': 100, 'model__dropout': 0.2, '...  0.5  0.3   0.6
1  {'model__units': 100, 'model__dropout': 0.3, '...  0.6  0.4   0.6
2  {'model__units': 100, 'model__dropout': 0.3, '...  0.7  1.0   1.0
3  {'model__units': 100, 'model__dropout': 0.2, '...  0.3  0.2   0.5

   R-Squared
0       -0.4
1       -0.6
2       -3.7
3       -0.1

For the LSTM models, the best performance is observed with the **SelectKBest_UnemploymentRateDataset**. The evaluation metrics for this model indicate the lowest Mean Absolute Error (MAE), the lowest Root Mean Squared Error (RMSE), and the least negative R-squared value, which suggests it has relatively better performance compared to the other models.

**SelectKBest_UnemploymentRateDataset** with **hyperparameters ['model__units': 100, 'model__dropout': 0.3, 'model__activation': 'relu', 'epochs': 10, 'batch_size': 32]** has the best overall performance with the lowest MAE and RMSE and the highest (and least negative) R-squared value. This indicates that, among the models tested, it provides the most accurate and reliable predictions for unemployment rates.

### Random Forest Regressor

The Random Forest Regressor algorithm is not a distance-based model - it is a tree-based model. Each node in a Random Forest is not comparing feature values, it is simply splitting a sorted list that requires absolute values for branching. The algorithm is based on partitioning the data to make predictions, therefore, it does not require normalization.

In [ ]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV, TimeSeriesSplit, train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import matplotlib.pyplot as plt

# Define the hyperparameter grid for tuning
param_grid = {
    'n_estimators': [100, 200, 300],  # Number of trees in the forest
    'max_depth': [5, 10, 15, None],  # Maximum depth of the tree
    'min_samples_split': [2, 5, 10],  # Minimum number of samples required to split an internal node
    'min_samples_leaf': [1, 2, 4],  # Minimum number of samples required to be at a leaf node
    'max_features': ['sqrt', 'log2']  # Number of features to consider when looking for the best split
}

def process_dataset(name, df):
    # Extract features and target
    features = df.drop(columns=['national_u_rate (%) (D1)'])
    target = df['national_u_rate (%) (D1)']

    # Split the data into train and test sets
    X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, shuffle=False, random_state=42)

    # Initialize the Random Forest model
    rf = RandomForestRegressor(random_state=42)

    # Define time series cross-validation
    tscv = TimeSeriesSplit(n_splits=5)

    # Hyperparameter tuning using GridSearchCV
    grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=tscv, scoring='neg_mean_squared_error', verbose=1, n_jobs=-1)

    # Fit the grid search to the training data
    grid_search.fit(X_train, y_train)

    # Predict using the test set
    y_pred = grid_search.predict(X_test)

    # Calculate evaluation metrics
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    r_squared = r2_score(y_test, y_pred)

    # Print the best hyperparameters and metrics
    print(f'Dataset: {name}')
    print("Best Hyperparameters:", grid_search.best_params_)
    print("MAE:", mae)
    print("MSE:", mse)
    print("RMSE:", rmse)
    print("R-squared:", r_squared)
    print('\n')

    # Store results
    return {
        'Dataset': name,
        'Best Hyperparameters': grid_search.best_params_,
        'MAE': mae,
        'MSE': mse,
        'RMSE': rmse,
        'R-Squared': r_squared
    }

In [ ]:
# Process each dataset and collect results
results = []
for name, df in datasets.items():
    result = process_dataset(name, df)
    results.append(result)

# Create a DataFrame to display the results
result_dataframe = pd.DataFrame(results, columns=['Dataset', 'Best Hyperparameters', 'MAE','MSE', 'RMSE', 'R-Squared'])
print(result_dataframe)

Fitting 5 folds for each of 216 candidates, totalling 1080 fits
Dataset: CombinedFeatureSelection_UnemploymentRateDataset
Best Hyperparameters: {'max_depth': 5, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 100}
MAE: 0.2792632200008482
MSE: 0.1765309253943831
RMSE: 0.42015583465469464
R-squared: 0.2082572122763019


Fitting 5 folds for each of 216 candidates, totalling 1080 fits
Dataset: PCA_UnemploymentRateDataset
Best Hyperparameters: {'max_depth': 10, 'max_features': 'log2', 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 100}
MAE: 0.32961978118913
MSE: 0.28246700140877257
RMSE: 0.5314762472667734
R-squared: -0.2668670412037122


Fitting 5 folds for each of 216 candidates, totalling 1080 fits
Dataset: RFE_UnemploymentRateDataset
Best Hyperparameters: {'max_depth': 15, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 100}
MAE: 0.21776991150442412
MSE: 0.09470244247787563
RMSE: 0.3077376195363115
R-squared: 0.5752586939417803


Fitting 5 folds for each of 216 candidates, totalling 1080 fits
Dataset: SelectKBest_UnemploymentRateDataset
Best Hyperparameters: {'max_depth': 5, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 10, 'n_estimators': 200}
MAE: 0.25152130672282147
MSE: 0.12407155945281224
RMSE: 0.35223793017335914
R-squared: 0.4435379402281109


                                            Dataset  \
0  CombinedFeatureSelection_UnemploymentRateDataset
1                       PCA_UnemploymentRateDataset
2                       RFE_UnemploymentRateDataset
3               SelectKBest_UnemploymentRateDataset

                                Best Hyperparameters  MAE  MSE  RMSE  \
0  {'max_depth': 5, 'max_features': 'sqrt', 'min_...  0.3  0.2   0.4
1  {'max_depth': 10, 'max_features': 'log2', 'min...  0.3  0.3   0.5
2  {'max_depth': 15, 'max_features': 'sqrt', 'min...  0.2  0.1   0.3
3  {'max_depth': 5, 'max_features': 'sqrt', 'min_...  0.3  0.1   0.4

   R-Squared
0        0.2
1       -0.3
2        0.6
3        0.4

For the Random Forest Regression model, **RFE_UnemploymentRateDataset** with **hyperparameters {'max_depth': 15, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 100}** has the best overall performance with the lowest MAE and RMSE and the highest R-squared value. This indicates that, among the models tested, it provides the most accurate and reliable predictions for unemployment rates.

In [ ]:
# Best hyperparameters identified
best_rf_hyperparameters = {
    'max_depth': 15,
    'max_features': 'sqrt',
    'min_samples_leaf': 1,
    'min_samples_split': 5,
    'n_estimators': 100
}

# Train model with the best hyperparameters on the best dataset
best_df = datasets['RFE_UnemploymentRateDataset']
features = best_df.drop(columns=['national_u_rate (%) (D1)'])
target = best_df['national_u_rate (%) (D1)']

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42, shuffle=False)

# Initialize and train the Random Forest model with the best hyperparameters
rf = RandomForestRegressor(**best_rf_hyperparameters, random_state=42)
rf.fit(X_train, y_train)

# Generate predictions on the test data
predictions = rf.predict(X_test)

In [ ]:
# Create a DataFrame for the predictions and actual values
forecast_df = pd.DataFrame({'Predictions': predictions, 'Actual': y_test.values}, index=X_test['Year'])

In [ ]:
# Plot the forecast
plt.figure(figsize=(10, 8))
plt.plot(X_train['Year'], y_train, label='Train')
plt.plot(X_test['Year'], y_test, label='Test')
plt.plot(forecast_df.index, forecast_df["Predictions"], color='red', label='Forecast')
plt.fill_between(forecast_df.index, forecast_df["Predictions"], forecast_df["Actual"], color='pink', alpha=0.3)
plt.xlabel('Year')
plt.ylabel('national_u_rate (%) (D1)')
plt.title('Unemployment Rate (%) Forecast')
plt.legend()
plt.show()

In [ ]:
# Residual Analysis
residuals_rf = y_test - predictions
plt.figure(figsize=(10, 6))
plt.plot(X_test['Year'],residuals_rf)
plt.axhline(y=0, color='r', linestyle='--')
plt.xlabel('Index')
plt.ylabel('Residuals')
plt.title('Residual Analysis - Random Forest Regressor')
plt.show()

# Print the residuals statistics
print(f'Mean of Residuals: {np.mean(residuals_rf)}')
print(f'Standard Deviation of Residuals: {np.std(residuals_rf)}')

Mean of Residuals: 0.17189380530973375
Standard Deviation of Residuals: 0.2552547005914191

 This is a residual analysis for a Random Forest Regressor model, which shows the residuals (the differences between the actual and predicted values) over the years 2013 to 2020.

Trend Over Time:

From 2013 to around 2015, the residuals are relatively small and close to zero, suggesting that the model predictions are fairly accurate.
Between 2016 and 2020, there is a noticeable increase in the residuals, indicating that the model's predictions are becoming less accurate over time.
The significant rise in residuals around 2020 suggests that the model's predictive power decreased substantially during this period.

Mean and Standard Deviation:

The mean of the residuals is 0.1719, which indicates that on average, the predictions are slightly underestimating the actual values by 0.1719 units.
The standard deviation of the residuals is
0.2553, which provides a measure of the spread or variability in the residuals. A higher standard deviation indicates more variability and less reliability in the predictions.

### Autoregressive Integrated Moving Average (ARIMA)

In [ ]:
pip install pandas statsmodels matplotlib

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.10/dist-packages (0.14.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (1.11.4)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (24.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.5)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.6->statsmodels) (1.16.0)

In [ ]:
pip install pmdarima

Collecting pmdarima
  Downloading pmdarima-2.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 8.6 MB/s eta 0:00:00
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (1.4.2)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (3.0.10)
Requirement already satisfied: numpy>=1.21.2 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (1.25.2)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (2.0.3)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (1.5.0)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (1.11.4)
Requirement already satisfied: statsmodels>=0.13.2 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (0.14.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (2.0.7)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (67.7.2)
Requirement already satisfied: packaging>=17.1 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (24.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.19->pmdarima) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.19->pmdarima) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.19->pmdarima) (2024.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.22->pmdarima) (3.5.0)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.13.2->pmdarima) (0.5.6)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.6->statsmodels>=0.13.2->pmdarima) (1.16.0)
Installing collected packages: pmdarima
Successfully installed pmdarima-2.0.4

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from pmdarima import auto_arima
import warnings

warnings.filterwarnings("ignore")

# Load datasets
datasets = {
    'CombinedFeatureSelection_UnemploymentRateDataset': pd.read_csv('/content/CombinedFeatureSelection_UnemploymentRateDataset.csv', index_col='Year', parse_dates=True),
    'PCA_UnemploymentRateDataset': pd.read_csv('/content/PCA_UnemploymentRateDataset.csv', index_col='Year', parse_dates=True),
    'RFE_UnemploymentRateDataset': pd.read_csv('/content/RFE_UnemploymentRateDataset.csv', index_col='Year', parse_dates=True),
    'SelectKBest_UnemploymentRateDataset': pd.read_csv('/content/SelectKBest_UnemploymentRateDataset.csv', index_col='Year', parse_dates=True)
}

# Function to process each dataset
def process_dataset(name, df):
    df = df.dropna()
    target = df['national_u_rate (%) (D1)']

    # Ensure no negative unemployment rates
    target = target[target > 0]

    # Split the data into training and testing sets
    train_size = int(len(target) * 0.8)
    train, test = target.iloc[:train_size], target.iloc[train_size:]
    train_index, test_index = df.index[:train_size], df.index[train_size:]

    # Automatically find the best ARIMA parameters
    stepwise_fit = auto_arima(train, start_p=0, start_q=0, max_p=5, max_q=5, seasonal=False, stepwise=True, trace=False)

    # Summary of the model
    print(f'{name} - Best ARIMA Order: {stepwise_fit.order}')

    # Fit the selected model
    best_model = ARIMA(train, order=stepwise_fit.order)
    best_model_fit = best_model.fit()

    # Forecasting future values
    n_periods = len(test)
    forecast = best_model_fit.get_forecast(steps=n_periods)
    forecast_df = forecast.conf_int(alpha=0.05)
    forecast_df["Predictions"] = best_model_fit.predict(start=forecast_df.index[0], end=forecast_df.index[-1])
    forecast_df.index = test_index

    # Plot the forecast
    plt.figure(figsize=(10, 5))
    plt.plot(train_index, train, label='Train')
    plt.plot(test_index, test, label='Test')
    plt.plot(forecast_df.index, forecast_df["Predictions"], color='red', label='Forecast')
    plt.fill_between(forecast_df.index, forecast_df.iloc[:, 0], forecast_df.iloc[:, 1], color='pink', alpha=0.3)
    plt.xlabel('Year')
    plt.ylabel('national_u_rate (%) (D1)')
    plt.title(f'{name} - Unemployment Rate Forecast')
    plt.legend()
    plt.show()

    # Evaluate the model
    mae = mean_absolute_error(test, forecast_df["Predictions"])
    mse = mean_squared_error(test, forecast_df["Predictions"])
    rmse = np.sqrt(mse)
    r_squared = r2_score(test, forecast_df["Predictions"])

    # Print the evaluation metrics
    print(f'{name} - MAE: {mae}, MSE: {mse}, RMSE: {rmse}, R-squared: {r_squared}')

    # Return the results
    return {
        'Dataset': name,
        'Best ARIMA Order': stepwise_fit.order,
        'MAE': mae,
        'MSE': mse,
        'RMSE': rmse,
        'R-Squared': r_squared
    }

# Process each dataset and collect results
results = []
for name, df in datasets.items():
    result = process_dataset(name, df)
    results.append(result)

# Create a DataFrame to display the results
result_dataframe = pd.DataFrame(results, columns=['Dataset', 'Best ARIMA Order', 'MAE','MSE', 'RMSE', 'R-Squared'])
print(result_dataframe)

CombinedFeatureSelection_UnemploymentRateDataset - Best ARIMA Order: (0, 1, 0)

CombinedFeatureSelection_UnemploymentRateDataset - MAE: 0.36814159292035387, MSE: 0.3199999999999999, RMSE: 0.5656854249492379, R-squared: -0.4352028773743952
PCA_UnemploymentRateDataset - Best ARIMA Order: (0, 1, 0)

PCA_UnemploymentRateDataset - MAE: 0.36814159292035387, MSE: 0.3199999999999999, RMSE: 0.5656854249492379, R-squared: -0.4352028773743952
RFE_UnemploymentRateDataset - Best ARIMA Order: (0, 1, 0)

RFE_UnemploymentRateDataset - MAE: 0.36814159292035387, MSE: 0.3199999999999999, RMSE: 0.5656854249492379, R-squared: -0.4352028773743952
SelectKBest_UnemploymentRateDataset - Best ARIMA Order: (0, 1, 0)

SelectKBest_UnemploymentRateDataset - MAE: 0.36814159292035387, MSE: 0.3199999999999999, RMSE: 0.5656854249492379, R-squared: -0.4352028773743952
                                            Dataset Best ARIMA Order  MAE  \
0  CombinedFeatureSelection_UnemploymentRateDataset        (0, 1, 0)  0.4
1                       PCA_UnemploymentRateDataset        (0, 1, 0)  0.4
2                       RFE_UnemploymentRateDataset        (0, 1, 0)  0.4
3               SelectKBest_UnemploymentRateDataset        (0, 1, 0)  0.4

   MSE  RMSE  R-Squared
0  0.3   0.6       -0.4
1  0.3   0.6       -0.4
2  0.3   0.6       -0.4
3  0.3   0.6       -0.4

For the models using the CombinedFeatureSelection, PCA, RFE, and SelectKBest datasets, all have identical metrics:

MAE: 0.36814159292035387

RMSE: 0.5656854249492379

R-squared: -0.4352028773743952

Given that all models have the same MAE, RMSE, and R-squared values, we cannot determine a "best" model based on these metrics alone, as they all perform equally.

###  Linear Regression

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import matplotlib.pyplot as plt

In [ ]:
# Load datasets
datasets = {
    'CombinedFeatureSelection_UnemploymentRateDataset': pd.read_csv('/content/CombinedFeatureSelection_UnemploymentRateDataset.csv'),
    'PCA_UnemploymentRateDataset': pd.read_csv('/content/PCA_UnemploymentRateDataset.csv'),
    'RFE_UnemploymentRateDataset': pd.read_csv('/content/RFE_UnemploymentRateDataset.csv'),
    'SelectKBest_UnemploymentRateDataset': pd.read_csv('/content/SelectKBest_UnemploymentRateDataset.csv')
}

In [ ]:
# Function to process each dataset
def process_dataset(name, df):
    # Define features and target variable
    X = df.drop(['Year','national_u_rate (%) (D1)'], axis=1)  # Features
    y = df['national_u_rate (%) (D1)']  # Target variable
    Year=df['Year']

    # Feature scaling
    scaler = StandardScaler()
    X_scaled = scaler.fit_transform(X)

    # Convert scaled data back to DataFrame to retain indices
    X_scaled_df = pd.DataFrame(X_scaled, index=Year, columns=X.columns)

    # Split data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X_scaled_df, y, test_size=0.2, random_state=42,shuffle=False)

    # Create and train the linear regression model
    model = LinearRegression()
    model.fit(X_train, y_train)

    # Cross-validation scores
    cv_scores = cross_val_score(model, X_train, y_train, cv=5, scoring='r2')
    print(f'{name} - Cross-Validation R2 Scores: {cv_scores}')
    print(f'{name} - Mean Cross-Validation R2 Score: {np.mean(cv_scores)}')

    # Evaluate the model
    y_pred = model.predict(X_test)
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    r_squared = r2_score(y_test, y_pred)

    print(f'Dataset: {name}')
    print("MAE: ", mae)
    print("MSE: ", mse)
    print("RMSE: ", rmse)
    print("R-squared: ", r_squared)
    print('\n')

    # Store results
    return {
        'Dataset': name,
        'MAE': mae,
        'MSE': mse,
        'RMSE': rmse,
        'R-Squared': r_squared,
        'CV R-Squared': np.mean(cv_scores)
    }

In [ ]:
# Process each dataset and collect results
results = []
for name, df in datasets.items():
    result = process_dataset(name, df)
    results.append(result)

# Create a DataFrame to display the results
result_dataframe = pd.DataFrame(results, columns=['Dataset', 'MAE', 'MSE', 'RMSE', 'R-Squared', 'CV R-Squared'])
result_dataframe

CombinedFeatureSelection_UnemploymentRateDataset - Cross-Validation R2 Scores: [ 0.99709384  0.97095132  0.93444365 -0.95132867 -3.30671581]
CombinedFeatureSelection_UnemploymentRateDataset - Mean Cross-Validation R2 Score: -0.2711111348232222
Dataset: CombinedFeatureSelection_UnemploymentRateDataset
MAE:  0.29302376464082225
MSE:  0.26596404770813664
RMSE:  0.515717022899319
R-squared:  -0.19285114546518356


PCA_UnemploymentRateDataset - Cross-Validation R2 Scores: [  -0.14336592    0.29106003   -9.56247835  -17.74645924 -122.0769677 ]
PCA_UnemploymentRateDataset - Mean Cross-Validation R2 Score: -29.847642235793302
Dataset: PCA_UnemploymentRateDataset
MAE:  2.9968864106392967
MSE:  9.597805648247121
RMSE:  3.098032544736598
R-squared:  -42.046244633889046


RFE_UnemploymentRateDataset - Cross-Validation R2 Scores: [  0.98655645   0.9856713    0.95600478  -0.74513145 -17.17440976]
RFE_UnemploymentRateDataset - Mean Cross-Validation R2 Score: -2.9982617366598237
Dataset: RFE_UnemploymentRateDataset
MAE:  0.7880609341711546
MSE:  0.7368760960982824
RMSE:  0.8584148741129096
R-squared:  -2.304895916839583


SelectKBest_UnemploymentRateDataset - Cross-Validation R2 Scores: [ 0.99581253  0.9740397   0.7875928  -0.44651325 -1.88807276]
SelectKBest_UnemploymentRateDataset - Mean Cross-Validation R2 Score: 0.08457180542201685
Dataset: SelectKBest_UnemploymentRateDataset
MAE:  0.35854454898556487
MSE:  0.5072831183809428
RMSE:  0.7122381051172022
R-squared:  -1.2751693473243289

,Dataset,MAE,MSE,RMSE,R-Squared,CV R-Squared
0,CombinedFeatureSelection_UnemploymentRateDataset,0.3,0.3,0.5,-0.2,-0.3
1,PCA_UnemploymentRateDataset,3.0,9.6,3.1,-42.0,-29.8
2,RFE_UnemploymentRateDataset,0.8,0.7,0.9,-2.3,-3.0
3,SelectKBest_UnemploymentRateDataset,0.4,0.5,0.7,-1.3,0.1

For the Linear Regression model, CombinedFeatureSelection_UnemploymentRateDataset has the best overall performance with the lowest MAE and RMSE and the least negative R-squared value. This indicates that it provides the most accurate and reliable predictions for unemployment rates among the datasets tested.

In [ ]:
# Train model with the best overall performance dataset

# Define X and y
best_df = datasets['CombinedFeatureSelection_UnemploymentRateDataset']
X = best_df.drop(['Year','national_u_rate (%) (D1)'], axis=1)  # Features
y = best_df['national_u_rate (%) (D1)']  # Target variable
Year=df['Year']

# Feature scaling
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Convert scaled data back to DataFrame to retain indices
X_scaled_df = pd.DataFrame(X_scaled, index=Year, columns=X.columns)

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled_df, y, test_size=0.2, random_state=42, shuffle=False)

# Create and train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Generate predictions on the test data
predictions = model.predict(X_test)

In [ ]:
# Use the index from y_test (which retains the original DataFrame's index)
forecast_df = pd.DataFrame({'Predictions': predictions, 'Actual': y_test.values}, index=X_test.index)

In [ ]:
# Plot the forecast
plt.figure(figsize=(10, 8))
plt.plot(X_train.index, y_train, label='Train')
plt.plot(X_test.index, y_test, label='Test')
plt.plot(forecast_df.index, forecast_df["Predictions"], color='red', label='Forecast')
plt.fill_between(forecast_df.index, forecast_df["Predictions"], forecast_df["Actual"], color='pink', alpha=0.3)
plt.xlabel('Year')
plt.ylabel('national_u_rate (%) (D1)')
plt.title('Unemployment Rate (%) Forecast')
plt.legend()
plt.show()

In [ ]:
# Print evaluation metrics
mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, predictions)

print(f'Mean Absolute Error (MAE): {mae}')
print(f'Mean Squared Error (MSE): {mse}')
print(f'Root Mean Squared Error (RMSE): {rmse}')
print(f'R-squared (R²): {r2}')

Mean Absolute Error (MAE): 0.29302376464082225
Mean Squared Error (MSE): 0.26596404770813664
Root Mean Squared Error (RMSE): 0.515717022899319
R-squared (R²): -0.19285114546518356

Added residual analysis to check for patterns in the residuals.

In [ ]:
# Residual Analysis
residuals_lr = y_test - predictions
plt.figure(figsize=(10, 6))
plt.plot(X_test.index,residuals_lr)
plt.axhline(y=0, color='r', linestyle='--')
plt.xlabel('Index')
plt.ylabel('Residuals')
plt.title('Residual Analysis - Linear Regression')
plt.show()

In [ ]:
# Print the residuals statistics
print(f'Mean of Residuals: {np.mean(residuals_lr)}')
print(f'Standard Deviation of Residuals: {np.std(residuals_lr)}')

Mean of Residuals: -0.28858209020444325
Standard Deviation of Residuals: 0.42741598580466217

Trend Over Time:

From 2013 to 2015, the residuals are close to zero, suggesting that the model predictions are relatively accurate during this period.
From 2015 onwards, the residuals start to become more negative, indicating that the model's predictions are increasingly overestimating the actual values.
There is a noticeable sharp decline in the residuals around 2020, suggesting a significant overprediction by the model for that year.
Mean and Standard Deviation:

The mean of the residuals is -0.2598, which indicates that on average, the model's predictions are overestimating the actual values by 0.2598 units.
The standard deviation of the residuals is 0.4101, which provides a measure of the spread or variability in the residuals. A higher standard deviation indicates more variability and less reliability in the predictions.

### GBM (Gradient Boosting Machines)

In [ ]:
pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from xgboost) (1.25.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from xgboost) (1.11.4)

In [ ]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [ ]:
# Load datasets
datasets = {
    'CombinedFeatureSelection_UnemploymentRateDataset': pd.read_csv('CombinedFeatureSelection_UnemploymentRateDataset.csv'),
    'PCA_UnemploymentRateDataset': pd.read_csv('PCA_UnemploymentRateDataset.csv'),
    'RFE_UnemploymentRateDataset': pd.read_csv('RFE_UnemploymentRateDataset.csv'),
    'SelectKBest_UnemploymentRateDataset': pd.read_csv('SelectKBest_UnemploymentRateDataset.csv')
}

In [ ]:
# Define the function to process each dataset
def process_dataset(name, df):
    # Define features and target variable
    X = df.drop(['Year','national_u_rate (%) (D1)'], axis=1)  # Features
    y = df['national_u_rate (%) (D1)']  # Target variable
    Year=df['Year']
    # Feature scaling
    scaler = StandardScaler()
    X_scaled = scaler.fit_transform(X)

    # Convert scaled data back to DataFrame to retain indices
    X_scaled_df = pd.DataFrame(X_scaled, index=Year, columns=X.columns)

    # Split data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X_scaled_df, y, test_size=0.2, random_state=42,shuffle=False)

    # Create an XGBoost regressor
    model = xgb.XGBRegressor(random_state=42)

    # Define a parameter grid to search
    param_grid = {
        'n_estimators': [100, 200, 300, 400, 500],
        'max_depth': [3, 5, 7, 9],
        'learning_rate': [0.01, 0.05, 0.1, 0.2],
        'subsample': [0.6, 0.7, 0.8, 0.9, 1.0],
        'colsample_bytree': [0.6, 0.7, 0.8, 0.9, 1.0],
        'gamma': [0, 0.1, 0.2, 0.3],
        'reg_alpha': [0, 0.01, 0.05, 0.1],
        'reg_lambda': [1, 1.5, 2, 3]
    }

    # Define time series cross-validation
    tscv = TimeSeriesSplit(n_splits=5)

    # Perform RandomizedSearchCV
    random_search = RandomizedSearchCV(estimator=model, param_distributions=param_grid, n_iter=100, cv=tscv, scoring='neg_mean_squared_error', random_state=42, n_jobs=-1)
    random_search.fit(X_train, y_train)

    # Get the best parameters and the best score
    best_params = random_search.best_params_
    best_score = -random_search.best_score_

    print(f'{name} - Best Parameters: {best_params}')
    print(f'{name} - Best Score (MSE): {best_score}')

    # Use the best parameters to train the final model
    best_model = xgb.XGBRegressor(**best_params)
    best_model.fit(X_train, y_train)

    # Make predictions
    predictions = best_model.predict(X_test)

    # Evaluate the final model
    mae = mean_absolute_error(y_test, predictions)
    mse = mean_squared_error(y_test, predictions)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_test, predictions)

    print(f'{name} - Mean Absolute Error (MAE): {mae}')
    print(f'{name} - Mean Squared Error (MSE): {mse}')
    print(f'{name} - Root Mean Squared Error (RMSE): {rmse}')
    print(f'{name} - R-squared (R²): {r2}')
    print('\n')

    # Store results
    return {
        'Dataset': name,
        'Best Parameters': best_params,
        'MAE': mae,
        'MSE': mse,
        'RMSE': rmse,
        'R-Squared': r2
    }

In [ ]:
# Process each dataset and collect results
results = []
for name, df in datasets.items():
    result = process_dataset(name, df)
    results.append(result)

# Create a DataFrame to display the results
result_dataframe = pd.DataFrame(results, columns=['Dataset', 'Best Parameters', 'MAE', 'MSE', 'RMSE', 'R-Squared'])
print(result_dataframe)

# Find the dataset with the highest R-squared score
best_gbm_dataset = result_dataframe.loc[result_dataframe['R-Squared'].idxmax()]['Dataset']
best_gbm_params = result_dataframe.loc[result_dataframe['R-Squared'].idxmax()]['Best Parameters']

CombinedFeatureSelection_UnemploymentRateDataset - Best Parameters: {'subsample': 0.6, 'reg_lambda': 1, 'reg_alpha': 0, 'n_estimators': 500, 'max_depth': 5, 'learning_rate': 0.1, 'gamma': 0.1, 'colsample_bytree': 0.7}
CombinedFeatureSelection_UnemploymentRateDataset - Best Score (MSE): 0.629575426399449
CombinedFeatureSelection_UnemploymentRateDataset - Mean Absolute Error (MAE): 0.12357048777352392
CombinedFeatureSelection_UnemploymentRateDataset - Mean Squared Error (MSE): 0.026134506168519346
CombinedFeatureSelection_UnemploymentRateDataset - Root Mean Squared Error (RMSE): 0.1616617028504876
CombinedFeatureSelection_UnemploymentRateDataset - R-squared (R²): 0.8827865048380692


PCA_UnemploymentRateDataset - Best Parameters: {'subsample': 0.9, 'reg_lambda': 3, 'reg_alpha': 0.01, 'n_estimators': 100, 'max_depth': 3, 'learning_rate': 0.1, 'gamma': 0, 'colsample_bytree': 0.9}
PCA_UnemploymentRateDataset - Best Score (MSE): 1.174262857815739
PCA_UnemploymentRateDataset - Mean Absolute Error (MAE): 0.5271532383640255
PCA_UnemploymentRateDataset - Mean Squared Error (MSE): 0.4769933534763777
PCA_UnemploymentRateDataset - Root Mean Squared Error (RMSE): 0.6906470542008977
PCA_UnemploymentRateDataset - R-squared (R²): -1.1393194793679986


RFE_UnemploymentRateDataset - Best Parameters: {'subsample': 0.6, 'reg_lambda': 1, 'reg_alpha': 0, 'n_estimators': 500, 'max_depth': 5, 'learning_rate': 0.1, 'gamma': 0.1, 'colsample_bytree': 0.7}
RFE_UnemploymentRateDataset - Best Score (MSE): 1.1530582494122457
RFE_UnemploymentRateDataset - Mean Absolute Error (MAE): 0.12368675839584484
RFE_UnemploymentRateDataset - Mean Squared Error (MSE): 0.041961908327224406
RFE_UnemploymentRateDataset - Root Mean Squared Error (RMSE): 0.20484606007249542
RFE_UnemploymentRateDataset - R-squared (R²): 0.8118004638395215


SelectKBest_UnemploymentRateDataset - Best Parameters: {'subsample': 0.6, 'reg_lambda': 3, 'reg_alpha': 0.1, 'n_estimators': 200, 'max_depth': 7, 'learning_rate': 0.01, 'gamma': 0, 'colsample_bytree': 1.0}
SelectKBest_UnemploymentRateDataset - Best Score (MSE): 0.9231235127195065
SelectKBest_UnemploymentRateDataset - Mean Absolute Error (MAE): 0.20060844758970553
SelectKBest_UnemploymentRateDataset - Mean Squared Error (MSE): 0.08965012419128664
SelectKBest_UnemploymentRateDataset - Root Mean Squared Error (RMSE): 0.2994163058206527
SelectKBest_UnemploymentRateDataset - R-squared (R²): 0.5979183868865422


                                            Dataset  \
0  CombinedFeatureSelection_UnemploymentRateDataset
1                       PCA_UnemploymentRateDataset
2                       RFE_UnemploymentRateDataset
3               SelectKBest_UnemploymentRateDataset

                                     Best Parameters  MAE  MSE  RMSE  \
0  {'subsample': 0.6, 'reg_lambda': 1, 'reg_alpha...  0.1  0.0   0.2
1  {'subsample': 0.9, 'reg_lambda': 3, 'reg_alpha...  0.5  0.5   0.7
2  {'subsample': 0.6, 'reg_lambda': 1, 'reg_alpha...  0.1  0.0   0.2
3  {'subsample': 0.6, 'reg_lambda': 3, 'reg_alpha...  0.2  0.1   0.3

   R-Squared
0        0.9
1       -1.1
2        0.8
3        0.6

For the GBM model, CombinedFeatureSelection_UnemploymentRateDataset with hyperparameters {'subsample': 0.6, 'reg_lambda': 1, 'reg_alpha': 0, 'n_estimators': 500, 'max_depth': 5, 'learning_rate': 0.1, 'gamma': 0.1, 'colsample_bytree': 0.7} has the best overall performance with the lowest MAE and RMSE and the highest R-squared value.

In [ ]:
# Train the model with the best overall performance dataset
best_df = datasets[best_gbm_dataset]
X = best_df.drop(['Year','national_u_rate (%) (D1)'], axis=1)  # Features
y = best_df['national_u_rate (%) (D1)']  # Target variable
Year=df['Year']

# Feature scaling
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Convert scaled data back to DataFrame to retain indices
X_scaled_df = pd.DataFrame(X_scaled, index=Year, columns=X.columns)

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled_df, y, test_size=0.2, random_state=42, shuffle=False)

# Initialize and train the GBM model with the best hyperparameters
best_model = xgb.XGBRegressor(**best_gbm_params)
best_model.fit(X_train, y_train)

# Generate predictions on the test data
predictions = best_model.predict(X_test)

# Create a DataFrame for the predictions and actual values
forecast_df = pd.DataFrame({'Predictions': predictions, 'Actual': y_test.values}, index=X_test.index)

In [ ]:
# Plot the forecast
plt.figure(figsize=(10, 8))
plt.plot(X_train.index, y_train, label='Train')
plt.plot(X_test.index, y_test, label='Test')
plt.plot(forecast_df.index, forecast_df["Predictions"], color='red', label='Forecast')
plt.fill_between(forecast_df.index, forecast_df["Predictions"], forecast_df["Actual"], color='pink', alpha=0.3)
plt.xlabel('Year')
plt.ylabel('national_u_rate (%) (D1)')
plt.title('Unemployment Rate (%) Forecast - GBM')
plt.legend()
plt.show()

In [ ]:
# Residual Analysis
residuals_gbm = y_test - predictions
plt.figure(figsize=(10, 6))
plt.plot(X_test.index,residuals_gbm)
plt.axhline(y=0, color='r', linestyle='--')
plt.xlabel('Index')

plt.ylabel('Residuals')
plt.title('Residual Analysis - GBM')
plt.show()

# Print the residuals statistics
print(f'Mean of Residuals: {np.mean(residuals_gbm)}')
print(f'Standard Deviation of Residuals: {np.std(residuals_gbm)}')

Mean of Residuals: -0.06494360054488739
Standard Deviation of Residuals: 0.1480433548552094

Trend Over Time:

From 2013 to around 2015, the residuals fluctuate around zero but remain relatively close, suggesting the model predictions are fairly accurate.
From 2015 to 2017, there is a significant negative spike, indicating that the model overpredicted the values during this period.
The residuals then rise above zero again in 2018, indicating an underprediction, and again dip below zero towards 2020, showing another period of overprediction.

Mean and Standard Deviation:

The mean of the residuals is -0.0649, which indicates that on average, the model's predictions are slightly overestimating the actual values by 0.0649 units.
The standard deviation of the residuals is 0.1480, which provides a measure of the spread or variability in the residuals. A lower standard deviation indicates that the residuals are closer to the mean, suggesting more reliable predictions.

## Choosing The Best Feature Selection Method among The Feature Selection Methods

The best dataset is the Combined All Feature Selection Methods, where they combined all the features from PCA, RFE and SelectKBest. This is because the performance is good in most models.

## Choosing The Best Model among The Five Models

Given the metrics, the GBM model with the CombinedFeatureSelection_UnemploymentRateDataset demonstrates the best overall performance. It has the lowest MAE and RMSE, and the highest (and positive) R-squared value, indicating it makes the most accurate predictions with the least error and best explains the variance in the unemployment rate data.

For the GBM model, CombinedFeatureSelection_UnemploymentRateDataset with hyperparameters {'subsample': 0.6, 'reg_lambda': 1, 'reg_alpha': 0, 'n_estimators': 500, 'max_depth': 5, 'learning_rate': 0.1, 'gamma': 0.1, 'colsample_bytree': 0.7} has the best overall performance with the lowest MAE and RMSE and the highest R-squared value.

Converting ipynb to PDF

In [ ]:
!wget -nc https://raw.githubusercontent.com/brpy/colab-pdf/master/colab_pdf.py
from colab_pdf import colab_pdf
colab_pdf('Actual_Output_WIA1006_GroupAssignment_Group_35.ipynb')

File ‘colab_pdf.py’ already there; not retrieving.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

E: Unable to locate package texlive-generic-recommended
[NbConvertApp] WARNING | pattern '$notebookpath$file_name' matched no files
This application is used to convert notebook files (*.ipynb)
        to various other formats.

        WARNING: THE COMMANDLINE INTERFACE MAY CHANGE IN FUTURE RELEASES.

Options
=======
The options below are convenience aliases to configurable class-options,
as listed in the "Equivalent to" description-line of the aliases.
To see all configurable class-options for some <cmd>, use:
    <cmd> --help-all

--debug
    set log level to logging.DEBUG (maximize logging output)
    Equivalent to: [--Application.log_level=10]
--show-config
    Show the application's configuration (human-readable format)
    Equivalent to: [--Application.show_config=True]
--show-config-json
    Show the application's configuration (json format)
    Equivalent to: [--Application.show_config_json=True]
--generate-config
    generate default config file
    Equivalent to: [--JupyterApp.generate_config=True]
-y
    Answer yes to any questions instead of prompting.
    Equivalent to: [--JupyterApp.answer_yes=True]
--execute
    Execute the notebook prior to export.
    Equivalent to: [--ExecutePreprocessor.enabled=True]
--allow-errors
    Continue notebook execution even if one of the cells throws an error and include the error message in the cell output (the default behaviour is to abort conversion). This flag is only relevant if '--execute' was specified, too.
    Equivalent to: [--ExecutePreprocessor.allow_errors=True]
--stdin
    read a single notebook file from stdin. Write the resulting notebook with default basename 'notebook.*'
    Equivalent to: [--NbConvertApp.from_stdin=True]
--stdout
    Write notebook output to stdout instead of files.
    Equivalent to: [--NbConvertApp.writer_class=StdoutWriter]
--inplace
    Run nbconvert in place, overwriting the existing notebook (only
            relevant when converting to notebook format)
    Equivalent to: [--NbConvertApp.use_output_suffix=False --NbConvertApp.export_format=notebook --FilesWriter.build_directory=]
--clear-output
    Clear output of current file and save in place,
            overwriting the existing notebook.
    Equivalent to: [--NbConvertApp.use_output_suffix=False --NbConvertApp.export_format=notebook --FilesWriter.build_directory= --ClearOutputPreprocessor.enabled=True]
--no-prompt
    Exclude input and output prompts from converted document.
    Equivalent to: [--TemplateExporter.exclude_input_prompt=True --TemplateExporter.exclude_output_prompt=True]
--no-input
    Exclude input cells and output prompts from converted document.
            This mode is ideal for generating code-free reports.
    Equivalent to: [--TemplateExporter.exclude_output_prompt=True --TemplateExporter.exclude_input=True --TemplateExporter.exclude_input_prompt=True]
--allow-chromium-download
    Whether to allow downloading chromium if no suitable version is found on the system.
    Equivalent to: [--WebPDFExporter.allow_chromium_download=True]
--disable-chromium-sandbox
    Disable chromium security sandbox when converting to PDF..
    Equivalent to: [--WebPDFExporter.disable_sandbox=True]
--show-input
    Shows code input. This flag is only useful for dejavu users.
    Equivalent to: [--TemplateExporter.exclude_input=False]
--embed-images
    Embed the images as base64 dataurls in the output. This flag is only useful for the HTML/WebPDF/Slides exports.
    Equivalent to: [--HTMLExporter.embed_images=True]
--sanitize-html
    Whether the HTML in Markdown cells and cell outputs should be sanitized..
    Equivalent to: [--HTMLExporter.sanitize_html=True]
--log-level=<Enum>
    Set the log level by value or name.
    Choices: any of [0, 10, 20, 30, 40, 50, 'DEBUG', 'INFO', 'WARN', 'ERROR', 'CRITICAL']
    Default: 30
    Equivalent to: [--Application.log_level]
--config=<Unicode>
    Full path of a config file.
    Default: ''
    Equivalent to: [--JupyterApp.config_file]
--to=<Unicode>
    The export format to be used, either one of the built-in formats
            ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'rst', 'script', 'slides', 'webpdf']
            or a dotted object name that represents the import path for an
            ``Exporter`` class
    Default: ''
    Equivalent to: [--NbConvertApp.export_format]
--template=<Unicode>
    Name of the template to use
    Default: ''
    Equivalent to: [--TemplateExporter.template_name]
--template-file=<Unicode>
    Name of the template file to use
    Default: None
    Equivalent to: [--TemplateExporter.template_file]
--theme=<Unicode>
    Template specific theme(e.g. the name of a JupyterLab CSS theme distributed
    as prebuilt extension for the lab template)
    Default: 'light'
    Equivalent to: [--HTMLExporter.theme]
--sanitize_html=<Bool>
    Whether the HTML in Markdown cells and cell outputs should be sanitized.This
    should be set to True by nbviewer or similar tools.
    Default: False
    Equivalent to: [--HTMLExporter.sanitize_html]
--writer=<DottedObjectName>
    Writer class used to write the
                                        results of the conversion
    Default: 'FilesWriter'
    Equivalent to: [--NbConvertApp.writer_class]
--post=<DottedOrNone>
    PostProcessor class used to write the
                                        results of the conversion
    Default: ''
    Equivalent to: [--NbConvertApp.postprocessor_class]
--output=<Unicode>
    overwrite base name use for output files.
                can only be used when converting one notebook at a time.
    Default: ''
    Equivalent to: [--NbConvertApp.output_base]
--output-dir=<Unicode>
    Directory to write output(s) to. Defaults
                                  to output to the directory of each notebook. To recover
                                  previous default behaviour (outputting to the current
                                  working directory) use . as the flag value.
    Default: ''
    Equivalent to: [--FilesWriter.build_directory]
--reveal-prefix=<Unicode>
    The URL prefix for reveal.js (version 3.x).
            This defaults to the reveal CDN, but can be any url pointing to a copy
            of reveal.js.
            For speaker notes to work, this must be a relative path to a local
            copy of reveal.js: e.g., "reveal.js".
            If a relative path is given, it must be a subdirectory of the
            current directory (from which the server is run).
            See the usage documentation
            (https://nbconvert.readthedocs.io/en/latest/usage.html#reveal-js-html-slideshow)
            for more details.
    Default: ''
    Equivalent to: [--SlidesExporter.reveal_url_prefix]
--nbformat=<Enum>
    The nbformat version to write.
            Use this to downgrade notebooks.
    Choices: any of [1, 2, 3, 4]
    Default: 4
    Equivalent to: [--NotebookExporter.nbformat_version]

Examples
--------

    The simplest way to use nbconvert is

            > jupyter nbconvert mynotebook.ipynb --to html

            Options include ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'rst', 'script', 'slides', 'webpdf'].

            > jupyter nbconvert --to latex mynotebook.ipynb

            Both HTML and LaTeX support multiple output templates. LaTeX includes
            'base', 'article' and 'report'.  HTML includes 'basic', 'lab' and
            'classic'. You can specify the flavor of the format used.

            > jupyter nbconvert --to html --template lab mynotebook.ipynb

            You can also pipe the output to stdout, rather than a file

            > jupyter nbconvert mynotebook.ipynb --stdout

            PDF is generated via latex

            > jupyter nbconvert mynotebook.ipynb --to pdf

            You can get (and serve) a Reveal.js-powered slideshow

            > jupyter nbconvert myslides.ipynb --to slides --post serve

            Multiple notebooks can be given at the command line in a couple of
            different ways:

            > jupyter nbconvert notebook*.ipynb
            > jupyter nbconvert notebook1.ipynb notebook2.ipynb

            or you can specify the notebooks list in a config file, containing::

                c.NbConvertApp.notebooks = ["my_notebook.ipynb"]

            > jupyter nbconvert --config mycfg.py

To see all available configurables, use `--help-all`.

'File Download Unsuccessful. Saved in Google Drive'